{% extends "base.html.twig" %}

{% block html_head %}
<script>
    $(function() {
        $("input[type='radio'], input[type='checkbox']").uniform();
        {% if notif %}
            notif({{notif|json_encode}});
        {% endif %}
    });

    function habilitar_campo_otro(preg_id)
    {
        var checked = $('#check_otro_'+preg_id).prop('checked');
        var text = $('#otro_'+preg_id)
        var dis=!checked;
    {% if soloLectura %}
        dis=true;
    {% endif %}
        text.prop('disabled',dis);
        if(!checked) text.val("");
    }
</script>
{% endblock %}

{% block breadcrumnb %}
    <ul class="breadcrumb">
      <li><a href="{{site_url('listadoruats')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
      <li><strong class="text-success">Diagnóstico de Cosecha</strong></li>
    </ul>
{% endblock %}

{% block titulo %} 
<h1><i class="icon20 i-apple-fruit"></i> DIAGNÓSTICO MANEJO DE COSECHA</h1>
{% endblock %}

{% block contenido %}
{% set disabled = soloLectura ? 'disabled="disabled"' : '' %}

{{ form_open(null, {class:'form-horizontal', role:'form'}) }}
    <div class="row">
        <div class="col-md-7">
            <h3>{{productor.nombre_completo()}} <small>{{productor.tipo_documento.descripcion}}: {{productor.numero_documento}}</small></h3>
        </div>
    
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-md-5">Fecha de Visita</label>
                <div class="col-md-6">
                    <div class="input-group date datepicker autostart {{form_error('fecha_visita')?'has-error':''}}">
                        <input type="text" {{disabled}} name="fecha_visita" value="{{ set_value('fecha_visita', cosecha.fecha_visita|date('Y-m-d')) }}" class="form-control" />
                        <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>
                    </div>
                    <div class="help-block"><small>Formato AAAA-MM-DD</small></div>
                </div>
            </div>
        </div>
    </div>

    {% for idxpreg in 0..7 %}
        {% set pregunta = preguntas[idxpreg] %}
        {% set fieldname = 'preg_'~pregunta.id~'[]' %}
        
        <div class="panel panel-{{form_error(fieldname) ? 'danger' : 'default'}}">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>{{pregunta.numero}}. {{pregunta.texto}}</h4>
            </div>

            <div class="panel-body"><div class="row">
            {% for bloque in bloques[idxpreg] %}
                <div class="col-sm-4">
                {% for idxop in bloque.inicio .. bloque.fin %}
                    <div class="form-group">
                        {% set label = pregunta.opciones_respuesta[idxop].texto %}
                        {% set tipo = pregunta.tipo_respuesta=='UNICA'?'radio':'checkbox' %}
                        {% set val = pregunta.opciones_respuesta[idxop].id %}

                        {% if label|lower in ['otro','otra'] %}
                            <div class="col-xs-11 ">
                                <div class="input-group">
                                    <span class="input-group-addon">Otro</span>
                                    <input type="text" {{disabled}} class="form-control" placeholder="Cual?" id="otro_{{pregunta.id}}" name="otro_{{pregunta.id}}"  
                                        value="{{set_value('otro_'~pregunta.id, otro[pregunta.id])}}" data-uppercase />
                                    <span class="input-group-addon">
                                        <input type="{{tipo}}" {{disabled}} class="form-control" id="check_otro_{{pregunta.id}}" name="{{fieldname}}" 
                                            onchange="habilitar_campo_otro({{pregunta.id}})"
                                            value="{{val}}" {{set_checkbox(fieldname, val, val in respuestas_bd)}} />
                                    </span>
                                </div>
                                <script> $(function(){ habilitar_campo_otro({{pregunta.id}}); }) </script>
                            </div>
                        {% else %}
                            <label for="{{idxpreg}}_{{idxop}}" class="control-label col-xs-8"> {{ label }} </label>
                            <div class="col-xs-4">
                                <label class="{{tipo}}-inline">
                                    <input type="{{tipo}}" {{disabled}} class="form-control" id="{{idxpreg}}_{{idxop}}" name="{{fieldname}}" 
                                        value="{{val}}" {{set_checkbox(fieldname, val, val in respuestas_bd)}} />
                                </label>
                            </div>
                        {% endif %}
                        
                        
                    </div>
                    <br/>
                {% endfor %}
                </div>
            {% endfor %}
            </div></div>
        </div>
        <br/>
    {% endfor %}

    <br/>
    <div class="container">
        <h3>Observaciones</h3>
        <textarea {{disabled}} rows="5" class="form-control" name="observaciones" placeholder="Observaciones...">{{cosecha.observaciones}}</textarea>
    </div>

    <br/></br>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-5">
            {% if soloLectura %}
                <a href="{{site_url("listadoruats")}}" class="btn btn-lg btn-default">Volver al Listado de RUATs</a>
            {% else %}
                <button type="submit" name="guardar" class="btn btn-lg btn-success">Guardar</button>
                <a href="{{site_url("listadoruats")}}" class="btn btn-lg btn-default">Cancelar</a>
            {% endif %}
        </div>
    </div>
{{ form_close() }}

    
{% endblock %}