{% extends "base.html.twig" %}

{% block html_head %}
<script>
    $(function() {
        $("input[type='radio'], input[type='checkbox']").uniform();
        {% if notif %}
            notif({{notif|json_encode}});
        {% endif %}
    });
</script>
{% endblock %}

{% block breadcrumnb %}
    <ul class="breadcrumb">
      <li><a href="{{site_url('listadoruats')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
      <li><strong class="text-success">Diagnóstico de Cosecha</strong></li>
    </ul>
{% endblock %}

{% block titulo %} 
<h1><i class="icon20 i-apple-fruit"></i> DIAGNÓSTICO MANEJO DE COSECHA</h1>
{% endblock %}

{% block contenido %}
<h3>{{productor.nombre_completo()}} <small>{{productor.tipo_documento.descripcion}}: {{productor.numero_documento}}</small></h3>

{{ form_open(null, {class:'form-horizontal', role:'form'}) }}
{% for idxpreg in 0..7 %}
    {% set fieldname = 'preg_'~preguntas[idxpreg].id~'[]' %}
    
    <div class="panel panel-{{form_error(fieldname) ? 'danger' : 'default'}}">
        <div class="panel-heading">
            <div class="icon"><i class="icon20 i-menu-6"></i></div>
            <h4>{{preguntas[idxpreg].numero}}. {{preguntas[idxpreg].texto}}</h4>
        </div>

        <div class="panel-body"><div class="container"><div class="row">
        {% for bloque in bloques[idxpreg] %}
            <div class="col-sm-4">
            {% for idxop in bloque.inicio .. bloque.fin %}
                <div class="form-group">
                    <label for="{{idxpreg}}_{{idxop}}" class="control-label col-xs-10">
                        {{ preguntas[idxpreg].opciones_respuesta[idxop].texto }}
                    </label>
                    <div class="col-xs-2">
                        {% if preguntas[idxpreg].tipo_respuesta=='UNICA' %}
                            {% set tipo = 'radio' %}
                        {% else %}
                            {% set tipo = 'checkbox' %}
                        {% endif %}
                        {% set val = preguntas[idxpreg].opciones_respuesta[idxop].id %}
                        <label class="{{tipo}}-inline">
                            <input type="{{tipo}}" class="form-control" id="{{idxpreg}}_{{idxop}}"
                                name="{{fieldname}}" 
                                value="{{val}}" {{set_checkbox(fieldname, val, val in respuestas_bd)}} />
                        </label>
                    </div>
                </div>
                <br/>
            {% endfor %}
            </div>
        {% endfor %}
        </div></div></div>
    </div>
    <br/>
{% endfor %}

<br/>
<div class="container">
    <h3>Observaciones</h3>
    <textarea rows="5" class="form-control" name="observaciones" placeholder="Observaciones...">{{observaciones}}</textarea>
</div>

<br/></br>
<div class="form-group">
    <div class="col-md-offset-4 col-md-5">
        <button type="submit" name="guardar" class="btn btn-lg btn-success">Guardar</button>
        <a href="{{site_url("listadoruats")}}" class="btn btn-lg btn-default">Cancelar</a>
    </div>
</div>
{{ form_close() }}

    
{% endblock %}