{% extends "reportes/base_reporte.html.twig" %}

{% block html_head %}

<script type="text/javascript" src="{{ base_url('assets/amcharts/amcharts.js') }}"></script>
<script src="{{ base_url('assets/amcharts/serial.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/pie.js') }}" type="text/javascript"></script>

<script src="{{ base_url('assets/amcharts/exporting/amexport.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/rgbcolor.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/canvg.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/jspdf.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/filesaver.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/jspdf.plugin.addimage.js') }}" type="text/javascript"></script>

<script type="text/javascript">

    var dataR = null;
    dataR = [[]] ;

    var exportConfig = {
        menuTop: "21px",
        menuBottom: "auto",
        menuRight: "21px",
        backgroundColor: "#efefef",
        menuItemStyle: {
            backgroundColor: '#EFEFEF',
            rollOverBackgroundColor: '#DDDDDD'},
            menuItems: [{
                textAlign: 'center',
                icon: "{{ base_url('assets/amcharts/images/export.png') }}",
                onclick: function() {
                },
                items: [{
                        title: 'JPG',
                        format: 'jpg'
                    }, {
                        title: 'PNG',
                        format: 'png'
                    }, {
                        title: 'SVG',
                        format: 'svg'
                    }, {
                        title: 'PDF',
                        format: 'pdf'
                    }]
            }]
    }

    function crearGrafico(data) {
        var chart = AmCharts.makeChart("chartdiv", {
            "theme": "none",
            "startDuration": 2,
            "sequencedAnimation": true,
            "startEffect": "elastic",
            "type": "serial",
            "dataProvider": data,
            "valueAxes": [{
                "title": "Frecuencia de las Respuestas"
            }],
            "graphs": [{
                "fillAlphas": 1,
                "lineAlpha": 0.2,
                "title": "Income",
                "type": "column",
                "valueField": 'valor'
            }],
            "depth3D": 20,
            "angle": 30,
            "rotate": true,
            "categoryField": 'clase',
            "categoryAxis": {
                "gridPosition": "start",
                "fillAlpha": 0.05,
                "position": "left"
            },
            "exportConfig": exportConfig
        });
    }

        /*
    function actualizarFrecuencias(data){
        console.log("actualizar datos");
        chart.dataProvider = generarDataRenglon(data);
        chart.validateData();
        chart.animateAgain();
    }

    function generarDataRenglon(matrix){
        var data = [];
        for(var i = 0;i<matrix[0].length;i++){
            var aux = {
                'clase': matrix[i][0],
                'number':  matrix[i][1],
            };
            data.push(aux);
        }
        return data;
    }
    $(document).ready(function() {   
        
            
    });
    */


    $(document).ready(function() {
            
        var renglones_productivos = Array();
        var renglones_productivos_aux = {{renglones|json_encode}}
        for (var i in renglones_productivos_aux) {
            var aux = renglones_productivos_aux[i];
            var aux = renglones_productivos_aux[i];
            renglones_productivos.push({id: aux.id, text: aux.descripcion});
        }

        var municipios = Array();
        var municipios_aux = {{municipios|json_encode}}
        for (var i in municipios_aux) {
            var aux = municipios_aux[i];
            municipios.push({id: aux.id, text: aux.nombre});
        }

        $('#renglon').select2({
            data: renglones_productivos,
            multiple: true,
            placeholder: "Todos los renglones...",
            
        });
        

        $('#municipio').select2({
            data: municipios,
            multiple: true,
            placeholder: "Todos los municipios..."
        });

        
        $("#renglon, #municipio, #pregunta").change(function() {
            $('#chartdiv').html("<center><h2>Cargando...</h2></center>");
            $.post("{{site_url('reportes/estadisticascosecha/data')}}", {
                'municipios': $('#municipio').select2('val').join(","),
                'renglones': $('#renglon').select2('val').join(","),
                'pregunta': $('#pregunta').val(),
                }, function(data) {
                    //console.log("data es",data);
                    //actualizarFrecuencias(data);
                    crearGrafico(data);
                });
        });

        $("#renglon").change();
        
    });

    

</script>

    
{% endblock %}

{% block breadcrumnb %}
    <ul class="breadcrumb">
        <li><a href="{{site_url('/')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
      {{breadcrumbs}}
        </ul>
{% endblock %}


{% block titulo %} <h1><i class="icon20 i-stack-checkmark"></i> COSECHA &#187; Reporte Frecuencias Cosecha </h1> {% endblock %}

{% block contenido %}
{% include "reportes/toolbar_reportes.html.twig" %}

        <link href="{{ base_url('assets/css/preguntas.css') }}" rel="stylesheet" />


        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_grafico" data-toggle="tab">GRÁFICA</a></li>
            </ul>

            <div id='' class="tab-content">

                <div class="tab-pane" id="tab_tabla">                    
                </div>
                    <div class="tab-pane active" id="tab_grafico">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="renglon_productivo" class="col-lg-12" style="text-align: center;" >Renglón productivo</label>
                                <input type="hidden" id="renglon" />                                    
                            </div>
                            <div class="col-lg-6">
                                <label for="municipio" class="col-lg-12" style="text-align: center;" >Municipio</label>
                                <input type="hidden" id="municipio" />                                    
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label for="municipio" class="col-lg-12" style="text-align: center;" >Pregunta</label>
                            <select id="pregunta" class="form-control" name="select_chart">
                                {% set contador = 1 %}
                                {% for pregunta in preguntas %}
                                    <option value="{{contador}}">{{contador ~". "~ pregunta.texto }}</option>
                                    {% set contador  = contador+1 %}
                                {% endfor %}
                            </select>
                        </div>
                        <br/>
                        <div id="chartdiv" style="width: 100%; height: 600px;"></div>
                    </div>
                </div>
            </div>


{% endblock %}
