{% extends "base.html.twig" %}

{% block html_head %}

<script type="text/javascript" src="{{ base_url('assets/amcharts/amcharts.js') }}"></script>
<script src="{{ base_url('assets/amcharts/serial.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/pie.js') }}" type="text/javascript"></script>

<script src="{{ base_url('assets/amcharts/exporting/amexport.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/rgbcolor.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/canvg.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/jspdf.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/filesaver.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/jspdf.plugin.addimage.js') }}" type="text/javascript"></script>

<script type="text/javascript">

    var base = [];
    var category = [];
    var chart = null;
    var colores = ["#FF0F00", "#F8FF01", "#04D215", "#0D8ECF", "#8A0CCF", "#CD0D74", "#754DEB"];
    var tipo_respuesta = {{respuestas|json_encode}};
    var tipo_pregunta = {{preguntas|json_encode}};

    for (var i in tipo_respuesta) {
        var aux = tipo_respuesta[i];
        base[aux.id - 1] = aux.descripcion;
    }

    for (var i in tipo_pregunta) {
        var aux = tipo_pregunta[i];
        category[aux.id - 1] = aux.descripcion;
    }


    AmCharts.ready(function() {

        /// CHART 1
        var chartData = getChartData($('#select_chart').val());

        var exportConfig = {
            menuTop: "21px",
            menuBottom: "auto",
            menuRight: "21px",
            backgroundColor: "#efefef",
            menuItemStyle: {
                backgroundColor: '#EFEFEF',
                rollOverBackgroundColor: '#DDDDDD'},
            menuItems: [{
                    textAlign: 'center',
                    icon: "{{ base_url('assets/amcharts/images/export.png') }}",
                    onclick: function() {
                    },
                    items: [{
                            title: 'JPG',
                            format: 'jpg'
                        }, {
                            title: 'PNG',
                            format: 'png'
                        }, {
                            title: 'SVG',
                            format: 'svg'
                        }, {
                            title: 'PDF',
                            format: 'pdf'
                        }]
                }]
        }

        chart = AmCharts.makeChart("chartdiv", {
            "type": "pie",
            "theme": "none",
            "titles": [{
                    "text": " Apropiación de Aprendizajes ",
                    "size": 16
                }],
            "dataProvider": chartData,
            "valueField": "actividad",
            "titleField": 'base',
            "colorField": "color",
            "labelRadius": 15,
            "innerRadius": "50%",
            "depth3D": 15,
            "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
            "angle": 15,
            "exportConfig": exportConfig
        });

    });

    function getChartData(actividad) {

        var chartData = [];
        ///recorro los nombres de las columnas
        for (var i in base) {

            var valor_base = base[i];
            console.debug(valor_base);
            console.debug(colores[i]);

            var cell = '#' + actividad + '_' + i;
            var value_column = $(cell).text().split('.').join('');
            value_column = value_column.split(',').join('.')

            var obj = {base: valor_base, actividad: value_column, color: colores[i]}

            chartData.push(obj);
        }

        return chartData;
    }

    function refreshChart() {
        ///consulto cual actividad mostrar, en el select
        var actividad = $('#select_chart').val();
        chart.dataProvider = getChartData(actividad);
        chart.validateData();
        chart.animateAgain();
    }

    $(document).ready(function() {
        $('#select_chart').change(refreshChart);
        
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            chart.invalidateSize();
            chart3.invalidateSize();
        })
    });

    </script>



{% endblock %}

{% block breadcrumnb %}
    <ul class="breadcrumb">
        <li><a href="{{site_url('/')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
      {{breadcrumbs}}
        </ul>
{% endblock %}


{% block titulo %} <h1><i class="icon20 i-stack-checkmark"></i> RUAT &#187; Reporte Apropiación de Aprendizajes </h1> {% endblock %}

{% block contenido %}
{% include "reportes/toolbar_reportes.html.twig" %}

        <link href="{{ base_url('assets/css/preguntas.css') }}" rel="stylesheet" />


        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_grafico" data-toggle="tab">GRAFICO</a></li>
                <li><a href="#tab_tabla" data-toggle="tab">TABLA</a></li>
                
            </ul>

            <div id='' class="tab-content">

                <div class="tab-pane" id="tab_tabla">

                    <table class="table table-bordered">
                        <thead style="vertical-align:text-top;">
                            <tr class="center">
                                <th>Pregunta</th>

                                {% for respuesta in respuestas %}
                                <th>{{ respuesta.descripcion }}</th>
                                {% endfor %}

                                </tr>
                            </thead>
                            <tbody>

                                {% set contador = 0 %}
                                {% for pregunta in preguntas %}

                                    {% set clase_pregunta = 0 %}
                                <tr>
                                    <td style="text-align: left">{{ pregunta.descripcion }}</td>

                                    {% for respuesta in respuestas %}                                
                                    <td id="{{contador~"_"~clase_pregunta}}"  style="text-align: right">
                                            {{ matriz_promedios[contador][clase_pregunta] | number_format(0, ',', '.')}}
                                        </td>
                                        {% set clase_pregunta = clase_pregunta+1 %}
                                    {% endfor %}
                                    </tr>
                                    {% set contador  = contador+1 %}

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                        <div class="tab-pane active" id="tab_grafico">
                            <div class="col-lg-12">
                                <select id="select_chart" class="form-control" name="select_chart">
                                    {% set contador = 0 %}
                                    {% for pregunta in preguntas %}
                                        <option value="{{contador}}">{{contador ~". "~ pregunta.descripcion }}</option>
                                        {% set contador  = contador+1 %}
                                    {% endfor %}
                                    </select>
                                </div>
                                <br/>
                                <div id="chartdiv" style="width: 100%; height: 600px;"></div>
                            </div>
                        </div>

                    </div>


{% endblock %}
