<table class="table table-bordered">
    <thead>
        <tr>
            <th align="center"> </th>
            <th align="center"> Total </th>
            <th align="center"> Promedio </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Area Fincas</td>
            <td>{{datos.total_area_fincas}}</td>
            <td>{{datos.avg_area_fincas}}</td>
        </tr>
        <tr>
            <td>Area Cultivada</td>
            <td>{{datos.total_area_cosechada}}</td>
            <td>{{datos.avg_area_cosechada}}</td>
        </tr>
        <tr>
            <td>Producción</td>
            <td>{{datos.total_produccion}}</td>
            <td>{{datos.avg_produccion}}</td>
        </tr>
        <tr>
            <td>Costos de Establecimiento</td>
            <td>{{datos.total_costo_establecimiento}}</td>
            <td>{{datos.avg_costo_establecimiento}}</td>
        </tr>
        <tr>
            <td>Costos de Sostenimiento</td>
            <td>{{datos.total_costo_sostenimiento}}</td>
            <td>{{datos.avg_costo_sostenimiento}}</td>
        </tr>
        <tr>
            <td>Produccion Destinada al Mercado</td>
            <td>{{datos.total_prod_mercado}}</td>
            <td>{{datos.avg_prod_mercado}}</td>
        </tr>
        <tr>
            <td>Precio Promedio</td>
            <td colspan="2">{{datos.avg_precio_promedio}}</td>
        </tr>
    </tbody>
</table>
