<table class="table table-bordered">
    <thead>
        <tr>
            <th align="center"> </th>
            <th align="center"> Total </th>
            <th align="center"> Promedio </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-toggle="tooltip" data-placement="left" title="Hectárea">Área Fincas (ha)</td>
            <td align="right">{{number_format(datos.total_area_fincas, 2, ',', '.')}}</td>
            <td align="right">{{number_format(datos.avg_area_fincas, 2, ',', '.')}}</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" data-placement="left" title="Hectáreas">Área Cultivada (ha)</td>
            <td align="right">{{number_format(datos.total_area_cosechada, 2, ',', '.')}}</td>
            <td align="right">{{number_format(datos.avg_area_cosechada, 2, ',', '.')}}</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" data-placement="left" title="Kilogramos x Año">Producción (kg/año)</td>
            <td align="right">{{number_format(datos.total_produccion, 2, ',', '.')}}</td>
            <td align="right">{{number_format(datos.avg_produccion, 2, ',', '.')}}</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" data-placement="left" title="Kilogramos x Año">Rendimiento (kg/año)</td>
            <td align="right">{{number_format(datos.total_rendimiento, 2, ',', '.')}}</td>
            <td align="right">{{number_format(datos.avg_rendimiento, 2, ',', '.')}}</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" data-placement="left" title="Pesos x Hectárea">Costos de Establecimiento ($/ha)</td>
            <td align="right">{{number_format(datos.total_costo_establecimiento, 2, ',', '.')}}</td>
            <td align="right">{{number_format(datos.avg_costo_establecimiento, 2, ',', '.')}}</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" data-placement="left" title="Pesos x Hectárea">Costos de Sostenimiento ($/ha)</td>
            <td align="right">{{number_format(datos.total_costo_sostenimiento, 2, ',', '.')}}</td>
            <td align="right">{{number_format(datos.avg_costo_sostenimiento, 2, ',', '.')}}</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" data-placement="left" title="Toneladas">Produccion Destinada al Mercado (t)</td>
            <td align="right">{{number_format(datos.total_prod_mercado, 2, ',', '.')}}</td>
            <td align="right">{{number_format(datos.avg_prod_mercado, 2, ',', '.')}}</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" data-placement="left" title="Pesos">Precio Promedio ($)</td>
            <td colspan="2" align="center">{{number_format(datos.avg_precio_promedio, 2, ',', '.')}}</td>
        </tr>
    </tbody>
</table>
<script type="text/javascript" >
    var numero_productores = {{datos.numero_productores | json_encode}}
    $('#numero_productores').val(numero_productores );
</script>
