{% extends "base.html.twig" %}

{% block html_head %}

<script type="text/javascript" src="{{ base_url('assets/amcharts/amcharts.js') }}"></script>
<script src="{{ base_url('assets/amcharts/serial.js') }}" type="text/javascript"></script>

<script src="{{ base_url('assets/amcharts/exporting/amexport.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/rgbcolor.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/canvg.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/jspdf.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/filesaver.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/jspdf.plugin.addimage.js') }}" type="text/javascript"></script>

<style type="text/css">
    .tamanoMeta{
        width: 65px;
    }
</style>
<script type="text/javascript">
var preguntas = {{preguntasJSON}}; // preguntas, con las metas
var totales = {{valoresFinalesJSON}};
var intermedios = {{valoresIntermediosJSON}};
var titulos = ["Año 2013", "Ene-14","Feb-14","Mar-14","Abr-14","May-14","Jun-14","Jul-14"];

var data = [];
for(var i=0;i<17;i++){
    var aux = {
        "year": "Meta No. "+ (i+1),
        "europe": parseInt((intermedios[i][0]/preguntas[i].meta)*100),
        "namerica": parseInt((intermedios[i][1]/preguntas[i].meta)*100),
        "asia": parseInt((intermedios[i][2]/preguntas[i].meta)*100),
        "lamerica": parseInt((intermedios[i][3]/preguntas[i].meta)*100),
        "meast": parseInt((intermedios[i][4]/preguntas[i].meta)*100),
        "africa": parseInt((intermedios[i][5]/preguntas[i].meta)*100),
        "africa2": parseInt((intermedios[i][6]/preguntas[i].meta)*100),
        "africa3": parseInt((intermedios[i][7]/preguntas[i].meta)*100),

    };
    data.push(aux);
}

// grafico 2

var data2 = [];
for(var i=17;i<25;i++){
    var aux = {
        "year": "Meta No. "+ (i+1),
        "europe": parseInt((intermedios[i][0]/preguntas[i].meta)*100),
        "namerica": parseInt((intermedios[i][1]/preguntas[i].meta)*100),
        "asia": parseInt((intermedios[i][2]/preguntas[i].meta)*100),
        "lamerica": parseInt((intermedios[i][3]/preguntas[i].meta)*100),
        "meast": parseInt((intermedios[i][4]/preguntas[i].meta)*100),
        "africa": parseInt((intermedios[i][5]/preguntas[i].meta)*100),
        "africa2": parseInt((intermedios[i][6]/preguntas[i].meta)*100),
        "africa3": parseInt((intermedios[i][7]/preguntas[i].meta)*100),
    };
    data2.push(aux);
}

//grafico 3

var data3 = [];
for(var i=25;i<29;i++){
    var aux = {
        "year": "Meta No. "+ (i+1),
        "europe": parseInt((intermedios[i][0]/preguntas[i].meta)*100),
        "namerica": parseInt((intermedios[i][1]/preguntas[i].meta)*100),
        "asia": parseInt((intermedios[i][2]/preguntas[i].meta)*100),
        "lamerica": parseInt((intermedios[i][3]/preguntas[i].meta)*100),
        "meast": parseInt((intermedios[i][4]/preguntas[i].meta)*100),
        "africa": parseInt((intermedios[i][5]/preguntas[i].meta)*100),
        "africa2": parseInt((intermedios[i][6]/preguntas[i].meta)*100),
        "africa3": parseInt((intermedios[i][7]/preguntas[i].meta)*100),
    };
    data3.push(aux);
}
var exportConfig = {
    menuTop: "21px",
    menuBottom: "auto",
    menuRight: "21px",
    backgroundColor: "#efefef",
    menuItemStyle: {
        backgroundColor: '#EFEFEF',
        rollOverBackgroundColor: '#DDDDDD'},
    menuItems: [{
            textAlign: 'center',
            icon: "{{ base_url('assets/amcharts/images/export.png') }}",
            onclick: function() {
            },
            items: [{
                    title: 'JPG',
                    format: 'jpg'
                }, {
                    title: 'PNG',
                    format: 'png'
                }, {
                    title: 'SVG',
                    format: 'svg'
                }, {
                    title: 'PDF',
                    format: 'pdf'
                }]
        }]
}
var exportConfig2 = exportConfig;
var exportConfig3 = exportConfig;
//generar
var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "none",
        "legend": {
        "horizontalGap": 5,
        "maxColumns": 1,
        "position": "right",
        "useGraphSettings": true,
        "markerSize": 20
    },
    "dataProvider": data,
    "valueAxes": [{
        "stackType": "regular",
        "axisAlpha": 0.5,
        "gridAlpha": 0
    }],
    "graphs": [{
        "balloonText": "<b><span style='font-size:14px'>: [[value]]%</span></b>-->[[title]]",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[0],
        "type": "column",
        "color": "#000000",
        "valueField": "europe"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[1],
        "type": "column",
        "color": "#000000",
        "valueField": "namerica"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[2],
        "type": "column",
        "color": "#000000",
        "valueField": "asia"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[3],
        "type": "column",
        "color": "#000000",
        "valueField": "lamerica"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[4],
        "type": "column",
        "color": "#000000",
        "valueField": "meast"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[5],
        "type": "column",
        "color": "#000000",
        "valueField": "africa"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[6],
        "type": "column",
        "color": "#000000",
        "valueField": "africa2"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[7],
        "type": "column",
        "color": "#000000",
        "valueField": "africa3"
    }],
    "rotate": true,
    "categoryField": "year",
    "categoryAxis": {
        "gridPosition": "start",
        "axisAlpha": 0,
        "gridAlpha": 0,
        "position": "left"
    },
    "exportConfig":exportConfig
});

// grafico 2
var chart2 = AmCharts.makeChart("chartdiv2", {
        "type": "serial",
        "theme": "none",
        "legend": {
        "horizontalGap": 5,
        "maxColumns": 1,
        "position": "right",
        "useGraphSettings": true,
        "markerSize": 20
    },
    "dataProvider": data2,
    "valueAxes": [{
        "stackType": "regular",
        "axisAlpha": 0.5,
        "gridAlpha": 0
    }],
    "graphs": [{
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[0],
        "type": "column",
        "color": "#000000",
        "valueField": "europe"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[1],
        "type": "column",
        "color": "#000000",
        "valueField": "namerica"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[2],
        "type": "column",
        "color": "#000000",
        "valueField": "asia"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[3],
        "type": "column",
        "color": "#000000",
        "valueField": "lamerica"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[4],
        "type": "column",
        "color": "#000000",
        "valueField": "meast"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[5],
        "type": "column",
        "color": "#000000",
        "valueField": "africa"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[6],
        "type": "column",
        "color": "#000000",
        "valueField": "africa2"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[7],
        "type": "column",
        "color": "#000000",
        "valueField": "africa3"
    }],
    "rotate": true,
    "categoryField": "year",
    "categoryAxis": {
        "gridPosition": "start",
        "axisAlpha": 0,
        "gridAlpha": 0,
        "position": "left"
    },
    "exportConfig":exportConfig2
});
// grafico 3
var chart3 = AmCharts.makeChart("chartdiv3", {
        "type": "serial",
        "theme": "none",
        "legend": {
        "horizontalGap": 5,
        "maxColumns": 1,
        "position": "right",
        "useGraphSettings": true,
        "markerSize": 20
    },
    "dataProvider": data3,
    "valueAxes": [{
        "stackType": "regular",
        "axisAlpha": 0.5,
        "gridAlpha": 0
    }],
    "graphs": [{
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[0],
        "type": "column",
        "color": "#000000",
        "valueField": "europe"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[1],
        "type": "column",
        "color": "#000000",
        "valueField": "namerica"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[2],
        "type": "column",
        "color": "#000000",
        "valueField": "asia"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[3],
        "type": "column",
        "color": "#000000",
        "valueField": "lamerica"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[4],
        "type": "column",
        "color": "#000000",
        "valueField": "meast"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[5],
        "type": "column",
        "color": "#000000",
        "valueField": "africa"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[6],
        "type": "column",
        "color": "#000000",
        "valueField": "africa2"
    }, {
        "balloonText": "<b><span style='font-size:14px'>[[title]]: [[value]]%</span></b>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]%",
        "lineAlpha": 0.3,
        "title": titulos[7],
        "type": "column",
        "color": "#000000",
        "valueField": "africa3"
    }],
    "rotate": true,
    "categoryField": "year",
    "categoryAxis": {
        "gridPosition": "start",
        "axisAlpha": 0,
        "gridAlpha": 0,
        "position": "left"
    },
    "exportConfig":exportConfig3
});
</script>

<!--<script type="text/javascript">
    var filaPrevia = 0;
    var totales = {{valoresFinalesJSON}};
    var intermedios = {{valoresIntermediosJSON}};
    var preguntas = {{preguntasJSON}};
    var colores = ["#FF0F00", "#FF6600","#FF9E01","#FCD202","#F8FF01","#B0DE09","#04D215","#0D8ECF","#0D52D1","#2A0CD0","#8A0CCF","#CD0D74","#754DEB","#DDDDDD"];
    var titulos = ["Año 2013", "Ene-14","Feb-14","Mar-14","Abr-14","May-14","Jun-14","Jul-14"];

    //var chartData = generateChartData();
    var chartData = [];
    for(var i = 0;i<totales.length;i++){
        var newDate = new Date();
        newDate.setDate(newDate.getDate() + i);
        var aux = {
            "date": "Meta N."+(i+1),
            "visits": totales[i].total,
            "max": preguntas[i].meta,
            //"meta": preguntas[i].meta
        };
        chartData.push(aux);
    }

    var chart = AmCharts.makeChart("chartdiv2", {
    "type": "serial",
    "theme": "none",
    "pathToImages": "http://www.amcharts.com/lib/3/images/",
    "dataProvider": chartData,
    "valueAxes": [{
        "axisAlpha": 0.2,
        "dashLength": 1,
        "position": "left",
        'title': 'total'
    }],
    "graphs": [{
        "id":"g1",
        "balloonText": "[[category]]<br /><b><span style='font-size:14px;'>[[value]] de [[max]]</span></b>",
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletColor":"#FFFFFF",
        "hideBulletsCount": 50,
        "title": "red line",
        "valueField": "visits",
        "useLineColorForBulletBorder":true
    }],
    "chartScrollbar": {
        "autoGridCount": true,
        "graph": "g1",
        "scrollbarHeight": 40
    },
    "chartCursor": {
        "cursorPosition": "mouse"
    },
    "categoryField": "date",
    "categoryAxis": {
        "parseDates": false,
        "axisColor": "#DADADA",
        "dashLength": 1,
        "minorGridEnabled": true
    },
    "exportConfig":{
      menuRight: '20px',
      menuBottom: '30px',
      menuItems: [{
      icon: 'http://www.amcharts.com/lib/3/images/export.png',
      format: 'png'   
      }]  
    }
});

chart.addListener("rendered", zoomChart);
chart.startDuration = 5; // animacion
zoomChart();

// this method is called when chart is first inited as we listen for "dataUpdated" event
function zoomChart() {
    // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
    chart.zoomToIndexes(chartData.length - 40, chartData.length - 1);
}


function cambiarGrafico(){ // aqui lo que se hace es, ir agregando a la grafica los valores que se quieren mostrar de acuerdo al select,
    // pero a su vez quitando los valores previamente puestos.
    var chartDatax;
    var quitar = 0;
    var fila = $("#grafico").val();
    
    if(fila == 0){ // escogieron general
        if(filaPrevia == 0) return;
        filaPrevia = 0;
        quitar = 8;
        for(var i = 0;i<totales.length;i++){
            var aux = {
                "date": "Meta N."+(i+1),
                "visits": totales[i].total,
                "max": preguntas[i].meta,
                //"meta": preguntas[i].meta
            };
            chartData.push(aux);
        }

    }else{
        if(filaPrevia == fila){
            return;
        }
        if(filaPrevia == 0){
            quitar = 29;
        }else{
            quitar = 8;
        }
        filaPrevia = fila;
        var aux = intermedios[fila-1];
        
        for(var i = 0;i<8;i++){
            
            var obj = {
                "date": titulos[i],
                "visits": parseInt(aux[i]),
                "max": totales[fila-1].total
            };
            chartData.push(obj);
        }
    }

    for(var i = 0;i<quitar;i++){
        chart.dataProvider.shift();
    }
    chart.validateData();
}
</script>

<script>
    $(function() {
        {% if notif %}
            notif({{notif|json_encode}});
        {% endif %}

        $("input[type=number]").keydown(function(event) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                 // Allow: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) || 
                 // Allow: home, end, left, right
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                     // let it happen, don't do anything
                     return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault(); 
                }   
            }
        });
    });
</script>-->
<script type="text/javascript">
    function calcularFila(fila){
        var total = 0;
        for(var i = 0 ; i <= 7 ; i++){
            var valor = parseInt($('#mes'+fila+i).val());
            if(isNaN(valor)) continue;
            total += valor;
        }
        $('#total'+fila).val(total);
        $('#porcentaje'+fila).val((total *100) / parseInt($('#fila'+fila).val()));
    }
    function confirmar(){
        if (confirm('¿Desea guardar los cambios?')){ 
           document.miform.submit();
        } 
    }
</script>

{% endblock %}
{% block breadcrumnb %}
    <ul class="breadcrumb">
      <li><a href="{{site_url('listadoruats')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
      <li><strong class="text-success">METAS COMPLEMENTARIAS</strong></li>
    </ul>
{% endblock %}

{% block titulo %}
    <h1><i class="icon20 i-stack-checkmark"></i> METAS COMPLEMENTARIAS </h1> 
{% endblock %}

{% block contenido %}

{% include "reportes/toolbar_reportes.html.twig" %}

{{ form_open(null, {name: 'miform', role:'form',class:'form-horizontal'}) }}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td colspan="13" align="center">
                        <h3>PLAN FRUTICOLA DEL VALLE DEL CAUCA - 2013</h3>
                    </td>
                </tr>
                <tr align="center">
                    <td style="width:10px;">
                        <label>No.</label>
                    </td>
                    <td style="width:190px;">
                        <label>Metas Complementarias</label>
                    </td>
                    <td class="tamanoMeta">
                        <label>Metas</label>
                    </td>
                    <td >
                        <label>Año 2013</label>
                    </td>
                    <td >
                        <label>Ene-14</label>
                    </td>
                    <td >
                        <label>Feb-14</label>
                    </td>
                    <td >
                        <label>Mar-14</label>
                    </td>
                    <td >
                        <label>Abr-14</label>
                    </td>
                    <td >
                        <label>May-14</label>
                    </td>
                    <td >
                        <label>Jun-14</label>
                    </td>
                    <td >
                        <label>Jul-14</label>
                    </td>
                    <td >
                        <label>TOTAL</label>
                    </td>
                    <td style="width:62px;">
                        <label>%</label>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% set cont = 0 %}
                {% for pregunta in preguntas %}
                {% if cont == 0 %}
                    <tr>
                        <td colspan="13" align="center"><b>PROYECTOS DE ASISTENCIA TÉCNICA ESPECIALIZADA Y TRANSFERENCIA TECNOLÓGICA</b></td>
                    </tr>
                {% elseif cont == 17 %}
                    <tr>
                        <td colspan="13" align="center"><b>PROYECTO DE DESARROLLO TECNOLOGICO</b></td>
                    </tr>
                {% elseif cont == 25 %}
                    <tr>
                        <td colspan="13" align="center"><b>PROYECTO DE ACTUALIZACIÓN TECNOLÓGICA A EXTENSIONISTAS</b></td>
                    </tr>
                {% endif %}
                <tr>
                    <td>
                        <label>{{pregunta.orden}}</label>
                    </td>
                    <td>
                        {{pregunta.concepto}}
                    </td>
                    <td>
                        <input type="text" id="{{'fila'~pregunta.orden}}" style="width:100%; height;100%" value="{{pregunta.meta}}" readonly />
                    </td>

                    {% for i in 0..7 %}
                        <td>
                            <input id="{{'mes'~pregunta.orden~i}}" name="{{'mes'~pregunta.orden~i}}" type="text" style="width:100%;" value="{{set_value('mes'~pregunta.orden~i, valoresIntermedios[cont][i])}}" onchange="calcularFila({{pregunta.orden}})" {% if soloLectura %} disabled="disabled" {% endif %} />
                            {% if form_error('mes'~pregunta.orden~i) %} <label class="error">Requerido</label> {% endif %}
                        </td>
                    {% endfor %}

                    <td>

                        <input type="text" id="{{'total'~pregunta.orden}}" name="{{'total'~pregunta.orden}}" readonly style="width:100%" value="{{set_value('total'~pregunta.orden, valoresFinales[cont]['total'])}}" />
                    
                    </td>
                    <td>
                        <input type="text" id="{{'porcentaje'~pregunta.orden}}" name="{{'porcentaje'~pregunta.orden}}" readonly style="width:100%" value="{{set_value('porcentaje'~pregunta.orden, valoresFinales[cont]['porcentaje'])}}" />
                    </td>
                </tr>
                {% set cont = cont + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-5 col-md-5">
        {% if soloLectura %}
            <a href="{{site_url("listadoruats")}}" class="btn btn-lg btn-default">Volver al Listado de RUATs</a>
        {% else %}
            <button type="button" name="guardar" class="btn btn-lg btn-success" onclick="confirmar()">Guardar</button>
        {% endif %}
    </div>
</div>

{{ form_close() }}
<!--<label>Seleccione la Meta:</label><br/>

<select id="grafico" onchange="cambiarGrafico()">
    <option value="0">General</option>
    {% set cont = 1 %}
    {% for pregunta in preguntas %}
        {% if cont == 1 %}
            <optgroup label="PROYECTOS DE ASISTENCIA TÉCNICA ESPECIALIZADA Y TRANSFERENCIA TECNOLÓGICA"></optgroup>
        {% elseif cont == 18 %}
            <optgroup label="PROYECTO DE DESARROLLO TECNOLOGICO"></optgroup>
        {% elseif cont == 26 %}
            <optgroup label="PROYECTO DE ACTUALIZACIÓN TECNOLÓGICA A EXTENSIONISTAS"></optgroup>
        {% endif %}
        <option value="{{cont}}">
            {{cont~'. '~pregunta.concepto}}
        </option>
        {% set cont = cont + 1 %}
    {% endfor %}
</select>

<div id="chartdiv2" style="width: 100%; height: 400px;"></div>-->

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
          <div class="icon"><i class="icon20 i-cube"></i></div> 
          <h4>Resumen de las Metas Complementarias</h4>
          <a href="#" class="minimize"></a>
        </div><!-- End .panel-heading -->

        <div class="row-fluid">
            <div class="col-lg-12" align="center">
                <label class="control-label">PROYECTOS DE ASISTENCIA TÉCNICA ESPECIALIZADA Y TRANSFERENCIA TECNOLÓGICA</label>
                <div id="chartdiv" style="height:500px;width:100%"></div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-lg-12" align="center">
                <label class="control-label">PROYECTO DE DESARROLLO TECNOLOGICO</label>
                <div id="chartdiv2" style="height:350px;width:100%"></div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-lg-12" align="center">
                <label class="control-label">PROYECTO DE ACTUALIZACIÓN TECNOLÓGICA A EXTENSIONISTAS</label>
                <div id="chartdiv3" style="height:350px;width:100%"></div>
            </div>
        </div>
    </div><!-- End .widget -->  
</div><!-- End .col-lg-6  -->
{% endblock %}