{% extends "base.html.twig" %}

{% block html_head %}
<style type="text/css">
    .tamanoMeta{
        width: 65px;
    }
</style>
<script>
    $(function() {
        {% if notif %}
            notif({{notif|json_encode}});
        {% endif %}

        $("input[type=number]").keydown(function(event) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                 // Allow: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) || 
                 // Allow: home, end, left, right
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                     // let it happen, don't do anything
                     return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault(); 
                }   
            }
        });
    });
</script>
<script type="text/javascript">
    function calcularFila(fila){
        var total = 0;
        for(var i = 0 ; i <= 7 ; i++){
            var valor = parseInt($('#mes'+fila+i).val());
            if(isNaN(valor)) continue;
            total += valor;
        }
        $('#total'+fila).val(total);
        $('#porcentaje'+fila).val((total *100) / parseInt($('#fila'+fila).val()));
    }
</script>

{% endblock %}
{% block breadcrumnb %}
    <ul class="breadcrumb">
      <li><a href="{{site_url('listadoruats')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
      <li><strong class="text-success">METAS COMPLEMENTARIAS</strong></li>
    </ul>
{% endblock %}

{% block titulo %}
    <h1><i class="icon20 i-stack-checkmark"></i> METAS COMPLEMENTARIAS </h1> 
{% endblock %}

{% block contenido %}

{{ form_open(null, {role:'form',class:'form-horizontal'}) }}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td colspan="13" align="center">
                        <h3>PLAN FRUTICOLA DEL VALLE DEL CAUCA - 2013</h3>
                    </td>
                </tr>
                <tr align="center">
                    <td style="width:10px;">
                        <label>No.</label>
                    </td>
                    <td style="width:190px;">
                        <label>Metas Complementarias</label>
                    </td>
                    <td class="tamanoMeta">
                        <label>Metas</label>
                    </td>
                    <td >
                        <label>Año 2013</label>
                    </td>
                    <td >
                        <label>Ene-14</label>
                    </td>
                    <td >
                        <label>Feb-14</label>
                    </td>
                    <td >
                        <label>Mar-14</label>
                    </td>
                    <td >
                        <label>Abr-14</label>
                    </td>
                    <td >
                        <label>May-14</label>
                    </td>
                    <td >
                        <label>Jun-14</label>
                    </td>
                    <td >
                        <label>Jul-14</label>
                    </td>
                    <td >
                        <label>TOTAL</label>
                    </td>
                    <td style="width:62px;">
                        <label>%</label>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% set cont = 0 %}
                {% for pregunta in preguntas %}
                <tr>
                    <td>
                        <label>{{pregunta.orden}}</label>
                    </td>
                    <td>
                        {{pregunta.concepto}}
                    </td>
                    <td>
                        <input type="text" id="{{'fila'~pregunta.orden}}" style="width:100%; height;100%" value="{{pregunta.meta}}" readonly />
                    </td>

                    {% for i in 0..7 %}
                        <td>
                            <input id="{{'mes'~pregunta.orden~i}}" name="{{'mes'~pregunta.orden~i}}" type="number" style="width:100%;" value="{{set_value('mes'~pregunta.orden~i, valoresIntermedios[cont][i])}}" onchange="calcularFila({{pregunta.orden}})" />
                            {% if form_error('mes'~pregunta.orden~i) %} <label class="error">Requerido</label> {% endif %}
                        </td>
                    {% endfor %}

                    <td>

                        <input type="text" id="{{'total'~pregunta.orden}}" name="{{'total'~pregunta.orden}}" readonly style="width:100%" value="{{set_value('total'~pregunta.orden, valoresFinales[cont]['total'])}}" />
                    
                    </td>
                    <td>
                        <input type="text" id="{{'porcentaje'~pregunta.orden}}" name="{{'porcentaje'~pregunta.orden}}" readonly style="width:100%" value="{{set_value('porcentaje'~pregunta.orden, valoresFinales[cont]['porcentaje'])}}" />
                    </td>
                </tr>
                {% set cont = cont + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-4 col-md-5">
        {% if soloLectura %}
            <a href="{{site_url("listadoruats")}}" class="btn btn-lg btn-default">Volver al Listado de RUATs</a>
        {% else %}
            <button type="submit" name="guardar" class="btn btn-lg btn-success">Guardar</button>
            <a href="{{site_url("listadoruats")}}" class="btn btn-lg btn-default">Cancelar</a>
        {% endif %}
    </div>
</div>

{{ form_close() }}

{% endblock %}