{% extends "base.html.twig" %}

{% block html_head %}

<script type="text/javascript" src="{{ base_url('assets/amcharts/amcharts.js') }}"></script>
<script src="{{ base_url('assets/amcharts/serial.js') }}" type="text/javascript"></script>

<script src="{{ base_url('assets/amcharts/exporting/amexport.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/rgbcolor.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/canvg.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/jspdf.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/filesaver.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/jspdf.plugin.addimage.js') }}" type="text/javascript"></script>

<style type="text/css">
    .tamanoMeta{
        width: 65px;
    }
</style>

<script type="text/javascript">
    var filaPrevia = 0;
    var totales = {{valoresFinalesJSON}};
    var intermedios = {{valoresIntermediosJSON}};
    var preguntas = {{preguntasJSON}};
    var colores = ["#FF0F00", "#FF6600","#FF9E01","#FCD202","#F8FF01","#B0DE09","#04D215","#0D8ECF","#0D52D1","#2A0CD0","#8A0CCF","#CD0D74","#754DEB","#DDDDDD"];
    var titulos = ["Año 2013", "Ene-14","Feb-14","Mar-14","Abr-14","May-14","Jun-14","Jul-14"];

    var chart;

    var chartData = [];

    for(var i = 0;i<14;i++){
        var aux = {
            "country": "Meta No."+(i+1),
            "total": totales[i].total,
            "color": colores[i],
            "meta": preguntas[i].meta
        };
        chartData.push(aux);
    }

    var chart = AmCharts.makeChart("chartdiv", {
        type: "serial",
        dataProvider: chartData,
        categoryField: "country",
        depth3D: 20,
        angle: 30,

        categoryAxis: {
            labelRotation: 90,
            gridPosition: "start"
        },

        valueAxes: [{
            title: "Total"
        }],

        graphs: [{
            balloonText: "[[total]] de [[meta]]",
            valueField: "total",
            colorField: "color",
            type: "column",
            lineAlpha: 0,
            fillAlphas: 1
        }],

        chartCursor: {
            cursorAlpha: 0,
            zoomable: false,
            categoryBalloonEnabled: false
        },

        exportConfig: {
            menuTop: "21px",
            menuBottom: "auto",
            menuRight: "21px",
            backgroundColor: "#efefef",

            menuItemStyle   : {
            backgroundColor         : '#EFEFEF',
            rollOverBackgroundColor : '#DDDDDD'},

            menuItems: [{
                textAlign: 'center',
                icon: "{{ base_url('assets/amcharts/images/export.png') }}",
                onclick:function(){},
                items: [{
                    title: 'JPG',
                    format: 'jpg'
                }, {
                    title: 'PNG',
                    format: 'png'
                }, {
                    title: 'SVG',
                    format: 'svg'
                }, {
                    title: 'PDF',
                    format: 'pdf'
                }]
            }]
        }
    });

function cambiarGrafico(){ // aqui lo que se hace es, ir agregando a la grafica los valores que se quieren mostrar de acuerdo al select,
    // pero a su vez quitando los valores previamente puestos.
    var chartDatax;
    var quitar = 0;
    var fila = $("#grafico").val();
    
    if(fila == 0){ // escogieron general
        if(filaPrevia == 0) return;
        filaPrevia = 0;
        quitar = 8;
        for(var i = 0;i<14;i++){
            var aux = {
                "country": "Meta No."+(i+1),
                "total": totales[i].total,
                "color": colores[i],
                "meta": preguntas[i].meta
            };
            chartData.push(aux);
        }

    }else{
        if(filaPrevia == fila){
            return;
        }
        if(filaPrevia == 0){
            quitar = 14;
        }else{
            quitar = 8;
        }
        filaPrevia = fila;
        var aux = intermedios[fila-1];
        
        for(var i = 0;i<8;i++){
            
            var obj = {
                "country": titulos[i],
                "total": parseInt(aux[i]),
                "color": colores[i],
                "meta": totales[fila-1].total
            };
            chartData.push(obj);
        }
    }

    for(var i = 0;i<quitar;i++){
        chart.dataProvider.shift();
    }
    chart.validateData();
}
</script>

<script>
    $(function() {
        {% if notif %}
            notif({{notif|json_encode}});
        {% endif %}

        $("input[type=number]").keydown(function(event) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                 // Allow: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) || 
                 // Allow: home, end, left, right
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                     // let it happen, don't do anything
                     return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault(); 
                }   
            }
        });
    });
</script>
<script type="text/javascript">
    function calcularFila(fila){
        var total = 0;
        for(var i = 0 ; i <= 7 ; i++){
            var valor = parseInt($('#mes'+fila+i).val());
            if(isNaN(valor)) continue;
            total += valor;
        }
        $('#total'+fila).val(total);
        $('#porcentaje'+fila).val((total *100) / parseInt($('#fila'+fila).val()));
    }
</script>

{% endblock %}
{% block breadcrumnb %}
    <ul class="breadcrumb">
      <li><a href="{{site_url('listadoruats')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
      <li><strong class="text-success">METAS COMPLEMENTARIAS</strong></li>
    </ul>
{% endblock %}

{% block titulo %}
    <h1><i class="icon20 i-stack-checkmark"></i> METAS COMPLEMENTARIAS </h1> 
{% endblock %}

{% block contenido %}

{{ form_open(null, {role:'form',class:'form-horizontal'}) }}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td colspan="13" align="center">
                        <h3>PLAN FRUTICOLA DEL VALLE DEL CAUCA - 2013</h3>
                    </td>
                </tr>
                <tr align="center">
                    <td style="width:10px;">
                        <label>No.</label>
                    </td>
                    <td style="width:190px;">
                        <label>Metas Complementarias</label>
                    </td>
                    <td class="tamanoMeta">
                        <label>Metas</label>
                    </td>
                    <td >
                        <label>Año 2013</label>
                    </td>
                    <td >
                        <label>Ene-14</label>
                    </td>
                    <td >
                        <label>Feb-14</label>
                    </td>
                    <td >
                        <label>Mar-14</label>
                    </td>
                    <td >
                        <label>Abr-14</label>
                    </td>
                    <td >
                        <label>May-14</label>
                    </td>
                    <td >
                        <label>Jun-14</label>
                    </td>
                    <td >
                        <label>Jul-14</label>
                    </td>
                    <td >
                        <label>TOTAL</label>
                    </td>
                    <td style="width:62px;">
                        <label>%</label>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% set cont = 0 %}
                {% for pregunta in preguntas %}
                <tr>
                    <td>
                        <label>{{pregunta.orden}}</label>
                    </td>
                    <td>
                        {{pregunta.concepto}}
                    </td>
                    <td>
                        <input type="text" id="{{'fila'~pregunta.orden}}" style="width:100%; height;100%" value="{{pregunta.meta}}" readonly />
                    </td>

                    {% for i in 0..7 %}
                        <td>
                            <input id="{{'mes'~pregunta.orden~i}}" name="{{'mes'~pregunta.orden~i}}" type="text" style="width:100%;" value="{{set_value('mes'~pregunta.orden~i, valoresIntermedios[cont][i])}}" onchange="calcularFila({{pregunta.orden}})" />
                            {% if form_error('mes'~pregunta.orden~i) %} <label class="error">Requerido</label> {% endif %}
                        </td>
                    {% endfor %}

                    <td>

                        <input type="text" id="{{'total'~pregunta.orden}}" name="{{'total'~pregunta.orden}}" readonly style="width:100%" value="{{set_value('total'~pregunta.orden, valoresFinales[cont]['total'])}}" />
                    
                    </td>
                    <td>
                        <input type="text" id="{{'porcentaje'~pregunta.orden}}" name="{{'porcentaje'~pregunta.orden}}" readonly style="width:100%" value="{{set_value('porcentaje'~pregunta.orden, valoresFinales[cont]['porcentaje'])}}" />
                    </td>
                </tr>
                {% set cont = cont + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-4 col-md-5">
        {% if soloLectura %}
            <a href="{{site_url("listadoruats")}}" class="btn btn-lg btn-default">Volver al Listado de RUATs</a>
        {% else %}
            <button type="submit" name="guardar" class="btn btn-lg btn-success">Guardar</button>
            <a href="{{site_url("listadoruats")}}" class="btn btn-lg btn-default">Cancelar</a>
        {% endif %}
    </div>
</div>

{{ form_close() }}

<select id="grafico" onchange="cambiarGrafico()">
    <option value="0">General</option>
    {% set cont = 1 %}
    {% for pregunta in preguntas %}
        <option value="{{cont}}">
            {{pregunta.concepto}}
        </option>
        {% set cont = cont + 1 %}
    {% endfor %}
</select>

<div id="chartdiv" style="width: 100%; height: 400px;"></div>

{% endblock %}