{% extends "base.html.twig" %}

{% block html_head %}

<script type="text/javascript" src="{{ base_url('assets/amcharts/amcharts.js') }}"></script>
<script src="{{ base_url('assets/amcharts/serial.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/pie.js') }}" type="text/javascript"></script>

<script src="{{ base_url('assets/amcharts/exporting/amexport.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/rgbcolor.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/canvg.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/jspdf.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/filesaver.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/jspdf.plugin.addimage.js') }}" type="text/javascript"></script>

<script type="text/javascript">

    //Datos Genero
    var matrixGenero = [];
    for(var i=0; i<2; i++) {
        matrixGenero[i] = new Array(2);
    }
    matrixGenero[0][0]='Mujeres';
    matrixGenero[0][1]= {{cantidad_mujeres}};
    matrixGenero[1][0]='Hombres';
    matrixGenero[1][1]={{cantidad_hombres}};

    //Datos Educación
    var matrixEducativo = [];
    for(var i=0; i<2; i++) {
        matrixEducativo[i] = new Array(6);
    }
    matrixEducativo[0][0]='Primaria';
    matrixEducativo[0][1]='Secundaria';
    matrixEducativo[0][2]='Técnica';
    matrixEducativo[0][3]='Tecnológica';
    matrixEducativo[0][4]='Universitaria';
    matrixEducativo[0][5]='Ninguna';
    matrixEducativo[1][0]={{primaria}};
    matrixEducativo[1][1]={{secundaria}};
    matrixEducativo[1][2]={{tecnica}};
    matrixEducativo[1][3]={{tecnologica}};
    matrixEducativo[1][4]={{universitaria}};
    matrixEducativo[1][5]={{ninguna}};


    //inicializamos gráfica genero
    var dataG = null;
    dataG = generarDataGenero();

    //exportar
    var exportConfig = {
        menuTop: "21px",
        menuBottom: "auto",
        menuRight: "21px",
        backgroundColor: "#efefef",
        menuItemStyle: {
            backgroundColor: '#EFEFEF',
            rollOverBackgroundColor: '#DDDDDD'},
            menuItems: [{
                textAlign: 'center',
                icon: "{{ base_url('assets/amcharts/images/export.png') }}",
                onclick: function() {
                },
                items: [{
                        title: 'JPG',
                        format: 'jpg'
                    }, {
                        title: 'PNG',
                        format: 'png'
                    }, {
                        title: 'SVG',
                        format: 'svg'
                    }, {
                        title: 'PDF',
                        format: 'pdf'
                    }]
            }]
    }

    //propiedades gráfica
    var chart = AmCharts.makeChart("chartdiv", {
        "type": "pie",  
        "theme": "none",
        "startDuration": 2,
        "legend": {
            "markerType": "circle",
            "position": "right",
            "marginRight": 80,      
            "autoMargins": false
        },
        "dataProvider": dataG,
        "valueField": "number",
        "outlineAlpha": 0.4,
        "depth3D": 15,
        "angle": 30,
        "titleField": "clase",
        "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
        "exportConfig": exportConfig
    });

    //actualizar gráfica según selector
    function actualizarGrafica(){
        var grafica = $('#selectGrafica').val();
        console.log(grafica);
        if(grafica==0){
            chart.dataProvider = generarDataGenero();
            chart.validateData();
        }else if(grafica==1){
            chart.dataProvider = generarDataNivelEducativo();
            chart.validateData();
        }
    }
    
    function generarDataGenero(){
        var data = [];

        for(var i = 0;i<matrixGenero.length;i++){
            var aux = {
                'clase': matrixGenero[i][0],
                'number':  matrixGenero[i][1]
            };
            data.push(aux);
        }
        return data;
    }

    function generarDataNivelEducativo(){
        var data = [];

        for(var i = 0;i<matrixEducativo[0].length;i++){
            var aux = {
                'clase': matrixEducativo[0][i],
                'number':  matrixEducativo[1][i]
            };
            data.push(aux);
        }
        return data;
    }

    
 
</script>


{% endblock %}

{% block titulo %}
    <h1><i class="icon20 i-stack-checkmark"></i> PERFIL GENERAL DEL PRODUCTOR </h1> 
{% endblock %}

{% block contenido %}

{% include "reportes/toolbar_reportes.html.twig" %}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-bars"></i></div>
        <h4> PERFIL GENERAL DEL PRODUCTOR</h4>
        <a href="#" class="minimize"></a>
    </div>
    <!-- End .panel-heading -->
    <div class="panel-body">
        <div class="container">
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th align="center">
                            INDICADOR
                        </th>
                        <th align="center">
                            PROMEDIO
                        </th>                   
                    </tr>
                </thead>
                <tbody>
                      
                    <tr>
                        <td>Edad</td>                        
                        <td align="right">{{promedio_edad |number_format(2, ',', '')}}</td>
                    </tr>
                    <tr>
                        <td>Ingresos Actividad Agropecuaria</td>
                        <td align="right">${{promedio_ingagro |number_format(2, ',', '.')}}</td>
                    </tr>
                    <tr>
                        <td>Total Ingresos</td>
                        <td align="right">${{promedio_totaling |number_format(2, ',', '.')}}</td>
                    </tr>
                    <tr>
                        <td>Egresos</td>
                        <td align="right">${{promedio_egresos |number_format(2, ',', '.')}}</td>
                    </tr>
                    <tr>
                        <td>Utilidad</td>
                        <td align="right">${{promedio_utilidad |number_format(2, ',', '.')}}</td>
                    </tr>
                    <tr>
                        <td>Hectareas Cultivadas</td>
                        <td align="right">{{promedio_hectareas |number_format(2, ',', '')}}</td>
                    </tr>
                    <tr>
                        <td>Utilidad</td>
                        <td align="right">${{promedio_utilidad |number_format(2, ',', '.')}}</td>
                    </tr>
                </tbody> 
            </table>

            <br/>
            <div class="panel panel-default">

                        <div class="panel-heading">
                            <div class="icon"><i class="icon20 i-bars"></i></div>
                            <h4>GRÁFICO DE FRECUENCIAS DEL PERFIL PRODUCTOR</h4>
                        </div>                    
                        <br/>
                        <div class="col-lg-12">
                            <select class="form-control" id="selectGrafica" style="width:200px" onchange="actualizarGrafica()">
                                <option value="0">1. Género</option>
                                <option value="1">2. Nivel Educativo</option>
                                <option value="2">3. Servicios Públicos</option>
                                <option value="3">4. Crédito</option>
                                <option value="4">5. Procedencia Crédito</option>
                                <option value="5">6. Clase de Asociatividad</option>
                                <option value="6">7. Beneficio Asociatividad</option>
                                <option value="7">8. Asistencia Técnica</option>
                                <option value="8">9. Medios de Transporte</option>
                                <option value="9">10. Maquinarias y Equipos</option>
                            </select>
                        </div>
                        <br/>
                        <div id="chartdiv" style="width: 100%; height: 600px;"></div>
            </div>

        </div>
    </div>
</div>


{% endblock %}