{% macro boton(url,title,icon,color) %}
    {% if url in current_url() %}
        {% set seleccionado = 'seleccionado' %}
    {% endif %}
    <li class="center">
        <a href="{{site_url(url)}}" class="clearfix enlace-informe {{seleccionado}}">
            <span class="icon {{color}}"><i class="icon24 {{icon}}"></i></span>
            <span class="txt">{{title}}</span>
        </a>
    </li>
{% endmacro %}

{% import _self as tb %}

<style>
    .stats-buttons li a {
        height:100px;
    }

    .seleccionado {
        background:  white !important; /*#4e525d*/
    }
</style>    

<div class="container">
    <div class="stats-buttons btn-group">
        <ul class="list-unstyled">
            {{tb.boton('reporteformularios','Formularios Ingresados', 'i-clipboard', 'yellow')}}
            {{tb.boton('planvisitas','Plan de Visitas', ' i-map', 'gray')}}
            {{tb.boton('reportes/metascomplementarias','Metas Complementarias', ' i-racing', 'green')}}
            {{tb.boton('reportes/ubicaciongoogle','Mapa de Fincas', ' i-location-4', 'blue')}}
            {{tb.boton('reportes/estadisticastipoproductor','Estadisticas Productores', 'i-stats-2', 'gray')}}
            {{tb.boton('reportes/municipiorenglon','Productores por Municipio y Renglón', 'i-apple-fruit', 'red')}}
            {{tb.boton('reportes/estilosaprendizaje','Estilos de Aprendizaje', ' i-reading', 'green')}}
            {{ tb.boton('reportes/perfilproductor','Perfil General del Productor', ' i-profile', 'blue') }}
            {{tb.boton('reportes/progresobpa','Progreso en BPA', ' i-stats-up', 'yellow')}}
            {{tb.boton('reportes/exportacion','Exportar', 'i-file-excel', 'red')}}

        </ul>
    </div>
</div>
<br/>