{% macro boton(url,short,title,icon,color) %}
    {% if url in current_url() %}
        {% set seleccionado = 'seleccionado' %}
    {% endif %}
    <li class="center">
        <a href="{{site_url(url)}}" class="clearfix enlace-informe {{seleccionado}} tip" title="{{title}}">
            <span class="icon {{color}}"><i class="icon24 {{icon}}"></i></span>
            <span class="txt">{{short}}</span>
        </a>
    </li>
{% endmacro %}

{% import _self as tb %}

{% if current_user() %}
<style>
    .stats-buttons li a {
        height:85px;
        width:85px;
        text-align:center;
        margin-right:-5px;
    }

    .stats-buttons li a .icon {
        margin-top: 5px;
        margin-left: 15px;
        margin-right: auto;
        text-align:center;

    }

    .seleccionado {
        background:  white !important; /*#4e525d*/
    }

    .stats-buttons li a .txt {
        font-size: 11px;
    }
</style>    

<div class="container">
    <div class="stats-buttons btn-group">
        <ul class="list-unstyled">
        {% if not is_profile("Digitador") or current_user('id') in [8,11,9,5,14,6,13,18]  %}
            {{tb.boton('reportes/formularios','Formularios', 'Reporte de Formularios','i-clipboard', 'yellow')}}
        {% endif %}
        {% if not is_profile("Digitador") %}
            {{tb.boton('planvisitas','Plan Visitas', 'Plan de Visitas','i-map', 'gray')}}
            {{tb.boton('reportes/metascomplementarias','Metas', 'Metas Complementarias', ' i-racing', 'green')}}
        {% endif %}
            {{tb.boton('reportes/estadisticastipoproductor','Productores', 'Estadísticas de Productores', 'i-stats-2', 'gray')}}
            {{tb.boton('reportes/ubicaciongoogle','Mapa', 'Mapa de Fincas', ' i-location-4', 'blue')}}
            {{tb.boton('reportes/municipiorenglon','Renglones', 'Clasificación de Renglones en Municipios','i-apple-fruit', 'red')}}
            {{tb.boton('reportes/estilosaprendizaje','Aprendizaje', 'Estilos de Aprendizaje',' i-reading', 'green')}}
            {{tb.boton('reportes/indicadoresproduccion','Producción', 'Indicadores de Producción',' i-basket', 'gray')}}
            {{tb.boton('reportes/perfilproductor','Perfil', 'Perfil General del Productor',' i-profile', 'blue') }}
            {{tb.boton('reportes/progresobpa','BPA', 'Progreso en Buenas Prácticas',' i-stats-up', 'yellow')}}
            {{tb.boton('reportes/estadisticascosecha','Cosecha', 'Estadisticas Cosecha','  i-flower', 'green')}}
            {{tb.boton('reportes/estadisticasposcosecha','PosCosecha', 'Estadisticas PosCosecha',' i-leaf', 'blue')}}
            {#{tb.boton('reportes/exportacion','Exportar', 'Exportar Información','i-file-excel', 'red')}#}

        </ul>
    </div>
</div>
{% endif %}
<br/>
