{% extends "base.html.twig" %}

{% block html_head %}
<style type="text/css">
    #map-canvas{
        width: 100%;
        height: 500px;
    }
</style>
<script type="text/javascript">
    $(function() {
        {% if notif %}
            notif({{notif|json_encode}});
        {% endif %}

        $("input[type=number]").keydown(function(event) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                 // Allow: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) || 
                 // Allow: home, end, left, right
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                     // let it happen, don't do anything
                     return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault(); 
                }   
            }
        });
    });
</script>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script>
    var marks = [];
    var infos = [];
    var municipios = {{municipiosJSON}};
    var renglon = {{renglonJSON}};
    var nombresMunicipio = {{nombresMunicipio}};

    function initialize() {
        var fincas = {{fincas}};

        var mapOptions = {
            zoom: 7,
            center: new google.maps.LatLng(3.4205556, -76.5222221999999)
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        

        /*for(var i=0;i<fincas.length;i++){ // poner para que inicie con todas las fincas
            var position1 = new google.maps.LatLng(fincas[i].geo_latitud,fincas[i].geo_longitud);
            var marker1 = new google.maps.Marker({ position: position1, map: map});
            marker1.setTitle(fincas[i].nombre);
            marks.push(marker1);

            var contentString1 = '<div style="width:200px" align="center"><h3><b>'+fincas[i].nombre+'</b></h3>'+
                                    '<br/><table align="justify">';
            if(nombresMunicipio[i].nombre != "" && nombresMunicipio[i].nombre != null){
                contentString1 += "<tr><td><b>Municipio:</b></td><td>"+nombresMunicipio[i].nombre+"</td></tr>";
            }
            if(fincas[i].vereda != "" && fincas[i].vereda != null){
                contentString1 += "<tr><td><b>Vereda: </b></td><td>"+fincas[i].vereda+"</td></tr>";
            }
            if(fincas[i].sector != "" && fincas[i].sector != null){
                contentString1 += "<tr><td><b>Sector: </b></td><td>"+fincas[i].sector+"</td></tr>";
            }
            if(fincas[i].area_total != "" && fincas[i].area_total != null){
                contentString1 += "<tr><td><b>Área Total: </b></td><td>"+fincas[i].area_total+" ha</td></tr>";
            }
            if(renglon[i] != "" && renglon[i] != null){
                contentString1 += "<tr><td><b>Renglón: </b></td><td>"+renglon[i]+"</td></tr>";   
            }
            
            contentString1 += "</table></div>";

            var infowindow1 = new google.maps.InfoWindow({ 
                content: contentString1,
                maxWidth: 220
            })

            infos.push(infowindow1);

            google.maps.event.addListener(marker1, 'click', function() {
                var pos = marks.indexOf(this);
                infos[pos].open(this.get('map'), this);
            });
        }*/
    }
    function eliminar(){
        for (var i = 0; i < marks.length; i++ ) {
            marks[i].setMap(null);
        }
        for (var i = 0; i < infos.length; i++ ) {
            infos[i].setMap(null);
        }
        infos.length = 0;
        marks.length = 0;
    }
    function agregar(){
        eliminar();
        var idPredio = $("#predio").val();
        if(idPredio == -1){
            return;
        }
        var mytag = $("#predio").find('option:selected').attr('mytag');
        
        var fincas;
        var nombresMuni;

        $.ajax({
            async:false, 
            cache:false, 
            type: 'POST',   
            url: "{{base_url('reportes/ubicaciongoogle/fincasPorMunicipio')}}",
            data: {id: idPredio}, 
            success:  function(data){
                console.log($.parseJSON(data));
                data = $.parseJSON(data);
                fincas = data[0];
                renglon = data[1];
                nombresMuni = data[2];
            }
        });

        var mapOptions = {
            zoom: 7,
            center: new google.maps.LatLng(municipios[mytag-1].latitud, municipios[mytag-1].longitud)
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        

        for(var i=0;i<fincas.length;i++){
            var position1 = new google.maps.LatLng(fincas[i].geo_latitud,fincas[i].geo_longitud);
            var marker1 = new google.maps.Marker({ position: position1, map: map});
            marker1.setTitle(fincas[i].nombre);
            marks.push(marker1);
            var contentString1 = '<div style="width:200px" align="center"><h3><b>'+fincas[i].nombre+'</b></h3>'+
                                    '<br/><table align="justify">';
            if(nombresMuni[i].nombre != "" && nombresMuni[i].nombre != null){
                contentString1 += "<tr><td><b>Municipio:</b></td><td>"+nombresMuni[i].nombre+"</td></tr>";
            }
            if(fincas[i].vereda != "" && fincas[i].vereda != null){
                contentString1 += "<tr><td><b>Vereda: </b></td><td>"+fincas[i].vereda+"</td></tr>";
            }
            if(fincas[i].sector != "" && fincas[i].sector != null){
                contentString1 += "<tr><td><b>Sector: </b></td><td>"+fincas[i].sector+"</td></tr>";
            }
            if(fincas[i].area_total != "" && fincas[i].area_total != null){
                contentString1 += "<tr><td><b>Área Total: </b></td><td>"+fincas[i].area_total+" ha</td></tr>";
            }
            if(renglon[i] != "" && renglon[i] != null){
                contentString1 += "<tr><td><b>Renglón: </b></td><td>"+renglon[i]+"</td></tr>";   
            }
            contentString1 += "</table></div>";
            var infowindow1 = new google.maps.InfoWindow({ 
                content: contentString1,
                maxWidth: 220
            })

            infos.push(infowindow1);

            google.maps.event.addListener(marker1, 'click', function() {
                var pos = marks.indexOf(this);
                infos[pos].open(this.get('map'), this);
            });
        }
    }
    google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% endblock %}
{% block breadcrumnb %}
    <ul class="breadcrumb">
      <li><a href="{{site_url('listadoruats')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
      <li><strong class="text-success">UBICACIÓN DE PREDIOS</strong></li>
    </ul>
{% endblock %}

{% block titulo %}
    <h1><i class="icon20 i-stack-checkmark"></i> UBICACIÓN DE PREDIOS </h1> 
{% endblock %}

{% block contenido %}

{% include "reportes/toolbar_reportes.html.twig" %}
<div class="form-group">
<label class="control-label">Mostrar predios del municipio: </label>

<select id="predio" style="margin-bottom:5px;" onchange="agregar()">
    {% set cont = 0 %}
    <option value="-1" mytag="-1">-</option>
    {% for m in municipios %}
        <option value="{{m.id}}" mytag="{{cont}}">{{m.nombre}}</option>
        {% set cont = cont + 1 %}
    {% endfor %}
</select>
<div id="map-canvas"></div>
<div></div>
{% endblock %}