{% extends "base.html.twig" %}

{% block titulo %} <h1><i class="icon20 i-stack-checkmark"></i> RUAT &#187; Apropiación de Aprendizajes </h1> {% endblock %}

{% block contenido %}

{{ form_open(null, {role:'form'}) }}

<div class="panel panel-default">
    <!-- begin .panel-heading -->
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>C. APROPIACIÓN DE APRENDIZAJES</h4>
        <a href="#" class="minimize"></a>
    </div>
    <!-- End .panel-heading -->
    <div class="panel-body" style="display: block;">
        <div class="container">
            <p>
                Lea detenidamente cada una de las preguntas y marque el nivel de acuerdo en el que usted se sienta;
                TOTALMENTE DESACUERDO, DESACUERDO, NI DE ACUERDO NI EN DESACUERDO, DE ACUERDO, TOTALMENTE DE ACUERDO.
            </p>
            <table class="table table-bordered">
                <thead style="vertical-align:text-top;">
                    <tr class="center">
                        <th>Pregunta</th>

                        {% for respuesta in respuestas %}
						<th>{{ respuesta.descripcion }}</th>
						{% endfor %}

                    </tr>
                </thead>
                <tbody>

					{% set contador = 1 %}
					{% for pregunta in preguntas %}
						<tr class="center">
							<td>{{ pregunta.descripcion }}</td>
								{% for respuesta in respuestas %}
									<td><input type="radio" name="radio_pregunta{{ contador }}" value="{{ pregunta.id }}_{{ respuesta.id }}"></td>
								{% endfor %}
						</tr>
					{% set contador  = contador+1 %}
					{% endfor %}
                </tbody>
            </table>
        </div> {# .container #}
    </div> {# End .panel-body #}
</div> {# panel default #}

<br/>
<div class="form-actions full">
    <button class="btn btn-lg btn-warning pull-left" type="button"><i class="icon16 i-arrow-left-2"></i>Anterior</button>
    <button class="btn btn-lg btn-success pull-right" type="submit">Finalizar<i class="icon16 i-arrow-right-3"></i></button>
</div>

<div class="row" style="height:100px"></div> {# para evitar que el señalador de "ir arriba" tape el boton siguiente #}

{{ form_close() }}


{% endblock %}
