{% extends "base.html.twig" %}

{% block titulo %} <h1><i class="icon20 i-stack-checkmark"></i> RUAT &#187; Apropiación de Aprendizajes </h1> {% endblock %}

{% block contenido %}

<link href="{{ base_url('assets/css/preguntas.css') }}" rel="stylesheet" />


{{ form_open(null, {role:'form'}) }}
<!-- Cuando el $_POST esta vacio, form_validation->run() retorna false sin errores :/ -->
<input type="hidden" name="para_validar" value="1" />
<div class="panel panel-default">
    <!-- begin .panel-heading -->
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>C. APROPIACIÓN DE APRENDIZAJES</h4>
        <a href="#" class="minimize"></a>
    </div>
    <!-- End .panel-heading -->
    <div class="panel-body" style="display: block;">
        <div class="container">
            <p>
                Lea detenidamente cada una de las preguntas y marque el nivel de acuerdo en el que usted se sienta;
                TOTALMENTE DESACUERDO, DESACUERDO, NI DE ACUERDO NI EN DESACUERDO, DE ACUERDO, TOTALMENTE DE ACUERDO.
            </p>
            
            <table class="table table-bordered">
                <thead style="vertical-align:text-top;">
                    <tr class="center">
                        <th>Pregunta</th>

                        {% for respuesta in respuestas %}
                            <th>{{ respuesta.descripcion }}</th>
                        {% endfor %}

                    </tr>
                </thead>
                <tbody>

                    {% set contador = 1 %}
                    {% for pregunta in preguntas %}
                        {% set nombre_pregunta = "radio_pregunta" ~ contador %}
                        {% set clase_pregunta = 1 %}
                        {% set respuesta_bd = aprendizajeRespuestas[nombre_pregunta] ? aprendizajeRespuestas[nombre_pregunta] : null %}
                        <tr class="center">
                            <td>{{ pregunta.descripcion }} {{form_error(nombre_pregunta)}}</td>
                            
                            {% for respuesta in respuestas %}                                
                                {% set valor_pregunta = pregunta.id ~ '_' ~ respuesta.id %}
                                {% set respuesta_checked_bd =  respuesta_bd == valor_pregunta ? 'checked' : ''%}
                                <td>
                                    <input type="radio" id="{{ nombre_pregunta~ '_' ~ clase_pregunta }}" name="{{ nombre_pregunta }}" value="{{ valor_pregunta }}" {{ set_radio(nombre_pregunta, valor_pregunta) ? set_radio(nombre_pregunta, valor_pregunta) : respuesta_checked_bd }}>
                                    <label for="{{ nombre_pregunta~ '_' ~ clase_pregunta }}" class="r{{ clase_pregunta }}"></label>
                                </td>
                                {% set clase_pregunta = clase_pregunta+1 %}
                            {% endfor %}
                        </tr>
                    {% set contador  = contador+1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div> {# .container #}
    </div> {# End .panel-body #}
</div> {# panel default #}

<br/>
<div class="form-actions full">
    <a class="btn btn-lg btn-warning pull-left" type="button" href="{{url_ruatb}}"><i class="icon16 i-arrow-left-2"></i>Anterior</a>
    <button class="btn btn-lg btn-success pull-right" type="submit">Siguiente<i class="icon16 i-arrow-right-3"></i></button>
</div>

<div class="row" style="height:100px"></div> {# para evitar que el señalador de "ir arriba" tape el boton siguiente #}

{{ form_close() }}


{% endblock %}
