{% extends "base.html.twig" %}

{% block html_head %}

<script type="text/javascript">
    function calcularFinal(){
        var resultado = 0;

        for(var i = 1; i <= {{tamaño}}; i++){
            var aux = parseInt($("#valor"+i+"f").val());
            if( (typeof aux) === 'number' && !(isNaN(aux))){
                resultado += aux;
            }
        }
        resultado /= 8;
        $("#valorFinal").val(resultado);
    }

    function calcularSeccionCuatro(){
        var valores = [0,0,0];

        for(var  i = 1; i <= {{tamaño}} ; i++){
            var aux = parseInt($("#valor15"+i).val());
            if( (typeof aux) === 'number' && !(isNaN(aux))){
                valores[0] += aux;
            }

            aux = parseInt($("#valor26"+i).val());
            if( (typeof aux) === 'number' && !(isNaN(aux))){
                valores[1] += aux;
            }

            aux = parseInt($("#valor31"+i).val());
            if( (typeof aux) === 'number' && !(isNaN(aux))){
                valores[2] += aux;
            }
        }

        valores[0] = valores[0] / 10;
        valores[1] = valores[1] / 4;
        valores[2] = valores[2] / 5;
        $("#valor15f").val(valores[0].toFixed(2));
        $("#valor26f").val(valores[1].toFixed(2));
        $("#valor31f").val(valores[2].toFixed(2));

        $("#valor14f").val(((+valores[0]+valores[1]+valores[2])/3).toFixed(2));
    }

    function calcular(seccion, padre){
        console.log("a");
        var numSubSecciones = 0;
        //console.log(seccion);
        //console.log(padre);
        switch(seccion){
            case 1:
                numSubSecciones = 6;
                break;
            case 2:
                numSubSecciones = 3;
                break;
            case 3:
                numSubSecciones = 1;
                break;
            case 4:
            case 41:
            case 42:
            case 43:
                calcularSeccionCuatro();
                calcularFinal();
                return; 
                break;
            case 5:
                numSubSecciones = 3;
                break;
            case 6:
                numSubSecciones = 6;
                break;
            case 7:
                numSubSecciones = 5;
                break;
            case 8:
                numSubSecciones = 7;
                break;
        }

        var resultado = 0;
        for(var i = 1; i <= {{tamaño}}; i++){
            var aux = parseInt($("#valor"+padre+""+i).val());
            if( (typeof aux) === 'number' && !(isNaN(aux))){
                resultado += aux;
            }
        }

        resultado = resultado / numSubSecciones;
        $("#valor"+padre+"f").val(resultado.toFixed(2));
        calcularFinal();
    }    
</script>

{% endblock %}

{% block titulo %} <h1><i class="icon20 i-stack-checkmark"></i> BPA &#187; DISEÑO DE PLANES DE IMPLEMENTACIÓN DE BUENAS PRÁCTICAS AGRICOLAS </h1> {% endblock %}

{% block contenido %}

{{ form_open(null, {role:'form'}) }}

<div class="row">
    <div class="col-md-6">
        <div class="container">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="fecha_nacimiento">Fecha:</label>
                <div class="col-sm-8">
                    <div class="input-group date datepicker autostart">
                        <input size="16" name="fecha" class="form-control" type="text" required>
                        <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container">
            <div class="form-group">
                <label class="col-sm-4 control-label">ID. RUAT:</label>
                <div class="col-sm-8">
                    <input size="16" name="idRuat" class="form-control" type="number" required>
                    <label class="error" > </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A. DATOS DE IDENTIFICACIÓN DEL BENEFICIARIO</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body"><div class="container">
        <div class="row">
        	<div class="col-md-12">
        		<div class="panel panel-default">
				    <div class="panel-heading" align="center">
				        <h4>A.INTRODUCCIÓN SOBRE LAS BUENAS PRÁCTICAS AGRÍCOLAS (BPA)</h4>
				    </div><!-- End .panel-heading -->
				    <div class="panel-body"><div class="container">
						<div class="row">
							<div class="col-mod-12">
								La responsabilidad que tenemos como agroempresarios es precisamente garantizar que los consumidores reciban alimentos inocuos, sanos y de comprobada calidad, que no contengan sustancias perjudiciales para la salud y que ayuden a mejorar la nutrición de toda la familia. Como agroempresarios es importante hacer una planeación de lo que vamos a producir con el fin de determinar los factores que pueden favorecer o afectar el éxito de nuestra empresa.  Cuando hacemos la planeación del cultivo podemos decidir si es conveniente o no cultivar desde el punto de vista técnico y económico, por lo tanto, miremos los siguientes aspectos:
							</div>
						</div>
					</div></div>
				</div>
        	</div>
        </div>
    </div></div><!-- .container and .panel-body -->
</div><!-- panel default -->

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B. DIAGNÓSTICO DE ASPECTOS PREVIOS AL ESTABLECIMIENTO DEL CULTIVO</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body"><div class="container">
    	<table class="table table-bordered">
            <thead>
            	<tr>
            		<th align="center">
            			Aspectos Diagnosticados
            		</th>
            		<th align="center" style="width:100px">
            			SI | NO
            		</th>
            		<th align="center">
            			Observaciones
            		</th>
            	</tr>
            </thead>
            <tbody>
                {% for preguntaB in preguntasB %}
                <tr>
                    <td>
                        {{preguntaB.enunciado}}
                    </td>
                    <td style="text-align:center; width:100px;">
                        <!--<input bs-switch switch-on="info" switch-off="warning" switch-size="small"
                                switch-on-label="SI" switch-off-label="NO">-->
                        <div class="switch" data-on="primary" data-off="danger" data-on-label="<i class='i-checkmark-3'></i>" data-off-label="<i class='i-close'></i>" >
                            <input name="{{'sino'~preguntaB.id}}" class="toggle" type="checkbox" checked />
                        </div>
                    </td>
                    <td>
                        <input id="{{'respuesta'~ preguntaB.id}}" name="{{'recomendacion'~preguntaB.id}}" type="text" class="form-control" placeholder="" style="width:240px;"/>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <thead>
            	<tr>
            		<th align="center" colspan="4">
            			Conclusión General de los Aspectos Diagnosticados en la Implementación de BPA
            		</th>
            	</tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">
                    	<textarea rows="3" name="conclusionB" style="width:100%;"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    		
    </div></div><!-- .container and .panel-body -->
</div><!-- panel default -->

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>C. ESTADO ACTUAL DE LA IMPLEMENTACIÓN DE LAS BPA</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body"><div class="container">
    	<table class="table table-bordered">
            <thead>
            	<tr>
            		<th align="center">
            			Aspectos Evaluados
            		</th>
            		<th align="center">
            			Adopción BPA (%)
            		</th>
            		<th align="center">
            			Recomendación para su Implementación
            		</th>
            	</tr>
            </thead>
            <tbody>
                {% for preguntaC in preguntasC %}
                <tr>
                    <td>
                        {{preguntaC.enunciado}}
                    </td>
                    <td align="center">
                        {% if preguntaC.padre == null or preguntaC.numeral == 15 or
                            preguntaC.numeral == 26 or preguntaC.numeral == 31 %}
                            <input type="number" name="{{'valor'~preguntaC.id}}" style="width:60px;" id="{{'valor'~preguntaC.id~"f"}}" value="0" readonly="true" />
                        {% else %}
                            <input type="number" name="{{'valor'~preguntaC.id}}" onkeyup="calcular({{preguntaC.seccionnumero}},{{preguntaC.padre}})" id="{{'valor'~ preguntaC.padre ~preguntaC.id}}" style="width:60px;" value="0" max="100" min="0" />
                        {% endif %}
                    </td>
                    <td>
                        <textarea id="{{'observacion'~ preguntaC.id}}" name="{{'observacion'~ preguntaC.id}}" style="width:240px; height:100%;"></textarea>
                    </td>
                </tr>
                {% endfor %}


                <tr>
                    <td align="center">
                        <h3><b>PREDIO CON NIVEL DE IMPLEMENTACIÓN DE <br/>
                        BUENAS PRACTICAS AGRÍCOLAS (BPA)</b></h3>
                    </td>
                    <td align="center">
                        <input type="number" style="width:60px;" id="valorFinal" name="valorFinal" value="0" readonly="true" />
                    </td>
                    <td>
                        <textarea name="recomendacionFinal" style="width:240px; height:100%;"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div></div><!-- .container and .panel-body -->
</div><!-- panel default -->

<div class="form-actions full">

    
    <!---div class="col-md-4 pull-right">
        <button ng-disabled="myForm.$pristine"  class="btn btn-lg btn-info" type="submit"><i class="i-disk"></i>  Guardar</button>
        
    </div-->
    <button  class="btn btn-lg btn-success pull-right" type="submit">Guardar<i class="icon16 i-arrow-right"></i></button>
</div>
{{ form_close() }}

{% endblock %}