{% extends "base.html.twig" %}

{% block html_head %}
<script src="{{base_url('assets/js/angular/angular.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-animate.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-ui/select2.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-bootstrap-switch.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-sanitize.min.js')}}"></script>


<script type="text/javascript">
    var extern = {
        combos: {{combos}}
    };

    var urls = {
        guardar : "{{site_url('ruata/guardar')}}",
    };
    var count = function(obj) {
        var cnt = 0;
        for(var x in obj)
            if(obj.hasOwnProperty(x))
                cnt++;
        return cnt;
    }
</script>


{% raw %}


<script type="text/javascript">
    var myApp = angular.module('myApp', ['ngSanitize','ui.select2', 'frapontillo.bootstrap-switch']);

    myApp.directive('buttonsRadio', function() { // http://stackoverflow.com/a/13450409
        return {
            restrict: 'E', scope: { model: '=', options:'='},
            replace:true,
            controller: function($scope) {
                $scope.activate = function(option) {
                    if($scope.model==option) $scope.model=null;
                    else $scope.model=option;
                }
            },
            template: "<div class='btn-group'><button type='button' ng-repeat='t in options' "+
                        "class='btn btn-sm' + ng-class=\"{'active':t.id==model, 'btn-primary':t.id==model, 'btn-default':t.id!=model}\"  "+
                        "ng-click='activate(t.id)'>{{t.descripcion}}</button></div>"
        };
    });

    var RuatACtrl = function($scope, $http) {

        angular.extend($scope, extern.combos);
        //$scope.combos = extern.combos;
        
        $scope.validate = function(form){   
            for (feild in form) {

                // look at each form input with a name attribute set
                // checking if it is pristine and not a '$' special field
                if (feild[0] != '$' && feild!='subForm' && form[feild].$pristine) {
                    //console.log(typeof($scope.myForm[feild]));
                    form[feild].$setViewValue( form[feild].$modelValue );
                }
            }
            return $scope.myForm.$valid;
        };

        $scope.submit = function() {
            if(!$scope.validate()) {
                alert('Revise errores');
                return;
            }

            var data = {
                productor: $scope.productor,
                contacto : $scope.contacto,
                economia: $scope.economia,
                asociacion: $scope.asociacion,
                innovaciones: $scope.realizaInnovacion?$scope.innovaciones:[]
            };

            $http.post(urls.guardar, data).success(function(response,status) {
                console.log(response);
            });

            //alert('Guardar!');
        };

        $scope.postLoad = function() {
            $scope.tiposBpaPreguntaB.forEach(function(t) {
                //console.log($scope.preguntasB[""+t.id]);
                //if(!$scope.preguntasB[""+(t.id-62)]) $scope.preguntasB[""+(t.id-62)] = ({usa:false});
            });
            //console.log($scope);
        }

        //$scope.postLoad();
    };
</script>
{% endraw %}
{% endblock %}
{% block titulo %} <h1><i class="icon20 i-stack-checkmark"></i> BPA &#187; DISEÑO DE PLANES DE IMPLEMENTACIÓN DE BUENAS PRÁCTICAS AGRICOLAS </h1> {% endblock %}

{% block contenido %}
{% raw %}

<div ng-app="myApp"><div ng-controller="RuatACtrl"><form name="myForm" ng-submit="submit()" novalidate class="form-horizontal css-form">

<!--<div class="row">
    <div class="col-md-6">
        <div class="container">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="fecha_nacimiento">Fecha:</label>
                <div class="col-sm-8">
                    <div class="input-group date datepicker autostart">
                        <input size="16" name="fecha" ng-model="bpa.fecha" value="{{ set_value('fecha_nacimiento') }}" class="form-control" type="text" required>
                        <label class="error" ng-show="myForm.fecha.$dirty && myForm.fecha.$error.required">Requerido</label>
                        <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container">
            <div class="form-group">
                <label class="col-sm-5 control-label">CÉDULA DEL BENEFICIARIO:</label>
                <div class="col-sm-7">
                    <input size="16" name="codigoBenegiciario" ng-model="bpa.codigoBeneficiario" class="form-control" type="text" required>
                    <label class="error" ng-show="myForm.codigoBenegiciario.$dirty && myForm.codigoBenegiciario.$error.required">Requerido</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="form-group">
                <label class="col-sm-4 control-label">NOMBRE Y APELLIDO DEL BENEFICIARIO:</label>
                <div class="col-sm-8">
                    <input size="16" name="nombreApellidoBene" ng-model="bpa.nombreApellidoBene" class="form-control" type="text" required>
                    <label class="error" ng-show="myForm.nombreApellidoBene.$dirty && myForm.nombreApellidoBene.$error.required">Requerido</label>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-md-6">
        <div class="container">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="fecha_nacimiento">Fecha:</label>
                <div class="col-sm-8">
                    <div class="input-group date datepicker autostart">
                        <input size="16" name="fecha" ng-model="bpa.fecha" value="{{ set_value('fecha_nacimiento') }}" class="form-control" type="text" required>
                        <label class="error" ng-show="myForm.fecha.$dirty && myForm.fecha.$error.required">Requerida una fecha</label>
                        <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container">
            <div class="form-group">
                <label class="col-sm-4 control-label">ID. RUAT:</label>
                <div class="col-sm-8">
                    <input size="16" name="idRuat" ng-model="bpa.idRuat" class="form-control" type="number" required>
                    <label class="error" ng-show="myForm.idRuat.$dirty && myForm.idRuat.$error.required">Requerido un valor numérico</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A. DATOS DE IDENTIFICACIÓN DEL BENEFICIARIO</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body"><div class="container">
        <div class="row">
        	<div class="col-md-12">
        		<div class="panel panel-default">
				    <div class="panel-heading" align="center">
				        <h4>A.INTRODUCCIÓN SOBRE LAS BUENAS PRÁCTICAS AGRÍCOLAS (BPA)</h4>
				    </div><!-- End .panel-heading -->
				    <div class="panel-body"><div class="container">
						<div class="row">
							<div class="col-mod-12">
								La responsabilidad que tenemos como agroempresarios es precisamente garantizar que los consumidores reciban alimentos inocuos, sanos y de comprobada calidad, que no contengan sustancias perjudiciales para la salud y que ayuden a mejorar la nutrición de toda la familia. Como agroempresarios es importante hacer una planeación de lo que vamos a producir con el fin de determinar los factores que pueden favorecer o afectar el éxito de nuestra empresa.  Cuando hacemos la planeación del cultivo podemos decidir si es conveniente o no cultivar desde el punto de vista técnico y económico, por lo tanto, miremos los siguientes aspectos:
							</div>
						</div>
					</div></div>
				</div>
        	</div>
        </div>
    </div></div><!-- .container and .panel-body -->
</div><!-- panel default -->

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B. DIAGNÓSTICO DE ASPECTOS PREVIOS AL ESTABLECIMIENTO DEL CULTIVO</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body"><div class="container">
    	<table class="table table-bordered">
            <thead>
            	<tr>
            		<th align="center">
            			Aspectos Diagnosticados
            		</th>
            		<th align="center" style="width:100px">
            			SI | NO
            		</th>
            		<th align="center">
            			Observaciones
            		</th>
            	</tr>
            </thead>
            <tbody>
                <tr ng-repeat="tipoB in tiposBpaPreguntaB" ng-form="subForm">
                    <td>
                        {{tipoB.enunciado}}
                    </td>
                    <td style="text-align:center; width:100px;">
                        <input bs-switch ng-model="valor1" switch-on="info" switch-off="warning" switch-size="small"
                                switch-on-label="SI" switch-off-label="NO">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="" style="width:240px;"/>
                    </td>
                </tr>
            </tbody>
            <thead>
            	<tr>
            		<th align="center" colspan="4">
            			Conclusión General de los Aspectos Diagnosticados en la Implementación de BPA
            		</th>
            	</tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">
                    	<textarea rows="3" style="width:100%;"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    		
    </div></div><!-- .container and .panel-body -->
</div><!-- panel default -->

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>C. ESTADO ACTUAL DE LA IMPLEMENTACIÓN DE LAS BPA</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body"><div class="container">
    	<table class="table table-bordered">
            <thead>
            	<tr>
            		<th align="center">
            			Aspectos Evaluados
            		</th>
            		<th align="center">
            			Adopción BPA (%)
            		</th>
            		<th align="center">
            			Recomendación para su Implementación
            		</th>
            	</tr>
            </thead>
            <tbody>
                <tr ng-repeat="tipoC in tiposBpaPreguntaC">
                    <td>
                        <span ng-bind-html="tipoC.enunciado"></span>
                    </td>
                    <td align="center">
                        <input type="number" ng-model="valor1.1" value="" style="width:60px;" />
                    </td>
                    <td>
                        <textarea style="width:240px; height:100%;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <h3><b>PREDIO CON NIVEL DE IMPLEMENTACIÓN DE <br/>
                        BUENAS PRACTICAS AGRÍCOLAS (BPA)</b></h3>
                    </td>
                    <td align="center">
                        
                    </td>
                    <td>
                        <textarea style="width:240px; height:100%;"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div></div><!-- .container and .panel-body -->
</div><!-- panel default -->

</form></div></div>

{% endraw %}
{% endblock %}