{% extends "base.html.twig" %}

{% block titulo %} <h1><i class="icon20 i-home-11"></i> RUAT &#187; Datos Finca </h1> {% endblock %}

{% block contenido %}

{{ form_open(null, {role:'form'}) }}

{# Parte B: Formato RUAT #}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B1. DATOS GENERALES DE LA FINCA</h4>
        <a href="#" class="minimize"></a>
    </div>{# End .panel-heading #}

    <div class="panel-body" style="display: block;">
        <div class="container">
            {# Parte B.1: Formato RUAT #}
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Finca</label>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label class="radio"> <input type="radio" name="radio-finca" value="si" checked=""> SI </label>
                                </div>
                                <div class="col-xs-5">
                                    <label class="radio"> <input type="radio" name="radio-finca" value="no"> NO </label> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Nombre de la finca</label>
                            {{my_input('nombre_finca')}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                        
                            <label class="control-label">Identificaci&oacute;n Catastral</label>
                            {{my_input('id_catastral')}}
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="select">Tenencia</label>
                            <select name="select" class="form-control">
                                <option>Propiedad con t&iacute;tulo</option>
                                <option>Propiedad sin t&iacute;tulo</option>
                                <option>En arrendamiento</option>
                                <option>Comodacto</option>
                                <option>Usufructo</option>
                                <option>Aparcer&iacute;a</option>
                                <option>Colectiva</option>
                                <option>Otro</option>
                            </select>
                        </div> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="select">Departamento</label>
                            <input type="text" class="form-control" value="Valle del Cauca" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="select">Municipio</label>
                            <select class="select2 autostart" data-placeholder="Seleccione...">
                                <option></option>
                                <option value="0">Abejorral</option>
                                <option value="1">Andes</option>
                                <option value="2">Apulo</option>
                                <option value="3">Armenia</option>
                                <option value="4">Balboa</option>
                                <option value="5">Buga</option>
                                <option value="6">Caicedonia</option>
                                <option value="7">Calarca</option>
                                <option value="8">Cali</option>
                                <option value="9">Cerrito</option>
                                <option value="10">Cisneros</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Vereda</label>
                            {{my_input('vereda')}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Sector</label>
                            {{my_input('sector')}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Área Total</label>
                            {{my_input('first_name',{'type':'number'})}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="tags">Disponibilidad de servicios p&uacute;blicos</label>
                            <select class="select2 autostart" multiple data-placeholder="Seleccione los servicios de la parcela">
                                <option></option>
                                <option value="1">Agua Propia</option>
                                <option value="2">Acueducto</option>
                                <option value="3">Acceso a Internet</option>
                                <option value="4">Energía Eléctrica</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="radio">Disponibilidad de Vias de Acceso</label>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label class="radio"> <input type="radio" name="vias-acceso" value="si"> SI </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="radio"> <input type="radio" name="vias-acceso" value="no"> NO </label> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="container">
                            <label class="control-label" for="select">Estado de las vias de acceso</label>
                            <select name="select" class="form-control">
                                <option>Pavimentada</option>
                                <option>No Pavimentada</option>
                            </select>  
                            <select name="select" class="form-control">
                                <option>Buena</option>
                                <option>Regular</option>
                                <option>Mala</option>
                            </select>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="radio">Manejo Programa de Residuos</label>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label class="radio"> <input type="radio" name="programa-residuos" value="si"> SI </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="radio"> <input type="radio" name="programa-residuos" value="no"> NO </label> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# Este pedazo hay que ponerle la condicion de que si selecciono NO, entonces bloquee lo siguiente #}
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="select">Programa</label>
                            <select name="select" class="form-control">
                                <option>Ordinarios</option>
                                <option>Peligrosos</option>
                                <option>Otro</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Descripci&oacute;n</label>
                            {{my_input('descripcion',{'placeholder':'Nombre'})}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-8">Distancia de la finca a la cabecera municipal (Km)</label>
                        <div class="col-md-4">{{my_input('distancia-finca-cabecera',{'type':'number'})}}</div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Medios de transporte</label> {# para la realizacion de la actividad productiva y de comercializaci&oacute;n#}
                        <div class="col-md-8">
                            <select class="select2 autostart" multiple data-placeholder="Seleccione los servicios de la parcela">
                                <option></option>
                                <option value="1">Tracción Animal</option>
                                <option value="2">Animal</option>
                                <option value="3">Camión / Auto</option>
                                <option value="4">Bicicleta</option>
                                <option value="5">Caminata</option>
                                <option value="6">Tractor</option>
                                <option value="7">Banco</option>
                                <option value="8">Canoa</option>
                                <option value="9">Kayak</option>
                                <option value="10">Planchón</option>
                                <option value="10">Otro</option>
                            </select>
                            <span class="help-block"><small>Liste los medios de transporte utilizados para la realizacion de la actividad productiva y de comercializaci&oacute;n</small></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <label class="control-label">Forma de Llegar al Predio</label>
                        <textarea class="form-control" rows="4" placeholder="Describa indicaciones para localizar el predio"></textarea>
                    </div>
                </div>
            </div>
            {# Aqui creo que es mejor cambiarla por una tabla #}
                        
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="3">Maquinaria y equipo para la realizaci&oacute;n de actividades productivas y comercializaci&oacute;n</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="center" width="20%">Herramientas</td>
                                    <td width="2%">
                                        <label class="checkbox">
                                            <input class="form-control" type="checkbox" id="agree" name="agree">
                                        </label>
                                    </td>
                                    <td width="65%">{{my_input('herramientas',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">Utencilios</td>
                                    <td>
                                        <label class="checkbox">
                                            <input class="form-control" type="checkbox" id="agree" name="agree">
                                        </label>
                                    </td>
                                    <td>{{my_input('utencilios',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">Equipos</td>
                                    <td>
                                        <label class="checkbox">
                                            <input class="form-control" type="checkbox" id="agree" name="agree">
                                        </label>
                                    </td>
                                    <td>{{my_input('equipos',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">Maquinaria Liviana</td>
                                    <td>
                                        <label class="checkbox">
                                            <input class="form-control" type="checkbox" id="agree" name="agree">
                                        </label>
                                    </td>
                                    <td>{{my_input('maquinaria_liviana',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">Maquinaria Pesada</td>
                                    <td>
                                        <label class="checkbox">
                                            <input class="form-control" type="checkbox" id="agree" name="agree">
                                        </label>
                                    </td>
                                    <td>{{my_input('maquinaria_pesada',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">Otros</td>
                                    <td>
                                        <label class="checkbox">
                                            <input class="form-control" type="checkbox" id="agree" name="agree">
                                        </label>
                                    </td>
                                    <td>{{my_input('otros',{'readonly':'true'})}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> {# .container #}
    </div>{# End .panel-body #}
</div>{# panel default #}


{# Parte B.2: PRODUCTOS AGROPECUARIOS #}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B2. PRODUCTOS AGROPECUARIOS</h4>
        <a href="#" class="minimize"></a>
    </div>{# End .panel-heading #}

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="7">Cultivos con Perspectiva Comercial</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th rowspan="2" width="19%">Producto</th>
                                    <th rowspan="2" width="19%">Variedad</th>
                                    <th rowspan="2" width="15%">Semilla</th>
                                    <th rowspan="2" width="8%">Área Cosechada (ha)</th>
                                    <th colspan="3">Producción Total (kilos/año)</th>
                                </tr>
                                <tr>
                                    <th>Semestre A</th>
                                    <th>Semestre B</th>
                                    <th>Total</th>
                                </tr>
                                <tr>
                                    <td class="center">{{my_input('producto-1')}}</td>
                                    <td>{{my_input('variedad-1')}}</td>
                                    <td>
                                        <select name="select" class="form-control">
                                            <option>Certificada</option>
                                            <option>No Certificada</option>
                                        </select>
                                    </td>
                                    <td>{{my_input('area-cosechada-1',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreA-1',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreB-1',{'type':'number'})}}</td>
                                    <td>{{my_input('total-1',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">{{my_input('producto-2')}}</td>
                                    <td>{{my_input('variedad-2')}}</td>
                                    <td>
                                        <select name="select" class="form-control">
                                            <option>Certificada</option>
                                            <option>No Certificada</option>
                                        </select>
                                    </td>
                                    <td>{{my_input('area-cosechada-2',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreA-2',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreB-2',{'type':'number'})}}</td>
                                    <td>{{my_input('total-2',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">{{my_input('producto-3')}}</td>
                                    <td>{{my_input('variedad-3')}}</td>
                                    <td>
                                        <select name="select" class="form-control">
                                            <option>Certificada</option>
                                            <option>No Certificada</option>
                                        </select>
                                    </td>
                                    <td>{{my_input('area-cosechada-3',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreA-3',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreB-3',{'type':'number'})}}</td>
                                    <td>{{my_input('total-3',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">{{my_input('producto-4')}}</td>
                                    <td>{{my_input('variedad-4')}}</td>
                                    <td>
                                        <select name="select" class="form-control">
                                            <option>Certificada</option>
                                            <option>No Certificada</option>
                                        </select>
                                    </td>
                                    <td>{{my_input('area-cosechada-4',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreA-4',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreB-4',{'type':'number'})}}</td>
                                    <td>{{my_input('total-4',{'readonly':'true'})}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {# En esta tabla es seleccion multiple o unica #}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th colspan="2" width="15%">Costos ($/ha)</th>
                                    <th colspan="2" width="15%">Producción destinada al mercado</th>
                                    <th rowspan="2" width="15%">Sitio venta</th>
                                    <th colspan="2" width="55%">A quien le vende</th>
                                </tr>
                                <tr>
                                    <th>Establecimiento ($/ha)</th>
                                    <th>Sostenimiento ($/ha)</th>
                                    <th>Kg</th>
                                    <th>%</th>
                                    <th width="16%">Tipo</th>
                                    <th>Nombre y Apellido</th>
                                </tr>
                                <tr>
                                    <td>{{my_input('establecimiento-1',{'type':'number'})}}</td>
                                    <td>{{my_input('sostenimiento-1',{'type':'number'})}}</td>
                                    <td>{{my_input('kg-1',{'type':'number'})}}</td>
                                    <td>{{my_input('porcentaje-1',{'readonly':'true'})}}</td>
                                    <td>
                                        <select name="select" class="form-control">
                                            <option>Finca</option>
                                            <option>Plaza</option>
                                            <option>Supermercado</option>
                                            <option>Centro de Acopio</option>
                                            <option>Plaza</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="select" class="form-control">
                                            <option>Acopiador</option>
                                            <option>Transportador</option>
                                            <option>Detallista</option>
                                            <option>Transformador</option>
                                            <option>Cooperativa</option>
                                            <option>Consumidor Fina</option>
                                            <option>Otra</option>
                                        </select>
                                    </td>
                                    <td>{{my_input('nombre_apellido-1')}}</td>
                                </tr>
                                <tr>
                                    <td>{{my_input('establecimiento-2',{'type':'number'})}}</td>
                                    <td>{{my_input('sostenimiento-2',{'type':'number'})}}</td>
                                    <td>{{my_input('kg-2',{'type':'number'})}}</td>
                                    <td>{{my_input('porcentaje-2',{'readonly':'true'})}}</td>
                                    <td>
                                        <select name="select" class="form-control">
                                            <option>Finca</option>
                                            <option>Plaza</option>
                                            <option>Supermercado</option>
                                            <option>Centro de Acopio</option>
                                            <option>Plaza</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="select" class="form-control">
                                            <option>Acopiador</option>
                                            <option>Transportador</option>
                                            <option>Detallista</option>
                                            <option>Transformador</option>
                                            <option>Cooperativa</option>
                                            <option>Consumidor Fina</option>
                                            <option>Otra</option>
                                        </select>
                                    </td>
                                    <td>{{my_input('nombre_apellido-2')}}</td>
                                </tr><tr>
                                    <td>{{my_input('establecimiento-3',{'type':'number'})}}</td>
                                    <td>{{my_input('sostenimiento-3',{'type':'number'})}}</td>
                                    <td>{{my_input('kg-3',{'type':'number'})}}</td>
                                    <td>{{my_input('porcentaje-3',{'readonly':'true'})}}</td>
                                    <td>
                                        <select name="select" class="form-control">
                                            <option>Finca</option>
                                            <option>Plaza</option>
                                            <option>Supermercado</option>
                                            <option>Centro de Acopio</option>
                                            <option>Plaza</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="select" class="form-control">
                                            <option>Acopiador</option>
                                            <option>Transportador</option>
                                            <option>Detallista</option>
                                            <option>Transformador</option>
                                            <option>Cooperativa</option>
                                            <option>Consumidor Fina</option>
                                            <option>Otra</option>
                                        </select>
                                    </td>
                                    <td>{{my_input('nombre_apellido-3')}}</td>
                                </tr><tr>
                                    <td>{{my_input('establecimiento-4',{'type':'number'})}}</td>
                                    <td>{{my_input('sostenimiento-4',{'type':'number'})}}</td>
                                    <td>{{my_input('kg-4',{'type':'number'})}}</td>
                                    <td>{{my_input('porcentaje-4',{'readonly':'true'})}}</td>
                                    <td>
                                        <select name="select" class="form-control">
                                            <option>Finca</option>
                                            <option>Plaza</option>
                                            <option>Supermercado</option>
                                            <option>Centro de Acopio</option>
                                            <option>Plaza</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="select" class="form-control">
                                            <option>Acopiador</option>
                                            <option>Transportador</option>
                                            <option>Detallista</option>
                                            <option>Transformador</option>
                                            <option>Cooperativa</option>
                                            <option>Consumidor Fina</option>
                                            <option>Otra</option>
                                        </select>
                                    </td>
                                    <td>{{my_input('nombre_apellido-4')}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th rowspan="2" width="7%">Precio de Venta Promedio ($/kilos)</th>
                                    <th rowspan="2" width="13%">Forma de Pago</th>
                                    <th colspan="2">Subproductos del cultivo</th>
                                    <th colspan="4">Pertenencia a Programas de Asistencia Técnica</th>
                                </tr>
                                <tr>
                                    <th>Cúal</th>
                                    <th>Uso</th>
                                    <th>SI</th>
                                    <th>NO</th>
                                    <th>Programa</th>
                                    <th>Entidad</th>
                                </tr>
                                <tr>
                                    <td>{{my_input('precio-venta-promedio-1',{'type':'number'})}}</td>
                                    <td>
                                        <select class="select2 autostart" multiple data-placeholder="Seleccione la forma de pago">
                                            <option value="1">Efectivo</option>
                                            <option value="2">Transferencia</option>
                                            <option value="3">Cheque</option>
                                            <option value="4">Crédito</option>
                                            <option value="5">Trueque</option>
                                        </select>
                                    </td>
                                    <td>{{my_input('subproducto-cultivo-cual-1')}}</td>
                                    <td>{{my_input('subproducto-cultivo-uso-1')}}</td>
                                    <td>
                                        <input type="radio" name="pertenece-1" value="si">
                                    </td>
                                    <td>
                                        <input type="radio" name="pertenece-1" value="no">
                                    </td>
                                    <td>{{my_input('pertenencia-programa-1')}}</td>
                                    <td>{{my_input('pertenencia-entidad-1')}}</td>
                                </tr>
                                <tr>
                                    <td>{{my_input('precio-venta-promedio-2',{'type':'number'})}}</td>
                                    <td>
                                        <select class="select2 autostart" multiple data-placeholder="Seleccione la forma de pago">
                                            <option value="1">Efectivo</option>
                                            <option value="2">Transferencia</option>
                                            <option value="3">Cheque</option>
                                            <option value="4">Crédito</option>
                                            <option value="5">Trueque</option>
                                        </select>
                                    </td>
                                    <td>{{my_input('subproducto-cultivo-cual-2')}}</td>
                                    <td>{{my_input('subproducto-cultivo-uso-2')}}</td>
                                    <td>
                                        <input type="radio" name="pertenece-2" value="si">
                                    </td>
                                    <td>
                                        <input type="radio" name="pertenece-2" value="no">
                                    </td>
                                    <td>{{my_input('pertenencia-programa-2')}}</td>
                                    <td>{{my_input('pertenencia-entidad-2')}}</td>
                                </tr>
                                <tr>
                                    <td>{{my_input('precio-venta-promedio-3',{'type':'number'})}}</td>
                                    <td>
                                        <select class="select2 autostart" multiple data-placeholder="Seleccione la forma de pago">
                                            <option value="1">Efectivo</option>
                                            <option value="2">Transferencia</option>
                                            <option value="3">Cheque</option>
                                            <option value="4">Crédito</option>
                                            <option value="5">Trueque</option>
                                        </select>
                                    </td>
                                    <td>{{my_input('subproducto-cultivo-cual-3')}}</td>
                                    <td>{{my_input('subproducto-cultivo-uso-3')}}</td>
                                    <td>
                                        <input type="radio" name="pertenece-3" value="si">
                                    </td>
                                    <td>
                                        <input type="radio" name="pertenece-3" value="no">
                                    </td>
                                    <td>{{my_input('pertenencia-programa-3')}}</td>
                                    <td>{{my_input('pertenencia-entidad-3')}}</td>
                                </tr>
                                <tr>
                                    <td>{{my_input('precio-venta-promedio-4',{'type':'number'})}}</td>
                                    <td>
                                        <select class="select2 autostart" multiple data-placeholder="Seleccione la forma de pago">
                                            <option value="1">Efectivo</option>
                                            <option value="2">Transferencia</option>
                                            <option value="3">Cheque</option>
                                            <option value="4">Crédito</option>
                                            <option value="5">Trueque</option>
                                        </select>
                                    </td>
                                    <td>{{my_input('subproducto-cultivo-cual-4')}}</td>
                                    <td>{{my_input('subproducto-cultivo-uso-4')}}</td>
                                    <td>
                                        <input type="radio" name="pertenece-4" value="si">
                                    </td>
                                    <td>
                                        <input type="radio" name="pertenece-4" value="no">
                                    </td>
                                    <td>{{my_input('pertenencia-programa-4')}}</td>
                                    <td>{{my_input('pertenencia-entidad-4')}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="page-header">
                    <h4>GEORREFERENCIACION DEL PREDIO DE UBICACIÓN DEL CULTIVO <span class="help-block"><small>escribir las coordenadas en formato decimal</small></span></h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">LATITUD NORTE (N)</label>
                            {{my_input('latitud-norte',{'type':'number'})}}
                        </div> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">LONGITUD OCCIDENTE (W)</label>
                            {{my_input('longitud-occidente',{'type':'number'})}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">ALTURA SOBRE EL NIVEL DEL MAR</label>
                            {{my_input('altura-nivel-mar',{'type':'number'})}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-header">
                    <h4>DISEÑO DEL PREDIO</h4>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-sm-5">Subir Archivo</label>
                        <div class="col-sm-7">
                            <input type="file" class="form-control" />
                        </div>
                    </div> 
                </div>
            </div>

        </div> {# .container #}
    </div>{# End .panel-body #}
</div>{# panel default #}

<br/>
<div class="form-actions full">
    <button class="btn btn-lg btn-warning pull-left" type="button"><i class="icon16 i-arrow-left-2"></i>Anterior</button>
    <button class="btn btn-lg btn-success pull-right" type="submit">Siguiente<i class="icon16 i-arrow-right-3"></i></button>
</div>

<div class="row" style="height:100px"></div> {# para evitar que el señalador de "ir arriba" tape el boton siguiente #}

{{ form_close() }}


{% endblock %}