{% extends "base.html.twig" %}

{% block titulo %} <h1><i class="icon20 i-home-11"></i> RUAT &#187; Datos Finca </h1> {% endblock %}

{% block contenido %}

{{ form_open(null, {role:'form',class:'form-horizontal'}) }}

{# Parte B: Formato RUAT #}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B1. DATOS GENERALES DE LA FINCA</h4>
        <a href="#" class="minimize"></a>
    </div>{# End .panel-heading #}

    <div class="panel-body" style="display: block;">
        <div class="container">
            {# Parte B.1: Formato RUAT #}
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Finca</label>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label class="radio">
                                        <input type="radio" name="radio_finca" value="si" class="form-control" {{set_radio('radio_finca', 'si', TRUE)}}> SI 
                                    </label>
                                </div>
                                <div class="col-xs-5">
                                    <label class="radio">
                                        <input type="radio" class="form-control" name="radio_finca" value="no" {{set_radio('radio_finca', 'no')}}> NO
                                    </label> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Nombre de la finca</label>
                            {{my_input('nombre_finca')}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                        
                            <label class="control-label">Identificaci&oacute;n Catastral</label>
                            {{my_input('id_catastral')}}
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="select">Tenencia</label>
                            {{my_select('tenencia', tenencia,{})}}
                        </div> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="select">Departamento</label>
                            <input type="text" class="form-control" value="Valle del Cauca" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="select">Municipio</label>
                            {{my_select('municipio', municipio,{filter:true})}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Vereda</label>
                            {{my_input('vereda')}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Sector</label>
                            {{my_input('sector')}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Área Total</label>
                            {{my_input('area_total',{'type':'number'})}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="tags">Disponibilidad de servicios p&uacute;blicos</label>
                            {{my_select('servicios_publicos', servicios,{multiple:true})}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="radio">Disponibilidad de Vias de Acceso</label>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label class="radio">
                                        <input type="radio" name="vias_acceso" value="si" {{set_radio('vias_acceso', 'si')}}> SI
                                    </label>
                                </div>
                                <div class="col-xs-5">
                                    <label class="radio">
                                        <input type="radio" name="vias_acceso" value="no" {{set_radio('vias_acceso', 'no', TRUE)}}> NO
                                    </label> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="container">
                            <label class="control-label" for="select">Estado de las vias de acceso</label>
                            {{my_select('tipo_via', tipo_via,{})}}
                            {{my_select('estado_via', estado_via,{})}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="3">Manejo Programa de Residuos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="center" width="20%">Ordinarios</td>
                                    <td width="2%">
                                        <label class="checkbox">
                                            <input class="form-control" type="checkbox" value="ordinariosOP" name="ordinariosOP" {{set_checkbox('ordinariosOP', '0', TRUE)}}>
                                        </label>
                                    </td>
                                    <td width="65%">{{my_input('ordinarios',{'readonly':'true', 'placeholder':'Descripción'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">Peligrosos</td>
                                    <td>
                                        <label class="checkbox">
                                            <input class="form-control" type="checkbox" value="peligrososOP" name="peligrososOP" {{set_checkbox('peligrososOP', '1')}}>
                                        </label>
                                    </td>
                                    <td>{{my_input('peligrosos',{'readonly':'true', 'placeholder':'Descripción'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">Otros</td>
                                    <td>
                                        <label class="checkbox">
                                            <input class="form-control" type="checkbox" value="otrosOP" name="otrosOP" {{set_checkbox('otrosOP', '0')}}>
                                        </label>
                                    </td>
                                    <td>{{my_input('otros',{'readonly':'true', 'placeholder':'Descripción'})}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-8">Distancia de la finca a la cabecera municipal (Km)</label>
                        <div class="col-md-4">{{my_input('distancia_finca_cabecera',{'type':'number'})}}</div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Medios de transporte</label> {# para la realizacion de la actividad productiva y de comercializaci&oacute;n#}
                        <div class="col-md-8">
                            {{my_select('medios_transporte', medios_transporte,{multiple:true})}}
                            <span class="help-block"><small>Liste los medios de transporte utilizados para la realizacion de la actividad productiva y de comercializaci&oacute;n</small></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <label class="control-label">Forma de Llegar al Predio</label>
                        <textarea name="forma_llegar_predio" id="forma_llegar_predio" class="form-control" rows="4" placeholder="Describa indicaciones para localizar el predio"></textarea>
                    </div>
                </div>
            </div>
            {# Aqui creo que es mejor cambiarla por una tabla #}
                        
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="3">Maquinaria y equipo para la realización de actividades productivas y comercializaci&oacute;n</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="center" width="20%">Herramientas</td>
                                    <td width="2%">
                                        <label class="checkbox">
                                            <input class="form-control" type="checkbox" id="agree1" name="herramientasOP">
                                        </label>
                                    </td>
                                    <td width="65%">{{my_input('herramientas',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">Utencilios</td>
                                    <td>
                                        <label class="checkbox">
                                            <input class="form-control" type="checkbox" id="agree2" name="utenciliosOP">
                                        </label>
                                    </td>
                                    <td>{{my_input('utencilios',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">Equipos</td>
                                    <td>
                                        <label class="checkbox">
                                            <input class="form-control" type="checkbox" id="agree3" name="equiposOP">
                                        </label>
                                    </td>
                                    <td>{{my_input('equipos',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">Maquinaria Liviana</td>
                                    <td>
                                        <label class="checkbox">
                                            <input class="form-control" type="checkbox" id="agree4" name="livianaOP">
                                        </label>
                                    </td>
                                    <td>{{my_input('maquinaria_liviana',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">Maquinaria Pesada</td>
                                    <td>
                                        <label class="checkbox">
                                            <input class="form-control" type="checkbox" id="agree5" name="pesadaOP">
                                        </label>
                                    </td>
                                    <td>{{my_input('maquinaria_pesada',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">Otros</td>
                                    <td>
                                        <label class="checkbox">
                                            <input class="form-control" type="checkbox" id="agree6" name="otrosOP">
                                        </label>
                                    </td>
                                    <td>{{my_input('otros',{'readonly':'true'})}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> {# .container #}
    </div>{# End .panel-body #}
</div>{# panel default #}


{# Parte B.2: PRODUCTOS AGROPECUARIOS #}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B2. PRODUCTOS AGROPECUARIOS</h4>
        <a href="#" class="minimize"></a>
    </div>{# End .panel-heading #}

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="7">Cultivos con Perspectiva Comercial</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th rowspan="2" width="19%">Producto</th>
                                    <th rowspan="2" width="19%">Variedad</th>
                                    <th rowspan="2" width="16%">Semilla</th>
                                    <th rowspan="2" width="8%">Área Cosechada (ha)</th>
                                    <th colspan="3">Producción Total (kilos/año)</th>
                                </tr>
                                <tr>
                                    <th>Semestre A</th>
                                    <th>Semestre B</th>
                                    <th>Total</th>
                                </tr>
                                <tr>
                                    <td class="center">{{my_input('producto_1')}}</td>
                                    <td>{{my_input('variedad_1')}}</td>
                                    <td>
                                        {{my_select('semilla1', semilla,{})}}
                                    </td>
                                    <td>{{my_input('area_cosechada_1',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreA_1',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreB_1',{'type':'number'})}}</td>
                                    <td>{{my_input('total_1',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">{{my_input('producto_2')}}</td>
                                    <td>{{my_input('variedad_2')}}</td>
                                    <td>
                                        {{my_select('semilla2', semilla,{})}}
                                    </td>
                                    <td>{{my_input('area_cosechada_2',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreA_2',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreB_2',{'type':'number'})}}</td>
                                    <td>{{my_input('total_2',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">{{my_input('producto_3')}}</td>
                                    <td>{{my_input('variedad_3')}}</td>
                                    <td>
                                        {{my_select('semilla3', semilla,{})}}
                                    </td>
                                    <td>{{my_input('area_cosechada_3',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreA_3',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreB_3',{'type':'number'})}}</td>
                                    <td>{{my_input('total_3',{'readonly':'true'})}}</td>
                                </tr>
                                <tr>
                                    <td class="center">{{my_input('producto_4')}}</td>
                                    <td>{{my_input('variedad_4')}}</td>
                                    <td>
                                        {{my_select('semilla4', semilla,{})}}
                                    </td>
                                    <td>{{my_input('area_cosechada_4',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreA_4',{'type':'number'})}}</td>
                                    <td>{{my_input('semestreB_4',{'type':'number'})}}</td>
                                    <td>{{my_input('total_4',{'readonly':'true'})}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {# En esta tabla es seleccion multiple o unica #}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th colspan="2" width="15%">Costos ($/ha)</th>
                                    <th colspan="2" width="15%">Producción destinada al mercado</th>
                                    <th rowspan="2" width="15%">Sitio venta</th>
                                    <th colspan="2" width="55%">A quien le vende</th>
                                </tr>
                                <tr>
                                    <th>Establecimiento ($/ha)</th>
                                    <th>Sostenimiento ($/ha)</th>
                                    <th>Kg</th>
                                    <th>%</th>
                                    <th width="16%">Tipo</th>
                                    <th>Nombre y Apellido</th>
                                </tr>
                                <tr>
                                    <td>{{my_input('establecimiento_1',{'type':'number'})}}</td>
                                    <td>{{my_input('sostenimiento_1',{'type':'number'})}}</td>
                                    <td>{{my_input('kg_1',{'type':'number'})}}</td>
                                    <td>{{my_input('porcentaje_1',{'readonly':'true'})}}</td>
                                    <td>
                                        {{my_select('sitio_venta1', sitio_venta,{})}}
                                    </td>
                                    <td>
                                        {{my_select('quien_vende_tipo1', quien_vende_tipo,{})}}
                                    </td>
                                    <td>{{my_input('nombre_apellido_1')}}</td>
                                </tr>
                                <tr>
                                    <td>{{my_input('establecimiento_2',{'type':'number'})}}</td>
                                    <td>{{my_input('sostenimiento_2',{'type':'number'})}}</td>
                                    <td>{{my_input('kg_2',{'type':'number'})}}</td>
                                    <td>{{my_input('porcentaje_2',{'readonly':'true'})}}</td>
                                    <td>
                                        {{my_select('sitio_venta2', sitio_venta,{})}}
                                    </td>
                                    <td>
                                        {{my_select('quien_vende_tipo2', quien_vende_tipo,{})}}
                                    </td>
                                    <td>{{my_input('nombre_apellido_2')}}</td>
                                </tr><tr>
                                    <td>{{my_input('establecimiento_3',{'type':'number'})}}</td>
                                    <td>{{my_input('sostenimiento_3',{'type':'number'})}}</td>
                                    <td>{{my_input('kg_3',{'type':'number'})}}</td>
                                    <td>{{my_input('porcentaje_3',{'readonly':'true'})}}</td>
                                    <td>
                                        {{my_select('sitio_venta3', sitio_venta,{})}}
                                    </td>
                                    <td>
                                        {{my_select('quien_vende_tipo3', quien_vende_tipo,{})}}
                                    </td>
                                    <td>{{my_input('nombre_apellido_3')}}</td>
                                </tr><tr>
                                    <td>{{my_input('establecimiento_4',{'type':'number'})}}</td>
                                    <td>{{my_input('sostenimiento_4',{'type':'number'})}}</td>
                                    <td>{{my_input('kg_4',{'type':'number'})}}</td>
                                    <td>{{my_input('porcentaje_4',{'readonly':'true'})}}</td>
                                    <td>
                                        {{my_select('sitio_venta4', sitio_venta,{})}}
                                    </td>
                                    <td>
                                        {{my_select('quien_vende_tipo4', quien_vende_tipo,{})}}
                                    </td>
                                    <td>{{my_input('nombre_apellido_4')}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th rowspan="2" width="7%">Precio de Venta Promedio ($/kilos)</th>
                                    <th rowspan="2" width="13%">Forma de Pago</th>
                                    <th colspan="2">Subproductos del cultivo</th>
                                    <th colspan="4">Pertenencia a Programas de Asistencia Técnica</th>
                                </tr>
                                <tr>
                                    <th>Cúal</th>
                                    <th>Uso</th>
                                    <th>SI</th>
                                    <th>NO</th>
                                    <th>Programa</th>
                                    <th>Entidad</th>
                                </tr>
                                <tr>
                                    <td>{{my_input('precio_venta_promedio_1',{'type':'number'})}}</td>
                                    <td>
                                        {{my_select('forma_pago1', forma_pago,{multiple:true})}}
                                    </td>
                                    <td>{{my_input('subproducto_cultivo_cual_1')}}</td>
                                    <td>{{my_input('subproducto_cultivo_uso_1')}}</td>
                                    <td>
                                        <input type="radio" name="pertenece_1" value="si" class="form-control" {{set_radio('pertenece_1', 'si')}}>
                                    </td>
                                    <td>
                                        <input type="radio" name="pertenece_1" value="no" class="form-control" {{set_radio('pertenece_1', 'no', TRUE)}}>
                                    </td>
                                    <td>{{my_input('pertenencia_programa_1')}}</td>
                                    <td>{{my_input('pertenencia_entidad_1')}}</td>
                                </tr>
                                <tr>
                                    <td>{{my_input('precio_venta_promedio_2',{'type':'number'})}}</td>
                                    <td>
                                        {{my_select('forma_pago2', forma_pago,{multiple:true})}}
                                    </td>
                                    <td>{{my_input('subproducto_cultivo_cual_2')}}</td>
                                    <td>{{my_input('subproducto_cultivo_uso_2')}}</td>
                                    <td>
                                        <input type="radio" name="pertenece_2" value="si" class="form-control" {{set_radio('pertenece_2', 'si')}}>
                                    </td>
                                    <td>
                                        <input type="radio" name="pertenece_2" value="no" class="form-control" {{set_radio('pertenece_2', 'no', TRUE)}}>
                                    </td>
                                    <td>{{my_input('pertenencia_programa_2')}}</td>
                                    <td>{{my_input('pertenencia_entidad_2')}}</td>
                                </tr>
                                <tr>
                                    <td>{{my_input('precio_venta_promedio_3',{'type':'number'})}}</td>
                                    <td>
                                        {{my_select('forma_pago3', forma_pago,{multiple:true})}}
                                    </td>
                                    <td>{{my_input('subproducto_cultivo_cual_3')}}</td>
                                    <td>{{my_input('subproducto_cultivo_uso_3')}}</td>
                                    <td>
                                        <input type="radio" name="pertenece_3" value="si" class="form-control" {{set_radio('pertenece_3', 'si')}}>
                                    </td>
                                    <td>
                                        <input type="radio" name="pertenece_3" value="no" class="form-control" {{set_radio('pertenece_3', 'no', TRUE)}}>
                                    </td>
                                    <td>{{my_input('pertenencia_programa_3')}}</td>
                                    <td>{{my_input('pertenencia_entidad_3')}}</td>
                                </tr>
                                <tr>
                                    <td>{{my_input('precio_venta_promedio_4',{'type':'number'})}}</td>
                                    <td>
                                        {{my_select('forma_pago4', forma_pago,{multiple:true})}}
                                    </td>
                                    <td>{{my_input('subproducto_cultivo_cual_4')}}</td>
                                    <td>{{my_input('subproducto_cultivo_uso_4')}}</td>
                                    <td>
                                        <input type="radio" name="pertenece_4" value="si" class="form-control" {{set_radio('pertenece_4', 'si')}}>
                                    </td>
                                    <td>
                                        <input type="radio" name="pertenece_4" value="no" class="form-control" {{set_radio('pertenece_4', 'no', TRUE)}}>
                                    </td>
                                    <td>{{my_input('pertenencia_programa_4')}}</td>
                                    <td>{{my_input('pertenencia_entidad_4')}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="page-header">
                    <h4>GEORREFERENCIACION DEL PREDIO DE UBICACIÓN DEL CULTIVO <span class="help-block"><small>escribir las coordenadas en formato decimal</small></span></h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">LATITUD NORTE (N)</label>
                            {{my_input('latitud_norte',{'type':'number'})}}
                        </div> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">LONGITUD OCCIDENTE (W)</label>
                            {{my_input('longitud_occidente',{'type':'number'})}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">ALTURA SOBRE EL NIVEL DEL MAR</label>
                            {{my_input('altura_nivel_mar',{'type':'number'})}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-header">
                    <h4>DISEÑO DEL PREDIO</h4>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-sm-5">Subir Archivo</label>
                        <div class="col-sm-7">
                            {{my_input('subir_archivo',{'type':'file'})}}
                        </div>
                    </div> 
                </div>
            </div>

        </div> {# .container #}
    </div>{# End .panel-body #}
</div>{# panel default #}

<br/>
<div class="form-actions full">
    <button class="btn btn-lg btn-warning pull-left" type="button"><i class="icon16 i-arrow-left-2"></i>Anterior</button>
    <button class="btn btn-lg btn-success pull-right" type="submit">Siguiente<i class="icon16 i-arrow-right-3"></i></button>
</div>

<div class="row" style="height:100px"></div> {# para evitar que el señalador de "ir arriba" tape el boton siguiente #}

{{ form_close() }}


{% endblock %}