{% extends "base.html.twig" %}

{% block html_head %}
<script type="text/javascript">
    function agregarFilaAsociatividad_click() {
        $('#filaAsociatividad').clone().removeClass('hidden').appendTo('table#asociatividad > tbody');
    }

    function eliminarFilaAsociatividad_click(btn){
        console.log("Hola", btn);
        console.log($(btn).parent());
        $(btn).parent().parent().remove();
    }

    $(function() {
        $('#departamento').change(function() {
            $('#municipio').load('{{site_url("ruata/municipios")}}/'+$(this).select2('val'), null, function(){
                $('#municipio').select2('val','');
            });
        });

        agregarFilaAsociatividad_click();
    });
</script>
{% endblock %}

{% block titulo %} <h1><i class="icon20 i-man"></i> RUAT &#187; Datos Personales </h1> {% endblock %}

{% block contenido %}

{{ form_open(null, {role:'form', class:'form-horizontal'}) }}


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A1. Datos Personales</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container"> 
            <div class="row">
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Primer Nombre</label>
                            {{ my_input('nombre1') }}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Segundo Nombre</label>
                            {{ my_input('nombre2') }}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Primer Apellido</label>
                            {{ my_input('apellido1') }}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Segundo Apellido</label>
                            {{ my_input('apellido2')}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Documento: </label>
                        <div class="col-xs-3" style="padding-right:0px !important">
                            {{my_select('tipo_documento', tiposDocumento)}}
                        </div>
                        <div class="col-xs-6" style="padding-left:0px !important">
                            {{ my_input('numero_documento')}}
                        </div>
                    </div>
                </div>
                
                <div div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="fecha_nacimiento">Fecha de Nacimiento:</label>
                        <div class="col-sm-6">
                            <div class="input-group date datepicker autostart">
                                <input size="16" name="fecha_nacimiento" value="{{ set_value('fecha_nacimiento') }}" class="form-control" type="text">
                                <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>
                            </div>
                            <label class="error">{{form_error('fecha_nacimiento')}}</label>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div div class="col-md-4">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Sexo: </label>
                        <div class="col-sm-6">
                            {{ my_select('sexo',{'M':'Hombre', 'F':'Mujer'}) }}
                        </div>
                    </div>
                </div>                    
                <div div class="col-md-4">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Nivel Educativo: </label>
                        <div class="col-sm-6">
                            {{ my_select('nivel_educativo', nivelesEducativos) }}
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="row">
                <div div class="col-md-5">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="focused">Tipo de Productor:</label>
                        <div class="col-sm-7">
                            {{ my_select('tipo_productor', tiposProductor) }}
                            
                        </div>
                    </div>
                </div>
                <div div class="col-md-7">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="focused">Renglón Productivo:</label>
                        <div class="col-sm-7">
                            {{ my_select('renglon_productivo', renglonesProductivos, {filter:true}) }}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .container -->
    </div><!-- End .panel-body -->

</div><!-- panel default -->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A2. Datos de Contacto</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Telefono Fijo</label>
                            {{ my_input('telefono_fijo') }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Celular</label>
                            {{ my_input('celular') }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Correo Electrónico</label>
                            {{ my_input('correo') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="focused">Departamento:</label>
                        <div class="col-md-8">
                            {{ my_select('departamento',departamentos) }}
                        </div>
                    </div>
                </div>
                <div div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="focused">Municipio:</label>
                        <div class="col-md-8">
                            {{ my_select('municipio', []) }}
                        </div>
                    </div>
                </div>
                <div div class="col-md-4">

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="focused">Vereda:</label>
                        <div class="col-md-8">
                            {{ my_input('vereda')}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div div class="col-md-7">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="focused">Dirección de Residencia:</label>
                        <div class="col-md-8">
                            {{ my_input('direccion')}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End .panel-body -->
</div><!-- panel default -->

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A3. Datos Económicos</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label col-sm-7">Ingreso Mensual Familiar </label>
                            <div class="col-sm-5">
                                {{ my_input('ingreso_familiar',{type:'number'}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label col-sm-8">Personas a Cargo</label>
                            <div class="col-sm-4">
                                {{ my_input('personas_cargo',{'type':'number'}) }}
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label col-sm-7">Ingreso de Actividad Agropecuaria</label>
                            <div class="col-sm-5">
                                {{ my_input('ingreso_agropecuaria',{'type':'number'}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Uso de Crédito Actual</label>
                            <div class="row">
                                <div class="col-xs-4">
                                    <label class="radio"> <input type="radio" name="radio" value="1"> Sí </label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="radio"> <input type="radio" name="radio" value="2"> No </label> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div div class="col-md-5">

                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="focused">Procedencia del Crédito:</label>
                        <div class="col-sm-7">
                            {{ my_select('tipoCredito', tipoCredito) }}
                            
                        </div>
                    </div>
                </div>
                <div div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="focused">¿Cuál?</label>
                        <div class="col-md-8">
                            {{ my_input('cual_procedencia') }}
                            <span class="help-block"><small>Si seleccionó la opción <b>Otros</b> en la procedencia, escriba aquí a cuál pertenece.</small></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A4. Participación del Usuario en Procesos de Transferencia e Innovación</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">¿Realiza Procesos de Innovación?</label>
                            <div class="row">
                                <div class="col-xs-4">
                                    <label class="radio"> <input type="radio" name="radio" value="1"> Sí </label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="radio"> <input type="radio" name="radio" value="2"> No </label> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <span class="help-block"><small>Si su respuesta es <b>Sí</b>, por favor diligencie la siguiente tabla indicando la fase del proceso en la cual se efectuó y la fuente de procedencia. Si su respuesta es <b>No</b>, pase a la sección <i>A5</i>.</small></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="1" rowspan="2" valign="middle">Actividad</th>
                                    <th colspan="6">Fuente</th>
                                    <th colspan="1" rowspan="2" valign="middle">Descricpción</th>
                                </tr>
                                <tr>
                                    
                                    <th>Propia</th>
                                    <th>EPSAGRO</th>
                                    <th>Asociaciones</th>
                                    <th>Entidad Privada</th>
                                    <th>Otra</th>
                                    <th>¿Cuál?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="20%">Producción</td>
                                    <td class="center" width="2%">                                            
                                        <label class="radio"> <input type="radio" name="radio1" value="1"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio1" value="2"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio1" value="3"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio1" value="4"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio1" value="5"> </label>
                                    </td>
                                    <td width="20%"><input type="text" class="form-control" /></td>
                                    <td width="40%"><input type="text" class="form-control" /></td>
                                    
                                <tr>
                                    <td >Transformación</td>
                                    <td class="center" width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio2" value="1"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio2" value="2"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio2" value="3"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio2" value="4"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio2" value="5"> </label>
                                    </td>
                                    <td width="20%"><input type="text" class="form-control" /></td>
                                    <td width="40%"><input type="text" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <td >Comercialización</td>
                                    <td class="center" width="2%">                                            
                                        <label class=" center radio"> <input type="radio" name="radio3" value="1"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio3" value="2"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio3" value="3"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio3" value="4"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio3" value="5"> </label>
                                    </td>
                                    <td width="20%"><input type="text" class="form-control" /></td>
                                    <td width="40%"><input type="text" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <td >Organizacional</td>
                                    <td class="center" width="2%">                                            
                                        <label class=" center radio"> <input type="radio" name="radio4" value="1"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio4" value="2"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio4" value="3"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio4" value="4"> </label>
                                    </td>
                                    <td width="2%">                                            
                                        <label class="center radio"> <input type="radio" name="radio4" value="5"> </label>
                                    </td>
                                    <td width="20%"><input type="text" class="form-control" /></td>
                                    <td width="40%"><input type="text" class="form-control" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End panel-body-->
</div><!--End panel-default-->

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A5. Asociatividad del Usuario</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
        
            <div class="row">
                <div class="col-md-6">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label"> Pertenencia a Asociaciones, Cooperativas o Agremiaciones:</label>
                            <div class="row">
                                <div class="col-xs-4">
                                    <label class="radio"> <input type="radio" name="radio" value="1"> Sí </label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="radio"> <input type="radio" name="radio" value="2"> No </label> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <span class="help-block"><small>Si su respuesta es <b>Sí</b>, por favor diligencie la siguiente tabla. Si su respuesta es <b>No</b>, pase a la pregunta del <i>Productor a Seguir</i>.</small></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table id="asociatividad" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Clase</th>
                                    <th>Organización</th>
                                    <th>Beneficio</th>
                                    <th>Periodicidad de Asistencia</th>
                                    <th>Labor que Realiza</th>
                                    <th><button type="button" onclick="agregarFilaAsociatividad_click()" class="btn btn-sm btn-primary tip" title="Agregar Fila"><i class="i-plus-circle"></i></button>
                                </tr>
                                <tr id="filaAsociatividad" class="hidden">
                                    <td>{{ my_select('clases_organizacion1', clasesOrganizaciones,{multiple:true}) }} </td>
                                    <td>{{ my_input('organizacion[]') }}</td>
                                    <td>{{ my_select('beneficiosSociedad', beneficiosSociedad,{multiple:true}) }}</td>
                                    <td>{{ my_select('periodicidad2', periodicidad) }} </td>
                                    <td>{{ my_select('labor', {'Directivo':'Directivo', 'Participante':'Participante'})}} </td>
                                    <td><button type="button" onclick="eliminarFilaAsociatividad_click(this)" class="btn btn-sm btn-danger" title="Quitar Fila"><i class="i-minus-circle"></i></button>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Nombre del Productor en Asocio</label>
                            {{ my_input('nombre_socio') }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Apellidos del Productor en Asocio</label>
                            {{ my_input('apellido_socio') }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Vereda de Ubicación Productor en Asocio</label>
                            {{ my_input('vereda_socio') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div div class="col-md-5">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="focused">Grado de Confianza:</label>
                        <div class="col-sm-7">
                            {{ my_select('gradoConfianza1', tipoConfianza) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">¿Productor a Seguir en su Vereda?</label>
                            <div class="row">
                                <div class="col-xs-4">
                                    <label class="radio"> <input type="radio" name="radio" value="1"> Sí </label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="radio"> <input type="radio" name="radio" value="2"> No </label> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <span class="help-block"><small>Si su respuesta es <b>Sí</b>, indique el productor a seguir en su vereda Si su respuesta es <b>No</b>, pase al <i>Formulario B</i></small></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Nombre del Productor a Seguir</label>
                            {{ my_input('nombre_seguir') }}>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Apellidos del Productor a Seguir</label>
                            {{ my_input('apellido_seguir') }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Vereda de Ubicación Productor a Seguir</label>
                            {{ my_input('vereda_seguir') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div div class="col-md-5">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="focused">Grado de Confianza:</label>
                        <div class="col-sm-7">
                            {{ my_select('gradoConfianza2', tipoConfianza) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--End panel-body-->
</div><!--End panel-default-->

<br/>
<div class="form-actions full">
    {# <button class="btn pull-left" type="reset"><i class="icon16 i-arrow-left-2"></i>Back</button> #}
    <button class="btn btn-lg btn-success pull-right" type="submit">Siguiente<i class="icon16 i-arrow-right-3"></i></button>
</div>

<div class="row" style="height:100px"></div> {# para evitar que el señalador de "ir arriba" tape el boton siguiente #}

{{ form_close() }}
{elapsed_time}
{% endblock %}
