{% extends "base.html.twig" %}

{% block html_head %}
    <link href="{{base_url('assets/js/plugins/tables/datatables/jquery.dataTables.css')}}" rel="stylesheet" /> 
    <script src="{{base_url('assets/js/plugins/tables/datatables/jquery.dataTables.min.js')}}"></script>

    <script>
        $(function(){
            myDataTable('#dataTableRuats', {
                "sDom": "<'row'<'col-sm-2 excel'><'col-sm-4'r><'col-sm-6'f>>t<'row'<'col-lg-6'i><'col-lg-6'p>>",
                bServerSide:true,
                bProcessing:true, 
                sAjaxSource: "{{site_url('listadoruats/datatable')}}",
            });

            $('.excel').append("<a class='btn btn-default btn-sm' href='{{site_url("reportes/exportacion/listadoruats")}}'>Excel</a>")
        });

        function eliminarRuat(ruat_id) {
            if(confirm("Está a punto de eliminar un RUAT \ny toda su información relacionada. \n\nEsta Operación NO es reversible")) {
                $.get("{{site_url('listadoruats/eliminar_ruat')}}/" + ruat_id, function(data) {
                    $('#dataTableRuats').dataTable().fnDraw(false);

                    notif($.parseJSON(data));
                });
            }
        }
    </script>
    
    <style>
        .btn.btn-xs {
            margin-top:5px;
        }
    </style>

    <script type="text/javascript">
        //codigo del select de certificacion
        function abrirNuevaVentana(elemento){
            var pagina = $(elemento).val();
            if(pagina != "-"){
                window.location.href= pagina;
            }
        }
        //fin codigo select certificacion
    </script>
{% endblock %}

{% block breadcrumnb %}
    <ul class="breadcrumb">
      <li class="active"><i class="icon16 i-home-4"></i>Inicio</li>
    </ul>
{% endblock %}

{% block titulo %} <h1><i class="icon20 i-list-2"></i> Listado de RUATS Inscritos </h1> {% endblock %}

{% block contenido %}

{% if puedeCrearRuats %}
    <a class="btn btn-lg btn-primary" href="{{site_url("ruata/index")}}"><i class="icon20 i-plus"></i> Crear Nuevo RUAT</a>
    <br>
    <br>
    {#<a class='btn btn-default btn-sm' href='{{site_url("reportes/exportacion/listadoruats")}}'>Excel</a>#}


{% endif %}

<table id='dataTableRuats' class="table table-bordered table-hover table-responsive">
    <thead>
        <th>Nro</th>
        <th>Productor</th>
        <th>Creado</th>
        <th>Ingresado por</th>
        <th></th>
    </thead>
    <tbody>
        
    </tbody>
</table>

{% endblock %}
