{% extends "base.html.twig" %}

{% block contenido %}

{{ form_open(null, {role:'form'}) }}
<!-- Cuando el $_POST esta vacio, form_validation->run() retorna false sin errores :/ -->
<input type="hidden" name="para_validar" value="1" />

<div class="panel panel-default">

    <!-- begin .panel-heading -->
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>D. OBSERVACIONES</h4>
        <a href="#" class="minimize"></a>
    </div>
    <!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">

            <!-- begin -->
            <div class="row">
                {{form_error('observacion')}}
                <textarea class="form-control" id="textarea" name="observacion" rows="3" >{{ set_value('observacion') ? set_value('observacion') : observacion.observacion }}</textarea>
            </div>
            <!-- end -->

        </div> <!-- .container -->
    </div><!-- End .panel-body -->
</div><!-- panel default -->

<br/>
<div class="form-actions full">
    <a class="btn btn-lg btn-warning pull-left" type="button" href="{{url_ruatc}}"><i class="icon16 i-arrow-left-2"></i>Anterior</a>
    <button class="btn btn-lg btn-success pull-right" type="submit">Finalizar<i class="icon16 i-arrow-right-3"></i></button>
</div>

<div class="row" style="height:100px"></div> {# para evitar que el señalador de "ir arriba" tape el boton siguiente #}

{{ form_close() }}

{% endblock %}
