{% extends "base.html.twig" %}

{% block breadcrumnb %}
    <ul class="breadcrumb">
      <li><a href="{{site_url('/')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
      {{breadcrumbs}}
    </ul>
{% endblock %}

{% block titulo %} <h1><i class="icon20 i-stack-checkmark"></i> RUAT &#187; Observaciones </h1> {% endblock %}

{% block contenido %}

{{ form_open_multipart(null, {role:'form'}) }}
<!-- Cuando el $_POST esta vacio, form_validation->run() retorna false sin errores :/ -->
<input type="hidden" name="para_validar" value="1" />

<div class="panel panel-default">

    <!-- begin .panel-heading -->
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>D. OBSERVACIONES</h4>
        <a href="#" class="minimize"></a>
    </div>
    <!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">            
            <!-- begin -->
            {% if soloLectura %}
                {% set disabled = "disabled='disabled'" %}
            {% endif %}
            <div class="row">
                {{form_error('observacion')}}
                    <textarea class="form-control" id="textarea" name="observacion" rows="3" {{disabled}} >{{ set_value('observacion') ? set_value('observacion') : observacion.observacion }}</textarea>
                </div>
                <br/>

                <div class="form-group">

                    <div class="col-lg-4">
                        <input id="beneficiario" class="form-control" style="text-align: center;" type="text" value="{{productor.nombre1}} {{productor.nombre2}} {{productor.apellido1}} {{productor.apellido2}}" disabled>
                        <label for="beneficiario" class="col-lg-12" style="text-align: center;" >BENEFICIARIO</label>
                    </div>
                    <div class="col-lg-4">                      
                    </div>
                    <div class="col-lg-4">
                        <input id="responsable" class="form-control" style="text-align: center;" type="text" value="{{usuaioSesion.first_name}} {{usuaioSesion.last_name}}" disabled>
                        <label for="responsable" class="col-lg-12" style="text-align: center;" >FUNCIONARIO RESPONSABLE</label>
                    </div>
                </div>

                <div class="or center">&nbsp;</div>
                <hr class="seperator">
                <div class="form-group">

                    <div class="col-lg-4">                            
                            {% if observacion.ruta_formulario %}
                            <span class="box1 col-lg-12">
                                <i aria-hidden="true" class="i-file"></i>
                                <a type="button" target="_blank" href="{{base_url() ~ 'uploads/' ~ observacion.ruta_formulario}}">{{observacion.ruta_formulario}} </a>
                            </span>      
                            <br/><br/><br/>
                            {% endif %}

                            
                            <input type="file" name="archivo_formulario" id="archivo_formulario" {{disabled}}>
                            {{upload_result_ruat}}
                            <label for="archivo_formulario" class="col-lg-12"  >RUAT DIGITALIZADO</label>
                        </div>
                        <div class="col-lg-4">
                        </div>
                        {#<div class="col-lg-4">
                        
                            {% if productor.adjunto_cedula %}
                                <span class="box1 col-lg-12">
                                    <i aria-hidden="true" class="i-vcard"></i>
                                    <a type="button" target="_blank" href="{{base_url() ~ 'uploads/' ~productor.adjunto_cedula}}">{{productor.adjunto_cedula}} </a>
                                </span>      
                                <br/><br/><br/>
                            {% endif %}

                            <input type="file" name="archivo_documento_identificacion" id="archivo_documento_identificacion" {{disabled}}>
                            {{upload_result_documento_identidad}}
                            <label for="archivo_documento_identificacion" class="col-lg-12" >RUAT DIGITALIZADO</label>

                        </div>#}
                    </div>
                

                        <!-- end -->
                    </div> <!-- .container -->
                </div><!-- End .panel-body -->
            </div><!-- panel default -->

            <br/>
            <div class="form-actions full">
                <a class="btn btn-lg btn-warning pull-left" type="button" href="{{url_ruatc}}"><i class="icon16 i-arrow-first"></i>Anterior</a>
                <button class="btn btn-lg btn-success pull-right" type="submit">Finalizar <i class="i-checkmark"></i></button>
            </div>

            <div class="row" style="height:100px"></div> {# para evitar que el señalador de "ir arriba" tape el boton siguiente #}

{{ form_close() }}

{% endblock %}
