{% extends "base.html.twig" %}

{% block html_head %}
<script src="{{base_url('assets/js/angular/angular.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-animate.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-ui/select2.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-bootstrap-switch.js')}}"></script>


<script type="text/javascript">
    var extern = {
        combos: {{combos | json_encode }}
    };
    var count = function(obj) {
        var cnt = 0;
        for(var x in obj)
            if(obj.hasOwnProperty(x))
                cnt++;
        return cnt;
    }
</script>


{% raw %}


<script type="text/javascript">
    var myApp = angular.module('myApp', ['ui.select2', 'frapontillo.bootstrap-switch']);
    
    var RuatBCtrl = function($scope) {
        angular.extend($scope, extern.combos);
        $scope.finca = {esFinca:true};
        $scope.maquinaria = {1:{}, 2:{}};
        $scope.productos = [{}];
        //$scope.tiposMaquinaria = [{id:1, descripcion:'hErRaMiEnTaS'}, {id:2, descripcion:'UtEnCiLiOs'}];

        $scope.validate = function(){   
            for (feild in $scope.myForm) {
                // look at each form input with a name attribute set
                // checking if it is pristine and not a '$' special field
                if (feild[0] != '$' && $scope.myForm[feild].$pristine)
                    $scope.myForm[feild].$setViewValue( $scope.myForm[feild].$modelValue );
            }
            return $scope.myForm.valid;
        };

        $scope.submit = function() {
            if(!$scope.validate()) {
                alert('Revise errores');
                return;
            }

            alert('Guardar!');
        };
    }
</script>
{% endraw %}
{% endblock %}

{% block titulo %} <h1><i class="icon20 i-home-11"></i> RUAT &#187; Datos Finca </h1> {% endblock %}


{% block contenido %}
{% raw %}

<div ng-app="myApp"><div ng-controller="RuatBCtrl"><form name="myForm" ng-submit="submit()" novalidate class="form-horizontal css-form">
<input type="submit">


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B1. DATOS GENERALES DE LA FINCA</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body"><div class="container">
        <!-- Parte B.1: Formato RUAT -->
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label  ">Finca</label><br/>
                        
                        <input bs-switch ng-model="finca.esFinca" switch-on="success"
                                switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" switch-size="" switch-active="false" switch-animate="true">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Nombre de la finca</label>
                        <input type="text" class="form-control" name="nombreFinca" ng-model="finca.nombre" required />
                        <label class="error" ng-show="myForm.nombreFinca.$dirty && myForm.nombreFinca.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                    
                        <label class="control-label">Identificaci&oacute;n Catastral</label>
                        <input type="text" class="form-control" name="identifCatastral" ng-model="finca.identifCatastral" required />
                        <label class="error" ng-show="myForm.identifCatastral.$dirty && myForm.identifCatastral.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label" for="select">Tenencia</label>
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'-'}" name="tenencia" ng-model="finca.tenencia" ng-required="true">
                            <option></option>
                            <option ng-repeat="t in tiposTenencia" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="myForm.tenencia.$dirty && myForm.tenencia.$error.required">Requerido</label>
                    </div> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label" for="select">Departamento</label>
                        <input type="text" class="form-control" value="Valle del Cauca" disabled="disabled"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label" for="select">Municipio</label>
                        <select ui-select2="{allowClear:true, placeholder:'-'}" name="municipio" ng-model="finca.municipio" ng-required="true">
                            <option></option>
                            <option ng-repeat="m in municipios" value="{{m.id}}">{{m.nombre}}</option>
                        </select>
                        <label class="error" ng-show="myForm.municipio.$dirty && myForm.municipio.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Vereda</label>
                        <input type="text" class="form-control" name="veredaFinca" ng-model="finca.vereda" required />
                        <label class="error" ng-show="myForm.veredaFinca.$dirty && myForm.veredaFinca.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Sector</label>
                        <input type="text" class="form-control" name="sector" ng-model="finca.sector" required />
                        <label class="error" ng-show="myForm.sector.$dirty && myForm.sector.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Área Total</label>
                        <input type="number" class="form-control" name="areaTotal" ng-model="finca.areaTotal" required />
                        <label class="error" ng-show="myForm.areaTotal.$dirty && myForm.areaTotal.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Disponibilidad de servicios p&uacute;blicos</label>
                        <select multiple name="servicios" ng-model="finca.servicios"
                                ui-select2="{multiple:true, allowClear:true, placeholder:'-'}">
                            <option ng-repeat="t in tiposServicio" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <!--span class="help-block" ng-show="myForm.servicios.$dirty && myForm.servicios.$error.required"><label class="error">Requerido</label></span-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Disponibilidad de Vias de Acceso</label><br/>
                        <input bs-switch ng-model="vias.disponibilidad" switch-on="success" switch-off="danger"
                            switch-on-label="SI" switch-off-label="NO" switch-type="checkbox">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="container">
                        <label class="control-label" ng-class="{'text-muted':!vias.disponibilidad}">Estado de las vias de acceso</label>
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'-'}" name="tipoVia" 
                                ng-model="finca.vias.tipo" ng-required="vias.disponibilidad" ng-disabled="!vias.disponibilidad">
                            <option></option>
                            <option ng-repeat="t in tiposVia" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="myForm.tipoVia.$dirty && myForm.tipoVia.$error.required">Requerido</label>
                        
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'-'}" name="estadoVia" 
                                ng-model="finca.vias.estado" ng-required="vias.disponibilidad" ng-disabled="!vias.disponibilidad">
                            <option></option>
                            <option ng-repeat="t in tiposEstadoVia" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="myForm.estadoVia.$dirty && myForm.estadoVia.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
        </div>
        
        <hr/>

        <table class="table table-bordered">
        <thead><tr><th colspan="3">Manejo Programa de Residuos</th></tr></thead>
        <tbody>
            <tr>
                <th style="width:150px; vertical-align:middle">Ordinarios</td>
                <td style="width:100px">
                    <input bs-switch ng-model="residuos.ordinarios.maneja" switch-on="primary" switch-off="warning"
                            switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" />
                </td>
                <td>
                    <input type="text" name="residuosOrdinarios" ng-model="residuos.ordinarios.descripcion" placeholder="Descripción" 
                            ng-required='residuos.ordinarios.maneja' ng-show="residuos.ordinarios.maneja" style="width:100%" />
                    <span class="help-block" ng-show="myForm.residuosOrdinarios.$dirty && myForm.residuosOrdinarios.$error.required">
                        <label class="error">Requerido</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th style="width:150px; vertical-align:middle">Peligrosos</td>
                <td style="width:100px">
                    <input bs-switch ng-model="residuos.peligrosos.maneja" switch-on="primary" switch-off="warning"
                            switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" />
                </td>
                <td>
                    <input type="text" name="residuosPeligrosos" ng-model="residuos.peligrosos.descripcion" placeholder="Descripción" 
                            ng-required='residuos.peligrosos.maneja' ng-show="residuos.peligrosos.maneja" style="width:100%" />
                    <span class="help-block" ng-show="myForm.residuosPeligrosos.$dirty && myForm.residuosPeligrosos.$error.required">
                        <label class="error">Requerido</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th style="width:150px; vertical-align:middle">Otros</td>
                <td style="width:100px">
                    <input bs-switch ng-model="residuos.otros.maneja" switch-on="primary" switch-off="warning"
                            switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" />
                </td>
                <td>
                    <input type="text" name="residuosOtros" class="form-control" ng-model="residuos.otros.descripcion" placeholder="Descripción" 
                            ng-required='residuos.otros.maneja' ng-show="residuos.otros.maneja" style="width:100%" />
                    <span class="help-block" ng-show="myForm.residuosOtros.$dirty && myForm.residuosOtros.$error.required">
                        <label class="error">Requerido</label>
                    </span>
                </td>
            </tr>
        </tbody>
        </table>

        <hr/>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-8">Distancia de la finca a la cabecera municipal</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Kms</span>
                            <input type="number" class="form-control" name="distanciaCabecera" ng-model="finca.distanciaCabecera" ng-required='true' />
                        </div>
                        <span class="help-block" ng-show="myForm.distanciaCabecera.$dirty && myForm.distanciaCabecera.$error.required">
                            <label class="error">Requerido</label>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Medios de transporte</label> <!-- para la realizacion de la actividad productiva y de comercializaci&oacute;n-->
                    <select multiple name="servicios" ng-model="finca.servicios"
                                ui-select2="{multiple:true, allowClear:true, placeholder:'-'}">
                            <option ng-repeat="t in tiposMedioTransporte" value="{{t.id}}">{{t.descripcion}}</option>
                    </select>
                    <span class="help-block"><small>Liste los medios de transporte utilizados para la realizacion de la actividad productiva y de comercializaci&oacute;n</small></span>
                    
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="form-group">
                    <label class="control-label">Forma de Llegar al Predio</label>
                    <textarea name="forma_llegar_predio" id="forma_llegar_predio" class="form-control" rows="4" placeholder="Describa indicaciones para localizar el predio"></textarea>
                </div>
            </div>
        </div>

        <hr/>
                    
        
        <table class="table">
            <thead><tr><th colspan="3">Maquinaria y equipo para la realización de actividades productivas y comercializaci&oacute;n</th></tr></thead>
            <tbody>
                <tr ng-repeat="t in tiposMaquinaria">
                    <td style="width:150px; vertical-align:middle"><strong>{{t.descripcion}}</strong></td>
                    <td style="width:100px">
                        <input bs-switch ng-model="maquinaria[t.id].usa" 
                                switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" switch-size="small">
                    </td>
                    <td><input type="text" class="form-control" name="descripMaquinaria_{{t.id}}" ng-model="maquinaria[t.id].descripcion" 
                                placeholder="Descripción" ng-show="maquinaria[t.id].usa" ng-required="maquinaria[t.id].usa" /></td>
                </tr>
            </tbody>
        </table>
    </div></div><!-- .container and .panel-body -->
</div><!-- panel default -->

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B2. PRODUCTOS AGROPECUARIOS</h4>
        <a href="#" class="minimize"></a>
    </div>

    <div class="panel-body"><div class="container">
        <table class="table table-bordered">
            <thead>
                <tr><th colspan="7">Cultivos con Perspectiva Comercial</th></tr>
                <tr>
                    <th rowspan="2">
                        <button type="button" class="btn btn-info tip" title="Agregar Fila" ng-click="productos.push({})"><i class="i-plus-circle"></i></button><br/>
                        Producto
                    </th>
                    <th rowspan="2">Variedad</th>
                    <th rowspan="2">Semilla</th>
                    <th rowspan="2">Área Cosechada (ha)</th>
                    <th colspan="3">Producción Total (kilos/año)</th>
                </tr>
                <tr>
                    <th>Semestre A</th>
                    <th>Semestre B</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prod in productos">
                    <td>
                        <input type="text" class="form-control" name="nombreProd_{{$index}}" ng-model="prod.nombre" required />
                        <!--label class="error" ng-show="myForm.nombreFinca.$dirty && myForm.nombreFinca.$error.required">Requerido</label-->
                    </td>
                    <td><input type="text" class="form-control" name="variedadProd_{{$index}}" ng-model="prod.nombre" required /></td>
                    <td>
                        <input bs-switch ng-model="prod.semillaCertif" switch-on="success" switch-off="warning"
                                switch-on-label=".&nbsp; Certificada  &nbsp;." switch-off-label="No Certificada" switch-type="checkbox" switch-size="" >

                    </td>
                </tr>

            </tbody>
        </table>


    </div></div><!-- .container and .panel-body -->
</div>


<br/>
<div class="form-actions full">
    <button class="btn btn-lg btn-success pull-right" type="submit">Siguiente<i class="icon16 i-arrow-right-3"></i></button>
</div>

<div class="row" style="height:100px"></div> <!--para evitar que el señalador de "ir arriba" tape el boton siguiente -->

</form></div></div>
{% endraw %}
{% endblock %}