{% extends "base.html.twig" %}

{% block html_head %}
<script src="{{base_url('assets/js/angular/angular.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-animate.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-ui/select2.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-bootstrap-switch.js')}}"></script>


<script type="text/javascript">
    var extern = {
        combos: {{combos | json_encode }}
    };
    var urls = {
        guardar : "{{site_url('ruatb/guardar')}}",
    };

    var count = function(obj) {
        var cnt = 0;
        for(var x in obj)
            if(obj.hasOwnProperty(x))
                cnt++;
        return cnt;
    }
</script>


{% raw %}


<script type="text/javascript">
    var myApp = angular.module('myApp', ['ui.select2', 'frapontillo.bootstrap-switch']);
    
    var RuatBCtrl = function($scope, $http) {
        angular.extend($scope, extern.combos);
        $scope.finca = {
            esFinca:true, 
            nombre:'as', 
            identif_catastral:'ssd',
            tenencia_id:1,
            municipio_id:'',
            vereda:'sdfsdfsf',
            sector:'sdf',
            
            area_total:34,

        };

        if(!$scope.maquinaria) {
            $scope.maquinaria = {};
            for(var i in $scope.tiposMaquinaria)
                $scope.maquinaria[$scope.tiposMaquinaria[i].id]={usa:false};
        }

        $scope.productos = [{}];

        $scope.validate = function(form){   
            for (feild in form) {
                // look at each form input with a name attribute set
                // checking if it is pristine and not a '$' special field
                if (feild[0] != '$' && feild!='subForm' && form[feild].$pristine) {
                    //console.log(typeof($scope.myForm[feild]));
                    form[feild].$setViewValue( form[feild].$modelValue );
                }
            }
            return $scope.myForm.$valid;
        };

        $scope.submit = function() {
            if(!$scope.validate($scope.myForm)) {
                alert('Revise errores');
                return;
            }

            //alert('Guardar!');
            var data = {
                finca: $scope.finca,
                productos: $scope.productos,
                maquinaria: $scope.maquinaria,
                residuos: $scope.residuos,
                vias: $scope.vias,
            };

            $http.post(urls.guardar, data).success(function(response,status) {
                console.log(response);
            });


            //alert("Guardar!");
        };
    }
</script>
{% endraw %}
{% endblock %}

{% block titulo %} <h1><i class="icon20 i-home-11"></i> RUAT &#187; Datos Finca </h1> {% endblock %}


{% block contenido %}
{% raw %}

<div ng-app="myApp"><div ng-controller="RuatBCtrl"><form name="myForm" ng-submit="submit()" novalidate class="form-horizontal css-form">
<!--{{myForm.$error|json}}-->

<!--<pre>
{{finca.servicios|json}}
</pre>-->

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B1. DATOS GENERALES DE LA FINCA</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body"><div class="container">
        <!-- Parte B.1: Formato RUAT -->
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label  ">Finca</label><br/>
                        
                        <input bs-switch ng-model="finca.esFinca" switch-on="primary"
                                switch-on-label="SI" switch-off-label="NO" switch-active="false">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Nombre de la finca</label>
                        <input type="text" class="form-control" name="nombreFinca" ng-model="finca.nombre" required />
                        <label class="error" ng-show="myForm.nombreFinca.$dirty && myForm.nombreFinca.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                    
                        <label class="control-label">Identificaci&oacute;n Catastral</label>
                        <input type="text" class="form-control" name="identif_catastral" ng-model="finca.identif_catastral" required />
                        <label class="error" ng-show="myForm.identif_catastral.$dirty && myForm.identif_catastral.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label" for="select">Tenencia</label>
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'-'}" name="tenencia" ng-model="finca.tenencia_id" ng-required="true">
                            <option></option>
                            <option ng-repeat="t in tiposTenencia" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="myForm.tenencia.$dirty && myForm.tenencia.$error.required">Requerido</label>
                    </div> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label" for="select">Departamento</label>
                        <input type="text" class="form-control" value="Valle del Cauca" disabled="disabled"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label" for="select">Municipio</label>
                        <select ui-select2="{allowClear:true, placeholder:'-'}" name="municipio" ng-model="finca.municipio_id" ng-required="true">
                            <option></option>
                            <option ng-repeat="m in municipios" value="{{m.id}}">{{m.nombre}}</option>
                        </select>
                        <label class="error" ng-show="myForm.municipio.$dirty && myForm.municipio.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Vereda</label>
                        <input type="text" class="form-control" name="veredaFinca" ng-model="finca.vereda" required />
                        <label class="error" ng-show="myForm.veredaFinca.$dirty && myForm.veredaFinca.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Sector</label>
                        <input type="text" class="form-control" name="sector" ng-model="finca.sector" required />
                        <label class="error" ng-show="myForm.sector.$dirty && myForm.sector.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Área Total</label>
                        <input type="number" class="form-control" name="areaTotal" ng-model="finca.area_total" required />
                        <label class="error" ng-show="myForm.areaTotal.$dirty && myForm.areaTotal.$error.required">Requerido valor numérico</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Disponibilidad de servicios p&uacute;blicos</label>
                        <select multiple name="servicios" ng-model="finca_servicio.servicio_id"
                                ui-select2="{multiple:true, allowClear:true, placeholder:'-'}">
                            <option ng-repeat="t in tiposServicio" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <!--span class="help-block" ng-show="myForm.servicios.$dirty && myForm.servicios.$error.required"><label class="error">Requerido</label></span-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Disponibilidad de Vias de Acceso</label><br/>
                        <input bs-switch ng-model="vias.disponibilidad" switch-on="primary" switch-off="warning"
                            switch-on-label="SI" switch-off-label="NO" switch-type="checkbox">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="container">
                        <label class="control-label" ng-class="{'text-muted':!vias.disponibilidad}">Estado de las vias de acceso</label>
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'-'}" name="tipoVia" 
                                ng-model="finca.via_tipo_id" ng-required="vias.disponibilidad" ng-disabled="!vias.disponibilidad">
                            <option></option>
                            <option ng-repeat="t in tiposVia" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="myForm.tipoVia.$dirty && myForm.tipoVia.$error.required">Requerido</label>
                        
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'-'}" name="estadoVia" 
                                ng-model="finca.via_estado_id" ng-required="vias.disponibilidad" ng-disabled="!vias.disponibilidad">
                            <option></option>
                            <option ng-repeat="t in tiposEstadoVia" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="myForm.estadoVia.$dirty && myForm.estadoVia.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
        </div>
        
        <hr/>

        <table class="table table-bordered">
        <thead><tr><th colspan="3">Manejo Programa de Residuos</th></tr></thead>
        <tbody>
            <tr>
                <th style="width:150px; vertical-align:middle">Ordinarios</td>
                <td style="width:100px">
                    <input bs-switch ng-model="residuos.ordinarios.maneja" switch-on="primary" switch-off="warning"
                            switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" />
                </td>
                <td>
                    <input type="text" name="residuosOrdinarios" ng-model="finca.residuos_ordinarios" placeholder="Descripción" 
                            ng-required='residuos.ordinarios.maneja' ng-show="residuos.ordinarios.maneja" style="width:100%" />
                    <span class="help-block" ng-show="myForm.residuosOrdinarios.$dirty && myForm.residuosOrdinarios.$error.required">
                        <label class="error">Requerido</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th style="width:150px; vertical-align:middle">Peligrosos</td>
                <td style="width:100px">
                    <input bs-switch ng-model="residuos.peligrosos.maneja" switch-on="primary" switch-off="warning"
                            switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" />
                </td>
                <td>
                    <input type="text" name="residuosPeligrosos" ng-model="finca.residuos_peligrosos" placeholder="Descripción" 
                            ng-required='residuos.peligrosos.maneja' ng-show="residuos.peligrosos.maneja" style="width:100%" />
                    <span class="help-block" ng-show="myForm.residuosPeligrosos.$dirty && myForm.residuosPeligrosos.$error.required">
                        <label class="error">Requerido</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th style="width:150px; vertical-align:middle">Otros</td>
                <td style="width:100px">
                    <input bs-switch ng-model="residuos.otros.maneja" switch-on="primary" switch-off="warning"
                            switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" />
                </td>
                <td>
                    <input type="text" name="residuosOtros" class="form-control" ng-model="finca.residuos_otro" placeholder="Descripción" 
                            ng-required='residuos.otros.maneja' ng-show="residuos.otros.maneja" style="width:100%" />
                    <span class="help-block" ng-show="myForm.residuosOtros.$dirty && myForm.residuosOtros.$error.required">
                        <label class="error">Requerido</label>
                    </span>
                </td>
            </tr>
        </tbody>
        </table>

        <hr/>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-8">Distancia de la finca a la cabecera municipal</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Kms</span>
                            <input type="number" class="form-control" name="dist_cabecera_mpal" ng-model="finca.dist_cabecera_mpal" ng-required='true' />
                        </div>
                        <span class="help-block" ng-show="myForm.dist_cabecera_mpal.$dirty && myForm.dist_cabecera_mpal.$error.required">
                            <label class="error">Requerido</label>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Medios de transporte</label> <!-- para la realizacion de la actividad productiva y de comercializaci&oacute;n-->
                    <select multiple name="mediosTransporte" ng-model="finca_transporte.transporte_id"
                                ui-select2="{multiple:true, allowClear:true, placeholder:'-'}">
                            <option ng-repeat="t in tiposMedioTransporte" value="{{t.id}}">{{t.descripcion}}</option>
                    </select>
                    <span class="help-block"><small>Liste los medios de transporte utilizados para la realizacion de la actividad productiva y de comercializaci&oacute;n</small></span>
                    
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="form-group">
                    <label class="control-label">Forma de Llegar al Predio</label>
                    <textarea ng-model="finca.forma_llegar" name="forma_llegar_predio" id="forma_llegar_predio" class="form-control" rows="4" placeholder="Describa indicaciones para localizar el predio" required></textarea>
                     <label class="error" ng-show="myForm.forma_llegar_predio.$dirty && myForm.forma_llegar_predio.$error.required">Requerido</label>
                </div>
            </div>
        </div>

        <hr/>
                    
        <table class="table">
            <thead><tr><th colspan="3">Maquinaria y equipo para la realización de actividades productivas y comercializaci&oacute;n</th></tr></thead>
            <tbody>
                <tr ng-repeat="t in tiposMaquinaria" ng-form="subForm">

                    <td style="width:150px; vertical-align:middle"><strong>{{t.descripcion}}</strong></td>
                    <td style="width:100px">
                        <input bs-switch ng-model="maquinaria[t.id].usa" switch-on="primary" switch-off="warning" 
                                switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" switch-size="small" />
                    </td>
                    <td><input type="text" class="form-control" name="descripMaquinaria" ng-model="maquinaria[t.id].descripcion" 
                                placeholder="Descripción" ng-show="maquinaria[t.id].usa" ng-required="maquinaria[t.id].usa" />
                                      <label class="error" 
          ng-show="subForm.descripMaquinaria.$dirty &&    
          subForm.descripMaquinaria.$error.required">Requerido</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div></div><!-- .container and .panel-body -->
</div><!-- panel default -->

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B2. PRODUCTOS AGROPECUARIOS</h4>
        <a href="#" class="minimize"></a>
    </div>

    <div class="panel-body"><div class="">
        <table class="table table-bordered">
            <thead>
                <tr><th colspan="8">Cultivos con Perspectiva Comercial</th></tr>
                <tr>
                    <th rowspan="2">
                        <button type="button" class="btn btn-info tip" title="Agregar Fila" ng-click="productos.push({})"><i class="i-plus-circle"></i></button><br/>
                    </th>
                    <th rowspan="2">
                        Producto
                    </th>
                    <th rowspan="2">Variedad</th>
                    <th rowspan="2">Semilla</th>
                    <th rowspan="2">Área Cosechada</th>
                    <th colspan="3">Producción Total (kilos/año)</th>
                </tr>
                <tr>
                    <th>Semestre A</th>
                    <th>Semestre B</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prod in productos" ng-form="subForm">
                    <th><button type="button" ng-click="productos.splice($index,1)" class="btn btn-danger btn-xs" title="Remover fila">-</button> {{$index+1}} </th>
                    <td>
                        <input type="text" class="form-control" name="nombreProd" ng-model="prod.nombre" required />
                        <label class="error" ng-show="subForm.nombreProd.$error.required">Requerido</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="variedadProd" ng-model="prod.variedad" required />
                        <label class="error" ng-show="subForm.variedadProd.$error.required">Requerido</label>
                    </td>
                    <td>
                        <input bs-switch ng-model="prod.semilla_certificada" switch-on="primary" switch-off="warning"
                                switch-on-label=".&nbsp; Certificada  &nbsp;." switch-off-label="No Certificada">
                    </td>
                    <td>
                        <div class="input-group" style="width:100px">
                            <span class="input-group-addon">ha</span>
                            <input type="number" class="form-control" name="areaCosechada" ng-model="prod.area_cosechada " required /></td>
                        </div>
                        <label class="error" ng-show="subForm.areaCosechada.$error.required">Requerido</label>
                    </td>
                    <td>
                        <div class="input-group" style="width:100px">
                            <span class="input-group-addon">Kg</span>
                            <input type="number" class="form-control" name="semA" ng-model="prod.prod_semestre_a" required/></td>
                        </div>
                        <label class="error" ng-show="subForm.semA.$error.required">Requerido</label>
                        <!--label class="error" ng-show="subForm.semA.$dirty && subForm.semA.$error.required">Requerido</label-->
                    </td>
                    <td>
                        <div class="input-group" style="width:100px">
                            <span class="input-group-addon">Kg</span>
                            <input type="number" class="form-control" name="semB" ng-model="prod.prod_semestre_b" required/></td>
                        </div>
                        <label class="error" ng-show="subForm.semB.$error.required">Requerido</label>
                        <!--label class="error" ng-show="subForm.semB.$dirty && subForm.semB.$error.required">Requerido</label-->
                    </td>
                    <th>
                        {{prod.prod_semestre_a + prod.prod_semestre_b}} Kg
                    </td>
                </tr>
            </tbody>
        </table>
        
        <br/>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2" style="min-width:70px"></th>
                    <th colspan="2" width="15%">Costos ($/ha)</th>
                    <th rowspan="2" colspan="2" width="15%">Producción destinada al mercado</th>
                    <th rowspan="2" width="15%">Sitio venta</th>
                    <th colspan="2" width="55%">A quien le vende</th>
                </tr>
                <tr>
                    <th>Establecimiento</th>
                    <th>Sostenimiento</th>
                    <th width="16%">Tipo</th>
                    <th>Nombre y Apellido</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prod in productos" ng-form="subForm">
                    <th>{{$index+1}}</th>
                    <td>
                        <div class="input-group" style="width:100px">
                            <span class="input-group-addon">$/ha</span>
                            <input type="number" class="form-control" name="costoEstab" ng-model="prod.costo_establecimiento " required/></td>
                        </div>
                        <label class="error" ng-show="subForm.costoEstab.$error.required">Requerido</label>
                    </td>
                    <td>
                        <div class="input-group" style="width:100px">
                            <span class="input-group-addon">$/ha</span>
                            <input type="number" class="form-control" name="costoSost" ng-model="prod.costo_sostenimiento" required/></td>
                        </div>
                        <label class="error" ng-show="subForm.costoSost.$error.required">Requerido</label>
                    </td>
                    <td>
                        <div class="input-group" style="width:100px">
                            <span class="input-group-addon">Kg</span>
                            <input type="number" class="form-control" name="prod_mercado" ng-model="prod.prod_mercado" required/></td>
                        </div>
                        <label class="error" ng-show="subForm.prod_mercado.$error.required">Requerido</label>
                    </td>
                    <td style="vertical-align:middle"> <strong>{{ (prod.prod_mercado*100/(prod.prod_semestre_a +prod.prod_semestre_b)) | number:2}}%</strong></td>
                    <td>
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'Sitio de Venta'}" 
                            name="sitioVenta" ng-model="prod.sitio_venta_id" ng-required="true">
                            <option></option>
                            <option ng-repeat="t in tiposSitioVenta" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="subForm.sitio_venta_id.$dirty && myForm.sitio_venta_id.$error.required">Requerido</label>
                    </td>
                    <td>
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'A quién le vende'}" 
                            name="vende" ng-model="prod.vende_tipo_id" ng-required="true">
                            <option></option>
                            <option ng-repeat="t in tiposVende" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="subForm.vende_tipo_id.$dirty && subForm.vende_tipo_id.$error.required">Requerido</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="vende_nombre" ng-model="prod.vende_nombre" placeholder="Nombre y Apellido" required>
                        <label class="error" ng-show="subForm.vende_nombre.$dirty && subForm.vende_nombre.$error.required">Requerido</label>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <br/>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2" style="min-width:70px"></th>
                    <th rowspan="2" width="150">Precio de Venta Promedio ($/kilos)</th>
                    <th rowspan="2">Forma de Pago</th>
                    <th colspan="2">Subproductos del cultivo</th>
                    <th colspan="3">Pertenencia a Programas de Asistencia Técnica</th>
                </tr>
                <tr>
                    <th>Cúal</th>
                    <th>Uso</th>
                    <th>SI | NO</th>
                    <th>Programa</th>
                    <th>Entidad</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prod in productos" ng-form="subForm">
                    <th>{{$index+1}}</th>
                    <td>
                        <div class="input-group" style="width:120px">
                            <span class="input-group-addon">$/Kg</span>
                            <input type="number" class="form-control" name="precioVentaProm" ng-model="prod.precio_promedio" required/>
                        </div>
                        <label class="error" ng-show="subForm.precioVentaProm.$error.required">Requerido</label>
                    </td>
                    <td>
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'Forma de Pago'}" 
                            name="formaPago" ng-model="prod.forma_pago_id" ng-required="true">
                            <option></option>
                            <option ng-repeat="t in tiposFormaPago" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="subForm.forma_pago_id.$dirty && subForm.forma_pago_id.$error.required">Requerido</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="subproducto" ng-model="prod.subproducto" placeholder="Subproducto" required>
                        <label class="error" ng-show="subForm.subproducto.$dirty && subForm.subproducto.$error.required">Requerido</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="subproducto_uso" ng-model="prod.subproducto_uso" placeholder="Uso" required>
                        <label class="error" ng-show="subForm.subproducto_uso.$dirty && subForm.subproducto_uso.$error.required">Requerido</label>
                    </td>
                    <td style="text-align:center">
                        <input bs-switch ng-model="prod.perteneceProgAsistencia" switch-on="info" switch-off="warning" switch-size="small"
                                switch-on-label="SI" switch-off-label="NO">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="programa" ng-model="prod.asistencia_programa" ng-required="prod.perteneceProgAsistencia" 
                                ng-disabled="!prod.perteneceProgAsistencia" placeholder="{{prod.perteneceProgAsistencia?'Programa':''}}" />
                        <label class="error" ng-show="subForm.programa.$error.required">Requerido</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="entidad" ng-model="prod.asistencia_entidad" ng-required="prod.perteneceProgAsistencia"
                                ng-disabled="!prod.perteneceProgAsistencia" placeholder="{{prod.perteneceProgAsistencia?'Entidad':''}}" />
                        <label class="error" ng-show="subForm.entidad.$error.required">Requerido</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div></div><!-- .container and .panel-body -->
</div>

<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>Georreferenciación del Predio de Ubicación del Cultivo. <small>Escribir las coordenadas en formato decimal</small></h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body"><div class="container">
        <span></span>

        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">LATITUD NORTE (N)</label>
                        <input type="number" class="form-control" name="latitud" ng-model="finca.geo_latitud" required/>
                        <label class="error" ng-show="myForm.latitud.$dirty && myForm.latitud.$error.required">Requerido un valor numérico</label>
                    </td>
                    </div> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">LONGITUD OCCIDENTE (W)</label>
                        <input type="number" class="form-control" name="longitud" ng-model="finca.geo_longitud" required/>
                        <label class="error" ng-show="myForm.longitud.$dirty && myForm.longitud.$error.required">Requerido un valor numérico</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">ALTURA SOBRE EL NIVEL DEL MAR</label>
                        <input type="number" class="form-control" name="altura" ng-model="finca.geo_altura" required/>
                        <label class="error" ng-show="myForm.altura.$dirty && myForm.altura.$error.required">Requerido un valor numérico</label>
                    </div>
                </div>
            </div>
        </div>
        <!--div class="page-header">
                <h4>DISEÑO DEL PREDIO</h4>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-5">Subir Archivo</label>
                    <div class="col-sm-7">
                        {{my_input('subir_archivo',{'type':'file'})}}
                    </div>
                </div> 
            </div>
        </div-->
    </div></div><!-- .container and .panel-body -->
</div>


<br/>
<div class="form-actions full">
    <button class="btn btn-lg btn-success pull-right" type="submit">Siguiente<i class="icon16 i-arrow-right-3"></i></button>
</div>

<div class="row" style="height:100px"></div> <!--para evitar que el señalador de "ir arriba" tape el boton siguiente -->

</form></div></div>
{% endraw %}
{% endblock %}