{% extends "base.html.twig" %}

{% block html_head %}
<script src="{{base_url('assets/js/plugins/forms/jquery.price_format.min.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-animate.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-ui/select2.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-bootstrap-switch.js')}}"></script>


<script type="text/javascript">

    var extern = {
        combos: {{combos | json_encode }},
    };
    var urls = {
        guardar : "{{site_url(['ruatb','guardar',ruat_id])}}",
        anterior : "{{site_url('ruata/index')}}",
        siguiente : "{{site_url('ruatc/index')}}",
    };

    {% if scope %}
        extern.scope = {{scope | json_encode }};
    {% else %}
        extern.scope = {
            finca: {ruat_id:{{ruat_id}}  },
            servicios: [],
            mediosTransporte: [],
            productos: [{}],
            maquinaria: {},
            manejaResidsOrdinarios: false,
            manejaResidsPeligrosos: false,
            manejaResidsOtros:      false,
        }
    {% endif %}
</script>


{% raw %}
<style>
    input[money] {
        text-align:right;
    }
</style>


<script type="text/javascript">
    var myApp = angular.module('myApp', ['ui.select2', 'frapontillo.bootstrap-switch']);
    
    myApp.directive('capitalize', function() {
       return {
         require: 'ngModel',
         link: function(scope, element, attrs, modelCtrl) {
            var capitalize = function(inputValue) {
               if(typeof inputValue !== "string") return inputValue;
               var capitalized = inputValue.toUpperCase();
               if(capitalized !== inputValue) {
                  modelCtrl.$setViewValue(capitalized);
                  modelCtrl.$render();
                }         
                return capitalized;
             }
             modelCtrl.$parsers.push(capitalize);
             capitalize(scope[attrs.ngModel]);  // capitalize initial value
         }
       };
    });

    myApp.directive('money', ['$filter', function ($filter) {
        var replaceAll = function(value, a,b) {
            while(true) {
                var newval = value.replace(a,b);
                if(newval==value) break;
                value = newval;
            }
            return value;
        };

        return {
            require: '?ngModel',
            link: function (scope, elem, attrs, ctrl) {
                if (!ctrl) return;

                
                ctrl.$formatters.unshift(function (a) {
                    var val = $filter('number')(ctrl.$modelValue,attrs.decimals);
                    //swap comma and dot
                    val = replaceAll(val, ".","|");  
                    val = replaceAll(val, ",",".");
                    val = replaceAll(val, "|",",");
                    return val;
                });

                var decimals = parseInt(attrs.decimals || 0);

                ctrl.$parsers.unshift(function (viewValue) {
                    elem.priceFormat({
                        centsLimit:decimals,
                        allowNegative:false,
                        prefix: '',
                        centsSeparator: ',',
                        thousandsSeparator: '.',
                    });
                    var val = replaceAll(elem[0].value,".","").replace(",",".");
                    if(val.length) return parseFloat(val);
                    else return '';
                });
            }
        };
    }]);

    var RuatBCtrl = function($scope, $http, $timeout) {
        angular.extend($scope, extern.combos);
        angular.extend($scope,extern.scope);
        
        $timeout(function(){$scope.myForm.$setPristine()},1000);

        $scope.postLoad = function() {
            $scope.finca.esFinca = true;
            $scope.manejaResidsOrdinarios = !!$scope.finca.residuos_ordinarios;
            $scope.manejaResidsPeligrosos = !!$scope.finca.residuos_peligrosos;
            $scope.manejaResidsOtros      = !!$scope.finca.residuos_otro;

            $scope.tiposMaquinaria.forEach(function(t) {
                if(!$scope.maquinaria[""+t.id]) $scope.maquinaria[""+t.id] = ({usa:false});
            });
        }

        $scope.postLoad();
        
        $scope.validate = function(form) {
            for (feild in form) {
                if (feild[0] != '$' && feild!='subForm' && form[feild].$pristine) {
                    form[feild].$setViewValue( form[feild].$modelValue );
                }
            }
            return $scope.myForm.$valid;
        };


        $scope.submit = function() {
            if(!$scope.validate($scope.myForm)) {
                notif({type:'error', text:'Formulario Incompleto. <br/> Verifique los campos requeridos'});
                return;
            }

            var data = {
                finca: $scope.finca,
                servicios: $scope.servicios,
                mediosTransporte: $scope.mediosTransporte,
                productos: $scope.productos,
                maquinaria: $scope.maquinaria,
            };

            if(!$scope.manejaResidsOrdinarios) data.finca.residuos_ordinarios=null;
            if(!$scope.manejaResidsPeligrosos) data.finca.residuos_peligrosos=null;
            if(!$scope.manejaResidsOtros)      data.finca.residuos_otro=null;

            $http.post(urls.guardar, data).success(function(response,status) {
                if(response.success!==undefined) {
                    notif(response.message);
                    if(response.success) {
                        angular.extend($scope, response.scope);
                        //$scope.postLoad();
                        $scope.siguiente();
                    }
                }
                else {
                    alert("Error en comunicacion con el servidor. Intente nuevamente.");
                }
            });


        };

        $scope.anterior = function() {
            window.location = (urls.anterior+"/"+$scope.finca.ruat_id);
        }

        $scope.siguiente = function() {
            window.location = (urls.siguiente+"/"+$scope.finca.ruat_id);
        }
    }
</script>
{% endraw %}
{% endblock %}

{% block titulo %} <h1><i class="icon20 i-home-11"></i> RUAT &#187; Datos Finca </h1> {% endblock %}


{% block contenido %}

<h3>{{productor.nombre_completo}} <small>{{productor.tipo_documento}}: {{productor.numero_documento}}</small></h3>

{% raw %}

<div ng-app="myApp"><div ng-controller="RuatBCtrl"><form name="myForm" ng-submit="submit()" novalidate class="form-horizontal css-form">

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B1. DATOS GENERALES DE LA FINCA</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body"><div class="container">
        <!-- Parte B.1: Formato RUAT -->
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label  ">Finca</label><br/>
                        
                        <input bs-switch ng-model="finca.esFinca" switch-on="primary"
                                switch-on-label="SI" switch-off-label="NO" switch-active="false">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Nombre de la finca</label>
                        <input type="text" capitalize class="form-control" name="nombreFinca" ng-model="finca.nombre" required />
                        <label class="error" ng-show="myForm.nombreFinca.$dirty && myForm.nombreFinca.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Identificaci&oacute;n Catastral</label>
                        <input type="text" capitalize class="form-control" name="identif_catastral" ng-model="finca.identif_catastral" />
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label" for="select">Tenencia</label>
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'-'}" name="tenencia" ng-model="finca.tenencia_id" ng-required="true">
                            <option></option>
                            <option ng-repeat="t in tiposTenencia" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="myForm.tenencia.$dirty && myForm.tenencia.$error.required">Requerido</label>
                    </div> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label" for="select">Departamento</label>
                        <input type="text" class="form-control" value="Valle del Cauca" disabled="disabled"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label" for="select">Municipio</label>
                        <select ui-select2="{allowClear:true, placeholder:'-'}" name="municipio" ng-model="finca.municipio_id" ng-required="true">
                            <option></option>
                            <option ng-repeat="m in municipios" value="{{m.id}}">{{m.nombre}}</option>
                        </select>
                        <label class="error" ng-show="myForm.municipio.$dirty && myForm.municipio.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Vereda</label>
                        <input type="text" capitalize class="form-control" name="veredaFinca" ng-model="finca.vereda" />
                        <!--label class="error" ng-show="myForm.veredaFinca.$dirty && myForm.veredaFinca.$error.required">Requerido</label-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Sector</label>
                        <input type="text" capitalize class="form-control" name="sector" ng-model="finca.sector" />
                        <!--label class="error" ng-show="myForm.sector.$dirty && myForm.sector.$error.required">Requerido</label-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Área Total</label>
                        <div class="input-group">
                            <span class="input-group-addon">ha</span>
                            <input type="text" money decimals="2" class="form-control" step="0.01" min="0" max="1000000000.99" name="areaTotal" ng-model="finca.area_total" required />
                        </div>
                        <label class="error" ng-show="myForm.areaTotal.$dirty && myForm.areaTotal.$error.required">Requerido valor numérico</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Disponibilidad de servicios p&uacute;blicos</label>
                        <select multiple name="servicios" ng-model="servicios"
                                ui-select2="{multiple:true, allowClear:true, placeholder:'-'}">
                            <option ng-repeat="t in tiposServicio" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <!--span class="help-block" ng-show="myForm.servicios.$dirty && myForm.servicios.$error.required"><label class="error">Requerido</label></span-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">Disponibilidad de Vias de Acceso</label><br/>
                        <input bs-switch ng-model="finca.via_disponibilidad" switch-on="primary" switch-off="warning"
                            switch-on-label="SI" switch-off-label="NO">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="container">
                        <label class="control-label" ng-class="{'text-muted':!finca.via_disponibilidad}">Estado de las vias de acceso</label>
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'-'}" name="tipoVia" 
                                ng-model="finca.via_tipo_id" ng-required="finca.via_disponibilidad" ng-disabled="!finca.via_disponibilidad">
                            <option></option>
                            <option ng-repeat="t in tiposVia" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="myForm.tipoVia.$dirty && myForm.tipoVia.$error.required">Requerido</label>
                        
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'-'}" name="estadoVia" 
                                ng-model="finca.via_estado_id" ng-required="finca.via_disponibilidad" ng-disabled="!finca.via_disponibilidad">
                            <option></option>
                            <option ng-repeat="t in tiposEstadoVia" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="myForm.estadoVia.$dirty && myForm.estadoVia.$error.required">Requerido</label>
                    </div>
                </div>
            </div>
        </div>
        
        <hr/>

        <table class="table table-bordered">
        <thead><tr><th colspan="3">Manejo Programa de Residuos</th></tr></thead>
        <tbody>
            <tr>
                <th style="width:150px; vertical-align:middle">Ordinarios</td>
                <td style="width:100px">
                    <input bs-switch ng-model="manejaResidsOrdinarios" switch-on="primary" switch-off="warning"
                            switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" />

                </td>
                <td>
                    <input type="text" capitalize name="residuosOrdinarios" ng-model="finca.residuos_ordinarios" placeholder="Descripción" 
                            ng-required='manejaResidsOrdinarios' ng-show="manejaResidsOrdinarios" style="width:100%" />
                    <span class="help-block" ng-show="myForm.residuosOrdinarios.$dirty && myForm.residuosOrdinarios.$error.required">
                        <label class="error">Requerido</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th style="width:150px; vertical-align:middle">Peligrosos</td>
                <td style="width:100px">
                    <input bs-switch ng-model="manejaResidsPeligrosos" switch-on="primary" switch-off="warning"
                            switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" />
                </td>
                <td>
                    <input type="text" capitalize name="residuosPeligrosos" ng-model="finca.residuos_peligrosos" placeholder="Descripción" 
                            ng-required='manejaResidsPeligrosos' ng-show="manejaResidsPeligrosos" style="width:100%" />
                    <span class="help-block" ng-show="myForm.residuosPeligrosos.$dirty && myForm.residuosPeligrosos.$error.required">
                        <label class="error">Requerido</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th style="width:150px; vertical-align:middle">Otros</td>
                <td style="width:100px">
                    <input bs-switch ng-model="manejaResidsOtros" switch-on="primary" switch-off="warning"
                            switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" />
                </td>
                <td>
                    <input type="text" capitalize name="residuosOtros" class="form-control" ng-model="finca.residuos_otro" placeholder="Descripción" ng-required='manejaResidsOtros' ng-show="manejaResidsOtros" style="width:100%" />
                    <span class="help-block" ng-show="myForm.residuosOtros.$dirty && myForm.residuosOtros.$error.required">
                        <label class="error">Requerido</label>
                    </span>
                </td>
            </tr>
        </tbody>
        </table>

        <hr/>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-8">Distancia de la finca a la cabecera municipal</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Kms</span>
                            <input type="text" money decimals="2" class="form-control" min="0" max="1000000000" name="dist_cabecera_mpal" ng-model="finca.dist_cabecera_mpal" ng-required='true' />
                        </div>
                        <span class="help-block" ng-show="myForm.dist_cabecera_mpal.$dirty && myForm.dist_cabecera_mpal.$error.required">
                            <label class="error">Requerido</label>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Medios de transporte</label> <!-- para la realizacion de la actividad productiva y de comercializaci&oacute;n-->
                    <select multiple name="mediosTransporte" ng-model="mediosTransporte"
                                ui-select2="{multiple:true, allowClear:true, placeholder:'-'}">
                            <option ng-repeat="t in tiposMedioTransporte" value="{{t.id}}">{{t.descripcion}}</option>
                    </select>
                    <span class="help-block"><small>Liste los medios de transporte utilizados para la realizacion de la actividad productiva y de comercializaci&oacute;n</small></span>
                    
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="form-group">
                    <label class="control-label">Forma de Llegar al Predio</label>
                    <textarea ng-model="finca.forma_llegar" capitalize name="forma_llegar_predio" id="forma_llegar_predio" class="form-control" rows="4" placeholder="Describa indicaciones para localizar el predio" required></textarea>
                     <label class="error" ng-show="myForm.forma_llegar_predio.$dirty && myForm.forma_llegar_predio.$error.required">Requerido</label>
                </div>
            </div>
        </div>

        <hr/>
                    
        <table class="table">
            <thead><tr><th colspan="3">Maquinaria y equipo para la realización de actividades productivas y comercializaci&oacute;n</th></tr></thead>
            <tbody>
                <tr ng-repeat="t in tiposMaquinaria" ng-form="subForm">

                    <td style="width:150px; vertical-align:middle"><strong>{{t.descripcion}}</strong></td>
                    <td style="width:100px">
                        <input bs-switch ng-model="maquinaria[t.id].usa" switch-on="primary" switch-off="warning" 
                                switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" switch-size="small" />
                    </td>
                    <td><input type="text" capitalize class="form-control" name="descripMaquinaria" ng-model="maquinaria[t.id].descripcion" placeholder="Descripción" ng-show="maquinaria[t.id].usa" ng-required="maquinaria[t.id].usa" />
                        <label class="error" ng-show="subForm.descripMaquinaria.$dirty && subForm.descripMaquinaria.$error.required">Requerido</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div></div><!-- .container and .panel-body -->
</div><!-- panel default -->

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B2. PRODUCTOS AGROPECUARIOS</h4>
        <a href="#" class="minimize"></a>
    </div>
    
    <div class="panel-body"><div class="">
        <table class="table table-bordered">
            <thead>
                <tr><th colspan="8">Cultivos con Perspectiva Comercial</th></tr>
                <tr>
                    <th rowspan="2">
                        <button type="button" class="btn btn-info tip" title="Agregar Fila" ng-click="productos.push({})"><i class="i-plus-circle"></i></button><br/>
                    </th>
                    <th rowspan="2">
                        Producto
                    </th>
                    <th rowspan="2">Variedad</th>
                    <th rowspan="2">Semilla</th>
                    <th rowspan="2">Área Cosechada</th>
                    <th colspan="3">Producción Total (kilos/año)</th>
                </tr>
                <tr>
                    <th>Semestre A</th>
                    <th>Semestre B</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prod in productos" ng-form="subForm">
                    <th><button type="button" ng-click="productos.splice($index,1)" class="btn btn-danger btn-xs" title="Remover fila">-</button> {{$index+1}}
                    </th>
                    <td>
                        <input type="text" capitalize class="form-control" name="nombreProd" ng-model="prod.nombre" required />
                        <label class="error" ng-show="subForm.nombreProd.$error.required">Requerido</label>
                    </td>
                    <td>
                        <input type="text" capitalize class="form-control" name="variedadProd" ng-model="prod.variedad" />
                    </td>
                    <td>
                        <input bs-switch ng-model="prod.semilla_certificada" switch-on="primary" switch-off="warning"
                                switch-on-label=".&nbsp; Certificada  &nbsp;." switch-off-label="No Certificada">
                    </td>
                    <td>
                        <div class="input-group" style="width:100px">
                            <span class="input-group-addon">ha</span>

                            <input type="number" class="form-control" step="0.01" min="0" max="100000000000.99" style="min-width:90px" name="areaCosechada" ng-model="prod.area_cosechada " required />
			    
                        </div>
			             <label class="error" ng-show="subForm.areaCosechada.$error.required">Requerido</label>
                        
                    </td>
                    <td>
                        <div class="input-group" style="width:100px">
                            <span class="input-group-addon">Kg</span>
                            <input type="text" money class="form-control" min="0" max="100000000000"  name="semA" style="min-width:100px" ng-model="prod.prod_semestre_a" required/>
			</div>
                        <label class="error" ng-show="subForm.semA.$error.required">Requerido</label>
                        <!--label class="error" ng-show="subForm.semA.$dirty && subForm.semA.$error.required">Requerido</label-->
                    </td>
                    <td>
                        <div class="input-group" style="width:100px">
                            <span class="input-group-addon">Kg</span>
                            <input type="text" money class="form-control"  min="0" max="100000000000" name="semB" style="min-width:10   0px" ng-model="prod.prod_semestre_b" required/>
                        </div>
                        <label class="error" ng-show="subForm.semB.$error.required">Requerido</label>
                        <!--label class="error" ng-show="subForm.semB.$dirty && subForm.semB.$error.required">Requerido</label-->
                    </td>
                    <th>
                        {{prod.prod_semestre_a + prod.prod_semestre_b}} Kg
                    </td>
                </tr>
            </tbody>
        </table>
        
        <br/>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2" style="min-width:70px"></th>
                    <th colspan="2" width="15%">Costos ($/ha)</th>
                    <th rowspan="2" colspan="2" width="15%">Producción destinada al mercado</th>
                    <th rowspan="2" width="15%">Sitio venta</th>
                    <th colspan="2" width="55%">A quien le vende</th>
                </tr>
                <tr>
                    <th>Establecimiento</th>
                    <th>Sostenimiento</th>
                    <th width="16%">Tipo</th>
                    <th>Nombre y Apellido</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prod in productos" ng-form="subForm">
                    <th>{{$index+1}}</th>
                    <td>
                        <div class="input-group" style="width:100px">
                            <span class="input-group-addon">$/ha</span>
                            <input type="text" money class="form-control" min="0" max="1000000000" style="min-width:100px" name="costoEstab" ng-model="prod.costo_establecimiento " required/>
			    
                        </div>
                        <label class="error" ng-show="subForm.costoEstab.$error.required">Requerido</label>
                    </td>
                    <td>
                        <div class="input-group" style="width:100px">
                            <span class="input-group-addon">$/ha</span>
                            <input type="text" money class="form-control" min="0" max="100000000000" style="min-width:100px" name="costoSost" ng-model="prod.costo_sostenimiento" required/>
                        </div>
                        <label class="error" ng-show="subForm.costoSost.$error.required">Requerido</label>
                    </td>
                    <td>
                        <div class="input-group" style="width:100px">
                            <span class="input-group-addon">Kg</span>
                            <input type="text" money class="form-control" name="prod_mercado" style="min-width:100px" ng-model="prod.prod_mercado" required/>
                        </div>
                        <label class="error" ng-show="subForm.prod_mercado.$error.required">Requerido</label>
                    </td>
                    <td style="vertical-align:middle"> <strong>{{ (prod.prod_mercado*100/(prod.prod_semestre_a +prod.prod_semestre_b)) | number:2}}%</strong></td>
                    <td>
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'Sitio de Venta'}" 
                            name="sitioVenta" ng-model="prod.sitio_venta_id" ng-required="true">
                            <option></option>
                            <option ng-repeat="t in tiposSitioVenta" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="subForm.sitioVenta.$error.required">Requerido</label>
                    </td>
                    <td>
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'A quién le vende'}" 
                            name="vende" ng-model="prod.vende_tipo_id" ng-required="true">
                            <option></option>
                            <option ng-repeat="t in tiposVende" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="subForm.vende.$error.required">Requerido</label>
                    </td>
                    <td>
                        <input type="text" capitalize class="form-control" name="vende_nombre" ng-model="prod.vende_nombre" placeholder="Nombre y Apellido">
                    </td>
                </tr>
            </tbody>
        </table>
        
        <br/>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2" style="min-width:70px"></th>
                    <th rowspan="2" width="150">Precio de Venta Promedio ($/kilo)</th>
                    <th rowspan="2">Forma de Pago</th>
                    <th colspan="2">Subproductos del cultivo</th>
                    <th colspan="3">Pertenencia a Programas de Asistencia Técnica</th>
                </tr>
                <tr>
                    <th>Cúal</th>
                    <th>Uso</th>
                    <th>SI | NO</th>
                    <th>Programa</th>
                    <th>Entidad</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prod in productos" ng-form="subForm">
                    <th>{{$index+1}}</th>
                    <td>
                        <div class="input-group" style="width:120px">
                            <span class="input-group-addon">$/Kg</span>
                            <input type="text" money class="form-control" name="precioVentaProm" style="min-width:100px" ng-model="prod.precio_promedio" required/>
                        </div>
                        <label class="error" ng-show="subForm.precioVentaProm.$error.required">Requerido</label>
                    </td>
                    <td>
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'Forma de Pago'}" 
                            name="formaPago" ng-model="prod.forma_pago_id" ng-required="true">
                            <option></option>
                            <option ng-repeat="t in tiposFormaPago" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="subForm.formaPago.$error.required">Requerido</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" capitalize name="subproducto" ng-model="prod.subproducto" placeholder="Subproducto">
                    </td>
                    <td>
                        <input type="text" class="form-control" capitalize name="subproducto_uso" ng-model="prod.subproducto_uso" placeholder="Uso">
                    </td>
                    <td style="text-align:center">
                        <input bs-switch ng-model="prod.perteneceProgAsistencia" switch-on="info" switch-off="warning" switch-size="small" switch-on-label="SI" switch-off-label="NO">
                    </td>
                    <td>
                        <input type="text" class="form-control" capitalize name="programa" ng-model="prod.asistencia_programa" ng-required="prod.perteneceProgAsistencia" 
                                ng-disabled="!prod.perteneceProgAsistencia" placeholder="{{prod.perteneceProgAsistencia?'Programa':''}}" />
                        <label class="error" ng-show="subForm.programa.$error.required">Requerido</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" capitalize name="entidad" ng-model="prod.asistencia_entidad" ng-required="prod.perteneceProgAsistencia" ng-disabled="!prod.perteneceProgAsistencia" placeholder="{{prod.perteneceProgAsistencia?'Entidad':''}}" />
                        <label class="error" ng-show="subForm.entidad.$error.required">Requerido</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div></div><!-- .container and .panel-body -->
</div>

<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>Georreferenciación del Predio de Ubicación del Cultivo. <small>Escribir las coordenadas en formato decimal</small></h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body"><div class="container">
        <span></span>

        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">LATITUD NORTE (N)</label>
                        <input type="text" money decimals="6" class="form-control" name="latitud" ng-model="finca.geo_latitud" />  <!-- ng-pattern="/^[0-9]+.[0-9][0-9][0-9][0-9][0-9][0-9]+$/" -->
                        <!--label class="error" ng-show="myForm.latitud.$dirty && myForm.latitud.$error.pattern">Requerido un valor numérico con mínimo 6 decimales</label-->
                    </td>
                    </div> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">LONGITUD OCCIDENTE (W)</label>
                        <input type="text" money decimals="6" class="form-control" name="longitud" ng-model="finca.geo_longitud" /> <!-- ng-pattern="/^[0-9]+.[0-9][0-9][0-9][0-9][0-9][0-9]+$/" -->
                        <!--label class="error" ng-show="myForm.longitud.$error.pattern">Requerido un valor numérico con mínimo 6 decimales</label-->
                        <!--<label class="error" ng-show="myForm.longitud.$error">Requerido un valor numérico</label-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="form-group">
                        <label class="control-label">ALTURA SOBRE EL NIVEL DEL MAR</label>
                        <input type="text" money  class="form-control" name="altura" ng-model="finca.geo_altura" />
                        <!--<label class="error" ng-show="myForm.altura.$dirty && myForm.altura.$error.required">Requerido un valor numérico</label>-->
                    </div>
                </div>
            </div>
        </div>
        <!--div class="page-header">
                <h4>DISEÑO DEL PREDIO</h4>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-5">Subir Archivo</label>
                    <div class="col-sm-7">
                        {{my_input('subir_archivo',{'type':'file'})}}
                    </div>
                </div> 
            </div>
        </div-->
    </div></div><!-- .container and .panel-body -->
</div>


<br/>
<div class="form-actions full">

    <button ng-disabled="myForm.$dirty"  class="btn btn-lg btn-warning" type="button" ng-click="anterior()"><i class="icon16 i-arrow-first"></i>Anterior</button>
    <!---div class="col-md-4 pull-right">
        <button ng-disabled="myForm.$pristine"  class="btn btn-lg btn-info" type="submit"><i class="i-disk"></i>  Guardar</button>
        
    </div-->
    <button  class="btn btn-lg btn-success pull-right" type="submit">Siguiente<i class="icon16 i-arrow-right"></i></button>
</div>

<div class="row" style="height:100px"></div> <!--para evitar que el señalador de "ir arriba" tape el boton siguiente -->

</form></div></div>
{% endraw %}
{% endblock %}
