{% extends "base.html.twig" %}

{% block html_head %}
<script src="{{base_url('assets/js/angular/angular.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-animate.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-ui/select2.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-bootstrap-switch.js')}}"></script>


<script type="text/javascript">
    var extern = {
        combos: {{combos}}
    };

    var urls = {
        guardar : "{{site_url('ruata/guardar')}}",
        siguiente : "{{site_url('ruatb/index')}}",
    };

    {% if ruat %}
        extern.ruat = {{ruat}};
    {% else %}
        extern.ruat = {
            productor : {
                /*nombre1:'guachu',
                nombre2:'Alan', 
                apellido1:'from',
                apellido2: 'missisipi',
                sexo:'M',
                nivel_educativo_id:'1',
                tipo_documento_id:1,
                numero_documento:102909,
                tipo_productor_id:1,
                renglon_productivo_id:1,
                fecha_nacimiento: '2013-12-20'*/
            },
            contacto : {
                /*celular: 3114005089,
                telefono: 3774121,
                email: 'guachu@openEnglish.com',
                departamento_id: 1,
                municipio_id: 505,
                vereda:'micasita',
                direccion: 'calle con carrera'*/
            },
            economia : {
                usaCredito: false,
                /*ingreso_familiar: 123234,
                personas_dependientes: 3,
                ingreso_agropecuario: 121212,
                usaCredito: true,
                credito_id: 2,
                otro_credito: "algo"*/
            },
            asociacion : {
                cooperativa: {
                    asociado: false,
                    filas: [] /*
                        [{
                        directivo: true,
                        clases: [3, 4],
                        nombre: "una organización",
                        periodicidad_id: 3,
                        directivo: "true",
                        beneficios: [4, 5]
                    }]*/,
                    razones: [], 
                    orgs_apoyan: []
                },
                otroProductor: {
                    asociado: false,
                    /*nombre: "igor",
                    apellido: "pato",
                    vereda: "el laguito",
                    confianza_id: 2*/
                },
                sigue: {
                    asociado: false,
                    /*nombre: "iguana",
                    apellido: "tejado",
                    vereda: "lago verde",
                    confianza_id: 3*/
                }
            },
            
            realizaInnovacion:false,

            innovaciones:[],
        };
    {% endif %}

    
    
</script>


{% raw %}


<script type="text/javascript">
    var myApp = angular.module('myApp', ['ui.select2', 'frapontillo.bootstrap-switch']);

    myApp.directive('buttonsRadio', function() { // http://stackoverflow.com/a/13450409
        return {
            restrict: 'E', scope: { model: '=', options:'='},
            replace:true,
            controller: function($scope) {
                $scope.activate = function(option) {
                    if($scope.model==option) $scope.model=null;
                    else $scope.model=option;
                }
            },
            template: "<div class='btn-group'><button type='button' ng-repeat='t in options' "+
                        "class='btn btn-sm' + ng-class=\"{'active':t.id==model, 'btn-primary':t.id==model, 'btn-default':t.id!=model}\"  "+
                        "ng-click='activate(t.id)'>{{t.descripcion}}</button></div>"
        };
    });

    var RuatACtrl = function($scope, $http, $timeout) {

        angular.extend($scope, extern.combos);
        $scope.descripDocumento = {};
        $scope.tiposDocumento.forEach(function(t) { $scope.descripDocumento[t.id]=t.descripcion; });

        angular.extend($scope, extern.ruat);


        //$scope.$evalAsync();
        //$scope.combos = extern.combos;
        $timeout(function(){$scope.myForm.$setPristine()},100);
        
        $scope.validate = function(form){   
            for (feild in form) {
                if (feild[0] != '$' && feild!='subForm' && form[feild].$pristine) {
                    form[feild].$setViewValue( form[feild].$modelValue );
                }
            }
            return $scope.myForm.$valid;
        };

        $scope.submit = function() {
            var coop = $scope.asociacion.cooperativa;
            console.log("coop=",coop);
            if(coop.asociado) {
                coop.razones = [];
                coop.apoyan = [];
            }
            else {
                coop.filas = [];
            }
            console.log("ahora coop=",coop);

            if(!$scope.validate($scope.myForm)) {
                notif({type:'error', text:'Formulario Incompleto. <br/> Verifique los campos requeridos'});
                return;
            }

            var data = {
                ruat_id : $scope.ruat_id || null,
                productor: $scope.productor,
                contacto : $scope.contacto,
                economia: $scope.economia,
                asociacion: $scope.asociacion,
                innovaciones: $scope.realizaInnovacion?$scope.innovaciones:[]
            };
            


            $http.post(urls.guardar, data).success(function(response,status) {
                //console.log(response);
                if(response.success!==undefined) {
                    notif(response.message);
                    if(response.success)
                        angular.extend($scope, response.scope);
                    $scope.myForm.$setPristine();
                }
                else {
                    alert("Error en comunicacion con el servidor. Intente nuevamente.");
                }
            });
        };

        $scope.siguiente = function() {
            window.location = (urls.siguiente+"/"+$scope.ruat_id);
        }
    };
</script>
{% endraw %}
{% endblock %}

{% block titulo %} <h1><i class="icon20 i-man"></i> RUAT &#187; Datos Personales </h1> {% endblock %}

{% block contenido %}
{% raw %}

<div ng-app="myApp"><div ng-controller="RuatACtrl"><form name="myForm" ng-submit="submit()" novalidate class="form-horizontal css-form">

<h3>
    {{productor.nombre1}} {{productor.nombre2}} {{productor.apellido1}} {{productor.apellido2}} 
    <small>{{descripDocumento[productor.tipo_documento_id]}}: {{productor.numero_documento}}</small>
</h3>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A1. Datos Personales</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container"> 
            <div class="row">
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Primer Nombre</label>
                            <input type="text" class="form-control" name="nombre1" ng-model="productor.nombre1" required />
                            <label class="error" ng-show="myForm.nombre1.$dirty && myForm.nombre1.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Segundo Nombre</label>
                            <input type="text" class="form-control" ng-model="productor.nombre2"  />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Primer Apellido</label>
                            <input type="text" class="form-control" name="apellido1" ng-model="productor.apellido1" required />
                            <label class="error" ng-show="myForm.apellido1.$dirty && myForm.apellido1.$error.required">Requerido</label>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Segundo Apellido</label>
                            <input type="text" class="form-control" ng-model="productor.apellido2"  />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Documento: </label>
                        <div class="col-xs-3" style="padding-right:0px !important">
                            <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'-'}" name="tipo_documento_id" ng-model="productor.tipo_documento_id" ng-required="true">
                                <option></option>
                                <option ng-repeat="t in tiposDocumento" value="{{t.id}}">{{t.descripcion}}</option>
                            </select>
                            <label class="error" ng-show="myForm.tipo_documento_id.$dirty && myForm.tipo_documento_id.$error.required">Requerido</label>
                        </div>
                        <div class="col-xs-6" style="padding-left:0px !important">
                            <input type="text" class="form-control" name="numero_documento" ng-model="productor.numero_documento" required />
                            <span class="help-block" ng-show="myForm.numero_documento.$dirty && myForm.numero_documento.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
                
                <div div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="fecha_nacimiento">Fecha de Nacimiento:</label>
                        <div class="col-sm-6">
                            <div class="input-group date datepicker autostart">
                                <input size="16" name="fecha_nacimiento" ng-model="productor.fecha_nacimiento" value="{{ set_value('fecha_nacimiento') }}" class="form-control" type="text">
                                <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div div class="col-md-4">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Sexo: </label>
                        <div class="col-sm-6">
                            <select ui-select2="{allowClear:true, placeholder:'-', minimumResultsForSearch: -1}" name="sexo" ng-model="productor.sexo" required>
                                <option></option>
                                <option value='M'>Masculino</option>
                                <option value='F'>Femenino</option>
                            </select>
                            <label class="error" ng-show="myForm.sexo.$dirty && myForm.sexo.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>                    
                <div div class="col-md-4">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Nivel Educativo: </label>
                        <div class="col-sm-6">
                            <select  ui-select2="{allowClear:true, placeholder:'-',minimumResultsForSearch: -1}" name="nivel_educativo_id" ng-model="productor.nivel_educativo_id" ng-required="true">
                                <option></option>
                                <option ng-repeat="t in nivelesEducativos" value="{{t.id}}">{{t.descripcion}}</option>
                            </select>
                            <label class="error" ng-show="myForm.nivel_educativo_id.$dirty && myForm.nivel_educativo_id.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div div class="col-md-5">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="focused">Tipo de Productor:</label>
                        <div class="col-sm-7">
                            <select ui-select2="{allowClear:true, placeholder:'-',minimumResultsForSearch: -1}" name="tipoProductor" ng-model="productor.tipo_productor_id" required>
                                <option></option>
                                <option ng-repeat="t in tiposProductor" value="{{t.id}}">{{t.descripcion}}</option>
                            </select>
                            <label class="error" ng-show="myForm.tipoProductor.$dirty && myForm.tipoProductor.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
                <div div class="col-md-7">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="focused">Renglón Productivo:</label>
                        <div class="col-sm-7">
                            <select ui-select2="{allowClear:true, placeholder:'-',minimumResultsForSearch: -1}" name="renglon_productivo_id" ng-model="productor.renglon_productivo_id" ng-required="true">
                                <option></option>
                                <option ng-repeat="t in renglonesProductivos" value="{{t.id}}">{{t.descripcion}}</option>
                            </select>
                            <label class="error" ng-show="myForm.renglon_productivo_id.$dirty && myForm.renglon_productivo_id.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .container -->
    </div><!-- End .panel-body -->

</div><!-- panel default -->
<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A2. Datos de Contacto</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Telefono Fijo</label>
                            <input type="text" class="form-control" name="telefono" ng-model="contacto.telefono" />
                            <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Celular</label>
                            <input type="text" class="form-control" name="celular" ng-model="contacto.celular" />
                            <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Correo Electrónico</label>
                            <input type="email" class="form-control" name="email" ng-model="contacto.email" />
                            <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Debe ser un Email Válido</label></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="focused">Departamento:</label>
                            <select ui-select2="{allowClear:true, placeholder:'-'}" name="departamento" ng-model="contacto.departamento_id" required>
                                <option></option>
                                <option ng-repeat="(key,depto) in departamentos" value="{{key}}">{{depto.nombre}}</option>
                            </select>
                            <label class="error" ng-show="myForm.departamento.$dirty && myForm.departamento.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
                <div div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="focused">Municipio:</label>
                            <select ui-select2="{allowClear:true, placeholder:'-'}" name="municipio" ng-model="contacto.municipio_id" required>
                                <option></option>
                                <option ng-repeat="mun in departamentos[contacto.departamento_id].municipios" value="{{mun.id}}">{{mun.nombre}}</option>
                            </select>
                            <label class="error" ng-show="myForm.municipio.$dirty && myForm.municipio.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
                <div div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="focused">Vereda</label>
                            <input type="text" class="form-control" name="vereda" ng-model="contacto.vereda" />
                            <span class="help-block" ng-show="myForm.vereda.$dirty && myForm.vereda.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="focused">Dirección de Residencia:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="direccion" ng-model="contacto.direccion" required>
                            <label class="error" ng-show="myForm.direccion.$dirty && myForm.direccion.$error.required">Requerido</label>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End .panel-body -->
</div><!-- panel default -->

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A3. Datos Económicos</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label col-sm-6">Ingreso Mensual Familiar </label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control"  min="0" max="100000000" name="ingreso_familiar" ng-model="economia.ingreso_familiar" required/>
                            </div>
                            <label class="error" ng-show="myForm.ingreso_familiar.$dirty && myForm.ingreso_familiar.$error.required">Requerido</label>
                         </div>
                    </div>
                </div>
                <div div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label col-sm-8">Personas a Cargo</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" name="personas_dependientes" ng-model="economia.personas_dependientes" min="0" max="15" required/>
                            </div>
                            <span class="help-block" ng-show="myForm.personas_dependientes.$dirty && myForm.personas_dependientes.$error.required"><label class="error">Requerido</label></span>
                        </div> 
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label col-sm-7">Ingreso de Actividad Agropecuaria</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" min="0" max="100000000" name="ingreso_agropecuario" ng-model="economia.ingreso_agropecuario" required/>
                            </div>
                            <label class="error" ng-show="myForm.ingreso_agropecuario.$dirty && myForm.ingreso_agropecuario.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="col-md-7 control-label">Uso de Crédito Actual</label>
                            <div class="col-md-5">
                                <input bs-switch ng-model="economia.usaCredito" switch-on="primary" switch-off="warning"
                                    switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" switch-size="" switch-animate="true">
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div div class="col-md-5">

                    <div class="form-group">
                        <label class="col-sm-5 control-label" ng-class="{'text-muted':!economia.usaCredito}" for="focused">Procedencia del Crédito:</label>
                        <div class="col-sm-7">
                            <select ui-select2="{allowClear:true, minimumResultsForSearch: -1, placeholder:'-'}" name="procedencia"ng-model="economia.credito_id" ng-disabled="!economia.usaCredito" ng-required="economia.usaCredito">
                                <option></option>
                                <option ng-repeat="t in tiposCredito" value="{{t.id}}">{{t.descripcion}}</option>
                            </select>
                            <label class="error" ng-show="myForm.procedencia.$dirty && myForm.procedencia.$error.required ">Requerido</label>
                        </div>
                    </div>
                </div>
                <div div class="col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control" name="otraProcedencia" ng-model="otro_credito" placeholder="¿Cuál?" 
                                ng-required="economia.usaCredito&& economia.credito_id==7" 
                                ng-show="economia.usaCredito && economia.credito_id==7" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A4. Participación del Usuario en Procesos de Transferencia e Innovación</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="form-group">
                <label class="col-md-7 control-label">¿Realiza Procesos de Innovación?</label>
                <div class="col-md-5">
                    <input bs-switch ng-model="realizaInnovacion" switch-on="primary" switch-off="warning"
                        switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" switch-size="" switch-animate="true">
                </div>
            </div>

            <table class="table table-bordered animate-show-hide" ng-show="realizaInnovacion">
            <thead>
                <tr>
                    <th>Actividad</th>
                    <th colspan="2">Fuente</th>
                    <th>Descripción</th>
                </tr>
                
            </thead>
            <tbody>
                <tr ng-repeat="tipoInn in tiposInnovacion" ng-form="subForm">
                    <td>{{tipoInn.descripcion}}</td>
                    <td>
                        <span ng-init="innovaciones[$index] = innovaciones[$index] ? innovaciones[$index] : {tipo_id:tipoInn.id}"></span>
                        <buttons-radio model="innovaciones[$index].fuente_id" options="fuentesInnovacion" name="fuente" >
                        </buttons-radio>
                    </td>
                    <td>
                        <input type="text" class="form-control" style="width:100px" 
                                placeholder="¿Cual?" name="otra_fuente" ng-model="innovaciones[$index].otra_fuente" ng-show="innovaciones[$index].fuente_id==6" ng-required="innovaciones[$index].fuente_id==6"/>
                        <label class="error" ng-show="subForm.otra_fuente.$error.required">Requerido</label>
                        
                    </td>
                    <td>
                        <input type="text" class="form-control" name="descripcion" ng-model="innovaciones[$index].descripcion"
                            placeholder="{{innovaciones[$index].fuente_id?'Ingrese aqui la Descripción':''}}" ng-required="innovaciones[$index].fuente_id" ng-disabled="!innovaciones[$index].fuente_id" />
                        <label class="error" ng-show="subForm.descripcion.$error.required">Requerido</label>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>

<br/>



<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A5. Asociatividad del Usuario</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="form-group">
                <label class="col-md-7 control-label">Pertenece a Asociaciones, Cooperativas o Agremiaciones</label>
                <div class="col-md-2">
                    <input bs-switch ng-model="asociacion.cooperativa.asociado" switch-on="primary" switch-off="warning"
                        switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" switch-size="" switch-animate="true" />
                </div>
            </div>
            
            <table class="table table-bordered" ng-if="asociacion.cooperativa.asociado" >
            <thead>
                <tr>
                    <th>Clase</th>
                    <th>Organización</th>
                    <th>Beneficio</th>
                    <th>Periodicidad <br/> de Asitencia</th>
                    <th>Labor <br/> que Realiza</th>
                    <th><button type="button" ng-click="asociacion.cooperativa.filas.push({})" class="btn btn-sm btn-primary tip" data-original-title="Agregar Fila"><i class="i-plus-circle"></i></button></th>
                </tr>
            </thead>
                <tr ng-repeat="fila in asociacion.cooperativa.filas" ng-form="subForm">
                    <td>
                        <select multiple name="clase" ng-required="asociacion.cooperativa.asociado" ng-model="fila.clases" style="min-width:100px"
                                ui-select2="{minimumResultsForSearch: -1, multiple:true, allowClear:true, placeholder:'Clases de Organización'}">
                            <option ng-repeat="t in clasesOrganizaciones" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                         <span class="help-block" ng-show="subForm.clase.$error.required"><label class="error">Requerido</label></span>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="nombre" ng-model="fila.nombre" ng-required="true" placeholder="Organización"/>
                         <span class="help-block" ng-show="subForm.nombre.$error.required"><label class="error">Requerido</label></span>
                    </td>
                    <td><select multiple name="beneficios" ng-required="asociacion.cooperativa.asociado" ng-model="fila.beneficios" style="min-width:150px"
                                ui-select2="{minimumResultsForSearch: -1, multiple:true, allowClear:true, placeholder:'Beneficios'}">
                            <option ng-repeat="t in tiposBeneficio" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                         <span class="help-block" ng-show="subForm.beneficios.$error.required"><label class="error">Requerido</label></span>
                    </td>
                    <td>
                        <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'Periodicidad'}" 
                            name="periodicidad" ng-model="fila.periodicidad_id" ng-required="true">
                            <option></option>
                            <option ng-repeat="t in periodicidades" value="{{t.id}}">{{t.descripcion}}</option>
                        </select>
                        <label class="error" ng-show="subForm.periodicidad.$error.required">Requerido</label>
                    
                    </td>
                    <td><input bs-switch ng-model="fila.directivo" switch-on="info" switch-off="info"
                        switch-on-label="Directivo" switch-off-label="Participante" switch-type="checkbox" switch-size="" switch-animate="true" />
                    </td>
                    <th><button type="button" ng-click="asociacion.cooperativa.filas.splice($index,1)" class="btn btn-sm btn-danger" title="Quitar Fila"><i class="i-minus-circle"></i></th>
                </tr>
            </table>

            <div class="row" ng-show="!asociacion.cooperativa.asociado">
                <div class="col-md-5">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Razones de no Pertencer</label>
                            <select multiple ng-model="asociacion.cooperativa.razones"
                             ui-select2="{ multiple:true, minimumResultsForSearch: -1, allowClear:true}">
                                <option ng-repeat="t in tiposRazonNoPertenecer" value="{{t.id}}">{{t.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="container"> 
                        <div class="form-group">
                            <label class="control-label">Entidades a las que no esté asociado pero que presten apoyo</label>
                            <input type="text" ng-model="asociacion.cooperativa.orgs_apoyan" ui-select2="{multiple:true, simple_tags:true, tags:[]}" />
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label class="col-md-7 control-label">Trabajo en asocio para realizar actividades productivas, de transformación y Comercialización con otro productor</label>
                <div class="col-md-2">
                    <input bs-switch ng-model="asociacion.otroProductor.asociado" switch-on="primary" switch-off="warning"
                        switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" switch-size="" switch-animate="true" />
                </div>
            </div>
            <div class="container" ng-show="asociacion.otroProductor.asociado">
                <div class="row" >
                    <div class="col-md-4">
                        <div class="container">
                            <div class="form-group">
                                <label for="" class="control-label">Nombre del Productor en Asocio</label>
                                <input type="text" class="form-control" name="nombreSocio" ng-model="asociacion.otroProductor.nombre" ng-required="asociacion.otroProductor.asociado"/>
                                <label class="error" ng-show="myForm.nombreSocio.$dirty && myForm.nombreSocio.$error.required ">Requerido</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container">
                            <div class="form-group">
                                <label for="" class="control-label">Apellidos del Productor en Asocio</label>
                                <input type="text" class="form-control" name="apellidoSocio" ng-model="asociacion.otroProductor.apellido"  ng-required="asociacion.otroProductor.asociado"/>
                                <label class="error" ng-show="myForm.apellidoSocio.$dirty && myForm.apellidoSocio.$error.required ">Requerido</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container">
                            <div class="form-group">
                                <label for="" class="control-label">Vereda de Ubicación</label>
                                <input type="text" class="form-control" name="veredaAsocio" ng-model="asociacion.otroProductor.vereda" ng-required="asociacion.otroProductor.asociado"/>
                                <label class="error" ng-show="myForm.veredaAsocio.$dirty && myForm.veredaAsocio.$error.required ">Requerido</label>

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="" class="control-label col-md-4">Grado de Confianza</label>
                    <div class="col-md-6">
                        <buttons-radio model="asociacion.otroProductor.confianza_id" options="tiposConfianza">
                        </buttons-radio>
                    </div>
                </div>
            </div>
            
            <hr/>
            <div class="form-group">
                <label class="col-md-7 control-label">Productor a seguir en su vereda</label>
                <div class="col-md-2">
                    <input bs-switch ng-model="asociacion.sigue.asociado" switch-on="primary" switch-off="warning"
                        switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" switch-size="" switch-animate="true" />
                </div>
            </div>
            <div class="container" ng-show="asociacion.sigue.asociado">
                <div class="row" >
                    <div class="col-md-4">
                        <div class="container">
                            <div class="form-group">
                                <label for="" class="control-label">Nombre del Productor a Seguir</label>
                                <input type="text" class="form-control" name="nombreSeguir" ng-model="asociacion.sigue.nombre" ng-required="asociacion.sigue.asociado"/>
                                <label class="error" ng-show="myForm.nombreSeguir.$dirty && myForm.nombreSeguir.$error.required ">Requerido</label>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container">
                            <div class="form-group">
                                <label for="" class="control-label">Apellidos del Productor a Seguir</label>
                                <input type="text" class="form-control" name="apellidoSeguir" ng-model="asociacion.sigue.apellido" ng-required="asociacion.sigue.asociado"/>
                                <label class="error" ng-show="myForm.apellidoSeguir.$dirty && myForm.apellidoSeguir.$error.required ">Requerido</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container">
                            <div class="form-group">
                                <label for="" class="control-label">Vereda de Ubicación</label>
                                <input type="text" class="form-control" name="veredaSeguir" ng-model="asociacion.sigue.vereda" ng-required="asociacion.sigue.asociado"/>
                                <label class="error" ng-show="myForm.veredaSeguir.$dirty && myForm.veredaSeguir.$error.required ">Requerido</label>

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="" class="control-label col-md-4">Grado de Confianza</label>
                    <div class="col-md-6">
                        <buttons-radio model="asociacion.sigue.confianza_id" options="tiposConfianza">
                        </buttons-radio>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>




<br/>

<div class="form-actions full">

    <div class="col-md-4 pull-right">
        <button ng-disabled="myForm.$pristine"  class="btn btn-lg btn-primary" type="submit"><i class="i-disk"></i>  Guardar</button>
        <button ng-disabled="myForm.$dirty || !ruat_id"  class="btn btn-lg btn-success" type="button" ng-click="siguiente()">Siguiente<i class="icon16 i-arrow-right"></i></button>
    </div>
    
    <div class="col-md-2 pull-right">

    </div>

</div>


</form></div></div>
<div class="row" style="height:100px"></div> <!--para evitar que el señalador de "ir arriba" tape el boton siguiente -->

{% endraw %}

{% endblock %}