{% extends "base.html.twig" %}

{% block html_head %}
<script src="{{base_url('assets/js/angular/angular.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-animate.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-ui/select2.js')}}"></script>
<script src="{{base_url('assets/js/angular/angular-bootstrap-switch.js')}}"></script>


<script type="text/javascript">
    var extern = {
        combos: {{combos}}
    };
    var count = function(obj) {
        var cnt = 0;
        for(var x in obj)
            if(obj.hasOwnProperty(x))
                cnt++;
        return cnt;
    }
</script>


{% raw %}


<script type="text/javascript">
    var myApp = angular.module('myApp', ['ui.select2', 'frapontillo.bootstrap-switch']);

    myApp.directive('buttonsRadio', function() { // http://stackoverflow.com/a/13450409
        return {
            restrict: 'E', scope: { model: '=', options:'='},
            replace:true,
            controller: function($scope) {
                $scope.activate = function(option) {
                    console.log("de ",$scope.model," a ",option);
                    if($scope.model==option) $scope.model=null;
                    else $scope.model=option;
                }
            },
            template: "<div class='btn-group'><button type='button' ng-repeat='(key,descrip) in options' "+
                        "class='btn btn-sm' + ng-class=\"{'active':key==model, 'btn-primary':key==model, 'btn-default':key!=model}\"  "+
                        "ng-click='activate(key)'>{{descrip}}</button></div>"
        };
    });

    var RuatACtrl = function($scope) {
        angular.extend($scope, extern.combos);
        //$scope.combos = extern.combos;
        
        $scope.economia = {usaCredito:false};
        $scope.asociacion = {
            cooperativa:{asociado:false, filas:[{}]},
            otroProductor:{asociado:false, nombre:'', apellido:'', vereda:'', confianza:null},
            sigue:{asociado:false, nombre:'', apellido:'', vereda:'', confianza:null},
        };
        $scope.tiposInnovacion={1:"Producción", 2:"Transformación", 3:"Comercialización", 4:"Organizacional"};
        $scope.fuentesInnovacion={1:"Propia", 2:"EPSAGRO", 3:"Asosiaciones", 4:"Entidad Privada", 5:"Otra"};
        $scope.count = count;
        $scope.innovacion = {realiza:'no', fuente:{}};
        $scope.validate = function(){   
            for (feild in $scope.myForm) {
                // look at each form input with a name attribute set
                // checking if it is pristine and not a '$' special field
                if (feild[0] != '$' && $scope.myForm[feild].$pristine)
                    $scope.myForm[feild].$setViewValue( $scope.myForm[feild].$modelValue );
            }
            return $scope.myForm.valid;
        };

        $scope.submit = function() {
            if(!$scope.validate()) {
                alert('Revise errores');
                return;
            }

            alert('Guardar!');
        };

    };
</script>
{% endraw %}
{% endblock %}

{% block titulo %} <h1><i class="icon20 i-man"></i> RUAT &#187; Datos Personales </h1> {% endblock %}

{% block contenido %}
{% raw %}

<div ng-app="myApp"><div ng-controller="RuatACtrl"><form name="myForm" ng-submit="submit()" novalidate class="form-horizontal css-form">
<input type="submit">

{{productor | json}}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A1. Datos Personales</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container"> 
            <div class="row">
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Primer Nombre</label>
                            <input type="text" class="form-control" name="nombre1" ng-model="productor.nombre1" required />
                            <label class="error" ng-show="myForm.nombre1.$dirty && myForm.nombre1.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Segundo Nombre</label>
                            <input type="text" class="form-control" ng-model="productor.nombre2"  />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Primer Apellido</label>
                            <input type="text" class="form-control" name="apellido1" ng-model="productor.apellido1" required />
                            <label class="error" ng-show="myForm.apellido1.$dirty && myForm.apellido1.$error.required">Requerido</label>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Segundo Apellido</label>
                            <input type="text" class="form-control" ng-model="productor.apellido2"  />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Documento: </label>
                        <div class="col-xs-3" style="padding-right:0px !important">
                            <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'-'}" name="tipoDocumento" ng-model="productor.tipoDocumento" ng-required="true">
                                <option></option>
                                <option ng-repeat="(id,nombre) in tiposDocumento" value="{{id}}">{{nombre}}</option>
                            </select>
                            <label class="error" ng-show="myForm.tipoDocumento.$dirty && myForm.tipoDocumento.$error.required">Requerido</label>
                        </div>
                        <div class="col-xs-6" style="padding-left:0px !important">
                            <input type="text" class="form-control" name="numeroDocumento" ng-model="productor.numeroDocumento" required />
                            <span class="help-block" ng-show="myForm.numeroDocumento.$dirty && myForm.numeroDocumento.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
                
                <div div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="fecha_nacimiento">Fecha de Nacimiento:</label>
                        <div class="col-sm-6">
                            <div class="input-group date datepicker autostart">
                                <input size="16" name="fecha_nacimiento" value="{{ set_value('fecha_nacimiento') }}" class="form-control" type="text">
                                <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div div class="col-md-4">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Sexo: </label>
                        <div class="col-sm-6">
                            <select ui-select2="{allowClear:true, placeholder:'-', minimumResultsForSearch: -1}" ng-model="productor.sexo" required>
                                <option></option>
                                <option value='M'>Masculino</option>
                                <option value='F'>Femenino</option>
                            </select>
                        </div>
                    </div>
                </div>                    
                <div div class="col-md-4">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Nivel Educativo: </label>
                        <div class="col-sm-6">
                            <select  ui-select2="{allowClear:true, placeholder:'-',minimumResultsForSearch: -1}" name="nivelEducativo" ng-model="productor.nivelEducativo" ng-required="true">
                                <option></option>
                                <option ng-repeat="(key,descrip) in nivelesEducativos" value="{{key}}">{{descrip}}</option>
                            </select>
                            <label class="error" ng-show="myForm.nivelEducativo.$dirty && myForm.nivelEducativo.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div div class="col-md-5">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="focused">Tipo de Productor:</label>
                        <div class="col-sm-7">
                            <select ui-select2="{allowClear:true, placeholder:'-',minimumResultsForSearch: -1}" name="tipoProductor" ng-model="productor.tipo" required>
                                <option></option>
                                <option ng-repeat="(key,descrip) in tiposProductor" value="{{key}}">{{descrip}}</option>
                            </select>
                            <label class="error" ng-show="myForm.tipoProductor.$dirty && myForm.tipoProductor.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
                <div div class="col-md-7">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="focused">Renglón Productivo:</label>
                        <div class="col-sm-7">
                            <select ui-select2="{allowClear:true, placeholder:'-',minimumResultsForSearch: -1}" name="renglonProductivo" ng-model="productor.renglonProductivo" ng-required="true">
                                <option></option>
                                <option ng-repeat="(key,descrip) in renglonesProductivos" value="{{key}}">{{descrip}}</option>
                            </select>
                            <label class="error" ng-show="myForm.renglonProductivo.$dirty && myForm.renglonProductivo.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .container -->
    </div><!-- End .panel-body -->

</div><!-- panel default -->
<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A2. Datos de Contacto</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Telefono Fijo</label>
                            <input type="text" class="form-control" name="telefono" ng-model="ubicacion.telefono" />
                            <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Celular</label>
                            <input type="text" class="form-control" name="celular" ng-model="ubicacion.celular" />
                            <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Correo Electrónico</label>
                            <input type="email" class="form-control" name="email" ng-model="ubicacion.email" />
                            <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Debe ser un Email Válido</label></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="focused">Departamento:</label>
                            <select ui-select2="{allowClear:true, placeholder:'-'}" ng-model="ubicacion.departamento">
                                <option></option>
                                <option ng-repeat="(key,depto) in departamentos" value="{{key}}">{{depto.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="focused">Municipio:</label>
                            <select ui-select2="{allowClear:true, placeholder:'-'}" ng-model="ubicacion.municipio">
                                <option></option>
                                <option ng-repeat="mun in departamentos[ubicacion.departamento].municipios" value="{{mun.id}}">{{mun.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="focused">Vereda</label>
                            <input type="text" class="form-control" name="vereda" ng-model="ubicacion.vereda" />
                            <span class="help-block" ng-show="myForm.vereda.$dirty && myForm.vereda.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="focused">Dirección de Residencia:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="direccion" ng-model="ubicacion.direccion">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End .panel-body -->
</div><!-- panel default -->

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A3. Datos Económicos</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label col-sm-7">Ingreso Mensual Familiar </label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" name="ingresoMensual" ng-model="economia.ingresoMensual" />
                            </div>
                        </div>
                    </div>
                </div>
                <div div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label col-sm-8">Personas a Cargo</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" name="personasCargo" ng-model="economia.personasCargo" />
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label col-sm-7">Ingreso de Actividad Agropecuaria</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" name="ingresoAgropecuaria" ng-model="economia.ingresoAgropecuaria" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="col-md-7 control-label">Uso de Crédito Actual</label>
                            <div class="col-md-5">
                                <input bs-switch ng-model="economia.usaCredito" switch-on="success" switch-off="danger"
                                    switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" switch-size="" switch-animate="true">
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div div class="col-md-5">

                    <div class="form-group">
                        <label class="col-sm-5 control-label" ng-class="{'text-muted':!economia.usaCredito}" for="focused">Procedencia del Crédito:</label>
                        <div class="col-sm-7">
                            <select ui-select2="{allowClear:true, minimumResultsForSearch: -1, placeholder:'-'}" ng-model="economia.procedenciaCredito" ng-disabled="!economia.usaCredito">
                                <option></option>
                                <option ng-repeat="(key,descrip) in tiposCredito" value="{{key}}">{{descrip}}</option>
                            </select>
                            
                        </div>
                    </div>
                </div>
                <div div class="col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control" name="otraProcedencia" placeholder="¿Cuál?" 
                                ng-required="economia.usaCredito&& economia.procedenciaCredito==7" 
                                ng-show="economia.usaCredito && economia.procedenciaCredito==7" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A4. Participación del Usuario en Procesos de Transferencia e Innovación</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="form-group">
                <label class="col-md-7 control-label">¿Realiza Procesos de Innovación?</label>
                <div class="col-md-5">
                    <input bs-switch ng-model="innovacion.realiza" switch-on="success" switch-off="danger"
                        switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" switch-size="" switch-animate="true">
                </div>
            </div>

            <table class="table table-bordered animate-show-hide" ng-show="innovacion.realiza">
            <thead>
                <tr>
                    <th>Actividad</th>
                    <th colspan="2">Fuente</th>
                    <th>Descripción</th>
                </tr>
                
            </thead>
            <tbody>
                <tr ng-repeat="(keyTipoInn,descripTipoInn) in tiposInnovacion">
                    <td>{{descripTipoInn}}</td>
                    <td>
                        <buttons-radio model="innovacion.fuente[keyTipoInn]" options="fuentesInnovacion">
                        </buttons-radio>
                    </td>
                    <td>
                        <input type="text" class="form-control" style="width:100px" 
                                placeholder="¿Cual?" ng-show="innovacion.fuente[keyTipoInn]==5" />
                    </td>
                    <td>
                        <input type="text" class="form-control" 
                            placeholder="{{innovacion.fuente[keyTipoInn]?'Ingrese aqui la Descripción':''}}" ng-disabled="!innovacion.fuente[keyTipoInn]" />
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>

<br/>



<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A5. Asociatividad del Usuario</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="form-group">
                <label class="col-md-7 control-label">Pertenece a Asociaciones, Cooperativas o Agremiaciones</label>
                <div class="col-md-2">
                    <input bs-switch ng-model="asociacion.cooperativa.asociado" switch-on="primary" switch-off="warning"
                        switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" switch-size="" switch-animate="true" />
                </div>
            </div>
            
            <table class="table table-bordered" ng-show="asociacion.cooperativa.asociado" ng>
            <thead>
                <tr>
                    <th>Clase</th>
                    <th>Organización</th>
                    <th>Beneficio</th>
                    <th>Periodicidad <br/> de Asitencia</th>
                    <th>Labor <br/> que Realiza</th>
                    <th><button type="button" ng-click="asociacion.cooperativa.filas.push({})" class="btn btn-sm btn-primary tip" data-original-title="Agregar Fila"><i class="i-plus-circle"></i></button></th>
                </tr>
            </thead>
                <tr ng-repeat="fila in asociacion.cooperativa.filas">
                    <td><select multiple ng-model="fila.clases" style="min-width:100px"
                                ui-select2="{minimumResultsForSearch: -1, multiple:true, allowClear:true, placeholder:'Clases de Organización'}">
                            <option ng-repeat="(key,descrip) in clasesOrganizaciones" value="{{key}}">{{descrip}}</option>
                    </td>
                    <td><input type="text" class="form-control" ng-model="fila.organizacion" required /></td>
                    <td><select multiple ng-model="fila.beneficios" style="min-width:100px"
                                ui-select2="{minimumResultsForSearch: -1, multiple:true, allowClear:true, placeholder:'Beneficios'}">
                            <option ng-repeat="(key,descrip) in tiposBeneficio" value="{{key}}">{{descrip}}</option>
                        </select>
                    </td>
                    <td><select ng-model="fila.periodicidad" 
                                ui-select2="{minimumResultsForSearch: -1, multiple:true, allowClear:true}" data-placeholder="Periodicidad">
                            <option ng-repeat="(key,descrip) in periodicidades" value="{{key}}">{{descrip}}</option>
                        </select>
                    </td>
                    <td><input bs-switch ng-model="fila.directivo" switch-on="info" switch-off="info"
                        switch-on-label="Directivo" switch-off-label="Participante" switch-type="checkbox" switch-size="" switch-animate="true" />
                    </td>
                    <th><button type="button" ng-click="asociacion.cooperativa.filas.splice($index,1)" class="btn btn-sm btn-danger" title="Quitar Fila"><i class="i-minus-circle"></i></th>
                </tr>
            </table>

            <div class="row" ng-show="!asociacion.cooperativa.asociado">
                <div class="col-md-5">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Razones de no Pertencer</label>
                            <input type="text" ng-model="asociacion.cooperativa.razonesNoPertenecer" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="container"> 
                        <div class="form-group">
                            <label class="control-label">Entidades a las que no esté asociado pero que presten apoyo</label>
                            <input type="text" ng-model="asociacion.cooperativa.apoyan" ui-select2="{multiple:true, simple_tags:true, tags:[]}" />
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label class="col-md-7 control-label">Trabajo en asocio para realizar actividades productivas, de transformación y Comercialización con otro productor</label>
                <div class="col-md-2">
                    <input bs-switch ng-model="asociacion.otroProductor.asociado" switch-on="primary" switch-off="warning"
                        switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" switch-size="" switch-animate="true" />
                </div>
            </div>
            <div class="container" ng-show="asociacion.otroProductor.asociado">
                <div class="row" >
                    <div class="col-md-4">
                        <div class="container">
                            <div class="form-group">
                                <label for="" class="control-label">Nombre del Productor en Asocio</label>
                                <input type="text" class="form-control" ng-model="asociacion.otroProductor.nombre"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container">
                            <div class="form-group">
                                <label for="" class="control-label">Apellidos del Productor en Asocio</label>
                                <input type="text" class="form-control" ng-model="asociacion.otroProductor.apellido"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container">
                            <div class="form-group">
                                <label for="" class="control-label">Vereda de Ubicación</label>
                                <input type="text" class="form-control" ng-model="asociacion.otroProductor.vereda"/>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="" class="control-label col-md-4">Grado de Confianza</label>
                    <div class="col-md-6">
                        <buttons-radio model="asociacion.otroProductor.confianza" options="tiposConfianza">
                        </buttons-radio>
                    </div>
                </div>
            </div>
            
            <hr/>
            <div class="form-group">
                <label class="col-md-7 control-label">Productor a seguir en su vereda</label>
                <div class="col-md-2">
                    <input bs-switch ng-model="asociacion.sigue.asociado" switch-on="primary" switch-off="warning"
                        switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" switch-size="" switch-animate="true" />
                </div>
            </div>
            <div class="container" ng-show="asociacion.sigue.asociado">
                <div class="row" >
                    <div class="col-md-4">
                        <div class="container">
                            <div class="form-group">
                                <label for="" class="control-label">Nombre del Productor en Asocio</label>
                                <input type="text" class="form-control" ng-model="asociacion.sigue.nombre"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container">
                            <div class="form-group">
                                <label for="" class="control-label">Apellidos del Productor en Asocio</label>
                                <input type="text" class="form-control" ng-model="asociacion.sigue.apellido"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container">
                            <div class="form-group">
                                <label for="" class="control-label">Vereda de Ubicación</label>
                                <input type="text" class="form-control" ng-model="asociacion.sigue.vereda"/>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="" class="control-label col-md-4">Grado de Confianza</label>
                    <div class="col-md-6">
                        <buttons-radio model="asociacion.sigue.frecuenciaConsulta" options="tiposConfianza">
                        </buttons-radio>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



</form></div></div>

<br/>
<div class="form-actions full">
    <button class="btn btn-lg btn-success pull-right" type="submit">Siguiente<i class="icon16 i-arrow-right-3"></i></button>
</div>

<div class="row" style="height:100px"></div> <!--para evitar que el señalador de "ir arriba" tape el boton siguiente -->


{% endraw %}

{% endblock %}