{% extends "base.html.twig" %}

{% block html_head %}


<script type="text/javascript">
</script>


{% raw %}
<style>
    input[money] {
        text-align:right;
    }
</style>

<script type="text/javascript">
</script>
{% endraw %}
{% endblock %}



{% block breadcrumnb %}
    <ul class="breadcrumb">
      <li><a href="{{site_url('/')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
      {{breadcrumbs}}
    </ul>
{% endblock %}



{% block titulo %} <h1><i class="icon20 i-man"></i> RUAT &#187; Datos Personales </h1> {% endblock %}

{% block contenido %}
{% raw %}

<div ng-app="myApp"><div ng-controller="RuatACtrl"><form name="myForm" ng-submit="submit()" novalidate class="form-horizontal css-form">

<div class="row">
    <div class="col-sm-9">

    </div>
    <div class="col-sm-3">
        <div class="input-group">
            <label class="control-label col-sm-4">Fecha</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" style="color:red; text-align:center">
            </div> 
        </div>
    </div>
</div>
<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A1. DATOS PERSONALES (Diligencie nombres y apellidos completos y seleccione las opciones abajo indicadas).</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container"> 
            <div class="row">
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Primer Nombre</label>
                            <input type="text" capitalize class="form-control" name="nombre1" maxlength="30" ng-model="productor.nombre1" ng-disabled="soloLectura" required />
                            <label class="error" ng-show="myForm.nombre1.$dirty && myForm.nombre1.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Segundo Nombre</label>
                            <input type="text" capitalize class="form-control" maxlength="30" ng-model="productor.nombre2"  ng-disabled="soloLectura"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Primer Apellido</label>
                            <input type="text"  capitalize class="form-control" name="apellido1" maxlength="30" ng-model="productor.apellido1" ng-disabled="soloLectura" required />
                            <label class="error" ng-show="myForm.apellido1.$dirty && myForm.apellido1.$error.required">Requerido</label>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Segundo Apellido</label>
                            <input type="text" capitalize class="form-control" maxlength="30" ng-model="productor.apellido2"  ng-disabled="soloLectura"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Documento: </label>
                        <div class="col-xs-3" style="padding-right:0px !important">
                            <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'-'}" name="tipo_documento_id" ng-model="productor.tipo_documento_id" ng-required="true" ng-disabled="soloLectura">
                                <option></option>
                                <option ng-repeat="t in tiposDocumento" value="{{t.id}}">{{t.descripcion}}</option>
                            </select>
                            <label class="error" ng-show="myForm.tipo_documento_id.$dirty && myForm.tipo_documento_id.$error.required">Requerido</label>
                        </div>
                        <div class="col-xs-6" style="padding-left:0px !important">
                            <input type="text" class="form-control" name="numero_documento" maxlength="20" ng-model="productor.numero_documento" ng-disabled="soloLectura" required />
                            <span class="help-block" ng-show="myForm.numero_documento.$dirty && myForm.numero_documento.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
                
                <div div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="fecha_nacimiento">Fecha de Nacimiento:</label>
                        <div class="col-sm-6">
                            <div class="input-group date datepicker autostart">
                                <input size="16" name="fecha_nacimiento" ng-model="productor.fecha_nacimiento" ng-disabled="soloLectura" value="{{ set_value('fecha_nacimiento') }}" class="form-control" type="text">
                                <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>                    
                            </div>
                            <span class="help-block"><small>AAAA-MM-DD</small></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div div class="col-md-4">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Sexo: </label>
                        <div class="col-sm-6">
                            <select ui-select2="{allowClear:true, placeholder:'-', minimumResultsForSearch: -1}" name="sexo" ng-model="productor.sexo" ng-disabled="soloLectura" required>
                                <option></option>
                                <option value='M'>Masculino</option>
                                <option value='F'>Femenino</option>
                            </select>
                            <label class="error" ng-show="myForm.sexo.$dirty && myForm.sexo.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>                    
                <div div class="col-md-4">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Nivel Educativo: </label>
                        <div class="col-sm-6">
                            <select  ui-select2="{allowClear:true, placeholder:'-',minimumResultsForSearch: -1}" name="nivel_educativo_id" ng-disabled="soloLectura" ng-model="productor.nivel_educativo_id" ng-required="true">
                                <option></option>
                                <option ng-repeat="t in nivelesEducativos" value="{{t.id}}">{{t.descripcion}}</option>
                            </select>
                            <label class="error" ng-show="myForm.nivel_educativo_id.$dirty && myForm.nivel_educativo_id.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div div class="col-md-5">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="focused">Tipo de Productor:</label>
                        <div class="col-sm-7">
                            <select ui-select2="{allowClear:true, placeholder:'-',minimumResultsForSearch: -1}" name="tipoProductor" ng-disabled="soloLectura" ng-model="productor.tipo_productor_id" required>
                                <option></option>
                                <option ng-repeat="t in tiposProductor" value="{{t.id}}">{{t.descripcion}}</option>
                            </select>
                            <label class="error" ng-show="myForm.tipoProductor.$dirty && myForm.tipoProductor.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
                <div div class="col-md-7">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="focused">Renglón Productivo:</label>
                        <div class="col-sm-7">
                            <select ui-select2="{allowClear:true, placeholder:'-',minimumResultsForSearch: -1}" name="renglon_productivo_id" ng-disabled="soloLectura" ng-model="productor.renglon_productivo_id" ng-required="true">
                                <option></option>
                                <option ng-repeat="t in renglonesProductivos" value="{{t.id}}">{{t.descripcion}}</option>
                            </select>
                            <label class="error" ng-show="myForm.renglon_productivo_id.$dirty && myForm.renglon_productivo_id.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .container -->
    </div><!-- End .panel-body -->

</div><!-- panel default -->

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A2. DATOS DE CONTACTO (Diligencie de manera clara los datos de ubicación del productor)</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Telefono Fijo</label>
                            <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                            <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Celular</label>
                            <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                            <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Correo Electrónico</label>
                            <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                            <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Debe ser un Email Válido</label></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="focused">Departamento:</label>
                            <select ui-select2="{allowClear:true, placeholder:'-'}" name="departamento" ng-model="contacto.departamento_id" ng-disabled="soloLectura" required>
                                <option></option>
                                <option ng-repeat="(key,depto) in departamentos" value="{{key}}">{{depto.nombre}}</option>
                            </select>
                            <label class="error" ng-show="myForm.departamento.$dirty && myForm.departamento.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
                <div div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="focused">Municipio:</label>
                            <select ui-select2="{allowClear:true, placeholder:'-'}" name="municipio" ng-model="contacto.municipio_id"  ng-disabled="soloLectura" required>
                                <option></option>
                                <option ng-repeat="mun in departamentos[contacto.departamento_id].municipios" value="{{mun.id}}">{{mun.nombre}}</option>
                            </select>
                            <label class="error" ng-show="myForm.municipio.$dirty && myForm.municipio.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
                <div div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label" for="focused">Vereda / Corregimiento</label>
                            <input type="text" capitalize class="form-control" name="vereda" maxlength="100maxlength="100" " ng-model="contacto.vereda" ng-disabled="soloLectura"/>
                            <span class="help-block" ng-show="myForm.vereda.$dirty && myForm.vereda.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="focused">Dirección de Residencia:</label>
                        <div class="col-md-9">
                            <input type="text" capitalize class="form-control" name="direccion" maxlength="100" ng-model="contacto.direccion" ng-disabled="soloLectura" required maxlength="100">
                            <label class="error" ng-show="myForm.direccion.$dirty && myForm.direccion.$error.required">Requerido</label>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End .panel-body -->
</div><!-- panel default -->

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B. DATOS DEL CONYUGE O COMPAÑERO PERMANENTE</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Nombres</label>
                            <input type="text" capitalize class="form-control" name="nombre1" maxlength="30" ng-model="productor.nombre1" ng-disabled="soloLectura" required />
                            <label class="error" ng-show="myForm.nombre1.$dirty && myForm.nombre1.$error.required">Requerido</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Apellidos</label>
                            <input type="text"  capitalize class="form-control" name="apellido1" maxlength="30" ng-model="productor.apellido1" ng-disabled="soloLectura" required />
                            <label class="error" ng-show="myForm.apellido1.$dirty && myForm.apellido1.$error.required">Requerido</label>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Documento: </label>
                        <div class="col-xs-3" style="padding-right:0px !important">
                            <select ui-select2="{minimumResultsForSearch: -1, allowClear:true, placeholder:'-'}" name="tipo_documento_id" ng-model="productor.tipo_documento_id" ng-required="true" ng-disabled="soloLectura">
                                <option></option>
                                <option ng-repeat="t in tiposDocumento" value="{{t.id}}">{{t.descripcion}}</option>
                            </select>
                            <label class="error" ng-show="myForm.tipo_documento_id.$dirty && myForm.tipo_documento_id.$error.required">Requerido</label>
                        </div>
                        <div class="col-xs-6" style="padding-left:0px !important">
                            <input type="text" class="form-control" name="numero_documento" maxlength="20" ng-model="productor.numero_documento" ng-disabled="soloLectura" required />
                            <span class="help-block" ng-show="myForm.numero_documento.$dirty && myForm.numero_documento.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
                
                <div div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="fecha_nacimiento">Fecha de Nacimiento:</label>
                        <div class="col-sm-6">
                            <div class="input-group date datepicker autostart">
                                <input size="16" name="fecha_nacimiento" ng-model="productor.fecha_nacimiento" ng-disabled="soloLectura" value="" class="form-control" type="text">
                                <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>                    
                            </div>
                            <span class="help-block"><small>AAAA-MM-DD</small></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="fecha_nacimiento">Teléfono:</label>
                        <div class="col-sm-6">
                                <input size="16" name="fecha_nacimiento" ng-model="productor.fecha_nacimiento" ng-disabled="soloLectura" value="" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>C. REFERENCIAS</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>FAMILIARES (Que no vivan con usted)</h4>
                </div><!-- End .panel-heading -->

                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Nombres</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Primer Apellido</label>
                                    <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Segundo Apellido</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Parentesco</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Departamento</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Municipio</label>
                                    <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Dirección de la Residencia</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Barrio/ Vereda</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div div class="col-md-4">
                            <div class="form-group">
                                <div class="container">                       
                                    <label class="control-label">Indicativo y No. Telefónico de Residencia</label>
                                    <div div class="col-md-12">
                                        <div div class="col-md-3">
                                            <input type="text" class="" name="telefono" maxlength="3" />
                                        </div>
                                        <div div class="col-md-9">
                                            <input type="text" class="" name="telefono" maxlength="20" />
                                        </div>
                                    </div>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>

                        <div div class="col-md-4">
                            <div class="form-group">
                                <div class="container">                       
                                    <label class="control-label">Indicativo y No. Telefonico de ubicación</label>
                                    <div div class="col-md-12">
                                        <div div class="col-md-3">
                                            <input type="text" class="" name="telefono" maxlength="3" />
                                        </div>
                                        <div div class="col-md-9">
                                            <input type="text" class="" name="telefono" maxlength="20" />
                                        </div>
                                    </div>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>

                        <div div class="col-md-4">
                            <div class="form-group">
                                <div class="container">                       
                                    <label class="control-label">Celular (Prefijo y Número)</label>
                                    <div div class="col-md-12">
                                        <div div class="col-md-3">
                                            <input type="text" class="" name="telefono" maxlength="3" />
                                        </div>
                                        <div div class="col-md-9">
                                            <input type="text" class="" name="telefono" maxlength="20" />
                                        </div>
                                    </div>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>                
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Nombres</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Primer Apellido</label>
                                    <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Segundo Apellido</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Parentesco</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Departamento</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Municipio</label>
                                    <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Dirección de la Residencia</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Barrio/ Vereda</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div div class="col-md-4">
                            <div class="form-group">
                                <div class="container">                       
                                    <label class="control-label">Indicativo y No. Telefónico de Residencia</label>
                                    <div div class="col-md-12">
                                        <div div class="col-md-3">
                                            <input type="text" class="" name="telefono" maxlength="3" />
                                        </div>
                                        <div div class="col-md-9">
                                            <input type="text" class="" name="telefono" maxlength="20" />
                                        </div>
                                    </div>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>

                        <div div class="col-md-4">
                            <div class="form-group">
                                <div class="container">                       
                                    <label class="control-label">Indicativo y No. Telefonico de ubicación</label>
                                    <div div class="col-md-12">
                                        <div div class="col-md-3">
                                            <input type="text" class="" name="telefono" maxlength="3" />
                                        </div>
                                        <div div class="col-md-9">
                                            <input type="text" class="" name="telefono" maxlength="20" />
                                        </div>
                                    </div>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>

                        <div div class="col-md-4">
                            <div class="form-group">
                                <div class="container">                       
                                    <label class="control-label">Celular (Prefijo y Número)</label>
                                    <div div class="col-md-12">
                                        <div div class="col-md-3">
                                            <input type="text" class="" name="telefono" maxlength="3" />
                                        </div>
                                        <div div class="col-md-9">
                                            <input type="text" class="" name="telefono" maxlength="20" />
                                        </div>
                                    </div>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>                
                    </div>

                </div>
            </div>

            <br>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>PERSONALES</h4>
                </div><!-- End .panel-heading -->

                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Nombres</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Primer Apellido</label>
                                    <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Segundo Apellido</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Nexo con el Cliente</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Departamento</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Municipio</label>
                                    <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Dirección de la Residencia</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Barrio/ Vereda</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div div class="col-md-4">
                            <div class="form-group">
                                <div class="container">                       
                                    <label class="control-label">Indicativo y No. Telefónico de Residencia</label>
                                    <div div class="col-md-12">
                                        <div div class="col-md-3">
                                            <input type="text" class="" name="telefono" maxlength="3" />
                                        </div>
                                        <div div class="col-md-9">
                                            <input type="text" class="" name="telefono" maxlength="20" />
                                        </div>
                                    </div>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>

                        <div div class="col-md-4">
                            <div class="form-group">
                                <div class="container">                       
                                    <label class="control-label">Indicativo y No. Telefonico de ubicación</label>
                                    <div div class="col-md-12">
                                        <div div class="col-md-3">
                                            <input type="text" class="" name="telefono" maxlength="3" />
                                        </div>
                                        <div div class="col-md-9">
                                            <input type="text" class="" name="telefono" maxlength="20" />
                                        </div>
                                    </div>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>

                        <div div class="col-md-4">
                            <div class="form-group">
                                <div class="container">                       
                                    <label class="control-label">Celular (Prefijo y Número)</label>
                                    <div div class="col-md-12">
                                        <div div class="col-md-3">
                                            <input type="text" class="" name="telefono" maxlength="3" />
                                        </div>
                                        <div div class="col-md-9">
                                            <input type="text" class="" name="telefono" maxlength="20" />
                                        </div>
                                    </div>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>                
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Nombres</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Primer Apellido</label>
                                    <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Segundo Apellido</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Nexo con el Cliente</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Departamento</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Municipio</label>
                                    <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Dirección de la Residencia</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Barrio/ Vereda</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$error.email"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div div class="col-md-4">
                            <div class="form-group">
                                <div class="container">                       
                                    <label class="control-label">Indicativo y No. Telefónico de Residencia</label>
                                    <div div class="col-md-12">
                                        <div div class="col-md-3">
                                            <input type="text" class="" name="telefono" maxlength="3" />
                                        </div>
                                        <div div class="col-md-9">
                                            <input type="text" class="" name="telefono" maxlength="20" />
                                        </div>
                                    </div>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>

                        <div div class="col-md-4">
                            <div class="form-group">
                                <div class="container">                       
                                    <label class="control-label">Indicativo y No. Telefonico de ubicación</label>
                                    <div div class="col-md-12">
                                        <div div class="col-md-3">
                                            <input type="text" class="" name="telefono" maxlength="3" />
                                        </div>
                                        <div div class="col-md-9">
                                            <input type="text" class="" name="telefono" maxlength="20" />
                                        </div>
                                    </div>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>

                        <div div class="col-md-4">
                            <div class="form-group">
                                <div class="container">                       
                                    <label class="control-label">Celular (Prefijo y Número)</label>
                                    <div div class="col-md-12">
                                        <div div class="col-md-3">
                                            <input type="text" class="" name="telefono" maxlength="3" />
                                        </div>
                                        <div div class="col-md-9">
                                            <input type="text" class="" name="telefono" maxlength="20" />
                                        </div>
                                    </div>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>                
                    </div>

                </div>
            </div>

            <br>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>FINANCIERAS</h4>
                </div><!-- End .panel-heading -->

                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Entidad</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Clase o tipo de Producto</label>
                                    <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">No. de Producto</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Departamento</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Ciudad</label>
                                    <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Sucursal</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Entidad</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Clase o tipo de Producto</label>
                                    <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">No. de Producto</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Departamento</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Ciudad</label>
                                    <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Sucursal</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <br>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>COMERCIALES (Diligenciar las referencias comerciales solo para independientes)</h4>
                </div><!-- End .panel-heading -->

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Nombre del Establecimiento</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Tipo de vínculo</label>
                                    <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Departamento</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Municipio</label>
                                    <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                                    <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Telefono</label>
                                    <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                                    <span class="help-block" ><label class="error">Requerido</label></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>D. INFORMACIÓN PARA LA PLANIFICACION DEL CRÉDITO (DESCRIPCIÓN DE LAS INVERSIONES OBJETO DEL PROYECTO A FINANCIAR)</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">

        <table class="table table-bordered table-hover table-responsive dataTable">
            <thead>
                <tr>
                    <th style="text-align: center;">Codigo FINAGRO (Deje en Blanco)</th>
                    <th style="text-align: center;">Capital de Trabajo</th>
                    <th style="text-align: center;">Inversión</th>
                    <th style="text-align: center;">Unidades o Hectareas a Financiar</th>
                    <th style="text-align: center;">Valor del Proyecto (100%)</th>
                    <th style="text-align: center;">Valor de la Solicitud (Pequeño Productor hasta 100%)</th>
                    <th style="text-align: center;">Plazo Total (Meses)</th>
                    <th style="text-align: center;">Período de Gracia (semestral /anual)</th>
                    <th style="text-align: center;">Modalidad Pago de Intereses (semestral /anual)</th>
                    <th style="text-align: center;">Amortización a Capital (semestral /anual)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                </tr>

                <tr>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                </tr>

                <tr>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                </tr>

                <tr>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                    <td><input size="" name="" style="width: 80px;"/></td>
                </tr>

            </tbody>
        </table>


        <div class="row">
            <input bs-switch ng-model="manejaResidsOrdinarios" switch-on="primary" switch-off="warning" switch-on-label="SI" switch-off-label="NO" switch-type="checkbox" switch-active="{{!soloLectura}}"/>
        </div>

        </div>
    </div>
</div>

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>E. INFORMACIÓN DEL PREDIO DE LA INVERSIÓN</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">

            <div class="row">
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="">Nombre del Predio de la inversión</label>
                            <input type="text" capitalize class="form-control" name="" maxlength="30" />
                            <label class="error" >Requerido</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="">Área de la Presente Inversión (Has)</label>
                            <input type="text" capitalize class="form-control" name="" maxlength="30" />
                            <label class="error" >Requerido</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="">Tenencia del predio de la inversión (Items del RUAT)</label>
                            <input type="text" capitalize class="form-control" name="" maxlength="30" />
                            <label class="error" >Requerido</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="">Municipio del Predio de la Inversión</label>
                            <input type="text" capitalize class="form-control" name="" maxlength="30" />
                            <label class="error" >Requerido</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="">Nombre del Predio de la inversión</label>
                            <input type="text" capitalize class="form-control" name="" maxlength="30" />
                            <label class="error" >Requerido</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="">Fuentes Hídricas <br>&nbsp;</label>
                            <input type="text" capitalize class="form-control" name="" maxlength="30" />
                            <label class="error" >Requerido</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="">Fecha Inicial de la Inversión DD/MM/AAAA</label>
                            <input type="text" capitalize class="form-control" name="" maxlength="30" />
                            <label class="error" >Requerido</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="form-group">
                            <label class="">Fecha final de la Inversión DD/MM/AAAA</label>
                            <input type="text" capitalize class="form-control" name="" maxlength="30" />
                            <label class="error" >Requerido</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>F. ACTIVIDADES AGROPECUARIAS COMPLEMENTARIAS (INGRESOS ADICIONALES)</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <table class="table table-bordered table-hover table-responsive dataTable">
                <thead>
                    <tr>
                        <th style="text-align: center;">Actividades Agropecuarias</th>
                        <th style="text-align: center;">Cantidad (Has. Animales)</th>
                        <th style="text-align: center;">Producción (anual)</th>
                        <th style="text-align: center;">Precio de venta</th>
                        <th style="text-align: center;">Total ingresos (Anual)</th>
                        <th style="text-align: center;">Area del predio de los inventarios</th>
                        <th style="text-align: center;">Tipo de Tenencia del Predio de los Inventarios</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 160px;"/></td>
                    </tr>

                    <tr>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 160px;"/></td>
                    </tr>

                    <tr>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 160px;"/></td>
                    </tr>

                    <tr>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 160px;"/></td>
                    </tr>

                    <tr>
                        <td>Otros Ingresos Diferentes a los generados por actividades agropecuarias</td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td><input size="" name="" style="width: 160px;"/></td>
                    </tr>

                </tbody>
            </table>            
        </div>
    </div>
</div>


<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>G. DESCRIPCION DE LA INVERSION A FINANCIAR (JUSTIFICACIÓN DE CRÉDITO)</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="col-sm-12">
                <textarea style="width: 100%;"></textarea>
            </div>                   
        </div>
    </div>
</div>


<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>H. FORMA DE LLEGAR AL PREDIO DE LA INVERSIÓN (Incluir la distancia en kilómetros):</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="col-sm-12">
                <textarea style="width: 100%;"></textarea>
            </div>                   
        </div>
    </div>
</div>

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>J. DESCRIPCION DE BIENES</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Tipo de Inmueble</label>
                            <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                            <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Dirección</label>
                            <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                            <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Valor comercial</label>
                            <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                            <span class="help-block" ><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Departamento</label>
                            <input type="text" class="form-control" name="telefono" maxlength="100" ng-model="contacto.telefono" ng-disabled="soloLectura" />
                            <span class="help-block" ng-show="myForm.telefono.$dirty && myForm.telefono.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Municipio</label>
                            <input type="text" class="form-control" name="celular" maxlength="100" ng-model="contacto.celular" ng-disabled="soloLectura" />
                            <span class="help-block" ng-show="myForm.celular.$dirty && myForm.celular.$error.required"><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label">Vereda</label>
                            <input type="email" class="form-control" name="email" maxlength="100" ng-model="contacto.email" ng-disabled="soloLectura"/>
                            <span class="help-block" ><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <table class="table table-bordered table-hover table-responsive dataTable">
                <thead>
                    <tr>
                        <th style="text-align: center;">Descripción de Otros Bienes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Semovientes</td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td>Cantidad</td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td>Valor Comercial</td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                    </tr>

                    <tr>
                        <td>Maquinaria</td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td>Cantidad</td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td>Valor Comercial</td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                    </tr>

                    <tr>
                        <td>Cultivos en desarrollo</td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td>Cantidad</td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td>Valor Comercial</td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                    </tr>

                    <tr>
                        <td>Inversiones y otros activos</td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td>Cantidad</td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                        <td>Valor Comercial</td>
                        <td><input size="" name="" style="width: 120px;"/></td>
                    </tr>

                </tbody>
            </table>

            <br>

            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="form-group">
                            <label class="control-label"> Observaciones</label>
                            <textarea style="width: 100%;"></textarea>
                            <span class="help-block" ><label class="error">Requerido</label></span>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>K. CONSIDERACIONES ADICIONALES</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <div class="row">

                <div div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-6" for="fecha_nacimiento">Experiencia en la actividad a financiar (en meses)</label>
                        <div class="col-sm-6">
                             <input name="" size="" />
                        </div>
                    </div>
                </div>

               <div div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-6" for="fecha_nacimiento">Tiempo de permanencia en la región (en meses)</label>
                        <div class="col-sm-6">
                             <input name="" size="" />
                        </div>
                    </div>
                </div>


            </div>                   
        </div>
    </div>
</div>

<br/>

<div class="form-actions full">

    <!--div class="col-md-4 pull-right">
        <button ng-disabled="myForm.$pristine"  class="btn btn-lg btn-info" type="submit"><i class="i-disk"></i>  Guardar</button>
        
    </div-->
    <button class="btn btn-lg btn-success pull-right" type="submit">Siguiente<i class="icon16 i-arrow-right"></i></button>
</div>


</form></div></div>


{% endraw %}

{% endblock %}
