{% extends "base.html.twig" %}

{% block html_head %}


<script type="text/javascript">
</script>



<style>
    input[money] {
        text-align:right;
    }
</style>

<script type="text/javascript">

    var combos = {{combos|json_encode}};
    var departamentos = $('<select>');

    $(document).ready(function(){

        crear_combo_deptos();

        //console.debug(departamentos.html());
        //console.debug(combos['departamentos']);

        $('#departamento, #referencias_fam1_departamento, #referencias_fam2_departamento, #referencias_fin1_departamento, #referencias_fin2_departamento, #referencias_com_departamento, #descripcion_bienes_departamento').append(departamentos.html()).on('change', function(){
                var id = $( this ).attr('id');
                var value = $( this ).val();
                var last_index = id.lastIndexOf('_');
                var new_id = last_index == -1 ? 'municipio' : id.substring(0, last_index) + '_municipio';

                $( '#'+new_id ).empty().append( crear_combo_mupios( combos['departamentos'][value].municipios ).html() );
        });

        $('#descripcion_bien_1_2, #descripcion_bien_2_2, #descripcion_bien_3_2').append(departamentos.html()).on('change', function(){
                var id = $( this ).attr('id');
                var value = $( this ).val();
                var last_index = id.lastIndexOf('_');
                var new_id = id.substring(0, last_index) + '_3';

                $( '#'+new_id ).empty().append( crear_combo_mupios( combos['departamentos'][value].municipios ).html() );
        });
    });

    function crear_combo_deptos(){
        $.each( combos['departamentos'], function( key, value ){
            departamentos.append('<option value="'+key+'" >'+value.nombre+'</option>');
        });
    }

    function crear_combo_mupios(municipios_option){
         var municipios = $('<select>');

        $.each( municipios_option, function( key, value ){
            municipios.append('<option value="'+value.id+'" >'+value.nombre+'</option>');
        });

        return municipios;
    }

</script>

{% endblock %}




{% block titulo %} <h1><i class="icon20 i-man"></i> RUAT &#187; Datos Personales </h1> {% endblock %}

{% block contenido %}



<div >
    <div class="form-horizontal css-form">
        {{ form_open_multipart(null, {role:'form', class:'form-horizontal'}) }}
        <div class="row">
            <div class="col-sm-9">

            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <label class="control-label col-sm-4">Fecha</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="sc_fecha" style="color:red; text-align:center">
                    </div> 
                </div>
            </div>
        </div>
        <br/>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>A1. DATOS PERSONALES (Diligencie nombres y apellidos completos y seleccione las opciones abajo indicadas).</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body" style="display: block;">
                <div class="container"> 
                    <div class="row">
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Primer Nombre</label>
                                    <input type="text" capitalize class="form-control" name="nombre1" maxlength="30" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Segundo Nombre</label>
                                    <input type="text" capitalize class="form-control" name="nombre2"  maxlength="30" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Primer Apellido</label>
                                    <input type="text"  capitalize class="form-control" name="apellido1" maxlength="30"readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Segundo Apellido</label>
                                    <input type="text" capitalize class="form-control" name="apellido2" maxlength="30" readonly/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Documento: </label>
                                <div class="col-xs-3" style="padding-right:0px !important">
                                    <input type="text" class="form-control" name="tipo_documento_id" maxlength="5" readonly/>
                                </div>
                                <div class="col-xs-6" style="padding-left:0px !important">
                                    <input type="text" class="form-control" name="numero_documento" maxlength="20" readonly/>
                                </div>
                            </div>
                        </div>

                        <div div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-6 control-label" for="fecha_nacimiento">Fecha de Nacimiento</label>
                                <div class="col-sm-6">
                                    <input size="16" name="fecha_nacimiento" class="form-control" readonly/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">Sexo</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="sexo" maxlength="5" readonly/>
                                </div>
                            </div>
                        </div>                    
                        <div div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">Nivel Educativo</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="nivel_educativo" maxlength="30" readonly/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div div class="col-md-5">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="focused">Tipo de Productor:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="tipo_productor" maxlength="30" readonly/>
                                </div>
                            </div>
                        </div>
                        <div div class="col-md-7">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="focused">Renglón Productivo</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="renglon_productivo" maxlength="30" readonly/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .container -->
            </div><!-- End .panel-body -->

        </div><!-- panel default -->

        <br/>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>A2. DATOS DE CONTACTO (Diligencie de manera clara los datos de ubicación del productor)</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body" style="display: block;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Telefono Fijo</label>
                                    <input type="text" class="form-control" name="telefono" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Celular</label>
                                    <input type="text" class="form-control" name="celular" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Correo Electrónico</label>
                                    <input type="text" class="form-control" name="email" readonly/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Departamento:</label>
                                    <select name="departamento" id="departamento" class="form-control">
                                        <option></option>
                                    </select>                                    
                                </div>
                            </div>
                        </div>
                        <div div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label" >Municipio:</label>
                                    <select name="municipio" id="municipio" class="form-control">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label" for="focused">Vereda / Corregimiento</label>
                                    <input type="text" class="form-control" name="vereda" readonly/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Dirección de Residencia</label>
                                    <input type="text" class="form-control" name="direccion_residencia" readonly/>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </div><!-- End .panel-body -->
        </div><!-- panel default -->

        <br/>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>B. DATOS DEL CONYUGE O COMPAÑERO PERMANENTE</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body" style="display: block;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Primer Nombre </label>
                                    <input type="text" capitalize class="form-control" name="conyugue_nombre1" maxlength="30" value="{{ set_value('conyugue_nombre1', conyugue.nombre1) }}"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Segundo Nombre</label>
                                    <input type="text" capitalize class="form-control" name="conyugue_nombre2"  maxlength="30" value="{{ set_value('conyugue_nombre2', conyugue.nombre2) }}"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Primer Apellido</label>
                                    <input type="text"  capitalize class="form-control" name="conyugue_apellido1" maxlength="30" value="{{ set_value('conyugue_apellido1', conyugue.apellido1) }}"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Segundo Apellido</label>
                                    <input type="text" capitalize class="form-control" name="conyugue_apellido2" maxlength="30" value="{{ set_value('conyugue_apellido2', conyugue.apellido2) }}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Documento:</label>
                                <div class="col-xs-3" style="padding-right:0px !important">
                                    <select name="tipo_documento_conyugue" class="form-control">
                                    {% for tipo_doc in combos['tiposDocumento'] %}
                                        <option value="{{ tipo_doc.id|e }}" {{(tipo_doc.id == conyugue.tipo_documento)?'selected':''}}>{{ tipo_doc.descripcion|e }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-6" style="padding-left:0px !important">
                                    <input type="text" class="form-control" name="conyugue_identificacion" maxlength="30"  value="{{ set_value('conyugue_identificacion', conyugue.identificacion) }}"/>

                                </div>
                            </div>
                        </div>

                        <div div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">Fecha de Nacimiento</label>
                                <div class="col-sm-6">
                                    <div class="input-group date datepicker autostart">
                                        <input size="16" class="form-control" name="conyugue_fecha_nacimiento" type="text" value="{{ set_value('conyugue_fecha_nacimiento', conyugue.fecha_nacimiento | date('Y-m-d')) }}">
                                        <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>                    
                                    </div>
                                    <span class="help-block"><small>AAAA-MM-DD</small></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">Teléfono</label>
                                <div class="col-sm-6">
                                    <input class="form-control" name="conyugue_telefono" type="text" value="{{ set_value('conyugue_telefono', conyugue.telefono) }}">
                                </div>
                            </div>
                        </div>
                        <div div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">Personas a Cargo</label>
                                <div class="col-sm-6">
                                    <input class="form-control" name="conyugue_personas_cargo" type="text" value="{{ set_value('conyugue_personas_cargo', conyugue.conyugue_personas_cargo) }}">
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

        <br/>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>C. REFERENCIAS</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body" style="display: block;">
                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>FAMILIARES (Que no vivan con usted)</h4>
                        </div><!-- End .panel-heading -->

                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Nombres</label>
                                            <input type="text" class="form-control" name="referencias_fam1_nombres" value="{{ set_value('referencias_fam1_nombres', referencias_familiares[0].nombres) }}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Primer Apellido</label>
                                            <input type="text" class="form-control" name="referencias_fam1_apellido1"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Segundo Apellido</label>
                                            <input type="text" class="form-control" name="referencias_fam1_apellido2"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Parentesco</label>
                                            <input type="text" class="form-control" name="referencias_fam1_parentesco"/>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Departamento</label>
                                            <select name="referencias_fam1_departamento" id="referencias_fam1_departamento" class="form-control">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Municipio</label>
                                            <select name="referencias_fam1_municipio" id="referencias_fam1_municipio" class="form-control">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Dirección de la Residencia</label>
                                            <input type="text" class="form-control" name="referencias_fam1_per_direccion"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Barrio/ Vereda</label>
                                            <input type="text" class="form-control" name="referencias_fam1_barrio"/>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div div class="col-md-4">
                                    <div class="form-group">
                                        <div class="container">                       
                                            <label class="control-label">Indicativo y No. Telefónico de Residencia</label>
                                            <div div class="col-md-12">
                                                <div div class="col-md-3">
                                                    <input type="text" class="" name="referencias_fam1_indicativo1" maxlength="3" />
                                                </div>
                                                <div div class="col-md-9">
                                                    <input type="text" class="" name="referencias_fam1_telefono1" maxlength="20" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div div class="col-md-4">
                                    <div class="form-group">
                                        <div class="container">                       
                                            <label class="control-label">Indicativo y No. Telefonico de ubicación</label>
                                            <div div class="col-md-12">
                                                <div div class="col-md-3">
                                                    <input type="text" class="" name="referencias_fam1_indicativo2" maxlength="3" />
                                                </div>
                                                <div div class="col-md-9">
                                                    <input type="text" class="" name="referencias_fam1_telefono2" maxlength="20" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div div class="col-md-4">
                                    <div class="form-group">
                                        <div class="container">                       
                                            <label class="control-label">Celular (Prefijo y Número)</label>
                                            <div div class="col-md-12">
                                                <div div class="col-md-3">
                                                    <input type="text" class="" name="referencias_fam1_indicativo3" maxlength="3" />
                                                </div>
                                                <div div class="col-md-9">
                                                    <input type="text" class="" name="referencias_fam1_telefono3" maxlength="20" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>                
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Nombres</label>
                                            <input type="text" class="form-control" name="referencias_fam2_nombres"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Primer Apellido</label>
                                            <input type="text" class="form-control" name="referencias_fam2_apellido1"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Segundo Apellido</label>
                                            <input type="text" class="form-control" name="referencias_fam2_apellido2"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Parentesco</label>
                                            <input type="text" class="form-control" name="referencias_fam2_parentesco"/>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Departamento</label>
                                            <select name="referencias_fam2_departamento" id="referencias_fam2_departamento" class="form-control">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Municipio</label>
                                            <select name="referencias_fam2_municipio" id="referencias_fam2_municipio" class="form-control">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Dirección de la Residencia</label>
                                            <input type="text" class="form-control" name="referencias_fam2_per_direccion"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Barrio/ Vereda</label>
                                            <input type="text" class="form-control" name="referencias_fam2_barrio"/>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div div class="col-md-4">
                                    <div class="form-group">
                                        <div class="container">                       
                                            <label class="control-label">Indicativo y No. Telefónico de Residencia</label>
                                            <div div class="col-md-12">
                                                <div div class="col-md-3">
                                                    <input type="text" class="" name="referencias_fam2_indicativo1" maxlength="3" />
                                                </div>
                                                <div div class="col-md-9">
                                                    <input type="text" class="" name="referencias_fam2_telefono1" maxlength="20" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div div class="col-md-4">
                                    <div class="form-group">
                                        <div class="container">                       
                                            <label class="control-label">Indicativo y No. Telefonico de ubicación</label>
                                            <div div class="col-md-12">
                                                <div div class="col-md-3">
                                                    <input type="text" class="" name="referencias_fam2_indicativo2" maxlength="3" />
                                                </div>
                                                <div div class="col-md-9">
                                                    <input type="text" class="" name="referencias_fam2_telefono2" maxlength="20" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div div class="col-md-4">
                                    <div class="form-group">
                                        <div class="container">                       
                                            <label class="control-label">Celular (Prefijo y Número)</label>
                                            <div div class="col-md-12">
                                                <div div class="col-md-3">
                                                    <input type="text" class="" name="referencias_fam2_indicativo3" maxlength="3" />
                                                </div>
                                                <div div class="col-md-9">
                                                    <input type="text" class="" name="referencias_fam2_telefono3" maxlength="20" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>                
                            </div>

                        </div>
                    </div>

                    <br>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>PERSONALES</h4>
                        </div><!-- End .panel-heading -->

                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Nombres</label>
                                            <input type="text" class="form-control" name="referencias_per1_nombres" value="{{ set_value('referencias_fam1_nombres', referencias_personales[0].nombres) }}"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Primer Apellido</label>
                                            <input type="text" class="form-control" name="referencias_per1_apellido1"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Segundo Apellido</label>
                                            <input type="text" class="form-control" name="referencias_per1_apellido2"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Parentesco</label>
                                            <input type="text" class="form-control" name="referencias_per1_parentesco"/>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Departamento</label>
                                            <input type="text" class="form-control" name="referencias_per1_departamento"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Municipio</label>
                                            <input type="text" class="form-control" name="referencias_per1_municipio"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Dirección de la Residencia</label>
                                            <input type="text" class="form-control" name="referencias_per1_per_direccion"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Barrio/ Vereda</label>
                                            <input type="text" class="form-control" name="referencias_per1_barrio"/>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div div class="col-md-4">
                                    <div class="form-group">
                                        <div class="container">                       
                                            <label class="control-label">Indicativo y No. Telefónico de Residencia</label>
                                            <div div class="col-md-12">
                                                <div div class="col-md-3">
                                                    <input type="text" class="" name="referencias_per1_indicativo1" maxlength="3" />
                                                </div>
                                                <div div class="col-md-9">
                                                    <input type="text" class="" name="referencias_per1_telefono1" maxlength="20" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div div class="col-md-4">
                                    <div class="form-group">
                                        <div class="container">                       
                                            <label class="control-label">Indicativo y No. Telefonico de ubicación</label>
                                            <div div class="col-md-12">
                                                <div div class="col-md-3">
                                                    <input type="text" class="" name="referencias_per1_indicativo2" maxlength="3" />
                                                </div>
                                                <div div class="col-md-9">
                                                    <input type="text" class="" name="referencias_per1_telefono2" maxlength="20" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div div class="col-md-4">
                                    <div class="form-group">
                                        <div class="container">                       
                                            <label class="control-label">Celular (Prefijo y Número)</label>
                                            <div div class="col-md-12">
                                                <div div class="col-md-3">
                                                    <input type="text" class="" name="referencias_per1_indicativo3" maxlength="3" />
                                                </div>
                                                <div div class="col-md-9">
                                                    <input type="text" class="" name="referencias_per1_telefono3" maxlength="20" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>                
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Nombres</label>
                                            <input type="text" class="form-control" name="referencias_per2_nombres"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Primer Apellido</label>
                                            <input type="text" class="form-control" name="referencias_per2_apellido1"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Segundo Apellido</label>
                                            <input type="text" class="form-control" name="referencias_per2_apellido2"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Parentesco</label>
                                            <input type="text" class="form-control" name="referencias_per2_parentesco"/>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Departamento</label>
                                            <select name="referencias_per2_departamento" id="referencias_per2_departamento" class="form-control">
                                                <option ></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Municipio</label>
                                            <input type="text" class="form-control" name="referencias_per2_municipio"/>
                                            <select name="referencias_fin1_departamento" id="referencias_per2_departamento" class="form-control">
                                                <option ></option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Dirección de la Residencia</label>
                                            <input type="text" class="form-control" name="referencias_per2_per_direccion"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Barrio/ Vereda</label>
                                            <input type="text" class="form-control" name="referencias_per2_barrio"/>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div div class="col-md-4">
                                    <div class="form-group">
                                        <div class="container">                       
                                            <label class="control-label">Indicativo y No. Telefónico de Residencia</label>
                                            <div div class="col-md-12">
                                                <div div class="col-md-3">
                                                    <input type="text" class="" name="referencias_per2_indicativo1" maxlength="3" />
                                                </div>
                                                <div div class="col-md-9">
                                                    <input type="text" class="" name="referencias_per2_telefono1" maxlength="20" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div div class="col-md-4">
                                    <div class="form-group">
                                        <div class="container">                       
                                            <label class="control-label">Indicativo y No. Telefonico de ubicación</label>
                                            <div div class="col-md-12">
                                                <div div class="col-md-3">
                                                    <input type="text" class="" name="referencias_per2_indicativo2" maxlength="3" />
                                                </div>
                                                <div div class="col-md-9">
                                                    <input type="text" class="" name="referencias_per2_telefono2" maxlength="20" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div div class="col-md-4">
                                    <div class="form-group">
                                        <div class="container">                       
                                            <label class="control-label">Celular (Prefijo y Número)</label>
                                            <div div class="col-md-12">
                                                <div div class="col-md-3">
                                                    <input type="text" class="" name="referencias_per2_indicativo3" maxlength="3" />
                                                </div>
                                                <div div class="col-md-9">
                                                    <input type="text" class="" name="referencias_per2_telefono3" maxlength="20" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>                
                            </div>

                        </div>
                    </div>

                    <br>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>FINANCIERAS</h4>
                        </div><!-- End .panel-heading -->

                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Entidad</label>
                                            <input type="text" class="form-control" name="referencias_fin1_entidad" value="{{ set_value('referencias_fin1_entidad', referencias_financieras[0].entidad) }}"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Clase o tipo de Producto</label>
                                            <input type="text" class="form-control" name="referencias_fin1_clase"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">No. de Producto</label>
                                            <input type="text" class="form-control" name="referencias_fin1_nro_producto" />

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Departamento</label>
                                            <select name="referencias_fin1_departamento" id="referencias_fin1_departamento" class="form-control">
                                                <option ></option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Municipio</label>
                                            <select name="referencias_fin1_ciudad" id="referencias_fin1_municipio" class="form-control">
                                                <option></option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Sucursal</label>
                                            <input type="text" class="form-control" name="referencias_fin1_sucursal"/>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Entidad</label>
                                            <input type="text" class="form-control" name="referencias_fin2_entidad" />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Clase o tipo de Producto</label>
                                            <input type="text" class="form-control" name="referencias_fin2_clase"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">No. de Producto</label>
                                            <input type="text" class="form-control" name="referencias_fin2_nro_producto" />

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Departamento</label>
                                            <select name="referencias_fin2_departamento" id="referencias_fin2_departamento" class="form-control">
                                                <option></option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Municipio</label>
                                            <select name="referencias_fin2_municipio" id="referencias_fin2_municipio" class="form-control">
                                                <option></option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Sucursal</label>
                                            <input type="text" class="form-control" name="referencias_fin2_sucursal"/>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <br>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>COMERCIALES (Diligenciar las referencias comerciales solo para independientes)</h4>
                        </div><!-- End .panel-heading -->

                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Nombre del Establecimiento</label>
                                            <input type="text" class="form-control" name="referencias_com_nombre_est" value="{{ set_value('referencias_com_nombre_est', referencias_comerciales[0].nombre_est) }}"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Tipo de vínculo</label>
                                            <input type="text" class="form-control" name="referencias_com_tipo_vinculo"/>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Departamento</label>
                                            <select name="referencias_com_departamento" id="referencias_com_departamento" class="form-control">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Municipio</label>
                                            <select name="referencias_com_municipio" id="referencias_com_municipio" class="form-control">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="form-group">
                                            <label class="control-label">Telefono</label>
                                            <input type="text" class="form-control" name="referencias_com_telefono"/>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

        <br/>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>D. INFORMACIÓN PARA LA PLANIFICACION DEL CRÉDITO (DESCRIPCIÓN DE LAS INVERSIONES OBJETO DEL PROYECTO A FINANCIAR)</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body" style="display: block;">
                <div class="container">

                    <table class="table table-bordered table-hover table-responsive dataTable">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Codigo FINAGRO (Deje en Blanco)</th>
                                <th style="text-align: center;">Destino Recursos</th>
                                <th style="text-align: center;">Nombre del Rubro</th>
                                <th style="text-align: center;">Unidades o Hectareas a Financiar</th>
                                <th style="text-align: center;">Valor del Proyecto (100%)</th>
                                <th style="text-align: center;">Valor de la Solicitud (Pequeño Productor hasta 100%)</th>
                                <th style="text-align: center;">Plazo Total (Meses)</th>
                                <th style="text-align: center;">Período de Gracia (semestral /anual)</th>
                                <th style="text-align: center;">Modalidad Pago de Intereses (semestral /anual)</th>
                                <th style="text-align: center;">Amortización a Capital (semestral /anual)</th>
                                <th style="text-align: center;">Taza de Interes DTF+</th>

                            </tr>
                        </thead>
                        <tbody>
                {% for i in 1..4 %}
                            <tr>                
                    {% for j in 1..11 %}
                                <td>                
                                    <input name="descripcion_inv_{{ i~'_'~j }}"  name="" style="width: 70px;"/>
                                </td>                  
                    {% endfor %}
                            </tr>                  
                {% endfor %}
                        </tbody>
                    </table>


                    <div class="row">
                        /*Something is misssing here*/
                    </div>

                </div>
            </div>
        </div>

        <br/>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>E. INFORMACIÓN DEL PREDIO DE LA INVERSIÓN</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body" style="display: block;">
                <div class="container">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="">Nombre del Predio de la inversión</label>
                                    <input type="text" capitalize class="form-control" name="informacion_pre_nombre_predio" maxlength="30" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="">Área de la Presente Inversión (Has)</label>
                                    <input type="text" capitalize class="form-control" name="informacion_pre_area" maxlength="30" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="">Tenencia del predio de la inversión (Items del RUAT)</label>
                                    <input type="text" capitalize class="form-control" name="informacion_pre_tenencia" maxlength="30" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="">Municipio del Predio de la Inversión</label>
                                    <option name="informacion_pre_tenencia_municipio"></option>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="">Vereda</label>
                                    <input type="text" capitalize class="form-control" name="informacion_pre_vereda" maxlength="30" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="">Fuentes Hídricas <br>&nbsp;</label><br/>
                                    <select name="informacion_pre_fuente_hid" class="form-control" class="form-control">
                                        <option value="1">si</option>
                                        <option value="0">no</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="">Fecha Inicial de la Inversión AAAA/MM/DD</label>
                                    <div class="input-group date datepicker autostart">
                                        <input size="16" class="form-control" name="informacion_pre_fecha_ini" type="text">
                                        <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="">Fecha final de la Inversión AAAA/MM/DD</label>
                                    <div class="input-group date datepicker autostart">
                                        <input size="16" class="form-control" name="informacion_pre_fecha_fin" type="text">
                                        <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <br/>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>F. ACTIVIDADES AGROPECUARIAS COMPLEMENTARIAS (INGRESOS ADICIONALES)</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body" style="display: block;">
                <div class="container">
                    <table class="table table-bordered table-hover table-responsive dataTable">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Inventario Agropecuario</th>
                                <th style="text-align: center;">Cantidad (Has. y/o Animales)</th>
                                <th style="text-align: center;">Unidad de medida de Producción (Cabeza, Kg, Litros, Has)</th>
                                <th style="text-align: center;">Edad en Meses</th>
                                <th style="text-align: center;">Precio de Venta $</th>
                                <th style="text-align: center;">Total Ingresos (Anual) $</th>
                                <th style="text-align: center;">Nombre del Predio donde tiene los inventarios</th>
                                <th style="text-align: center;">Area del Predio de los Inventarios</th>
                                <th style="text-align: center;">Tipo de Tenencia del Predio de los Inventarios (Has)</th>
                            </tr>
                        </thead>
                        <tbody>
                    {% for i in 1..5 %}
                            <tr>                
                        {% for j in 1..9 %}
                                <td>
                            {% if i == 5 and j == 1 %}
                                    Otros Ingresos Diferentes a los generados por actividades agropecuarias
                                    <input name="ingresos_adicionales_{{ i~'_'~j }}"  name="" style="width: 100px;" hidden/>

                            {% else %}
                                    <input name="ingresos_adicionales_{{ i~'_'~j }}"  name="" style="width: 100px;"/>
                            {% endif %}                
                                </td>                  
                        {% endfor %}
                            </tr>                  
                    {% endfor %}                    
                        </tbody>
                    </table>            
                </div>
            </div>
        </div>


        <br/>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>G. DESCRIPCION DE LA INVERSION A FINANCIAR (JUSTIFICACIÓN DE CRÉDITO)</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body" style="display: block;">
                <div class="container">
                    <div class="col-sm-12">
                        <textarea name="descripcion_inv" style="width: 100%;"></textarea>
                    </div>                   
                </div>
            </div>
        </div>


        <br/>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>H. FORMA DE LLEGAR AL PREDIO DE LA INVERSIÓN (Incluir la distancia en kilómetros):</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body" style="display: block;">
                <div class="container">
                    <div class="col-sm-12">
                        <textarea name="forma_llegar_pred" style="width: 100%;"></textarea>
                    </div>                   
                </div>
            </div>
        </div>

        <br/>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>J. DESCRIPCION DE BIENES</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body" style="display: block;">
                <div class="container">

                    <div class="row" style="margin-bottom: 0px;">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Tipo de Inmueble</label>
                                    <select name="descripcion_bien_1_1" class="form-control">
                                        <option value=1 >Casa</option>
                                        <option value=2 >Edificio</option>
                                        <option value=3 >Finca</option>
                                        <option value=4 >Local</option>
                                        <option value=5 >Lote</option>
                                        <option value=6 >Apartamento</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Dirección</label>
                                    <input type="text" class="form-control" name="descripcion_bien_1_5" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Valor comercial</label>
                                    <input type="text" class="form-control" name="descripcion_bien_1_6" />

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Departamento</label>
                                    <select name="descripcion_bien_1_2" id="descripcion_bien_1_2" class="form-control">
                                        <option></option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Municipio</label>
                                    <select name="descripcion_bien_1_3" id="descripcion_bien_1_3" class="form-control">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Vereda</label>
                                    <input type="text" class="form-control" name="descripcion_bien_1_4" />

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 0px;">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Tipo de Inmueble</label>
                                    <select name="descripcion_bien_2_1" class="form-control">
                                        <option value=1 >Casa</option>
                                        <option value=2 >Edificio</option>
                                        <option value=3 >Finca</option>
                                        <option value=4 >Local</option>
                                        <option value=5 >Lote</option>
                                        <option value=6 >Apartamento</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Dirección</label>
                                    <input type="text" class="form-control" name="descripcion_bien_2_5" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Valor comercial</label>
                                    <input type="text" class="form-control" name="descripcion_bien_2_6" />

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Departamento</label>
                                    <select name="descripcion_bien_2_2" id="descripcion_bien_2_2" class="form-control">
                                        <option></option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Municipio</label>
                                    <select name="descripcion_bien_2_2" id="descripcion_bien_2_3" class="form-control">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Vereda</label>
                                    <input type="text" class="form-control" name="descripcion_bien_2_4" />

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 0px;">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Tipo de Inmueble</label>
                                    <select name="descripcion_bien_3_1" class="form-control">
                                        <option value=1 >Casa</option>
                                        <option value=2 >Edificio</option>
                                        <option value=3 >Finca</option>
                                        <option value=4 >Local</option>
                                        <option value=5 >Lote</option>
                                        <option value=6 >Apartamento</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Dirección</label>
                                    <input type="text" class="form-control" name="descripcion_bien_3_5" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Valor comercial</label>
                                    <input type="text" class="form-control" name="descripcion_bien_3_6" />

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Departamento</label>
                                    <select name="descripcion_bien_3_2" id="descripcion_bien_3_2" class="form-control">
                                        <option></option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Municipio</label>
                                    <select name="descripcion_bien_3_3" id="descripcion_bien_3_3" class="form-control">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Vereda</label>
                                    <input type="text" class="form-control" name="descripcion_bien_3_4" />

                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>


                    <div class="row" style="margin-bottom: 0px;">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Vehículo -  Marca</label>
                                    <input type="text" class="form-control" name="vehiculo_marca" />

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Placa</label>
                                    <input type="text" class="form-control" name="vehiculo_placa" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Modelo</label>
                                    <input type="text" class="form-control" name="vehiculo_modelo" />

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Prenda a favor de</label>
                                    <input type="text" class="form-control" name="vehiculo_prenda_favor" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Valor de la deuda</label>
                                    <input type="text" class="form-control" name="vehiculo_valor_deuda" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Valor Comercial</label>
                                    <input type="text" class="form-control" name="vehiculo_valor_comercial" />

                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <table class="table table-bordered table-hover table-responsive dataTable">
                        <thead>
                            <tr>
                                <th style="text-align: center;" colspan=6>Descripción de Otros Bienes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Semovientes</td>
                                <td><input  name="otros_bienes1" style="width: 120px;"/></td>
                                <td>Cantidad</td>
                                <td><input  name="otros_cantidad1" style="width: 120px;"/></td>
                                <td>Valor Comercial</td>
                                <td><input  name="otros_valor1" style="width: 120px;"/></td>
                            </tr>

                            <tr>
                                <td>Maquinaria</td>
                                <td><input  name="otros_bienes2" style="width: 120px;"/></td>
                                <td>Cantidad</td>
                                <td><input  name="otros_cantidad2" style="width: 120px;"/></td>
                                <td>Valor Comercial</td>
                                <td><input  name="otros_valor2" style="width: 120px;"/></td>
                            </tr>

                            <tr>
                                <td>Cultivos en desarrollo</td>
                                <td><input  name="otros_bienes3" style="width: 120px;"/></td>
                                <td>Cantidad</td>
                                <td><input  name="otros_cantidad3" style="width: 120px;"/></td>
                                <td>Valor Comercial</td>
                                <td><input  name="otros_valor3" style="width: 120px;"/></td>
                            </tr>

                            <tr>
                                <td>Inversiones y otros activos</td>
                                <td><input  name="otros_bienes4" style="width: 120px;"/></td>
                                <td>Cantidad</td>
                                <td><input  name="otros_cantidad4" style="width: 120px;"/></td>
                                <td>Valor Comercial</td>
                                <td><input  name="otros_valor4" style="width: 120px;"/></td>
                            </tr>

                        </tbody>
                    </table>

                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label"> Observaciones</label>
                                    <textarea name="observaciones" style="width: 100%;"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>

        <br/>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>K. CONSIDERACIONES ADICIONALES</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body" style="display: block;">
                <div class="container">
                    <div class="row">

                        <div div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-6">Experiencia en la actividad a financiar (en meses)</label>
                                <div class="col-sm-6">
                                    <input name="experiencia_act" class="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-6">Tiempo de permanencia en la región (en meses)</label>
                                <div class="col-sm-6">
                                    <input name="tiempo_permanencia" class="form-control"/>
                                </div>
                            </div>
                        </div>


                    </div>                   
                </div>
            </div>
        </div>

        <br/>

        <div style="background: #E1E1E1; padding: 10px; border-radius: 5px;">
            <bold>NOTA:</bold>   LOS  SOPORTES ANEXOS A ESTE  FORMATO    SON:    1.  DOCUMENTO QUE CERTIFIQUE LA  TENECIA DE LA TIERRA  (DEL PREDIO DE LA  INVERSIÓN);    2.    PARA  SOLICITUD DE  RUBROS RELACIONADOS CON:   COMPRA DE  MAQUINARIA  Y EQUIPO SE DEBE  ADJUNTAR  LA COTIZACIÓN  DE  LOS MISMOS;   3.   PARA  CONSTRUCCIÓN DE INFRAESTRUCTURA  AGRÍCOLA:  ADJUNTAR  EL  PRESUPUESTO Y DISEÑO DE LA  OBRA  CON SUS  RESPECTIVAS  ÁREAS.
        </div>            

        <br/>

        <div class="form-actions full">

            <!--div class="col-md-4 pull-right">
                <button ng-disabled="myForm.$pristine"  class="btn btn-lg btn-info" type="submit"><i class="i-disk"></i>  Guardar</button>
                
            </div-->
            <button class="btn btn-lg btn-success pull-right" type="submit">Siguiente<i class="icon16 i-arrow-right"></i></button>
        </div>


        </form>
    </div>
</div>


{% endblock %}
