{% extends "base.html.twig" %}

{% block html_head %}
<style type="text/css">
	.tamannoLetra{
		font-size:17px;
	}
	.rojo{
		color:red;
	}
	.azul{
		color:blue;
	}
	.amarillo{
		color:yellow;
	}
	.verde{
		color:green;
	}
	.naranja{
		color:orange;
	}
	.morado{
		color:purple;
	}
	.rosado{
		color:pink;
	}
</style>
{% endblock %}
{% block breadcrumnb %}
    <ul class="breadcrumb">
      <li><a href="{{site_url('listadoruats')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
      <li><strong class="text-success">MANUAL DE USUARIO</strong></li>
    </ul>
{% endblock %}

{% block titulo %}
    <h1><i class="icon20 i-stack-checkmark"></i> MANUAL DE USUARIO </h1> 
{% endblock %}

{% block contenido %}
<div class="form-group">
    <div class="container-fluid">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#muni" data-toggle="tab">DISTRIBUCIÓN DE RENGLONES PRODUCTIVOS EN MUNICIPIOS</a></li>
        <li><a href="#ubicacion" data-toggle="tab">UBICACIÓN DE PREDIOS</a></li>
        <li><a href="#loginR" data-toggle="tab">Login</a></li>
        <li><a href="#inicio" data-toggle="tab">Inicio</a></li>
        <li><a href="#ruata" data-toggle="tab">RUAT-A</a></li>
        <li><a href="#ruatc" data-toggle="tab">RUAT-C</a></li>
        <li><a href="#ruatd" data-toggle="tab">RUAT-D</a></li>
        <li><a href="#suelos" data-toggle="tab">IMPRIMIBLE SUELOS</a></li>
        <li><a id="linktabla" href="#bpa" data-toggle="tab">BUENAS PRÁCTICAS AGRICOLAS</a>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="muni" align="justify">
            <center><label><h3>COMPARATIVO POR MUNICIPIO</h3></label></center>
            <p class="tamannoLetra">Este reporte permite mostrar el porcentaje de pequeños productores de frutas por municipio. Usted pude seleccionar el municipio del cual desea mostrar la información respectiva.</p>
            <img src="{{base_url('assets/images/manual/Renglones/1.png')}}" style="width:100%; margin-bottom:20px">

            <p class="tamannoLetra"><label class="azul"><b>Municipio:</b></label> Es aquel municipio del cual se quiere desplegar la información con los productores por renglones productivos.<p/>
			<p class="tamannoLetra"><label class="rojo"><b>Gráfica:</b></label> Es la gráfica que se genera de acuerdo al municipio seleccionado.</p>

            <hr>
			<center><label><h3>RESUMEN POR RENGLÓN PRODUCTIVO</h3></label></center>
			<p class="tamannoLetra">Este reporte permite mostrar el número de productores de cierto renglón productivo en cada municipio. Usted pude seleccionar el renglón productivo del cual desea mostrar la información respectiva.</p>
            <img src="{{base_url('assets/images/manual/Renglones/2.png')}}" style="width:100%; margin-bottom:20px">

            <p class="tamannoLetra"><label class="rojo"><b>Renglón Productivo:</b></label> Es aquel renglón productivo del cual se quiere desplegar la información la producción de dicho renglón en todos los municipios.<p/>
			<p class="tamannoLetra"><label class="verde"><b>Gráfica:</b></label> Es la gráfica que se genera de acuerdo al renglón productivo seleccionado.</p>

            <hr>
            <center><label><h3>NÚMERO DE PRODUCTORES POR RENGLÓN</h3></label></center>
            <p class="tamannoLetra">Este reporte permite mostrar el porcentaje de pequeños productores de frutas por cada renglón productivo.</p>
            <img src="{{base_url('assets/images/manual/Renglones/3.png')}}" style="width:100%; margin-bottom:20px">

            <p class="tamannoLetra"><label class="verde"><b>Exportar:</b></label> Esta opción sirve para todas las gráficas anteriores también, nos permite guardar la imagen generada con alguno de los siguientes formatos: JPG, PNG, SVG, PDF.<p/>
			<p class="tamannoLetra"><label class="rojo"><b>Gráfica:</b></label> Gráfica que nos muestra el número de productores de frutas del Valle del Cauca por Renglón Productivo.</p>

            <hr>
            <center><label><h3>TABLA DE DATOS</h3></label></center>
            <p class="tamannoLetra">Es la tabla que contiene el número de productores por cada renglón y cada municipio, junto con sus respectivos totales (por municipio y renglón productivo).</p>
            <img src="{{base_url('assets/images/manual/Renglones/4.png')}}" style="width:100%; margin-bottom:20px">

            <p class="tamannoLetra"><label class="rojo"><b>Exportar Tabla:</b></label> Esta opción nos permite guardar la tabla que se generó en un archivo de Excel (formato .xls).<p/>
			<p class="tamannoLetra"><label class="morado"><b>Filtro:</b></label> Este campos nos permite filtrar los datos de la gráfica, para que salgan los municipios que concuerden con los datos ingresados.</p>
			<p class="tamannoLetra"><label class="verde"><b>Renglones Productivos:</b></label> Renglones Productivos almacenados en la aplicación.<p/>
			<p class="tamannoLetra"><label class="azul"><b>Municipios:</b></label> Municipios almacenados en la aplicación.</p>
			<p class="tamannoLetra"><label class="naranja"><b>Valores:</b></label> Son los valores que tiene cada Renglón Productivos en cada Municipio, adicional a la derecha estan los totales por cada Municipio, y abajo el total por cada Renglón Productivo.<p/>

        </div>
        <div class="tab-pane fade" id="ubicacion" align="justify">
        	<p class="tamannoLetra">Este reporte nos permite conocer la ubicación geográfica de los predios registrados en la aplicación, en un mapa de Google.</p>
        	<img src="{{base_url('assets/images/manual/Mapa/mapa.png')}}" style="width:100%; margin-bottom:20px">

            <p class="tamannoLetra"><label class="azul"><b>Municipio escogido:</b></label> Es aquel municipio del cual se quieren desplegar los predios asociados a éste registrados dentro de la aplicación.<p/>
			<p class="tamannoLetra"><label class="rojo"><b>Mapa del municipio seleccionado:</b></label> Mapa en el cual se muestran todos los predios del municipio seleccionado (sino hay un municipio seleccionado, entonces el mapa sale sin predios).</p>
			<p class="tamannoLetra"><label class="amarillo"><b>Predio dentro del municipio:</b></label> Es la representación de un predio dentro del municipio seleccionado, cuando se le da click, se desplegará la descripción del predio.</p>
			<p class="tamannoLetra"><label class="morado"><b>Descripción del Predio:</b></label> Los datos básicos del predio seleccionado, tales como: Municipio, Vereda, Sector, Área Total y Renglón.</p>
        </div>



        <div class="tab-pane fade" id="suelos" align="justify">
        	<p class="tamannoLetra">Este reporte nos permite generar una versión imprimible del Estudio de Suelos, asignado a cada RUAT, siempre y cuadno se le haya asignado uno previamente.</p>
        	
        	<img src="{{base_url('assets/images/manual/Suelos/1.png')}}" style="width:100%; margin-bottom:20px">
        	<img src="{{base_url('assets/images/manual/Suelos/2.png')}}" style="width:100%; margin-bottom:20px">

            <p class="tamannoLetra"><label class="amarillo"><b>Imprimir:</b></label> Éste botón nos permite imprimir la totalidad del documento generado del Estudio de Suelos.<p/>
			<p class="tamannoLetra"><label class="rojo"><b>Información del Cliente:</b></label> En el área señalada, muestra la información básica de la persona, tal como: nombre y apellido, cédula, código del laboratorio, municipio y si tiene los respectivos números de contacto.</p>
			<p class="tamannoLetra"><label class="azul"><b>Información de la Muestra:</b></label> En ésta área describen el lugar en el cual se extrajo la muestra, y para ello usan: nombre de la finca, tipo de cultivo, la altura, estado, fecha de reporte, fecha de recepción y de análisis.</p>
			<p class="tamannoLetra"><label class="rosado"><b>Estudio:</b></label> Los datos de manera detallada que conforman el estudio del suelo que se realizó.</p>
        </div>


        <div class="tab-pane fade" id="loginR" align="justify">
        	<p class="tamannoLetra">Ésta área de la aplicación, es la que nos da acceso al sistema por medio del nombre de la cuenta y la contraseña, siempre y cuando éstas existan previamente, para acciones como crear RUAT's, ver reportes, entre otros.</p>
        	<img src="{{base_url('assets/images/manual/LoginGeneral/login.png')}}" style="width:100%; margin-bottom:20px">

            <p class="tamannoLetra"><label class="rojo"><b>Nombre de usuario del sistema:</b></label> Es el nombre de usuario o rol que tiene la persona para acceder al sistema.</p>
            <p class="tamannoLetra"><label class="azul"><b>Contraseña de acceso al sistema:</b></label> Es la clave asociada a nuestro nombre de usuario.<p/>
            <p class="tamannoLetra"><label class="verde"><b>Ingreso al sistema:</b></label> Éste botón nos permite ingresar directamente al sistema, siempre y cuando el nombre de usuario exista y la contraseña ingresada sea la asociada a dicho usuario.<p/>
			<p class="tamannoLetra"><label class="naranja"><b>Normas de privacidad:</b></label> Al seleccionar éste enlace, descargaremos un formato de documento portable (pdf) con las normas de privacidad que rigen el sistema.</p>
			<p class="tamannoLetra"><label class="morado"><b>Normas de manejo de datos:</b></label> Al seleccionar éste enlace, descargaremos un formato de documento portable (pdf) con las normas de manejo de datos que rigen el sistema.</p>
        </div>
        <div class="tab-pane fade" id="inicio" align="justify">
        	<p class="tamannoLetra">Éste es el pantallazo inicial, a partir del cual podemos ingresar a las diferentes funcionalidades del sistema con tan solo un click.</p>
        	<img src="{{base_url('assets/images/manual/LoginGeneral/general.png')}}" style="width:100%; margin-bottom:20px">

        	<p class="tamannoLetra"><label class="morado"><b>Mostrar información personal:</b></label> Éste botón nos permite acceder a la información de nuestra cuenta, y una vez allí podemos cambiar el email y el teléfono.</p>
            <p class="tamannoLetra"><label class="azul"><b>Cambio de contraseña:</b></label> Éste botón nos permite ir a la opción de cambiar la contraseña de nuestra cuenta.<p/>
            <p class="tamannoLetra"><label class="verde"><b>Salir del sistema:</b></label> Éste botón nos permite salir de la aplicación de manera segura.<p/>

            <p class="tamannoLetra"><label class="morado"><b>Reducir el menú:</b></label> Éste botón nos permite reducir el tamaño del menú si, sí éste está grande y vicerversa.</p>
            <p class="tamannoLetra"><label class="rosado"><b>Opciones del menú:</b></label> Son accesos directos a diferentes funcionalidades del sistema, tales como: Gestión de Usuarios (si el usuario acitov es de tipo administrador), Listado de RUAT, Reportes y Estudio de Suelos.<p/>

            <p class="tamannoLetra"><label class="rojo"><b>Creación de un RUAT nuevo:</b></label> Éste botón nos permite comenzar a crear un nuevo RUAT, y nos envia directamente a la pantalla de RUAT parte A.<p/>
			<p class="tamannoLetra"><label class="verde"><b>Exportación de RUAT's:</b></label> Éste botón nos permite exportar de manera directa en formato xls (Documento de Excel) el listado de RUAT's.</p>
			<p class="tamannoLetra"><label class="naranja"><b>Filtro por nombre:</b></label> Éste campo de texto nos permite filtrar de manera automática los RUAT's desplegados en la parte inferior, por medio del nombre ingresado.</p>

			<p class="tamannoLetra"><label class="verde"><b>Ordenar:</b></label> Al presionar en las flechitas, nos permite organizar de manera ascedente o descendente las fechas y por ende los registros correspondientes a ellas, para el caso de campos con texto, lo organiza alfabéticamente ascendente o descendente.</p>

			<p class="tamannoLetra"><label class="amarillo"><b>Eliminar RUAT:</b></label> Éste botón es crítico, debido a que borra toda la información de RUAT seleccionado, además de la información de los diferentes formularios que se desprenden de él.</p>

			<p class="tamannoLetra"><label class="rosado"><b>Opciones de RUAT:</b></label> Hay tres botones, los cuales nos permiten respectivamente (de izquierda a derecha): modificar el RUAT ya existente, imprimir la versión del RUAT generado por el sistema y descargar el RUAT que se subió cuando se creó el mismo.</p>

			<p class="tamannoLetra"><label class="morado"><b>Opciones de cosecha:</b></label> Hay dos botones, los cuales nos permiten respectivamente (de izquierda a derecha): crear/modificar el formulario de cosecha ya existente e imprimir la versión del formulario de cosecha generado por el sistema.</p>

			<p class="tamannoLetra"><label class="azul"><b>BPA:</b></label> Éste botón nos permite acceder al formulario de creación/modificación de "Buenas Prácticas Agropecuarias".</p>

			<p class="tamannoLetra"><label class="verde"><b>Opciones tipo productor:</b></label> Hay dos botones, los cuales nos permiten respectivamente (de izquierda a derecha): crear/modificar el formulario de "Clasificación Productor" ya existente e imprimir la versión del formulario de "Clasificación Productor" generado por el sistema.</p>

			<p class="tamannoLetra"><label class="verde"><b>Opciones Poscosecha:</b></label> Hay dos botones, los cuales nos permiten respectivamente (de izquierda a derecha): crear/modificar el formulario de "Poscosecha" ya existente e imprimir la versión del formulario de "Poscosecha" generado por el sistema.</p>

			<p class="tamannoLetra"><label class="amarillo"><b>Imprimible Estudio de Suelos:</b></label> Nos permite generar la versión imprimible del estudio de suelos asociado al RUAT.</p>
        </div>












        <div class="tab-pane fade" id="ruata" align="justify">
            <center><label><h3>A1. Datos Personales</h3></label></center>
            <p class="tamannoLetra">En esta sección del RUAT-A se recopilan los datos básicos del productor entrevistado.</p>
            <img src="{{base_url('assets/images/manual/RUAT/A/A1.png')}}" style="width:100%; margin-bottom:20px">

            <p class="tamannoLetra"><label class="rojo"><b>Número de Formulario:</b></label> Número de Formulario que tendrá el RUAT que se está creando.</p>
			<p class="tamannoLetra"><label class="azul"><b>Nombres y Apellidos del Productor:</b></label> Nombres y Apellidos del productor que se está registrando.</p>
			<p class="tamannoLetra"><label class="naranja"><b>Documento de Identidad del Productor:</b></label> Se especifica el tipo de Documento de Identidad (C.C, T.I, C.E, NIT) y posteriormente se digita el número del documento.</p>
			<p class="tamannoLetra"><label class="rosado"><b>Fecha de Nacimiento del Productor:</b></label> Se especifica la fecha de Nacimiento del Productor.</p>
			<p class="tamannoLetra"><label class="morado"><b>Sexo del Productor:</b></label> Se escoge el sexo del productor entre: Masculino y Femenino.</p>
			<p class="tamannoLetra"><label class="verde"><b>Nivel Educativo del Productor:</b></label> Se escoge el máximo Nivel Educativo alcanzado por el Productor a registrar, entre: Primaria, Secundaria, Técnica, Tecnológica, Universitaria, Ninguna.</p>
			<p class="tamannoLetra"><label class="amarillo"><b>Tipo de Productor y Renglón Productivo:</b></label> Se selecciona el tipo de productor al cual pertenece la persona (Pequeño o Mediano) y el Renglón Productivo al cual pertenece (Aguacate, Bananito, Cítricos, Chontaduro, Fresa, Lulo, Mango, Maracuyá, Melón, Mora, Papaya, Piña, Uva).</p>

			<hr>
			<center><label><h3>A2. Datos de Contacto - A3. Datos Económicos</h3></label></center>
			<p class="tamannoLetra">En esta sección del RUAT-A se recopilan los datos básicos del productor entrevistado.</p><p class="tamannoLetra">En estas secciones del RUAT-A se recopilan los datos básicos de contacto del productor entrevistado, además de los datos económicos generales (como ingresos por año y personas a cargo).</p>
			<img src="{{base_url('assets/images/manual/RUAT/A/A23.png')}}" style="width:100%; margin-bottom:20px">

			<p class="tamannoLetra"><label class="rojo"><b>Datos de Contacto del Productor:</b></label> Se ingresan los datos de Contacto del Productor, tales como: Teléfono Fijo, Número de Celular y Correo Electrónico.</p>
			<p class="tamannoLetra"><label class="azul"><b>Ubicación del Predio:</b></label> Se define la Ubicación del Predio con los siguientes datos: Departamento, Municipio, Vereda/Corregimiento y la Dirección de Residencia.</p>
			<p class="tamannoLetra"><label class="verde"><b>Ingresos Familiares, de la Actividad Agropecuaria y el número de personas a cargo del Productor:</b></label> Cantidad de dinero que recibe la familia por año, número de personas a cargo y el Ingreso de la Actividad Agropecuaria por año.</p>
			<p class="tamannoLetra"><label class="morado"><b>Crédito del Productor:</b></label> Se define si el productor tiene algún crédito, de ser así se determina la procedencia del mismo.</p>

			<hr>
			<center><label><h3>A4. Participación del Usuario en Procesos de Transferencia e Innovación</h3></label></center>
			<p class="tamannoLetra">En esta sección del RUAT-A se recopilan los datos de la participacion del productor entrevistado en procesos de innovación (si los tiene).</p>
			<img src="{{base_url('assets/images/manual/RUAT/A/A4.png')}}" style="width:100%; margin-bottom:20px">

			<p class="tamannoLetra"><label class="rojo"><b>Proceso de Innovación:</b></label> Se determina si el productor está en algún Proceso de Innovación, si su respuesta es SI, continúa con las siguientes preguntas, de lo contrario no.</p>
			<p class="tamannoLetra"><label class="verde"><b>Actividad en Proceso de Innovación:</b></label> Son las diferentes actividades de Innovación registradas dentro de la aplicación.</p>
			<p class="tamannoLetra"><label class="morado"><b>Origen del Proceso de Innovación:</b></label> Se debe seleccionar la fuente para la actividad de Innovación.</p>
			<p class="tamannoLetra"><label class="naranja"><b>Descripción:</b></label> Es la descripción detallada de cada actividad dentro del Proceso de Innovación.</p>

			<hr>
			<center><label><h3>A5. Asociatividad del Usuario</h3></label></center>
			<p class="tamannoLetra">En esta sección del RUAT-A se recopilan los datos de las asociaciones que pueda tener el usuario, ya sean: Organizaciones, Cooperativas, Agremiaciones u otros productores.</p>
			<img src="{{base_url('assets/images/manual/RUAT/A/A5.png')}}" style="width:100%; margin-bottom:20px">

			<p class="tamannoLetra"><label class="rojo"><b>Asociaciones del Productor:</b></label> Se define si el productor está registrado en alguna Asociación, Cooperativa o Agremiación, de ser NO, se definen: Razones para no Pertenecer y las entidades que conozca las cuales presten apoyo (nombrándolas una a una).</p>
			<p class="tamannoLetra"><label class="azul"><b>Nombre y Apellido del Productor en Asocio:</b></label> Nombres y Apellido del Productor en Asocio.</p>
			<p class="tamannoLetra"><label class="naranja"><b>Ubicación del Lugar del Socio:</b></label> Vereda/Corregimiento del socio.</p>
			<p class="tamannoLetra"><label class="verde"><b>Grado de Confianza del Socio:</b></label></p>
			<p class="tamannoLetra"><label class="morado"><b>Datos del Productor a Seguir:</b></label> Nombres y Apellidos del Productor a seguir.</p>
			<p class="tamannoLetra"><label class="verde"><b>Ubicación del Productor a seguir:</b></label> Vereda/Corregimiento del productor a seguir.</p>
			<p class="tamannoLetra"><label class="rosado"><b>Grado de Confianza del Productor a seguir:</b></label></p>

			<center><label><h4>A5. Cuando presionamos SI en 'Pertenecer a Asociaciones, Cooperativas o Agremiaciones'</h4></label></center>
			<img src="{{base_url('assets/images/manual/RUAT/A/A5SI.png')}}" style="width:100%; margin-bottom:20px">

			<p class="tamannoLetra"><label class="rojo"><b>Clase:</b></label> Seleccionar las Clases de Organizaciones a la que pertenece, entre ellas: Agropecuaria, Asistencial, Comercial, Cultural, Deportiva, Educativa, Étnica, Política, Salud, Social, Tecnológica.
			<p class="tamannoLetra"><label class="azul"><b>Organización:</b></label> Se escribe la organización que corresponde las clases seleccionadas.
			<p class="tamannoLetra"><label class="naranja"><b>Beneficio:</b></label> Se especifica el beneficio que trae el estar en dicha organización, tales como: Capacitación, Económico, En Especie, Participación en la Toma de Decisiones, Reconocimiento en la Comunidad, Recreación y Deporte, Otro.
			<p class="tamannoLetra"><label class="morado"><b>Periodicidad:</b></label> El tiempo de asistencia entre sesiones de la organización, puede ser: Semanal, Quincenal, Mensual, Bimestral, Trimestral, Semestral, Anual.
			<p class="tamannoLetra"><label class="verde"><b>Labor:</b></label> Labor que se tiene en la organización: Directivo o Participante.
			<p class="tamannoLetra"><label class="rosado"><b>Agregar/Eliminar:</b></label> El botón azul nos permite agregar una nueva fila, el rojo eliminar la fila a la cual corresponda.
        </div>
        <div class="tab-pane fade" id="ruatc" align="justify">
        	<p class="tamannoLetra">En esta sección del RUAT se puede evaluar en que aspectos esta de acuerdo el productor con respecto a ciertas preguntas.</p>
        	<img src="{{base_url('assets/images/manual/RUAT/C/C1.png')}}" style="width:100%; margin-bottom:20px">

        	<p class="tamannoLetra"><label class="rojo"><b>Preguntas de apropiación de aprendizaje:</b></label> Preguntas con el fin de aprender más de las actitudes del productor con respecto un poco a su personalidad y a lo que haría por su cultivo.</p>
        	<p class="tamannoLetra"><label class="morado"><b>Totalmente en Desacuerdo:</b></label> Esta opción indica que el productor desde ningun punto de vista esta de acuerdo con lo que se planteo en la pregunta correspondiente.</p>
            <p class="tamannoLetra"><label class="azul"><b>Desacuerdo:</b></label> Esta opción indica que el productor no esta de acuerdo con lo planteado en la pregunta correspondiente.<p/>
            <p class="tamannoLetra"><label class="verde"><b>Estado neutral:</b></label> Esta opción indica que el productor esta de acuerdo en parte y en desacuerdo por otra parte, es decir, esta indeciso.<p/>
			<p class="tamannoLetra"><label class="amarillo"><b>De acuerdo:</b></label> Esta opción indica que el productor esta de acuerdo en gran medida de lo planteado en la pregunta correspondiente.</p>
			<p class="tamannoLetra"><label class="naranja"><b>Totalmente de acuerdo:</b></label> Esta opción indica que el productor esta de acuerdo en todos los aspectos que plantea la pregunta correspondiente.<p/>
			
        </div>
        <div class="tab-pane fade" id="ruatd" align="justify">
        	<p class="tamannoLetra">En esta sección del RUAT se pueden agregar observaciones pertinentes al proceso que el productor considere necesarias, además se puede subir el RUAT digitalizado y visualizarse éste mismo.</p>
        	<img src="{{base_url('assets/images/manual/RUAT/D/D1.png')}}" style="width:100%; margin-bottom:20px">

        	<p class="tamannoLetra"><label class="rojo"><b>Observaciones:</b></label> En ésta área de texto, se pueden escribir observaciones pertinentes del proceso u otro comentario que tenga el productor.</p>
        	<p class="tamannoLetra"><label class="verde"><b>Obtener RUAT Digital:</b></label> En ésta opción permite descargar el RUAT que se haya subido al sistema, siempre y cuando previamente se haya subido uno.<p/>
        	<p class="tamannoLetra"><label class="naranja"><b>Subir RUAT al sistema:</b></label> Esta opción permite subir el RUAT al sistema, para tenerlo siempre a la mano.<p/>
        	<p class="tamannoLetra"><label class="morado"><b>Volver a RUAT-C:</b></label> Éste botón nos permite volver al RUAT parte C, por si se requiere hacer algún cambio.</p>
            <p class="tamannoLetra"><label class="azul"><b>Guardar RUAT:</b></label> Ésta opción nos permite guardar lo que hemos digitado del RUAT hasta el momento.<p/>
			
        </div>
        <div class="tab-pane fade" id="bpa" align="justify">
        	<p class="tamannoLetra">En este reporte se evalua el nivel que tiene el predio a evaluar en las buenas práctivas agricolas, con respecto a diferentes criterios.</p>
            <img src="{{base_url('assets/images/manual/BPA/A.png')}}" style="width:100%; margin-bottom:20px">

            <p class="tamannoLetra"><label class="rojo"><b>Visitas:</b></label> Número de Visitas que se han realizado (la que tenga el recuadro azul a su alrededor es la que se está visualizando actualmente), son la Visita Inicial y 6 adicionales.</p>
			<p class="tamannoLetra"><label class="azul"><b>Fecha de Visita:</b></label> Fecha que se realizó la Visita que se está visualizando.</p>

			<hr>
			<center><label><h3>B. DIAGNÓSTICO DE ASPECTOS PREVIOS AL ESTABLECIMIENTO DEL CULTIVO</h3></label></center>
			<p class="tamannoLetra">En esta sección del reporte BPA se evalua el diagnóstico de aspectos previos al establecimiento del cultivo, con respecto a 8 aspectos.</p>
            <img src="{{base_url('assets/images/manual/BPA/B.png')}}" style="width:100%; margin-bottom:20px">

            <p class="tamannoLetra"><label class="rojo"><b>Aspectos Diagnosticados:</b></label> Aspectos que se evalúan en el formulario BPA.</p>
			<p class="tamannoLetra"><label class="azul"><b>SI | NO:</b></label> Se selecciona afirmativamente o negativamente a la implementación de cada aspecto.</p>
			<p class="tamannoLetra"><label class="naranja"><b>Observaciones:</b></label> Se dan las observaciones pertinentes en cada aspecto evaluado.</p>
			<p class="tamannoLetra"><label class="morado"><b>Conclusión General:</b></label> Conclusión general que obtiene al finalizar la evaluación de cada aspecto por individual.</p>

			<hr>
			<center><label><h3>C. ESTADO ACTUAL DE LA IMPLEMENTACIÓN DE LAS BPA (PARTE 1)</h3></label></center>
			<p class="tamannoLetra">En esta sección del reporte BPA se evalua el estado actual que tiene el predio en la implementación de las BPA, con respecto a 8 secciones.</p>
            <img src="{{base_url('assets/images/manual/BPA/C.png')}}" style="width:100%; margin-bottom:20px">

            <p class="tamannoLetra"><label class="rojo"><b>Aspectos Evaluados:</b></label> Son los aspectos que se evaluarán en la parte C del BPA.</p>
			<p class="tamannoLetra"><label class="azul"><b>Adopción BPA:</b></label> Es un porcentaje que define el nivel de adopción de cada aspecto por parte del productor, dicho número tiene como valor mínimo cero (0) y máximo cien (100).</p>
			<p class="tamannoLetra" style="margin-bottom:20px"><label class="verde"><b>Recomendaciones:</b></label> Recomendaciones que debe tener en cuenta el productor para mejorar su adopción por cada aspecto evaluado.</p>


            <center><label><h3>C. ESTADO ACTUAL DE LA IMPLEMENTACIÓN DE LAS BPA (PARTE 2)</h3></label></center>
            <img src="{{base_url('assets/images/manual/BPA/C1.png')}}" style="width:100%; margin-bottom:20px">

            <p class="tamannoLetra"><label class="rojo"><b>Nivel de Implementación:</b></label> Calificación final generada luego de llenar toda la parte C del BPA, junto con la recomendación general ingresada por la persona responsable.</p>
			<p class="tamannoLetra"><label class="naranja"><b>Visualización de la Certificación:</b></label> (Esta opción estará habilitada si previamente se ha subido una certificación de la visita), nos muestra el archivo que definimos previamente para dicho BPA.</p>
			<p class="tamannoLetra"><label class="morado"><b>Modificar Certificación:</b></label> Aquí subimos la Certificación de Visita Digitalizada por medio de un archivo.</p>
        </div>
    </div>
</div>
{% endblock %}