{% extends "base.html.twig" %}

{% block html_head %}
<style type="text/css">
    .tamannoLetra{
        font-size:17px;
    }
    .rojo{
        color:red;
    }
    .azul{
        color:blue;
    }
    .amarillo{
        color:yellow;
    }
    .verde{
        color:green;
    }
    .naranja{
        color:orange;
    }
    .morado{
        color:purple;
    }
    .rosado{
        color:pink;
    }
    .fucsia{
        color:crimson;
    }
    .aguamarina{
        color: #008080;
    }
    .naranjafuerte{
        color: orangered;
    }

     
</style>
{% endblock %}
{% block breadcrumnb %}
    <ul class="breadcrumb">
      <li><a href="{{site_url('listadoruats')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
      <li><strong class="text-success">MANUAL DE USUARIO</strong></li>
    </ul>
{% endblock %}

{% block titulo %}
    <h1><i class="icon20 i-stack-checkmark"></i> MANUAL DE USUARIO </h1> 
{% endblock %}

{% block contenido %}
<div class="form-group">
    <div class="container-fluid">
    <ul id="myTab" class="nav nav-tabs">
        <li><a href="#reng" data-toggle="tab">RUAT-SECCIÓN B</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="reng" id="home" align="justify">
            <center><label><h3>B1. Datos Generales de la Finca</h3></label></center>
            <p class="tamannoLetra">En la sección B1 del ruat se digitan principalmente los datos de la finca.</p>
            <img src="{{base_url('assets/images/manual/RUAT/B/B1-A.png')}}" style="width:100%; margin-bottom:20px">

            <p class="tamannoLetra"><label class="rojo"><b>¿Tiene Finca?:</b></label> Es un switch que no se puede modificar. Por defecto tiene la opción "Sí", esto se debe a que todos los productores deben tener una finca para el registro RUAT.</p>
            <p class="tamannoLetra"><label class="morado"><b>Nombre de la Finca:</b></label> Este campo permite digitar el nombre de la finca. El campo es obligatorio.</p>
            <p class="tamannoLetra"><label class="verde"><b>Identificación Catastral:</b></label> Se debe digitar la identificación catastral del predio en este campo de texto.</p>
            <p class="tamannoLetra"><label class="naranja"><b>Tenencia:</b></label> Haciendo click en este campo, se muestran todas las opciones válidas para el campo tenencia. El campo es obligatorio. </p>
            <p class="tamannoLetra"><label class="fucsia"><b>Ubicación Finca:</b></label> En estos campos de texto se debe ingresar la información del Municipio, Vereda y Sector de la ubicación de la finca. El departamento está por defecto "Valle del Cauca" y no se puede modificar. El municipio es obligatorio y se ingresa a través de un selector que muestra todos los municipios correspondientes al departamento dando click sobre el campo.</label> 
            <p class="tamannoLetra"><label class="azul"><b>Área Total:</b></label> Se debe digitar el área del predio medida en hectareas en formato décimal con dos cifras. Este campo es obligatorio.</p>
            <p class="tamannoLetra"><label class="aguamarina"><b>Disponibilidad de Servicios:</b></label> Es un campo con una búsqueda instantanea  en el que se pueden observar las opciones válidas de servicios públicos y filtrar los resultados al escribir en éste.</p>
            <p class="tamannoLetra"><label class="naranjafuerte"><b>Vías de Acceso:</b></label> Para ingresar esta información es necesario habilitar el switch de disponibilidad en la opción Si que establecerá como obligatorios los campos del Estado de Vías. Una vez desbloqueados los selectores del Estado de Vías de Acceso, se debe seleccionar una opción para el tipo de vía (Pavimentada, No pavimentada) y otra para el estado en que se encuentra ésta (Buena, Regular, Mala).</p>

            <img src="{{base_url('assets/images/manual/RUAT/B/B1-B.png')}}" style="width:100%; margin-bottom:20px">
            <p class="tamannoLetra">La tabla de manejo de programa de residuos se compone de tres columnas. La primera es la clase de residuo, la segunda un switch que da la opción de escoger si se tiene o no un programa de residuos en sus diferentes clases y la última es para la descripción. </p> 
            <p class="tamannoLetra"><label class="rojo"><b>Ordinarios:</b></label> Se ingresa la información del manejo de residuos ordinarios. Se debe seleccionar en el switche en la opción "Sí" para habilitar la descripción del programa.</p>
            <p class="tamannoLetra"><label class="verde"><b>Peligrosos:</b></label> Se ingresa la información del manejo de residuos peligrosos. Se debe seleccionar en el switche en la opción "Sí" para habilitar la descripción del programa.</p>
            <p class="tamannoLetra"><label class="naranja"><b>Otros:</b></label> Se ingresa la información del manejo de residuos otros. Se debe seleccionar en el switche en la opción "Sí" para habilitar la descripción del programa.</p>
            <p class="tamannoLetra"><label class="fucsia"><b>Distancia de la Finca a la Cabacera Municipal:</b></label> Permite ingresar la distancia en kilometros de la finca a la cabecera municipal. Esta cifra tiene dos cifras décimales.</p>
            <p class="tamannoLetra"><label class="naranjafuerte"><b>Forma de Llegar al Predio:</b></label> Caja de texto para escribir la forma de llegar al predio. El campo es obligatorio.</p>
            <p class="tamannoLetra"><label class="aguamarina"><b>Medios de Transporte:</b></label> Es un selector múltiple con las opciones válidas para ingresar la información de los medios de transporte con los que se realiza la actividad agropecuaria.</p>

            <img src="{{base_url('assets/images/manual/RUAT/B/B1-C.png')}}" style="width:100%; margin-bottom:20px">
            <p class="tamannoLetra">En esta tabla se ingresa la información correspondiente a las maquinarias y equipos con los que se cuente en el predio para la actividad agropecuarias. </p> 
            <p class="tamannoLetra"><label class="rojo"><b>Herramientas:</b></label> Se ingresa la información de las herramientas con las que se cuenta para la actividad agropecuaria. Se debe seleccionar en el switche en la opción "Sí" para habilitar la descripción de las herramientas.</p>
            <p class="tamannoLetra"><label class="verde"><b>Utensilios:</b></label> Se ingresa la información de los utensilios con los que se cuenta para la actividad agropecuaria. Se debe seleccionar en el switche en la opción "Sí" para habilitar la descripción de los utensilios.</p>
            <p class="tamannoLetra"><label class="naranja"><b>Equipos:</b></label> Se ingresa la información de los equipos con los que se cuenta para la actividad agropecuaria. Se debe seleccionar en el switche en la opción "Sí" para habilitar la descripción de los equipos.</p>
            <p class="tamannoLetra"><label class="fucsia"><b>Maquinaria Liviana:</b></label> Se ingresa la información de la maquinaria liviana con la que se cuenta para la actividad agropecuaria. Se debe seleccionar en el switche en la opción "Sí" para habilitar la descripción de la maquinaria livianas.</p>
            <p class="tamannoLetra"><label class="azul"><b>Maquinaria Pesada:</b></label> Se ingresa la información de la maquinaria pesada con la que se cuenta para la actividad agropecuaria. Se debe seleccionar en el switche en la opción "Sí" para habilitar la descripción de la maquinaria pesada.</p>
            <p class="tamannoLetra"><label class="aguamarina"><b>Otros:</b></label> Se ingresa la información de otros equipos con los que se pueda contar para la actividad agropecuaria. Se debe seleccionar en el switche en la opción "Sí" para habilitar la descripción de otros equipos.</p>

            <img src="{{base_url('assets/images/manual/RUAT/B/B2-A.png')}}" style="width:100%; margin-bottom:20px">
            <p class="tamannoLetra">La información de los cultivos, productos, sub-productos y costos se ingresa en esta tabla.</p>
            <p class="tamannoLetra"><label class="verde"><b>Producto:</b></label> En el primer campo se digita el nombre del producto, a continuación su variedad y en el switch se escoge si la semilla es certificada o no. Posteriormente, se digita la información del área cosechada de ese producto. Ésta se encuentra en formato décimal y es medida en hectáreas. La producción total del producto se digita en kilogramos del primer semestre y del segundo semestre. Automáticamente se calcula la cantidad total de kilogramos en la última columna.</p> 
            <p class="tamannoLetra"><label class="azul"><b>Costos:</b></label> En la primera casilla se digita el monto por costos de establecimiento, seguido de los costos por sostenimiento. Estos se miden en pesos por hectáreas. La tercera columna requiere la producción en kilos destinada al mercado. La cuarta columna es un selector con única respuesta para los sitios para la venta. Finalmente, se escoge la opción para el tipo de comprador y si se cuenta con el nombre se ingresa en la última columna.</p>
            <p class="tamannoLetra"><label class="aguamarina"><b>Sub-productos:</b></label> El primer dato a ingresar es el precio promedio de los productos que venden. El formato de esto es pesos por kilogramo. La forma de pago es un selector que despliega las opciones con lo métodos de pago válidos, debe seleccionar una sola opción. Continuando, se debe escribir el nombre del sub-producto y el uso de éste. Las últimas tres columnas son para la información de programas de asistencia técnica. Si se cuenta con alguno, se debe habilitar los campos cambiando la opción del switch. Finalmente, se ingresa en nombre del programa y la entidad a la que pertenece.</p>

            <img src="{{base_url('assets/images/manual/RUAT/B/B2-B.png')}}" style="width:100%; margin-bottom:20px">
            <p class="tamannoLetra"><label class="verde"><b>Latitud:</b></label> En este campo se ingresan la latitud para la georeferenciación del predio, su formato es décimal con 6 cifras.</p>
            <p class="tamannoLetra"><label class="azul"><b>Longitud:</b></label> En este campo se ingresan la longitud para la georeferenciación del predio, su formato es décimal con 6 cifras.</p>
            <p class="tamannoLetra"><label class="aguamarina"><b>Altura:</b></label> En este campo se ingresan la altura sobre el nivel del mar, para la georeferenciación del predio.</p>


        </div>
    </div>
</div>
{% endblock %}