{% extends "base.html.twig" %}

{% block html_head %}
<style type="text/css">
    input{
        text-align: center;
    }
</style>
{% endblock %}
{% block titulo %} <h1><i class="icon20 i-stack-checkmark"></i> CERTIFICACIÓN DE VISITA REALIZADA </h1> {% endblock %}

{% block contenido %}

<div>
    <div>
       {{ form_open(null, {role:'form', 'onsubmit':"$('#loadingMask').modal()"}) }}

        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="fecha_nacimiento">Fecha:</label>
                        <div class="col-sm-8">
                            <div class="input-group date datepicker autostart">
                                <input size="16" name="fecha" value="{{fechaI}}" class="form-control" type="text">
                                <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">NÚMERO DE FORMULARIO</label>
                        <div class="col-sm-7">
                            <input size="16" name="codigoBenegiciario" value="{{ num_formulario}}" class="form-control" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div style="padding-top: 20px;"></div>

        <!--<div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>C.  CLASIFICACIÓN DEL PRODUCTOR SEGÚN SUS INGRESOS Y ACTIVOS</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading

            <div class="panel-body"><div class="container">

                    <div class="container">

                        <div class="col-md-12" style="text-align: center;">
                            <h3>Funcionario responsable de la visita</h3>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Nombre</label>
                                <input type="text" class="form-control" name="">
                            </div>
                        </div>
                        
                        <div class="col-md-8" style="text-align: center;">
                            <div class="col-md-4">
                                <label class="control-label">Profesional Transversal</label><br/>
                                <input type="radio" class="" name="cargo">
                            </div>                                
                            <div class="col-md-4">
                                <label class="control-label">Profesional Especialista</label><br/>
                                <input type="radio" class="" name="cargo">
                            </div>                                
                            <div class="col-md-2">
                                <label class="control-label">Profesional<br/></label><br/>
                                <input type="radio" class="" name="cargo">
                            </div>

                            <div class="col-md-2">
                                <label class="control-label">Técnico<br/></label><br/>
                                <input type="radio" class="" name="cargo">
                            </div>

                        </div>
                    
                    </div>

                    <div class="col-md-12">

                        <div class="col-md-6">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th align="center">
                                            
                                        </th>
                                        <th align="center" style="width: 100px;">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                        {% for pa in preguntas_activos %}
                                    <tr>
                                        <td>
                                               {{pa.enunciado}}
                                        </td>
                                        <td>
                                            <input type="text" class="form-control respuestas_activos" placeholder="" id="pregunta_c_{{pa.id}}" name="pregunta_c_{{pa.id}}" value="{{set_value('pregunta_c_'~pa.id, pa.respuesta_bd)}}" {{pa.editable != 1 ? 'readonly' : ''}}/>
                                                {{form_error('pregunta_c_'~pa.id)}}
                                        </td>
                                    </tr>
                                        {% endfor %}

                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-6">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th align="center">
                                                
                                        </th>
                                        <th align="center" style="width: 100px;">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                        {% for pa in preguntas_ingresos%}
                                    <tr>
                                        <td>
                                               {{pa.enunciado}}
                                        </td>
                                        <td>
                                            <input type="text" class="form-control respuestas_ingresos" placeholder="" id="pregunta_c_{{pa.id}}" name="pregunta_c_{{pa.id}}" value="{{set_value('pregunta_c_'~pa.id, pa.respuesta_bd)}}" {{pa.editable != 1 ? 'readonly' : ''}}/>
                                                {{form_error('pregunta_c_'~pa.id)}}
                                        </td>
                                    </tr>
                                        {% endfor %}                                   

                                </tbody>
                            </table>
                        </div>
                </div>-->

        </div></div><!-- .container and .panel-body -->
        </div><!-- panel default -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>A. DATOS DE IDENTIFICACIÓN DEL BENEFICIARIO</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="container" align="center">
                                <b>PRIMER NOMBRE</b>
                                <input class="form-control" value="{{productor['nombre1']}}" disabled  />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container" align="center">
                                <b>SEGUNDO NOMBRE</b>
                                <input class="form-control" value="{{productor['nombre2']}}" disabled />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container" align="center">
                                <b>PRIMER APELLIDO</b>
                                <input class="form-control" value="{{productor['apellido1']}}" disabled />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container" align="center">
                                <b>SEGUNDO APELLIDO</b>
                                <input class="form-control" value="{{productor['apellido2']}}" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="container" align="center">
                                <b>No. DE IDENTIFICACIÓN</b>
                                <input class="form-control" value="{{productor['numero_documento']}}" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container" align="center">
                                <b>No. CELULAR</b>
                                <input class="form-control" value="{{contacto['celular']}}" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container" align="center">
                                <b>RENGLÓN PRODUCTIVO</b>
                                <input class="form-control" value="{{renglon['descripcion']}}" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="container" align="center">
                                <b>NOMBRE DEL PREDIO</b>
                                <input class="form-control" value="{{finca['nombre']}}" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container" align="center">
                                <b>VEREDA/CORREGIMIENTO</b>
                                <input class="form-control" value="{{finca['vereda']}}" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container" align="center">
                                <b>MUNICIPIO</b>
                                <input class="form-control" value="{{municipio['nombre']}}" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- panel default -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>B. DESCRIPCIÓN DE LAS ACTIVIDADES REALIZADAS EN LA VISITA</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea name="descripcion" rows="4" style="width:100%; resize:none">{{descripcionI}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- panel default -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>C. OBSERVACIONES</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea name="observaciones" rows="4" style="width:100%; resize:none" >{{observacionesI}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- panel default -->

        <div class="form-actions full">
            <button class="btn btn-lg btn-success pull-right" type="submit">Guardar</button>
        </div>

        {{ form_close() }}          
    </div>

</div>

{% endblock %}
