{% extends "base.html.twig" %}
{% block titulo %} 
<h1><i class="icon20 i-users"></i> Gestión de Usuarios  </h1>
{% endblock %}

{% block contenido %}
    
    <a href="{{site_url("auth/create_user")}}" class="btn btn-primary"><i class="i-user-plus"></i>Crear Nuevo Usuario</a> <br/><br/>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Login</th>
            <th>Nombre</th>
            <th>Perfil</th>
            <th>Creado</th>
            <th>Estado</th>
            <th>Último Acceso</th>
            <th></th>  
        </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td> {{user.username}} </td>
                <td> 
                    {{user.first_name}} {{user.last_name}} 
                    {%if user.email %} <br/> <small class="text-info">{{user.email }}</small> {% endif %}
                    {%if user.phone %} <br/> <small><abbr title="Teléfono">Tel: {{user.phone}}</abbr> </small> {% endif %}
                </td>

                <td> {{user.groups[0].name}} </td> 
                <td> {{user.created_on|date('Y-m-d   H:i') }}
                <td align="center">  
                    {% if user.active %}
                        <a href="{{site_url(['auth','deactivate',user.id])}}" onclick="return confirm('Desea Bloquear el Usuario')"class="act-success"><i class="i-unlocked-2"></i>Habilitado</a>
                    {% else %}
                        <a href="{{site_url(['auth','activate',user.id])}}" onclick="return confirm('Desea Habilitar el Usuario')"class="act-danger"><i class="i-lock-5"></i>Bloqueado</a>
                    {% endif %}
                </td>
                <td> {{user.last_login|date('Y-m-d  H:i')}} </td>
                <td align="center"> 
                    <a href="{{site_url(['auth','edit_user',user.id])}}" class="act-warning">
                        <i class="i-pencil"></i>
                        Editar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}