{% extends "base.html.twig" %}

{% block html_body %}
<br/>

<center> <h1 class="text-info"> Plan Frutícola del Valle del Cauca</h1></center>
<br/>

<div class="well" style="width:400px; margin-left:auto; margin-right:auto">
    <div class="container">
        <center><h3>Acceso al Sistema</h3></center>
        <hr>
        {{form_open(null, {'class':'form-horizontal', 'role':'form'}) }}
            
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon20 i-user"></i></span>
                    {{ form_input(identity) }}
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><div class="icon"><i class="icon20 i-key"></i></div></span>
                    {{ form_input(password) }}
                </div>
            </div>

            <div class="form-group relative ">
                <button id="loginBtn" type="submit" class="btn btn-lg btn-primary pull-right col-lg-5">Ingresar</button>
            </div>
            
        {{form_close()}}
        
        
        <hr class="seperator">
        {% if message %}
            <div class="alert alert-danger">Usuario o Contraseña Incorrecta</div>
        {% endif %}
    </div>
</div>
</br>
</br>
</br>
</br>
</br>
<center><img src="{{base_url('assets/images/logos-min.png')}}" class="img-responsive"/></center>
   

{% endblock %}