{% extends "base.html.twig" %}

{% block html_head %}

<script src="{{ base_url('assets/js/autoNumeric.js')}}"></script>

<style>
    .money { text-align: right;}
</style>

<script>
    $(function() {
        {% if notif %}
        notif({{notif|json_encode}});
        {% endif %}

        {% if soloLectura %}
        $('input, textarea, button').attr('disabled', 'disabled');
        {% endif %}

        $("input[type='radio'], input[type='checkbox']").uniform();

    });
</script>


<script type="text/javascript">

    $(document).ready(function() {
        $('.money').autoNumeric('init', {
            aSep: '.',
            aDec: ',',
            mDec:0,
            //aSign: '$',
            vMin: '-9999999999',
        });

        $('.respuestas_activos').change(calcularTotalActivos);
        $('.respuestas_ingresos').change(calcularTotalIngresos);
        $('.respuestas_egresos').change(calcularTotalEgresos);

        $('#valor_uaf').change(validacionesUAF);

        calcularTotalIngresos();

        validacionesUAF();
        
        validacionesTotalActivos();


        $('form').submit(validarFormulario);

    });


    /*
     * Utilidad es igual a ingresos menos egresos     
     */
    function calcularUtilidad() {

        var total_ingresos = obtenerNumeroInput($('.respuestas_ingresos[readonly]').last());
        var total_egresos = obtenerNumeroInput($('.respuestas_egresos[readonly]').last());
        var objUtilidad = $('.respuestas_c_totales').first();//primero de dos
        asignarNumeroInput(objUtilidad, total_ingresos - total_egresos );

        ///recalculo la relacion beneficio-costo
        calcularBeneficioCosto();
    }

    /*
     * La relacion beneficio-costo es igual al total de ingresos dividio la utilidad  
     */
    function calcularBeneficioCosto() {
        
        var total_ingresos = obtenerNumeroInput($('.respuestas_ingresos[readonly]').last());
        var utilidad = obtenerNumeroInput($('.respuestas_c_totales').first());
        var objBeneficioCosto = $('.respuestas_c_totales').last();//ultimo de dos
        
        if (utilidad)
            asignarNumeroInput(objBeneficioCosto, total_ingresos / utilidad );
    }


    function calcularTotalActivos() {
        var total = 0;
        $('.respuestas_activos').each(function() {
            var obj = $(this);

            ///El unico readonly debe ser el del total
            if (!obj.is('[readonly]') && obj.val())
                total += obtenerNumeroInput(obj);
        });
        asignarNumeroInput($('.respuestas_activos[readonly]'), total);
        
        validacionesTotalActivos();
    }

    function obtenerNumeroInput(obj) {

        var value = obj.val();
        if (obj.hasClass('money')) {
            ///por alguna razon no llegan inicializados los inputs 
            obj.autoNumeric('init', {
                aSep: '.',
                aDec: ',',
                aSign: '$',
                mDec:0,
                vMin: '-999999999',
            });

            value = obj.autoNumeric('get');
        }

        if (isNaN(value) || !value) {
            return 0;
        } else {
            return parseFloat(value);
        }
    }


    function asignarNumeroInput(obj, valor) {
        obj.autoNumeric('set', valor);
        
    }


    var porcentajeOtrasActividadesRenglonProductivo = 0;
    function calcularTotalIngresos() {


        var cantidadProducto = obtenerNumeroInput($($('.respuestas_ingresos')[0]));
        var precioProducto = obtenerNumeroInput($($('.respuestas_ingresos')[1]));

        ///Ingresos renglon productivo= Precio venta * Cantidad
        var renglonProductivo = cantidadProducto * precioProducto;
        asignarNumeroInput($($('.respuestas_ingresos')[2]), renglonProductivo);

        var otrasActividades = obtenerNumeroInput($($('.respuestas_ingresos')[3]));
        var otrosIngresos = obtenerNumeroInput($($('.respuestas_ingresos')[4]));

        ///Total ingresos del productor = ingresos renglon productivo + ingresos otras actividades agropecuarias + otros ingresos
        var total = renglonProductivo + otrasActividades + otrosIngresos;
        asignarNumeroInput($($('.respuestas_ingresos')[5]), total);

        porcentajeOtrasActividadesRenglonProductivo = ((renglonProductivo + otrasActividades) / total) * 100;
        asignarNumeroInput($('#porcentaje_ingresos'), porcentajeOtrasActividadesRenglonProductivo);
        if(porcentajeOtrasActividadesRenglonProductivo <= 70){
            $('#porcentaje_ingresos').addClass('error');
            $('#porcentaje_ingresos_error').html('El porcentaje es menor al 70%, no se podrá continuar.');
            $('input:radio[name=criterio1]')[1].checked = true;
            $.uniform.update('input:radio[name=criterio1]');
        }else{
            $('#porcentaje_ingresos').removeClass('error');
            $('#porcentaje_ingresos_error').html(''); 
            $('input:radio[name=criterio1]')[0].checked = true;
            $.uniform.update('input:radio[name=criterio1]');
        }
        
        ///recalculo las utilidad
        calcularUtilidad();
    }

    function calcularTotalEgresos() {
        var total = 0;
        $('.respuestas_egresos').each(function() {
            var obj = $(this);

            ///El unico readonly debe ser el del total
            if (!obj.is('[readonly]') && obj.val())
                total += obtenerNumeroInput(obj);
        });
        asignarNumeroInput($('.respuestas_egresos[readonly]'), total);

        ///recalculo las utilidad
        calcularUtilidad();
    }

    var validacionUAF = false;
    function validacionesUAF() {

        var area_total = obtenerNumeroInput($('#area_total'));
        var valor_uaf = obtenerNumeroInput($('#valor_uaf option:selected'));

        if ((valor_uaf * 2) > area_total) {
            validacionUAF = true;
            $('#error_validacion_uaf').html('');
            $('input:radio[name=criterio2]')[0].checked = true;
            $.uniform.update('input:radio[name=criterio2]');

            //se habilitan todos los inputs
            $('input[type!="radio"], textarea, button').removeAttr('disabled');
        } else {
            validacionUAF = false;
            $('#error_validacion_uaf').html('No cumple con la validación UAF, no se puede continuar.');
            $('input:radio[name=criterio2]')[1].checked = true;
            $.uniform.update('input:radio[name=criterio2]');

            //se desabilitan todos los inputs
            $('input[type!="radio"], textarea, button').attr('disabled', 'disabled');
        }
    }
    
    var validacionTotalActivos = false;
    function validacionesTotalActivos() {

        var totalActivos = obtenerNumeroInput($($('.respuestas_activos[readonly]')[0]));
        
        console.log('totalActivos' + totalActivos);
        
        if(totalActivos < 85477500){
            ///pequeño y es bueno
            validacionTotalActivos = true;
            $('#error_validacion_total_activos').html('');
            $('#pregunta_c_13').removeClass('error');
            $('input:radio[name=criterio3]')[0].checked = true;
            $.uniform.update('input:radio[name=criterio3]');
        }else{
            ///mediano y no se continua
            validacionTotalActivos = false;
            $('#error_validacion_total_activos').html('Total de Activos mayor a $85.477.500, no se puede continuar.');
            $('#pregunta_c_13').addClass('error');
            $('input:radio[name=criterio3]')[1].checked = true;
            $.uniform.update('input:radio[name=criterio3]');
        }
    }

    function validarFormulario() {
        if (porcentajeOtrasActividadesRenglonProductivo <= 70) {
            alert('El porcentaje es menor al 70%, no se podrá continuar.');
            return false;
        }

        if (!validacionUAF) {
            alert('No cumple con la validación UAF, no se puede continuar.');
            return false;
        }
        
        if (!validacionTotalActivos) {
            alert('Total de Activos mayor a $85.477.500, no se puede continuar.');
            return false;
        }

        $(".money").each(function(index) {
            var valor = $(this).autoNumeric('get');
            $(this).val(valor);
        });
        

        $('#loadingMask').modal();
    }

</script>

{% endblock %}
{% block breadcrumnb %}
<ul class="breadcrumb">
    <li><a href="{{site_url('listadoruats')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
    <li><strong class="text-success">CLASIFICACIÓN TIPO PRODUCTOR</strong></li>
</ul>
{% endblock %}

{% block titulo %} <h1><i class="icon20 i-stack-checkmark"></i> VTP &#187; CLASIFICACIÓN TIPO PRODUCTOR </h1> {% endblock %}

{% block contenido %}

{{ form_open(null, {role:'form', class:'form-horizontal'}) }}

<div class="row">
    <div class="col-md-7">
        {% include "partials/info_productor.html.twig" with {'ruat':ruat} %}
    </div>
    <div class="col-md-5">
        <div class="container">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="fecha_nacimiento">Fecha de Visita:</label>
                <div class="col-sm-8">
                    <div class="input-group date datepicker autostart">
                        <input size="16" name="fecha" value="{{ set_value('fecha', visitaTipoProductor.fecha)}}" class="form-control {{form_error('fecha')? 'error':''}}" type="text">
                        {{form_error('fecha')}}
                        <label class="error"></label>

                        <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>A.  CLASIFICACIÓN DEL PRODUCTOR SEGÚN LA UNIDAD AGRÍCOLA FAMILIAR (UAF).</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body"><div class="container">
            <div class="row">
                <div class="container">
                    <div class="col-md-6" style="text-align: center;">
                        <div class="">
                            <label class="control-label">Área Total del Predio (has)</label>                                    
                            <br/>
                            <input type="text" class="form-control"  id="area_total" value="{{finca.area_total}}" readonly/>
                        </div>
                    </div>

                    <div class="col-md-6" style="text-align: center;">
                        <div class="">
                            <label class="control-label">Valor de la UAF del Municipio (has)</label>     
                            <select class="form-control" name="valor_uaf" id="valor_uaf">
                                {% for muaf in municipios_uaf %}
                                <option value="{{muaf.valor}}">{{muaf.descripcion}} ({{muaf.valor}})</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>
                
                <div class="row">
                    <div class="container">
                        <div class="col-md-12" style="text-align: center;">
                            <div><label class="error" id="error_validacion_uaf"></label></div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12"  style="padding-top: 20px;">

                    <div class="col-md-4"></div>
                    
                    <div class="col-md-4" style="text-align: center;">
                        <div class="form-group">
                            <label class="control-label" style="text-align:center;">Normatividad Aplicada para la clasificación del productor según la UAF</label>
                            <div style="text-align:center;">
                                <input class="form-control" type="text" style="text-align: center;"  value="{{municipio.resolucion_uaf}}" readonly=""/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4"></div>
                                        
                </div>
            </div>
        </div></div><!-- .container and .panel-body -->
</div><!-- panel default -->


<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B.  CLASIFICACIÓN DEL PRODUCTOR SEGÚN SUS INGRESOS Y ACTIVOS</h4>
        <a href="#" class="minimize"></a>
    </div>
    <!-- End .panel-heading -->
    <div class="panel-body">
        <div class="container">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th align="center">
                                DESCRIPCION DE LOS ACTIVOS ($)
                            </th>
                            <th align="center" style="width: 130px;">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pa in preguntas_activos %}
                        <tr>
                            <td>
                                {{pa.enunciado}}
                                {{form_error('pregunta_c_'~pa.id)}}
                                {% if loop.last%}
                                    <div><label class="error" id="error_validacion_total_activos"></label></div>
                                {% endif %}
                            </td>
                            <td>
                                <input type="text" class="money form-control respuestas_activos {{form_error('pregunta_c_'~pa.id)? 'error':''}}" placeholder="" id="pregunta_c_{{pa.id}}" name="pregunta_c_{{pa.id}}" value="{{set_value('pregunta_c_'~pa.id, pa.respuesta_bd)}}" {{pa.editable != 1 ? 'readonly' : ''}}/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th align="center">
                                DESCRIPCION DE LOS INGRESOS ($/Año)
                            </th>
                            <th align="center" style="width: 130px;">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pa in preguntas_ingresos%}
                        <tr>
                            <td>
                                {{pa.enunciado}}
                                {{form_error('pregunta_c_'~pa.id)}}
                            </td>
                            <td>
                                <input type="text" class="money form-control respuestas_ingresos {{form_error('pregunta_c_'~pa.id)? 'error':''}}" placeholder="" id="pregunta_c_{{pa.id}}" name="pregunta_c_{{pa.id}}" value="{{set_value('pregunta_c_'~pa.id, pa.respuesta_bd)}}" {{pa.editable != 1 ? 'readonly' : ''}}/>
                            </td>
                        </tr>
                        {% endfor %}         
                        <tr>
                            <td>
                                PORCENTAJE TOTAL DE INGRESOS DE RENGLON PRODUCTIVO Y OTRAS ACTIVIDADES (%)
                                <div><label class="error" id="porcentaje_ingresos_error"></label></div>
                            </td>
                            <td>
                                <input type="text" class="money form-control" placeholder="" id="porcentaje_ingresos" readonly/>                                
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="padding-top: 10px;"></div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th align="center">
                                DESCRIPCION DE LOS EGRESOS ($/Año)
                            </th>
                            <th align="center" style="width: 130px;">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pa in preguntas_egresos%}
                        <tr>
                            <td>
                                {{pa.enunciado}}
                                {{form_error('pregunta_c_'~pa.id)}}                                
                            </td>
                            <td>
                                <input type="text" class="money form-control respuestas_egresos {{form_error('pregunta_c_'~pa.id)? 'error':''}}" placeholder="" id="pregunta_c_{{pa.id}}" name="pregunta_c_{{pa.id}}"  value="{{set_value('pregunta_c_'~pa.id, pa.respuesta_bd)}}" {{pa.editable != 1 ? 'readonly' : ''}}/>
                            </td>
                        </tr>
                        {% endfor %}   
                    </tbody>
                </table>
            </div>
            <div class="col-md-11 center"  style="margin-top: 20px; margin-left: 40px;">
                <table class="table table-bordered">
                    <tbody>
                        {% for pa in preguntas_totales%}
                        <tr>
                            <td>
                                {{pa.enunciado}}
                                {{form_error('pregunta_c_'~pa.id)}}
                            </td>
                            <td>
                                <input type="text" class="money form-control respuestas_c_totales {{form_error('pregunta_c_'~pa.id)? 'error':''}}" placeholder="" id="pregunta_c_{{pa.id}}" name="pregunta_c_{{pa.id}}"  value="{{set_value('pregunta_c_'~pa.id, pa.respuesta_bd)}}" {{pa.editable != 1 ? 'readonly' : ''}} />
                            </td>
                        </tr>
                        {% endfor %}   
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- .container and .panel-body -->
</div><!-- panel default -->

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>C.  REVISIÓN DE TODOS LOS CRITERIOS DE CLASIFICACION DEL PRODUCTOR AGROPECUARIO</h4>
        <a href="#" class="minimize"></a>
    </div>
    <!-- End .panel-heading -->
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th align="center">
                            </th>
                            <th align="center" style="width: 300px;">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                El BENEFICIARIO cumple con la condición de productor agropecuario según sus INGRESOS INVERTIDOS en el sector agropecuario? (Mínimo el 70% de los ingresos los obtiene de la actividad agropecuaria).
                            </td>
                            <td>
                                <div style="text-align:center;">
                                    <input type="radio" class="" name="criterio1" value="1" disabled/>
                                    <label for="criterio1">SI</label><br/>
                                    <input type="radio" class="" name="criterio1" value="2" disabled/>
                                    <label for="criterio1">NO</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                El productor según LA UAF (Unidad Agrícola Familiar) clasifica como:
                            </td>
                            <td>
                                <div style="text-align:center;">
                                    <input type="radio" class="" name="criterio2" value="1" disabled/>
                                    <label for="criterio2">PEQUEÑO PRODUCTOR</label><br/>
                                    <input type="radio" class="" name="criterio2" value="2" disabled/>
                                    <label for="criterio2">MEDIANO PRODUCTOR</label>                                        
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                El productor según TOTAL ACTIVOS, y de acuerdo a la clasficación de productores de FINAGRO clasifica como: (Activos Menores a $85.477.500 = Pequeño Productor Agropecuario).
                                {{form_error('criterio3')}}
                            </td>
                            <td>
                                <div style="text-align:center;">
                                    <input type="radio" class="" name="criterio3" value="1" disabled/>
                                    <label for="criterio3">PEQUEÑO PRODUCTOR</label><br/>
                                    <input type="radio" class="" name="criterio3" value="2" disabled/>
                                    <label for="criterio3">MEDIANO PRODUCTOR</label>  
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- .container and .panel-body -->
</div>

<br/>

<!-- panel default -->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>D. OBSERVACIONES</h4>
        <a href="#" class="minimize"></a>
    </div>
    <!-- End .panel-heading -->
    <div class="panel-body" style="display: block;">
        <div class="container">
            <!-- begin -->
            <div class="row">
                <div>
                    <label for="credito_agricola">Está interesado en una solicitud de crédito agrícola:</label>
                {% set respuesta_checked_bd =  visitaTipoProductor.credito_agricola == 1 ? 'checked' : ''%}                                            
                    <input type="radio" class="{{form_error('credito_agricola')? 'error':''}}" name="credito_agricola" value="1" {{set_radio('credito_agricola', 1) ? set_radio('credito_agricola', 1) : respuesta_checked_bd}}/>
                    <label for="credito_agricola">SI</label>
                {% set respuesta_checked_bd =  visitaTipoProductor.credito_agricola == 0 ? 'checked' : ''%}                                            
                    <input type="radio" class="{{form_error('credito_agricola')? 'error':''}}" name="credito_agricola" value="0" {{set_radio('credito_agricola', 0) ? set_radio('credito_agricola', 0) : respuesta_checked_bd}}/>
                    <label for="credito_agricola">NO</label>
                </div>
                <label for="observacion">Describa su interés de crédito </label>
            {{form_error('observacion')}}
                <textarea class="form-control {{form_error('observacion')? 'error':''}}" id="textarea" name="observacion" rows="3" >{{ set_value('observacion', visitaTipoProductor.observaciones) }}</textarea>
            </div>

            <div style="text-align: center;">
                <b>
                    CONFIDENCIALIDAD DE LA INFORMACIÓN RECOLECTADA EN LOS INSTRUMENTOS
                </b>
            </div>
            <div style="text-align: justify;">
                En este instrumento se deben registrar todos los pequeños y medianos productores usuarios del servicio de asistencia técnica en cada municipio o asociación de municipios. Se solicita información del usuario y su actividad productiva. Toda la información aquí recolectada es confidencial y para uso estrictamente estadístico y en ningún caso tienen fines fiscales ni pueden utilizarse como prueba judicial, de conformidad a lo establecido en el artículo 2 de Ley 1266 de 2008.”
            </div>


            <br/>
            <div class="form-group">
                <div class="col-lg-4">
                    <input id="beneficiario" class="form-control" style="text-align: center;" type="text" value="{{productor.nombre1}} {{productor.nombre2}} {{productor.apellido1}} {{productor.apellido2}}" disabled>
                    <label for="beneficiario" class="col-lg-12" style="text-align: center;" >BENEFICIARIO</label>
                </div>
                <div class="col-lg-4">                      
                </div>
                <div class="col-lg-4">
                    <input id="responsable" class="form-control" style="text-align: center;" type="text" value="{{usuaioSesion.first_name}} {{usuaioSesion.last_name}}" disabled>
                    <label for="responsable" class="col-lg-12" style="text-align: center;" >FUNCIONARIO RESPONSABLE</label>
                </div>
            </div>
            <div class="center">&nbsp;</div>
            <hr class="seperator">
            <div class="form-group">
                <div class="col-lg-8">                            
                {% if visitaTipoProductor.archivo_fisico %}
                    <span class="box1 col-lg-12">
                        <i aria-hidden="true" class="i-file"></i>
                        <a type="button" target="_new" href="{{base_url() ~ 'uploads/' ~ visitaTipoProductor.archivo_fisico}}">{{visitaTipoProductor.archivo_fisico}} </a>
                    </span>      
                    <br/><br/><br/>
                {% endif %}
                    <input type="file" name="archivo_formulario" id="archivo_formulario" >
                {{upload_result}}
                    <label for="archivo_formulario" class="col-lg-12"  >DOCUMENTO DIGITALIZADO</label>
                </div>
            </div>
        </div>
    </div>
    <!-- panel default -->
</div>

<br/>
<div class="form-group">
    <div class="col-md-offset-4 col-md-5">
        <button type="submit" name="guardar" class="btn btn-lg btn-success">Guardar</button>
        <a href="{{site_url("listadoruats")}}" class="btn btn-lg btn-default">Cancelar</a>
    </div>
</div>


{{ form_close() }}
{% endblock %}
