{% extends "base.html.twig" %}

{% block html_head %}

<script type="text/javascript">


    /*
     * Utilidad es igual a ingresos menos egresos     
     */
    function calcularUtilidad() {

        var total_ingresos = parseFloat($('.respuestas_ingresos[readonly]').val());
        var total_egresos = parseFloat($('.respuestas_egresos[readonly]').val());
        var objUtilidad = $('.respuestas_c_totales').first();//primero de dos
        objUtilidad.val(total_ingresos - total_egresos);

        ///recalculo la relacion beneficio-costo
        calcularBeneficioCosto();
    }

    /*
     * La relacion beneficio-costo es igual al total de ingresos dividio la utilidad  
     */
    function calcularBeneficioCosto() {

        var total_ingresos = parseFloat($('.respuestas_ingresos[readonly]').val());
        var utilidad = parseFloat($('.respuestas_c_totales').first().val());
        var objBeneficioCosto = $('.respuestas_c_totales').last();//ultimo de dos

        console.log('en calcular beneficios' + (total_ingresos / utilidad));

        if (utilidad)
            objBeneficioCosto.val(total_ingresos / utilidad);
    }


    function calcularTotalActivos() {
        var total = 0;
        $('.respuestas_activos').each(function() {
            var obj = $(this);

            ///El unico readonly debe ser el del total
            if (!obj.is('[readonly]') && obj.val())
                total += parseFloat(obj.val());
        });
        $('.respuestas_activos[readonly]').val(total);
    }

    function calcularTotalIngresos() {
        var total = 0;
        $('.respuestas_ingresos').each(function() {
            var obj = $(this);

            ///El unico readonly debe ser el del total
            if (!obj.is('[readonly]') && obj.val())
                total += parseFloat(obj.val());
        });
        $('.respuestas_ingresos[readonly]').val(total);

        ///recalculo las utilidad
        calcularUtilidad();
    }

    function calcularTotalEgresos() {
        var total = 0;
        $('.respuestas_egresos').each(function() {
            var obj = $(this);

            ///El unico readonly debe ser el del total
            if (!obj.is('[readonly]') && obj.val())
                total += parseFloat(obj.val());
        });
        $('.respuestas_egresos[readonly]').val(total);

        ///recalculo las utilidad
        calcularUtilidad();
    }

    $(document).ready(function() {
        $('.respuestas_activos').change(calcularTotalActivos);
        $('.respuestas_ingresos').change(calcularTotalIngresos);
        $('.respuestas_egresos').change(calcularTotalEgresos);
    });

</script>

{% endblock %}
{% block titulo %} <h1><i class="icon20 i-stack-checkmark"></i> BPA &#187; DISEÑO DE PLANES DE IMPLEMENTACIÓN DE BUENAS PRÁCTICAS AGRICOLAS </h1> {% endblock %}

{% block contenido %}

<div>
    <div>
       {{ form_open_multipart(null, {role:'form'}) }}

        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="fecha_nacimiento">Fecha:</label>
                        <div class="col-sm-8">
                            <div class="input-group date datepicker autostart">
                                <input size="16" name="fecha" value="{{ set_value('fecha', visitaTipoProductor.fecha)}}" class="form-control" type="text">
                                {{form_error('fecha')}}
                                <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">CÓDIGO DEL BENEFICIARIO:</label>
                        <div class="col-sm-7">
                            <input size="16" name="codigoBenegiciario" value="{{ set_value('codigoBenegiciario')}}" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>B.  CLASIFICACIÓN DEL PRODUCTOR SEGÚN LA UNIDAD AGRÍCOLA FAMILIAR (UAF).</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body"><div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Área Total del Predio (has)</label>
                                    {{form_error('area_predio')}}
                                    <br/>
                                    <input type="text" class="form-control" name="area_predio" value="{{set_value('area_predio', respuesta_b.area_predio)}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Valor de la UAF del Municipio (has)</label>
                                    {{form_error('valor_uaf')}}
                                    <input type="text" class="form-control" name="valor_uaf"  value="{{set_value('valor_uaf', respuesta_b.valor_uaf)}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Tipo de Productor Según la UAF</label>
                                    {{form_error('tipo_productor_uaf')}}
                                    <div style="text-align:center;">
                                        {% set respuesta_checked_bd =  respuesta_b.tipo_productor_uaf == 1 ? 'checked' : ''%}
                                        <label for="tipo_productor_uaf">Pequeño Productor</label>
                                        <input type="radio" class="" name="tipo_productor_uaf" value="1" {{set_radio('tipo_productor_uaf', 1) ? set_radio('tipo_productor_uaf', 1) : respuesta_checked_bd}}/>

                                        {% set respuesta_checked_bd =  respuesta_b.tipo_productor_uaf == 2 ? 'checked' : ''%}
                                        <label for="tipo_productor_uaf">Mediano Productor</label>
                                        <input type="radio" class="" name="tipo_productor_uaf" value="2" {{set_radio('tipo_productor_uaf', 2) ? set_radio('tipo_productor_uaf', 2) : respuesta_checked_bd}}/>

                                    </div>                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label">Clasificación productor según UAF</label>
                                    {{form_error('clasificacion_productor_uaf')}}
                                    <div style="text-align:center;">
                                        {% set respuesta_checked_bd =  respuesta_b.clasificacion_productor_uaf == 1 ? 'checked' : ''%}
                                        <label for="clasificacion_productor_uaf">Resolución 1132 del 21/Jun/2013 expedida por el INCODER</label>
                                        <input type="radio" class="" name="clasificacion_productor_uaf" value="1" {{set_radio('clasificacion_productor_uaf', 1) ? set_radio('clasificacion_productor_uaf', 1) : respuesta_checked_bd}}/>

                                        {% set respuesta_checked_bd =  respuesta_b.clasificacion_productor_uaf == 2 ? 'checked' : ''%}
                                        <label for="clasificacion_productor_uaf">Resolución  041 del 24/Sep/1996 expedida por el INCODER</label>
                                        <input type="radio" class="" name="clasificacion_productor_uaf" value="2" {{set_radio('clasificacion_productor_uaf', 2) ? set_radio('clasificacion_productor_uaf', 2) : respuesta_checked_bd}}/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div><!-- .container and .panel-body -->
        </div><!-- panel default -->



        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>C.  CLASIFICACIÓN DEL PRODUCTOR SEGÚN SUS INGRESOS Y ACTIVOS</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body"><div class="container">

                    <div class="col-md-6">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th align="center">
                                        DESCRIPCION DE LOS ACTIVOS ($)
                                    </th>
                                    <th align="center" style="width: 100px;">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for pa in preguntas_activos %}
                                <tr>
                                    <td>
                                           {{pa.enunciado}}
                                    </td>
                                    <td>
                                        <input type="text" class="form-control respuestas_activos" placeholder="" id="pregunta_c_{{pa.id}}" name="pregunta_c_{{pa.id}}" value="{{set_value('pregunta_c_'~pa.id, pa.respuesta_bd)}}" {{pa.editable != 1 ? 'readonly' : ''}}/>
                                            {{form_error('pregunta_c_'~pa.id)}}
                                    </td>
                                </tr>
                                    {% endfor %}

                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th align="center">
                                        DESCRIPCION DE LOS INGRESOS ($/Año)
                                    </th>
                                    <th align="center" style="width: 100px;">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for pa in preguntas_ingresos%}
                                <tr>
                                    <td>
                                           {{pa.enunciado}}
                                    </td>
                                    <td>
                                        <input type="text" class="form-control respuestas_ingresos" placeholder="" id="pregunta_c_{{pa.id}}" name="pregunta_c_{{pa.id}}" value="{{set_value('pregunta_c_'~pa.id, pa.respuesta_bd)}}" {{pa.editable != 1 ? 'readonly' : ''}}/>
                                            {{form_error('pregunta_c_'~pa.id)}}
                                    </td>
                                </tr>
                                    {% endfor %}                                   

                            </tbody>
                        </table>

                        <div style="padding-top: 10px;"></div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th align="center">
                                        DESCRIPCION DE LOS EGRESOS ($/Año)
                                    </th>
                                    <th align="center" style="width: 100px;">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for pa in preguntas_egresos%}
                                <tr>
                                    <td>
                                           {{pa.enunciado}}
                                    </td>
                                    <td>
                                        <input type="text" class="form-control respuestas_egresos" placeholder="" id="pregunta_c_{{pa.id}}" name="pregunta_c_{{pa.id}}"  value="{{set_value('pregunta_c_'~pa.id, pa.respuesta_bd)}}" {{pa.editable != 1 ? 'readonly' : ''}}/>
                                            {{form_error('pregunta_c_'~pa.id)}}
                                    </td>
                                </tr>
                                    {% endfor %}   

                            </tbody>
                        </table>

                    </div>

                    <div class="col-md-11 center"  style="margin-top: 20px; margin-left: 40px;">
                        <table class="table table-bordered">
                            <tbody>
                                    {% for pa in preguntas_totales%}
                                <tr>
                                    <td>
                                           {{pa.enunciado}}
                                    </td>
                                    <td>
                                        <input type="text" class="form-control respuestas_c_totales" placeholder="" id="pregunta_c_{{pa.id}}" name="pregunta_c_{{pa.id}}"  value="{{set_value('pregunta_c_'~pa.id, pa.respuesta_bd)}}" {{pa.editable != 1 ? 'readonly' : ''}} />
                                            {{form_error('pregunta_c_'~pa.id)}}
                                    </td>
                                </tr>
                                    {% endfor %}   

                            </tbody>
                        </table>

                    </div>

                </div></div><!-- .container and .panel-body -->
        </div><!-- panel default -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>D.  REVISIÓN DE TODOS LOS CRITERIOS DE CLASIFICACION DEL PRODUCTOR AGROPECUARIO</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body"><div class="container">
                    <div class="row">


                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th align="center">
                                    </th>
                                    <th align="center" style="width: 300px;">
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        El BENEFICIARIO cumple con la condición de productor agropecuario según sus INGRESOS INVERTIDOS en el sector agropecuario? (Mínimo el 70% de los ingresos los obtiene de la actividad agropecuaria).
                                        {{form_error('criterio1')}}
                                    </td>

                                    <td>
                                        <div style="text-align:center;">
                                            {% set respuesta_checked_bd =  respuesta_d.criterio1 == 1 ? 'checked' : ''%}                                            
                                            <input type="radio" class="" name="criterio1" value="1" {{set_radio('criterio1', 1) ? set_radio('criterio1', 1) : respuesta_checked_bd}}/>
                                            <label for="criterio1">SI</label>

                                            {% set respuesta_checked_bd =  respuesta_d.criterio1 == 2 ? 'checked' : ''%}                                            
                                            <input type="radio" class="" name="criterio1" value="2" {{set_radio('criterio1', 2) ? set_radio('criterio1', 2) : respuesta_checked_bd}}/>
                                            <label for="criterio1">NO</label>
                                        </div>                    
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        El productor según LA UAF (Unidad Agrícola Familiar) clasifica como:
                                        {{form_error('criterio2')}}
                                    </td>

                                    <td>
                                        <div style="text-align:center;">
                                            {% set respuesta_checked_bd =  respuesta_d.criterio2 == 1 ? 'checked' : ''%}                                            
                                            <input type="radio" class="" name="criterio2" value="1" {{set_radio('criterio2', 1) ? set_radio('criterio2', 1) : respuesta_checked_bd}}/>
                                            <label for="criterio2">PEQUEÑO PRODUCTOR</label>

                                            {% set respuesta_checked_bd =  respuesta_d.criterio2 == 2 ? 'checked' : ''%}                                            
                                            <input type="radio" class="" name="criterio2" value="2" {{set_radio('criterio2', 2) ? set_radio('criterio2', 2) : respuesta_checked_bd}}/>
                                            <label for="criterio2">MEDIANO PRODUCTOR</label>                                        
                                        </div>                    
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        El productor según TOTAL ACTIVOS, y de acuerdo a la clasficación de productores de FINAGRO clasifica como: (Activos Menores a $85.477.500 = Pequeño Productor Agropecuario).
                                        {{form_error('criterio3')}}
                                    </td>

                                    <td>
                                        <div style="text-align:center;">
                                            {% set respuesta_checked_bd =  respuesta_d.criterio3 == 1 ? 'checked' : ''%}                                            
                                            <input type="radio" class="" name="criterio3" value="1" {{set_radio('criterio3', 1) ? set_radio('criterio3', 1) : respuesta_checked_bd}}/>
                                            <label for="criterio3">PEQUEÑO PRODUCTOR</label>

                                            {% set respuesta_checked_bd =  respuesta_d.criterio3 == 2 ? 'checked' : ''%}                                            
                                            <input type="radio" class="" name="criterio3" value="2" {{set_radio('criterio3', 2) ? set_radio('criterio3', 2) : respuesta_checked_bd}}/>
                                            <label for="criterio3">MEDIANO PRODUCTOR</label>  
                                        </div>                    
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <b>Revisados todos los criterios de clasificación de productores agropecuarios, el BENEFICIARIO clasifica como</b>
                                        {{form_error('criterio4')}}
                                    </td>

                                    <td>
                                        <div style="text-align:center;">
                                            {% set respuesta_checked_bd =  respuesta_d.criterio4 == 1 ? 'checked' : ''%}                                            
                                            <input type="radio" class="" name="criterio4" value="1" {{set_radio('criterio4', 1) ? set_radio('criterio4', 1) : respuesta_checked_bd}}/>
                                            <label for="criterio4">PEQUEÑO PRODUCTOR</label>

                                            {% set respuesta_checked_bd =  respuesta_d.criterio4 == 2 ? 'checked' : ''%}                                            
                                            <input type="radio" class="" name="criterio4" value="2" {{set_radio('criterio4', 2) ? set_radio('criterio4', 2) : respuesta_checked_bd}}/>
                                            <label for="criterio4">MEDIANO PRODUCTOR</label>  
                                        </div>                    
                                    </td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div></div><!-- .container and .panel-body -->
        </div><!-- panel default -->


        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-menu-6"></i></div>
                <h4>E. OBSERVACIONES</h4>
                <a href="#" class="minimize"></a>
            </div><!-- End .panel-heading -->

            <div class="panel-body" style="display: block;">
                <div class="container">            
                    <!-- begin -->
                    <div class="row">                        
                        <div>
                            <label for="credito_agricola">Está interesado en una solicitud de crédito agrícola:</label>
                            {% set respuesta_checked_bd =  visitaTipoProductor.credito_agricola == 1 ? 'checked' : ''%}                                            
                            <input type="radio" class="" name="credito_agricola" value="1" {{set_radio('credito_agricola', 1) ? set_radio('credito_agricola', 1) : respuesta_checked_bd}}/>
                            <label for="credito_agricola">SI</label>

                            {% set respuesta_checked_bd =  visitaTipoProductor.credito_agricola == 0 ? 'checked' : ''%}                                            
                            <input type="radio" class="" name="credito_agricola" value="0" {{set_radio('credito_agricola', 0) ? set_radio('credito_agricola', 0) : respuesta_checked_bd}}/>
                            <label for="credito_agricola">NO</label>
                        </div>  
                        <label for="observacion">Describa su interés de crédito </label>
                        {{form_error('observacion')}}
                        <textarea class="form-control" id="textarea" name="observacion" rows="3" >{{ set_value('observacion', visitaTipoProductor.observaciones) }}</textarea>
                    </div>
                    <br/>

                    <div class="form-group">

                        <div class="col-lg-4">
                            <input id="beneficiario" class="form-control" style="text-align: center;" type="text" value="{{productor.nombre1}} {{productor.nombre2}} {{productor.apellido1}} {{productor.apellido2}}" disabled>
                            <label for="beneficiario" class="col-lg-12" style="text-align: center;" >BENEFICIARIO</label>
                        </div>
                        <div class="col-lg-4">                      
                        </div>
                        <div class="col-lg-4">
                            <input id="responsable" class="form-control" style="text-align: center;" type="text" value="{{usuaioSesion.first_name}} {{usuaioSesion.last_name}}" disabled>
                            <label for="responsable" class="col-lg-12" style="text-align: center;" >FUNCIONARIO RESPONSABLE</label>
                        </div>
                    </div>

                    <div class="center">&nbsp;</div>
                    <hr class="seperator">
                    <div class="form-group">

                        <div class="col-lg-4">                            
                            {% if observacion.ruta_formulario %}
                            <span class="box1 col-lg-12">
                                <i aria-hidden="true" class="i-file"></i>
                                <a type="button" target="_new" href="{{base_url() ~ 'uploads/' ~ observacion.ruta_formulario}}">{{observacion.ruta_formulario}} </a>
                            </span>      
                            <br/><br/><br/>
                            {% endif %}


                            <input type="file" name="archivo_formulario" id="archivo_formulario" >
                            {{upload_result_ruat}}
                            <label for="archivo_formulario" class="col-lg-12"  >DOCUMENTO DEL BENEFICIARIO</label>
                        </div>
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-4">
                            {% if productor.adjunto_cedula %}
                            <span class="box1 col-lg-12">
                                <i aria-hidden="true" class="i-vcard"></i>
                                <a type="button" target="_new" href="{{base_url() ~ 'uploads/' ~productor.adjunto_cedula}}">{{productor.adjunto_cedula}} </a>
                            </span>      
                            <br/><br/><br/>
                            {% endif %}

                            <input type="file" name="archivo_documento_identificacion" id="archivo_documento_identificacion" >
                            {{upload_result_documento_identidad}}
                            <label for="archivo_documento_identificacion" class="col-lg-12" >RUAT DIGITALIZADO</label>
                        </div>
                    </div>


                    <!-- end -->
                </div> <!-- .container -->
            </div><!-- End .panel-body -->
        </div><!-- panel default -->

        <div class="form-actions full">
            <button class="btn btn-lg btn-success pull-right" type="submit">Guardar</button>
        </div>

        {{ form_close() }}          
    </div>

</div>

{% endblock %}
