{% extends "base.html.twig" %}
{% block html_head %}
<script src="{{ base_url('assets/js/autoNumeric.js')}}"></script>
<style>
    .money { text-align: right;}
</style>
<script>
    $(function() {
        {% if notif %}
        notif({{notif|json_encode}});
        {% endif %}
    
        {% if soloLectura %}
        $('input').attr('disabled', 'disabled');
        {% endif %}
    
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.money').autoNumeric('init', {
            aSep: '.',
            aDec: ',',
            mDec:0,
            wEmpty: 'zero',
            vMin: '0',
        });
    
        $(".money").each(function(index) {
            var valor = $(this).autoNumeric('get');
            $(this).val(valor);
        });
    });
 
    function asignarNumeroInput(obj, valor) {
        obj.autoNumeric('set', valor);
    }

    function obtenerNumeroInput(obj) {
        var value = obj.val();

        if(obj.hasClass('money')) {
            ///por alguna razon no llegan inicializados los inputs 
            obj.autoNumeric('init', {
                aSep: '.',
                aDec: ',',
                mDec:0,
                wEmpty: 'zero',
                vMin: '0',
            });
        }
        
        value = obj.autoNumeric('get');

        if (isNaN(value) || !value) {
            return 0;
        } else {
            return parseFloat(value);
        }            
    }

    function calcularCol1() {
        var total = 0;
        $('.respuestas_activos').each(function() {
            var obj = $(this);

            ///El unico readonly debe ser el del total
            if (!obj.is('[readonly]') && obj.val())
                total += obtenerNumeroInput(obj);
        });
        
        asignarNumeroInput($('.respuestas_activos[readonly]'), total);
    }
    
</script>
{% endblock %}
{% block breadcrumnb %}
<ul class="breadcrumb">
    <li><a href="{{site_url('listadoruats')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
    <li><strong class="text-success">CLASIFICACIÓN TIPO PRODUCTOR</strong></li>
</ul>
{% endblock %}
{% block titulo %} 
<h1><i class="icon20 i-stack-checkmark"></i> VTP &#187; CLASIFICACIÓN TIPO PRODUCTOR </h1>
{% endblock %}
{% block contenido %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B.  CLASIFICACIÓN DEL PRODUCTOR SEGÚN SUS INGRESOS Y ACTIVOS</h4>
        <a href="#" class="minimize"></a>
    </div>
    <!-- End .panel-heading -->
    <div class="panel-body">
        <div class="container">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="#reporte1" data-toggle="tab">RELACION DE VISITAS</a></li>
                <li><a href="#reporte2" data-toggle="tab">REPORTE TOTAL DE VISITAS</a></li>
                <li><a href="#reposrte3" data-toggle="tab">REPORTE DE ACTIVIDADES</a></li>
            </ul>
            <div id='' class="tab-content">
                <div class="tab-pane active" id="reporte1">

                        <table class="table table-bordered animate-show-hide">
                        <thead>
                            <tr>
                                <th rowspan="2">Actividad</th>
                                <th rowspan="2">Total Visitas</th>
                                <th colspan="7" align="center">RELACION DE VISITAS QUE RECIBIRÁ CADA PRODUCTOR DE ACUERDO A LAS ACTIVIDADES DEL PROYECTO</th>
                            </tr>
                            <tr>
                                <th>5.441 Productores Totales</th>
                                <th>544 Productores BPA (preestablecidas)</th>
                                <th>2.176 Productores CREDITO (promedio definidas)</th>
                                <th>891 Productores PIÑA (grupales)</th>
                                <th>100 Productores MANGO (grupales)</th>
                                <th>250 Productores FRESA (grupales)</th>
                                <th>600 Productores MORA (grupales)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pa in respuestas_relacion_visitas %}
                            <tr>
                                <td style="text-align: justify;">
                                    {{pa.descripcion}}
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_1_'~{{pa.id}} readonly/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_2_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_3_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_4_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_5_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_6_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_7_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_8_'~{{pa.id}}/>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <div class="tab-pane" id="reporte2">

                        <table class="table table-bordered animate-show-hide">
                        <thead>
                            <tr>
                                <th rowspan="2">Actividad</th>
                                <th rowspan="2">Total Visitas</th>
                                <th colspan="7" align="center">RELACION DE VISITAS QUE RECIBIRÁ CADA PRODUCTOR DE ACUERDO A LAS ACTIVIDADES DEL PROYECTO</th>
                             </tr>
                            <tr>
                                <th >5.441 Productores de Totales</th>
                                <th >544 Productores BPA (preestablecidas)</th>
                                <th >2.176 Productores CREDITO (promedio definidas)</th>
                                <th >891 Productores PIÑA (grupales)</th>
                                <th >100 Productores MANGO (grupales)</th>
                                <th >250 Productores FRESA (grupales)</th>
                                <th >600 Productores MORA (grupales)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pa in respuestas_visitas %}
                            <tr>
                                <td style="text-align: justify;">
                                    {{pa.descripcion}}
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_1_'~{{pa.id}} readonly/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_2_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_3_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_4_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_5_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_6_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_7_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_8_'~{{pa.id}}/>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                
                <div class="tab-pane" id="reposrte3">

                        <table class="table table-bordered animate-show-hide">
                        <thead>
                            <tr>
                                <th rowspan="2">Actividad</th>
                                <th rowspan="2">Total Visitas</th>
                                <th colspan="7" align="center">RELACION DE VISITAS QUE RECIBIRÁ CADA PRODUCTOR DE ACUERDO A LAS ACTIVIDADES DEL PROYECTO</th>
                             </tr>
                            <tr>
                                <th>5.441 Productores Totales</th>
                                <th>544 Productores BPA (preestablecidas)</th>
                                <th>2.176 Productores CREDITO (promedio definidas)</th>
                                <th>891 Productores PIÑA (grupales)</th>
                                <th>100 Productores MANGO (grupales)</th>
                                <th>250 Productores FRESA (grupales)</th>
                                <th>600 Productores MORA (grupales)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pa in respuestas_actividades %}
                            <tr>
                                <td style="text-align: justify;">
                                    {{pa.descripcion}}
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_1_'~{{pa.id}} readonly/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_2_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_3_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_4_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_5_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_6_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_7_'~{{pa.id}}/>
                                </td>
                                <td>
                                    <input class="form-control respuestas_relacion_visitas money" type="text" name='columna_8_'~{{pa.id}}/>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!-- .container and .panel-body -->
</div>
<!-- panel default -->

<br/>

<div class="form-group">
    <div class="col-md-offset-4 col-md-5">
        {% if soloLectura %}
        <!--a href="{{site_url("listadoruats")}}" class="btn btn-lg btn-default">Volver al Listado de RUATs</a-->
        {% else %}
        <button type="submit" name="guardar" class="btn btn-lg btn-success">Guardar</button>
        {% endif %}
    </div>
</div>
</div>
{{ form_close() }}
{% endblock %}
