{% extends "base.html.twig" %}
{% block html_head %}

<script src="{{ base_url('assets/js/autoNumeric.js')}}"></script>
<script type="text/javascript" src="{{ base_url('assets/amcharts/amcharts.js') }}"></script>
<script src="{{ base_url('assets/amcharts/serial.js') }}" type="text/javascript"></script>

<script src="{{ base_url('assets/amcharts/exporting/amexport.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/rgbcolor.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/canvg.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/jspdf.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/filesaver.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/jspdf.plugin.addimage.js') }}" type="text/javascript"></script>

<style>
    .money { text-align: right;}
</style>
<script>
    $(function() {
        {% if notif %}
        notif({{notif|json_encode}});
        {% endif %}

        {% if soloLectura %}
        $('input').attr('disabled', 'disabled');
        {% endif %}

    });
</script>
<script type="text/javascript">
    var base_url = {{base_url()|json_encode}}
    $(document).ready(function() {
        $('.money').autoNumeric('init', {
            aSep: '.',
            aDec: ',',
            mDec: 0,
            wEmpty: 'zero',
            vMin: '0',
        });

        $(".money").each(function(index) {
            var valor = $(this).autoNumeric('get');
            $(this).val(valor);
        });

        $('.respuestas_relacion_visitas').change(function(e) {
            var tabla = 'respuestas_relacion_visitas';
            var columna = 'col' + ($(this).attr('name')).split("_")[1];
            calcularCol(columna, tabla)
        });

        $('.respuestas_visitas').change(function(e) {
            var tabla = 'respuestas_visitas';
            var columna = 'col' + ($(this).attr('name')).split("_")[1];
            calcularCol(columna, tabla)
        });

        $('.respuestas_actividades').change(function(e) {
            var tabla = 'respuestas_actividades';
            var columna = 'col' + ($(this).attr('name')).split("_")[1];
            calcularCol(columna, tabla)
        });

        $('form').submit(validarFormulario);

        $('#select_chart').change(refreshChart);
        $('#select_chart2').change(refreshChart2);
        $('#select_chart3').change(refreshChart3);

        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            chart.invalidateSize();
            chart2.invalidateSize();
            chart3.invalidateSize();
        })
    });

    function asignarNumeroInput(obj, valor) {
        obj.autoNumeric('set', valor);
    }

    function obtenerNumeroInput(obj) {
        var value = obj.val();

        if (obj.hasClass('money')) {
            ///por alguna razon no llegan inicializados los inputs 
            obj.autoNumeric('init', {
                aSep: '.',
                aDec: ',',
                mDec: 0,
                wEmpty: 'zero',
                vMin: '0',
            });
        }

        value = obj.autoNumeric('get');

        if (isNaN(value) || !value) {
            return 0;
        } else {
            return parseFloat(value);
        }
    }

    function calcularCol(columna, tabla) {
        var total = 0;

        $('.' + tabla + '.' + columna).each(function() {
            var obj = $(this);

            ///El unico readonly debe ser el del total
            if (!obj.is('[readonly]') && obj.val())
                total += obtenerNumeroInput(obj);
        });

        asignarNumeroInput($('.' + tabla + '.' + columna + '.total'), total);
    }

    function validarFormulario() {
        $(".money").each(function(index) {
            var valor = $(this).autoNumeric('get');
            $(this).val(valor);
        });

        $('#loadingMask').modal();
    }


</script>

<script type="text/javascript">

    {% if soloLectura %}
        $('input').attr('disabled', 'disabled');
    {% endif %}


    var base = {{nombres_columnas|json_encode}}
    var actividades = {{respuestas_relacion_visitas|json_encode}}
    var actividades2 = {{respuestas_visitas|json_encode}}
    var actividades3 = {{respuestas_actividades|json_encode}}

    var colores = ["#FF0F00", "#FF6600", "#FF9E01", "#FCD202", "#F8FF01", "#B0DE09", "#04D215", "#0D8ECF", "#0D52D1", "#2A0CD0", "#8A0CCF", "#CD0D74", "#754DEB", "#DDDDDD"];

    var chart = null;
    var chart2 = null;
    var chart3 = null;


    AmCharts.ready(function() {

        var exportConfig = {
            menuTop: "21px",
            menuBottom: "auto",
            menuRight: "21px",
            backgroundColor: "#efefef",
            menuItemStyle: {
                backgroundColor: '#EFEFEF',
                rollOverBackgroundColor: '#DDDDDD'},
            menuItems: [{
                    textAlign: 'center',
                    icon: "{{ base_url('assets/amcharts/images/export.png') }}",
                    onclick: function() {
                    },
                    items: [{
                            title: 'JPG',
                            format: 'jpg'
                        }, {
                            title: 'PNG',
                            format: 'png'
                        }, {
                            title: 'SVG',
                            format: 'svg'
                        }, {
                            title: 'PDF',
                            format: 'pdf'
                        }]
                }]
        }

        /// CHART 1
        var chartData = getChartData($('#select_chart').val());

        chart = new AmCharts.AmSerialChart();
        chart.dataProvider = chartData;
        chart.categoryField = "base";
        chart.exportConfig = exportConfig;

        var graph = new AmCharts.AmGraph();
        graph.valueField = 'actividad';
        graph.colorField = "color";
        graph.type = "column";
        graph.fillAlphas = 0.8;
        graph.title = 'Actividad';
        graph.balloonText = "[[category]]:<b>[[value]]</b>";
        chart.addGraph(graph);

        chart.angle = 30;
        chart.depth3D = 15;

        var categoryAxis = chart.categoryAxis;
        categoryAxis.autoGridCount = false;
        categoryAxis.gridCount = chartData.length;
        categoryAxis.gridPosition = "start";
        categoryAxis.labelRotation = 90;

        chart.write('chartdiv');


        /// CHART 2
        var chartData = getChartData($('#select_chart2').val());

        chart2 = new AmCharts.AmSerialChart();
        chart2.dataProvider = chartData;
        chart2.categoryField = "base";
        chart2.exportConfig = exportConfig;

        var graph2 = new AmCharts.AmGraph();
        graph2.valueField = 'actividad';
        graph2.colorField = "color";
        graph2.type = "column";
        graph2.fillAlphas = 0.8;
        graph2.title = 'Actividad';
        graph2.balloonText = "[[category]]:<b>[[value]]</b>";
        chart2.addGraph(graph2);

        chart2.angle = 30;
        chart2.depth3D = 15;

        var categoryAxis = chart2.categoryAxis;
        categoryAxis.autoGridCount = false;
        categoryAxis.gridCount = chartData.length;
        categoryAxis.gridPosition = "start";
        categoryAxis.labelRotation = 90;

        chart2.write('chartdiv2');


        /// CHART 3
        var chartData = getChartData($('#select_chart3').val());

        chart3 = new AmCharts.AmSerialChart();
        chart3.dataProvider = chartData;
        chart3.categoryField = "base";
        chart3.exportConfig = exportConfig;

        var graph3 = new AmCharts.AmGraph();
        graph3.valueField = 'actividad';
        graph3.colorField = "color";
        graph3.type = "column";
        graph3.fillAlphas = 0.8;
        graph3.title = 'Actividad';
        graph3.balloonText = "[[category]]:<b>[[value]]</b>";
        chart3.addGraph(graph3);

        chart3.angle = 30;
        chart3.depth3D = 15;

        var categoryAxis = chart3.categoryAxis;
        categoryAxis.autoGridCount = false;
        categoryAxis.gridCount = chartData.length;
        categoryAxis.gridPosition = "start";
        categoryAxis.labelRotation = 90;

        chart3.write('chartdiv3');

    });

    function getChartData(actividad) {

        var chartData = [];

        ///recorro los nombres de las columnas
        for (var i in base) {
            var valor_base = base[i];

            var numero_columna = i.split('_')[1];
            var input = '#columna_' + numero_columna + '_' + actividad;
            //console.log(input+': '+$(input).val());
            var obj = {
                base: valor_base,
                actividad: $(input).val(),
                color: colores[numero_columna],
            }

            chartData.push(obj);
        }

        //console.log(chartData);
        return chartData;
    }

    function refreshChart() {
        ///consulto cual actividad mostrar, en el select
        var actividad = $('#select_chart').val();
        chart.dataProvider = getChartData(actividad);
        chart.validateData();
    }

    function refreshChart2() {
        ///consulto cual actividad mostrar, en el select
        var actividad = $('#select_chart2').val();
        chart2.dataProvider = getChartData(actividad);
        chart2.validateData();
    }

    function refreshChart3() {
        ///consulto cual actividad mostrar, en el select
        var actividad = $('#select_chart3').val();
        chart3.dataProvider = getChartData(actividad);
        chart3.validateData();
    }

</script>

{% endblock %}
{% block breadcrumnb %}
<ul class="breadcrumb">
    <li><a href="{{site_url('listadoruats')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
    <li><strong class="text-success">CLASIFICACIÓN TIPO PRODUCTOR</strong></li>
</ul>
{% endblock %}
{% block titulo %} 
<h1><i class="icon20 i-stack-checkmark"></i> VTP &#187; CLASIFICACIÓN TIPO PRODUCTOR </h1>
{% endblock %}
{% block contenido %}

{% include "reportes/toolbar_reportes.html.twig" %}

{{ form_open() }}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>CLASIFICACIÓN DEL PRODUCTOR SEGÚN SUS INGRESOS Y ACTIVOS</h4>
        <a href="#" class="minimize"></a>
    </div>
    <!-- End .panel-heading -->
    <div class="panel-body">
        <div class="container">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="#reporte1" data-toggle="tab">RELACION DE VISITAS</a></li>
                <li><a href="#reporte2" data-toggle="tab">REPORTE TOTAL DE VISITAS</a></li>
                <li><a href="#reposrte3" data-toggle="tab">REPORTE DE ACTIVIDADES</a></li>
            </ul>
            <div id='' class="tab-content">

                <div class="tab-pane active" id="reporte1">

                    <table class="table table-bordered animate-show-hide">
                        <thead>
                            <tr>
                                <th rowspan="2">Actividades</th>
                                <th rowspan="2">{{nombres_columnas.columna_1}}</th>
                                <th colspan="10" align="center">RELACION DE VISITAS QUE RECIBIRÁ CADA PRODUCTOR DE ACUERDO A LAS ACTIVIDADES DEL PROYECTO</th>
                            </tr>
                            <tr>
                                <th>{{nombres_columnas.columna_2}}</th>
                                <th>{{nombres_columnas.columna_3}}</th>
                                <th>{{nombres_columnas.columna_4}}</th>
                                <th>{{nombres_columnas.columna_5}}</th>
                                <th>{{nombres_columnas.columna_6}}</th>
                                <th>{{nombres_columnas.columna_7}}</th>
                                <th>{{nombres_columnas.columna_8}}</th>
                                <th>{{nombres_columnas.columna_9}}</th>
                                <th>{{nombres_columnas.columna_10}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pa in respuestas_relacion_visitas %}
                            <tr>
                                <td style="text-align: justify;">
                                    {{pa.descripcion}}
                                </td>
                                <td>
                                    <input class="form-control col1 money respuestas_relacion_visitas" type="text" name="{{'columna_1_'~pa.id}}" id="{{'columna_1_'~pa.id}}" value="{{set_value('columna_1_'~pa.id, respuestas_bd_input['columna_1_'~pa.id])}}" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col2 money respuestas_relacion_visitas" type="text" name="{{'columna_2_'~pa.id}}" id="{{'columna_2_'~pa.id}}" value="{{set_value('columna_2_'~pa.id, respuestas_bd_input['columna_2_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col3 money respuestas_relacion_visitas" type="text" name="{{'columna_3_'~pa.id}}" id="{{'columna_3_'~pa.id}}" value="{{set_value('columna_3_'~pa.id, respuestas_bd_input['columna_3_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col4 money respuestas_relacion_visitas" type="text" name="{{'columna_4_'~pa.id}}" id="{{'columna_4_'~pa.id}}" value="{{set_value('columna_4_'~pa.id, respuestas_bd_input['columna_4_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col5 money respuestas_relacion_visitas" type="text" name="{{'columna_5_'~pa.id}}" id="{{'columna_5_'~pa.id}}" value="{{set_value('columna_5_'~pa.id, respuestas_bd_input['columna_5_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col6 money respuestas_relacion_visitas" type="text" name="{{'columna_6_'~pa.id}}" id="{{'columna_6_'~pa.id}}" value="{{set_value('columna_6_'~pa.id, respuestas_bd_input['columna_6_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col7 money respuestas_relacion_visitas" type="text" name="{{'columna_7_'~pa.id}}" id="{{'columna_7_'~pa.id}}" value="{{set_value('columna_7_'~pa.id, respuestas_bd_input['columna_7_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col8 money respuestas_relacion_visitas" type="text" name="{{'columna_8_'~pa.id}}" id="{{'columna_8_'~pa.id}}" value="{{set_value('columna_8_'~pa.id, respuestas_bd_input['columna_8_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col9 money respuestas_relacion_visitas" type="text" name="{{'columna_9_'~pa.id}}" id="{{'columna_9_'~pa.id}}" value="{{set_value('columna_9_'~pa.id, respuestas_bd_input['columna_9_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col10 money respuestas_relacion_visitas" type="text" name="{{'columna_10_'~pa.id}}" id="{{'columna_10_'~pa.id}}" value="{{set_value('columna_10_'~pa.id, respuestas_bd_input['columna_10_'~pa.id])}}"/>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td style="text-align: center;">
                                    TOTALES
                                </td>
                                <td>
                                    <input class="form-control col1 money respuestas_relacion_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col2 money respuestas_relacion_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col3 money respuestas_relacion_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col4 money respuestas_relacion_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col5 money respuestas_relacion_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col6 money respuestas_relacion_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col7 money respuestas_relacion_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col8 money respuestas_relacion_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col9 money respuestas_relacion_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col10 money respuestas_relacion_visitas total" type="text" readonly/>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>

                    <br/>
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <div class="icon"><i class="icon20 i-menu-6"></i></div>
                            <h4>GRÁFICO RELACIÓN DE VISITAS</h4>
                        </div>                    
                        <br/>
                        <div class="col-lg-12">
                            <select id="select_chart" class="form-control" name="select_chart">
                                <!--<option value="0">Totales</option> -->

                                        {% for pa in respuestas_relacion_visitas %}
                                <option value="{{pa.id}}">{{pa.descripcion}}</option>
                                        {% endfor %}
                            </select>
                        </div>
                        <br/>
                        <div id="chartdiv" style="width: 100%; height: 600px;"></div>
                    </div>

                </div>

                <div class="tab-pane" id="reporte2">

                    <table class="table table-bordered animate-show-hide">
                        <thead>
                            <tr>
                                <th rowspan="2">Actividades</th>
                                <th rowspan="2">{{nombres_columnas.columna_1}}</th>
                                <th colspan="10" align="center">RELACION DE VISITAS QUE RECIBIRÁ CADA PRODUCTOR DE ACUERDO A LAS ACTIVIDADES DEL PROYECTO</th>
                            </tr>
                            <tr>
                                <th>{{nombres_columnas.columna_2}}</th>
                                <th>{{nombres_columnas.columna_3}}</th>
                                <th>{{nombres_columnas.columna_4}}</th>
                                <th>{{nombres_columnas.columna_5}}</th>
                                <th>{{nombres_columnas.columna_6}}</th>
                                <th>{{nombres_columnas.columna_7}}</th>
                                <th>{{nombres_columnas.columna_8}}</th>
                                <th>{{nombres_columnas.columna_9}}</th>
                                <th>{{nombres_columnas.columna_10}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pa in respuestas_visitas %}
                            <tr>
                                <td style="text-align: justify;">
                                    {{pa.descripcion}}
                                </td>
                                <td>
                                    <input class="form-control col1 money respuestas_visitas" type="text" name="{{'columna_1_'~pa.id}}" id="{{'columna_1_'~pa.id}}" value="{{set_value('columna_1_'~pa.id, respuestas_bd_input['columna_1_'~pa.id])}}" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col2 money respuestas_visitas" type="text" name="{{'columna_2_'~pa.id}}" id="{{'columna_2_'~pa.id}}" value="{{set_value('columna_2_'~pa.id, respuestas_bd_input['columna_2_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col3 money respuestas_visitas" type="text" name="{{'columna_3_'~pa.id}}" id="{{'columna_3_'~pa.id}}" value="{{set_value('columna_3_'~pa.id, respuestas_bd_input['columna_3_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col4 money respuestas_visitas" type="text" name="{{'columna_4_'~pa.id}}" id="{{'columna_4_'~pa.id}}" value="{{set_value('columna_4_'~pa.id, respuestas_bd_input['columna_4_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col5 money respuestas_visitas" type="text" name="{{'columna_5_'~pa.id}}" id="{{'columna_5_'~pa.id}}" value="{{set_value('columna_5_'~pa.id, respuestas_bd_input['columna_5_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col6 money respuestas_visitas" type="text" name="{{'columna_6_'~pa.id}}" id="{{'columna_6_'~pa.id}}" value="{{set_value('columna_6_'~pa.id, respuestas_bd_input['columna_6_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col7 money respuestas_visitas" type="text" name="{{'columna_7_'~pa.id}}" id="{{'columna_7_'~pa.id}}" value="{{set_value('columna_7_'~pa.id, respuestas_bd_input['columna_7_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col8 money respuestas_visitas" type="text" name="{{'columna_8_'~pa.id}}" id="{{'columna_8_'~pa.id}}" value="{{set_value('columna_8_'~pa.id, respuestas_bd_input['columna_8_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col9 money respuestas_visitas" type="text" name="{{'columna_9_'~pa.id}}" id="{{'columna_9_'~pa.id}}" value="{{set_value('columna_9_'~pa.id, respuestas_bd_input['columna_9_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col10 money respuestas_visitas" type="text" name="{{'columna_10_'~pa.id}}" id="{{'columna_10_'~pa.id}}" value="{{set_value('columna_10_'~pa.id, respuestas_bd_input['columna_10_'~pa.id])}}"/>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td style="text-align: center;">
                                    TOTALES
                                </td>
                                <td>
                                    <input class="form-control col1 money respuestas_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col2 money respuestas_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col3 money respuestas_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col4 money respuestas_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col5 money respuestas_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col6 money respuestas_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col7 money respuestas_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col8 money respuestas_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col9 money respuestas_visitas total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col10 money respuestas_visitas total" type="text" readonly/>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>

                    <br/>
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <div class="icon"><i class="icon20 i-menu-6"></i></div>
                            <h4>GRÁFICO REPORTE TOTAL DE VISITAS</h4>
                        </div>                    
                        <br/>
                        <div class="col-lg-12">

                            <select id="select_chart2" class="form-control" name="select_chart2">
                                <!--<option value="0">Totales</option> -->

                                        {% for pa in respuestas_visitas %}
                                <option value="{{pa.id}}">{{pa.descripcion}}</option>
                                        {% endfor %}
                            </select>
                        </div>
                        <br/>
                        <div id="chartdiv2" style="width: 100%; height: 600px;"></div>
                    </div>

                </div>

                <div class="tab-pane" id="reposrte3">

                    <table class="table table-bordered animate-show-hide">
                        <thead>
                            <tr>
                                <th rowspan="2">Actividades</th>
                                <th rowspan="2">{{nombres_columnas.columna_1}}</th>
                                <th colspan="10" align="center">RELACION DE VISITAS QUE RECIBIRÁ CADA PRODUCTOR DE ACUERDO A LAS ACTIVIDADES DEL PROYECTO</th>
                            </tr>
                            <tr>
                                <th>{{nombres_columnas.columna_2}}</th>
                                <th>{{nombres_columnas.columna_3}}</th>
                                <th>{{nombres_columnas.columna_4}}</th>
                                <th>{{nombres_columnas.columna_5}}</th>
                                <th>{{nombres_columnas.columna_6}}</th>
                                <th>{{nombres_columnas.columna_7}}</th>
                                <th>{{nombres_columnas.columna_8}}</th>
                                <th>{{nombres_columnas.columna_9}}</th>
                                <th>{{nombres_columnas.columna_10}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pa in respuestas_actividades %}
                            <tr>
                                <td style="text-align: justify;">
                                    {{pa.descripcion}}
                                </td>
                                <td>
                                    <input class="form-control col1 money respuestas_actividades" type="text" name="{{'columna_1_'~pa.id}}" id="{{'columna_1_'~pa.id}}" value="{{set_value('columna_1_'~pa.id, respuestas_bd_input['columna_1_'~pa.id])}}" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col2 money respuestas_actividades" type="text" name="{{'columna_2_'~pa.id}}" id="{{'columna_2_'~pa.id}}" value="{{set_value('columna_2_'~pa.id, respuestas_bd_input['columna_2_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col3 money respuestas_actividades" type="text" name="{{'columna_3_'~pa.id}}" id="{{'columna_3_'~pa.id}}" value="{{set_value('columna_3_'~pa.id, respuestas_bd_input['columna_3_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col4 money respuestas_actividades" type="text" name="{{'columna_4_'~pa.id}}" id="{{'columna_4_'~pa.id}}" value="{{set_value('columna_4_'~pa.id, respuestas_bd_input['columna_4_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col5 money respuestas_actividades" type="text" name="{{'columna_5_'~pa.id}}" id="{{'columna_5_'~pa.id}}" value="{{set_value('columna_5_'~pa.id, respuestas_bd_input['columna_5_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col6 money respuestas_actividades" type="text" name="{{'columna_6_'~pa.id}}" id="{{'columna_6_'~pa.id}}" value="{{set_value('columna_6_'~pa.id, respuestas_bd_input['columna_6_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col7 money respuestas_actividades" type="text" name="{{'columna_7_'~pa.id}}" id="{{'columna_7_'~pa.id}}" value="{{set_value('columna_7_'~pa.id, respuestas_bd_input['columna_7_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col8 money respuestas_actividades" type="text" name="{{'columna_8_'~pa.id}}" id="{{'columna_8_'~pa.id}}" value="{{set_value('columna_8_'~pa.id, respuestas_bd_input['columna_8_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col9 money respuestas_actividades" type="text" name="{{'columna_9_'~pa.id}}" id="{{'columna_9_'~pa.id}}" value="{{set_value('columna_9_'~pa.id, respuestas_bd_input['columna_9_'~pa.id])}}"/>
                                </td>
                                <td>
                                    <input class="form-control col10 money respuestas_actividades" type="text" name="{{'columna_10_'~pa.id}}" id="{{'columna_10_'~pa.id}}" value="{{set_value('columna_10_'~pa.id, respuestas_bd_input['columna_10_'~pa.id])}}"/>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td style="text-align: center;">
                                    TOTALES
                                </td>
                                <td>
                                    <input class="form-control col1 money respuestas_actividades total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col2 money respuestas_actividades total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col3 money respuestas_actividades total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col4 money respuestas_actividades total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col5 money respuestas_actividades total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col6 money respuestas_actividades total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col7 money respuestas_actividades total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col8 money respuestas_actividades total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col9 money respuestas_actividades total" type="text" readonly/>
                                </td>
                                <td>
                                    <input class="form-control col10 money respuestas_actividades total" type="text" readonly/>
                                </td>
                            </tr>  
                        </tbody>
                    </table>

                    <br/>
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <div class="icon"><i class="icon20 i-menu-6"></i></div>
                            <h4>GRÁFICO REPORTE REPORTE DE ACTIVIDADES</h4>
                        </div>                    
                        <br/>
                        <div class="col-lg-12">

                            <select id="select_chart3" class="form-control" name="select_chart3">
                                <!--<option value="0">Totales</option> -->

                                        {% for pa in respuestas_actividades %}
                                <option value="{{pa.id}}">{{pa.descripcion}}</option>
                                        {% endfor %}

                            </select>
                        </div>
                        <br/>
                        <div id="chartdiv3" style="width: 100%; height: 600px;"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- .container and .panel-body -->
</div>
<!-- panel default -->

<br"/>

<div class="form-group">
    <div class="col-md-offset-5 col-md-5">
        {% if soloLectura %}
        <!--a href="{{site_url("listadoruats")}}" class="btn btn-lg btn-default">Volver al Listado de RUATs</a-->
        {% else %}
        <button type="submit" name="guardar" class="btn btn-lg btn-success">Guardar</button>
        {% endif %}
    </div>
</div>
</div>
{{ form_close() }}
{% endblock %}
