<ul class="nav nav-list">
    <li>
        <a href="{{site_url('auth')}}">
            <span class="icon"><i class="icon20 i-users"></i></span>
            <span class="txt">Gestión de Usuarios</span>
        </a>
    </li>
    {#<li>
        <a href="#">
            <span class="icon"><i class="icon20 i-stats-up"></i></span>
            <span class="txt">RUAT</span>
        </a>
        <ul class="sub">
            <li>
                <a href="{{ site_url('ruata') }}"   >
                    <span class="icon"><i class="icon20 i-man"></i></span>
                    <span class="txt">Parte A</span>
                </a>
            </li>
            <li>
                <a href="{{ site_url('ruatb') }}"   >
                    <span class="icon"><i class="icon20 icon20 i-home-11"></i></span>
                    <span class="txt">Parte B</span>
                </a>
            </li>
            <li>
                <a href="{{ site_url('ruatc') }}"   >
                    <span class="icon"><i class="icon20 i-stack-checkmark"></i></span>
                    <span class="txt">Parte C</span>
                </a>
            </li>
            <li>
                <a href="{{ site_url('ruatd') }}"   >
                    <span class="icon"><i class="icon20 i-quill"></i></span>
                    <span class="txt">Parte D</span>
                </a>
            </li>
        </ul>
    </li>#}

    <li>
        <a href="{{site_url('listadoruats')}}">
            <span class="icon"><i class="icon20 i-list-2"></i></span>
            <span class="txt">Listado RUAT</span>
        </a>
    </li>

    <li>
        <a href="{{site_url('reportes/formularios')}}">
            <span class="icon"><i class="icon20 i-bars-4"></i></span>
            <span class="txt">Reportes</span>
        </a>
    </li>

    <li>
        <a href="{{site_url('suelos')}}">
            <span class="icon"><i class="icon20  i-lab"></i></span>
            <span class="txt">Estudios de Suelos</span>
        </a>
    </li>

{#
    <li>
        <a href="#">
            <span class="icon"><i class="icon20 i-menu-6"></i></span>
            <span class="txt">Forms</span>
        </a>
        <ul class="sub">
            <li>
                <a href="form-elements.html">
                    <span class="icon"><i class="icon20 i-stack-list"></i></span>
                    <span class="txt">Form elements</span>
                </a>
            </li>
            <li>
                <a href="form-validation.html">
                    <span class="icon"><i class="icon20 i-stack-checkmark"></i></span>
                    <span class="txt">Form validation</span>
                </a>
            </li>
            <li>
                <a href="form-wizard.html">
                    <span class="icon"><i class="icon20 i-stack-star"></i></span>
                    <span class="txt">Form wizard</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="icon20 i-table-2"></i></span>
            <span class="txt">Tables</span>
        </a>
        <ul class="sub">
            <li>
                <a href="tables.html">
                    <span class="icon"><i class="icon20 i-table"></i></span>
                    <span class="txt">Static tables</span>
                </a>
            </li>
            <li>
                <a href="data-tables.html">
                    <span class="icon"><i class="icon20 i-table"></i></span>
                    <span class="txt">Data tables</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="grid.html">
            <span class="icon"><i class="icon20 i-grid-5"></i></span>
            <span class="txt">Grid</span>
        </a>
    </li>
    <li>
        <a href="typo.html">
            <span class="icon"><i class="icon20 i-font"></i></span>
            <span class="txt">Typography</span>
        </a>
    </li>
    <li>
        <a href="calendar.html">
            <span class="icon"><i class="icon20 i-calendar"></i></span>
            <span class="txt">Calendar</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="icon20 i-cogs"></i></span>
            <span class="txt">Ui Elements</span>
        </a>
        <ul class="sub">
            <li>
                <a href="icons.html">
                    <span class="icon"><i class="icon20 i-IcoMoon"></i></span>
                    <span class="txt">Icons</span>
                </a>
            </li>
            <li>
                <a href="buttons.html">
                    <span class="icon"><i class="icon20 i-point-up"></i></span>
                    <span class="txt">Buttons</span>
                </a>
            </li>
            <li>
                <a href="ui-elements.html">
                    <span class="icon"><i class="icon20 i-puzzle"></i></span>
                    <span class="txt">UI Elements</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="gallery.html">
            <span class="icon"><i class="icon20 i-images"></i></span>
            <span class="txt">Gallery</span>
        </a>
    </li>
    <li>
        <a href="maps.html">
            <span class="icon"><i class="icon20 i-location-4"></i></span>
            <span class="txt">Maps</span>
        </a>
    </li>
    <li>
        <a href="file-manager.html">
            <span class="icon"><i class="icon20 i-cloud-upload"></i></span>
            <span class="txt">File manager</span>
        </a>
    </li>
    <li>
        <a href="widgets.html">
            <span class="icon"><i class="icon20 i-cube-3"></i></span>
            <span class="txt">Widgets</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="icon20 i-file-8"></i></span>
            <span class="txt">Pages</span>
        </a>
        <ul class="sub">
            <li>
                <a href="#">
                    <span class="icon"><i class="icon20 i-warning"></i></span>
                    <span class="txt">Error Pages</span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="403.html">
                            <span class="icon"><i class="icon20 i-notification"></i></span>
                            <span class="txt">Error 403</span>
                        </a>
                    </li>
                    <li>
                        <a href="404.html">
                            <span class="icon"><i class="icon20 i-notification"></i></span>
                            <span class="txt">Error 404</span>
                        </a>
                    </li>
                    <li>
                        <a href="405.html">
                            <span class="icon"><i class="icon20 i-notification"></i></span>
                            <span class="txt">Error 405</span>
                        </a>
                    </li>
                    <li>
                        <a href="500.html">
                            <span class="icon"><i class="icon20 i-notification"></i></span>
                            <span class="txt">Error 500</span>
                        </a>
                    </li>
                    <li>
                        <a href="503.html">
                            <span class="icon"><i class="icon20 i-notification"></i></span>
                            <span class="txt">Error 503</span>
                        </a>
                    </li>
                    <li>
                        <a href="offline.html">
                            <span class="icon"><i class="icon20 i-notification"></i></span>
                            <span class="txt">Offline page</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="invoice.html">
                    <span class="icon"><i class="icon20 i-credit"></i></span>
                    <span class="txt">Invoice page</span>
                </a>
            </li>
            <li>
                <a href="profile.html">
                    <span class="icon"><i class="icon20 i-user"></i></span>
                    <span class="txt">Profile page</span>
                </a>
            </li>
            <li>
                <a href="search.html">
                    <span class="icon"><i class="icon20 i-search-2"></i></span>
                    <span class="txt">Search page</span>
                </a>
            </li>
            <li>
                <a href="email.html">
                    <span class="icon"><i class="icon20 i-envelop-2"></i></span>
                    <span class="txt">Email page</span>
                </a>
            </li>                               
            <li>
                <a href="faq.html">
                    <span class="icon"><i class="icon20 i-question"></i></span>
                    <span class="txt">FAQ page</span>
                </a>
            </li>
            <li>
                <a href="blank.html">
                    <span class="icon"><i class="icon20 i-file-7"></i></span>
                    <span class="txt">Blank page</span>
                </a>
            </li>
        </ul>
    </li>
#}
</ul>