<ul class="nav nav-list">
    {#<li>
        <a href="#">
            <span class="icon"><i class="icon20 i-stats-up"></i></span>
            <span class="txt">RUAT</span>
        </a>
        <ul class="sub">
            <li>
                <a href="{{ site_url('ruata') }}"   >
                    <span class="icon"><i class="icon20 i-man"></i></span>
                    <span class="txt">Parte A</span>
                </a>
            </li>
            <li>
                <a href="{{ site_url('ruatb') }}"   >
                    <span class="icon"><i class="icon20 icon20 i-home-11"></i></span>
                    <span class="txt">Parte B</span>
                </a>
            </li>
            <li>
                <a href="{{ site_url('ruatc') }}"   >
                    <span class="icon"><i class="icon20 i-stack-checkmark"></i></span>
                    <span class="txt">Parte C</span>
                </a>
            </li>
            <li>
                <a href="{{ site_url('ruatd') }}"   >
                    <span class="icon"><i class="icon20 i-quill"></i></span>
                    <span class="txt">Parte D</span>
                </a>
            </li>
        </ul>
    </li>#}

    <li>
        <a href="{{site_url('listadoruats')}}">
            <span class="icon"><i class="icon20 i-list-2"></i></span>
            <span class="txt">Listado RUAT</span>
        </a>
    </li>

    <li>
        <a href="{{site_url('reportes/estadisticastipoproductor')}}">
            <span class="icon"><i class="icon20 i-bars-4"></i></span>
            <span class="txt">Reportes</span>
        </a>
    </li>

   <li>
        <a href="{{site_url('suelos')}}">
            <span class="icon"><i class="icon20 i-lab"></i></span>
            <span class="txt">Estudios de Suelos</span>
        </a>
    </li>

    {% include "menus/manual.html.twig" %}
</ul>