    <li>
        <a href="#help">
            <span class="icon"><i class="icon20 i-question-4"></i></span>
            <span class="txt">Manual de Ayuda</span>
        </a>
        <ul class="sub">
            <li>
                <a href="{{site_url('manualusuario/login')}}">
                    <span class="icon"><i class="icon20 i-stack-list"></i></span>
                    <span class="txt">Inicio de Sesión</span>
                </a>
            </li>
            <li>
                <a href="{{site_url('manualusuario/listadoinicial')}}">
                    <span class="icon"><i class="icon20 i-stack-checkmark"></i></span>
                    <span class="txt">Listado Inicial</span>
                </a>
            </li>
            <li>
                <a href="{{site_url('manualusuario/ruata')}}">
                    <span class="icon"><i class="icon20 i-stack-star"></i></span>
                    <span class="txt">RUAT - Sección A</span>
                </a>
            </li>
            <li>
                <a href="{{site_url('manualusuario/ruatb')}}">
                    <span class="icon"><i class="icon20 i-stack-star"></i></span>
                    <span class="txt">RUAT - Sección B</span>
                </a>
            </li>
            <li>
                <a href="{{site_url('manualusuario/ruatc')}}">
                    <span class="icon"><i class="icon20 i-stack-star"></i></span>
                    <span class="txt">RUAT - Sección C</span>
                </a>
            </li>
            <li>
                <a href="{{site_url('manualusuario/ruatd')}}">
                    <span class="icon"><i class="icon20 i-stack-star"></i></span>
                    <span class="txt">RUAT - Sección D</span>
                </a>
            </li>
            <li>
                <a href="{{site_url('manualusuario/Cosecha')}}">
                    <span class="icon"><i class="icon20 i-stack-star"></i></span>
                    <span class="txt">Formulario Cosecha</span>
                </a>
            </li>
            <li>
                <a href="{{site_url('manualusuario/bpa')}}">
                    <span class="icon"><i class="icon20 i-stack-star"></i></span>
                    <span class="txt">BPA</span>
                </a>
            </li>
            <li>
                <a href="{{site_url('manualusuario/vtp')}}">
                    <span class="icon"><i class="icon20 i-stack-star"></i></span>
                    <span class="txt">Clasificación Productor</span>
                </a>
            </li>

            <li>
                <a href="{{site_url('manualusuario/ubicacion')}}">
                    <span class="icon"><i class="icon20 i-stack-star"></i></span>
                    <span class="txt">Ubicación Geográfica</span>
                </a>
            </li>
            {#<li>
                <a href="{{site_url('manualusuario/suelos')}}">
                    <span class="icon"><i class="icon20 i-stack-star"></i></span>
                    <span class="txt">Estudio de Suelos</span>
                </a>
            </li>#}
            <li>
                <a href="{{site_url('manualusuario/comparativo')}}">
                    <span class="icon"><i class="icon20 i-stack-star"></i></span>
                    <span class="txt">Comparativo Municipios</span>
                </a>
            </li>
            <li>
                <a href="{{site_url('manualusuario/indicadores')}}">
                    <span class="icon"><i class="icon20 i-stack-star"></i></span>
                    <span class="txt">Indicadores Producción</span>
                </a>
            </li>
            <li>
                <a href="{{site_url('manualusuario/estilosaprendizaje')}}">
                    <span class="icon"><i class="icon20 i-stack-star"></i></span>
                    <span class="txt">Estilos de Aprendizaje</span>
                </a>
            </li>
            <li>
                <a href="{{site_url('manualusuario/perfilproductor')}}">
                    <span class="icon"><i class="icon20 i-stack-star"></i></span>
                    <span class="txt">Perfil General Productor</span>
                </a>
            </li>
        </ul>
    </li>