<ul class="nav nav-list">
    <li>
        <a href="{{site_url('/')}}">
            <span class="icon"><i class="icon20  i-home-3"></i></span>
            <span class="txt">Portada</span>
        </a>
    </li>

    <li>
        <a href="{{site_url('reportes/ubicaciongoogle')}}">
            <span class="icon"><i class="icon20 i-location-4"></i></span>
            <span class="txt">Mapa de Fincas</span>
        </a>
    </li>

    <li>
        <a href="{{site_url('reportes/municipiorenglon')}}">
            <span class="icon"><i class="icon20 i-apple-fruit"></i></span>
            <span class="txt">Distribución de Renglones</span>
        </a>
    </li>

    <li>
        <a href="{{site_url('reportes/estadisticastipoproductor')}}">
            <span class="icon"><i class="icon20  i-coin"></i></span>
            <span class="txt">Indicadores Económicos</span>
        </a>
    </li>

    <li>
        <a href="{{site_url('reportes/estilosaprendizaje')}}">
            <span class="icon"><i class="icon20  i-reading"></i></span>
            <span class="txt">Aprendizajes</span>
        </a>
    </li>

    <li>
        <a href="{{site_url('reportes/indicadoresproduccion')}}">
            <span class="icon"><i class="icon20  i-basket"></i></span>
            <span class="txt">Indicadores de Producción</span>
        </a>
    </li>

    <li>
        <a href="{{site_url('reportes/perfilproductor')}}">
            <span class="icon"><i class="icon20  i-profile"></i></span>
            <span class="txt">Perfil del Productor</span>
        </a>
    </li>

</ul>