{% extends "base.html.twig" %}

{% block html_head %}
<script>
    $(function() {
        {% if notif %}
            notif({{notif|json_encode}});
        {% endif %}

        $("input[type=number]").keydown(function(event) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                 // Allow: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) || 
                 // Allow: home, end, left, right
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                     // let it happen, don't do anything
                     return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault(); 
                }   
            }
        });
    });
</script>
<script type="text/javascript">
    function calcularFinal(){
        var resultado = 0;

        for(var i = 1; i <= {{tamaño}}; i++){
            var aux = parseInt($("#valor"+i+"f").val());
            if("#valor"+i+"f" == "#valor15f" || "#valor"+i+"f" == "#valor26f" || "#valor"+i+"f" == "#valor31f"){
                continue;
            }
            if( (typeof aux) === 'number' && !(isNaN(aux))){
                resultado += aux;
            }
        }
        resultado /= 8;
        $("#valorFinal").val(resultado);
    }

    function calcularSeccionCuatro(){
        var valores = [0,0,0];

        for(var  i = 1; i <= {{tamaño}} ; i++){
            var aux = parseInt($("#valor15"+i).val());
            if( (typeof aux) === 'number' && !(isNaN(aux))){
                valores[0] += aux;
            }

            aux = parseInt($("#valor26"+i).val());
            if( (typeof aux) === 'number' && !(isNaN(aux))){
                valores[1] += aux;
            }

            aux = parseInt($("#valor31"+i).val());
            if( (typeof aux) === 'number' && !(isNaN(aux))){
                valores[2] += aux;
            }
        }

        valores[0] = valores[0] / 10;
        valores[2] = valores[2] / 5;
        $("#valor15f").val(valores[0]);
        $("#valor31f").val(valores[2]);

        //alert($("#excepcion42").is(':checked'));
        if(!$("#excepcion42").is(':checked')){    
            $("#valor14f").val(((valores[0]+valores[2])/2));
            return;
        }
        valores[1] = valores[1] / 4;
        $("#valor26f").val(valores[1]);
        $("#valor14f").val(((valores[0]+valores[1]+valores[2])/3));
    }

    function calcular(seccion, padre){
        console.log("a");
        var numSubSecciones = 0;
        //console.log(seccion);
        //console.log(padre);
        switch(seccion){
            case 1:
                numSubSecciones = 6;
                break;
            case 2:
                numSubSecciones = 3;
                break;
            case 3:
                numSubSecciones = 1;
                break;
            case 4:
            case 41:
            case 42:
            case 43:
                calcularSeccionCuatro();
                calcularFinal();
                return; 
                break;
            case 5:
                numSubSecciones = 3;
                break;
            case 6:
                numSubSecciones = 6;
                break;
            case 7:
         
                numSubSecciones = 5;
                break;
            case 8:
                numSubSecciones = 7;
                break;
        }

        var resultado = 0;
        for(var i = 1; i <= {{tamaño}}; i++){
            var aux = parseInt($("#valor"+padre+""+i).val());
            if( (typeof aux) === 'number' && !(isNaN(aux))){
                resultado += aux;
            }
        }

        resultado = resultado / numSubSecciones;
        $("#valor"+padre+"f").val(resultado);
        calcularFinal();
    }

    function cambiarExcepcion(){
        var estado = $("#excepcion42").is(':checked'); //true-> activo, false-> inactivo
        $("#observacion26").attr('readonly', !estado);
        for(var i = 1;i<=4;i++){
            var id_valor = "#valor26"+(26+i);
            var id_observacion = "#observacion"+(26+i);
            //$(id_valor).prop("disabled", !estado);
            //$(id_observacion).prop("disabled", !estado);
            $(id_valor).attr('readonly', !estado);
            $(id_observacion).attr('readonly', !estado);
            calcularSeccionCuatro();
            calcularFinal();
        }
    }
    $( document ).ready(function() {
        cambiarExcepcion();
        calcularSeccionCuatro();
    });
</script>

{% endblock %}
{% block breadcrumnb %}
    <ul class="breadcrumb">
      <li><a href="{{site_url('listadoruats')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
      <li><strong class="text-success">BUENAS PRÁCTICAS AGRICOLAS</strong></li>
    </ul>
{% endblock %}

{% block titulo %} <h1><i class="icon20 i-stack-checkmark"></i> BPA &#187; DISEÑO DE PLANES DE IMPLEMENTACIÓN DE BUENAS PRÁCTICAS AGRICOLAS </h1> {% endblock %}

{% block contenido %}

<h3>
    <ul id="links-visitas" class="nav nav-pills">

        {% for link in lista_visitas %}
            <li {% if link.active %} class="active" {% endif %}><a href="{{link.url}}">{{link.title}}</a></li>
        {% endfor %}
    </ul>
</h3>
<script>
    $(function(){
        $('input').change(function() {
            $('#links-visitas li').addClass('disabled');
            $('#links-visitas a').removeAttr('href').click(function(){
                alert('Debe guardar o cancelar los cambios antes de pasar a otra visita');
            });
        })
    })
</script>

{{ form_open_multipart(null, {role:'form', class:'form-horizontal', 'onsubmit':"$('#loadingMask').modal()"}) }}
<div class="row">
    <div class="col-md-7">
        {% include "partials/info_productor.html.twig" with {'ruat':ruat} %}
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label class="col-sm-5 control-label" for="fecha_nacimiento">Fecha de Visita:</label>
            <div class="col-sm-6">
                <div class="input-group date datepicker autostart">
                    {% set errorFecha = form_error('fecha') %}
                    <input size="16" name="fecha" class="form-control {{errorFecha? 'error':''}}" type="text"
                        value="{{set_value('fecha', datosBPA['fecha'])}}"{% if soloLectura %} disabled="disabled" {% endif %} required>
                    <label class="error">{{errorFecha}}</label>
                    
                    <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>
                </div>
                <span class="help-block"><small>AAAA-MM-DD</small></span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" align="center">
        <h4>A.INTRODUCCIÓN SOBRE LAS BUENAS PRÁCTICAS AGRÍCOLAS (BPA)</h4>
    </div><!-- End .panel-heading -->
    <div class="panel-body"><div class="container">
        <div class="row">
            <div class="col-mod-12" align="justify">
                La responsabilidad que tenemos como agroempresarios es precisamente garantizar que los consumidores reciban alimentos inocuos, sanos y de comprobada calidad, que no contengan sustancias perjudiciales para la salud y que ayuden a mejorar la nutrición de toda la familia. Como agroempresarios es importante hacer una planeación de lo que vamos a producir con el fin de determinar los factores que pueden favorecer o afectar el éxito de nuestra empresa.  Cuando hacemos la planeación del cultivo podemos decidir si es conveniente o no cultivar desde el punto de vista técnico y económico, por lo tanto, miremos los siguientes aspectos:
            </div>
        </div>
    </div></div>
</div>
<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B. DIAGNÓSTICO DE ASPECTOS PREVIOS AL ESTABLECIMIENTO DEL CULTIVO</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body"><div class="container">
    	<table class="table table-bordered">
            <thead>
            	<tr>
            		<th align="center">
            			Aspectos Diagnosticados
            		</th>
            		<th align="center" style="width:100px">
            			SI | NO
            		</th>
            		<th align="center">
            			Observaciones
            		</th>
            	</tr>
            </thead>
            <tbody>
                {% set cont = 0 %}
                {% for preguntaB in preguntasB %}
                <tr>
                    <td>
                        {{preguntaB.enunciado}}
                    </td>

                    <td style="text-align:center; width:100px;">
                        <!--<input bs-switch switch-on="info" switch-off="warning" switch-size="small"
                                switch-on-label="SI" switch-off-label="NO">-->
                        <div class="switch" data-on="primary" data-off="danger" data-on-label="<i class='i-checkmark-3'></i>" data-off-label="<i class='i-close'></i>" >
                            {#% if existe == 'yes' %}
                                {% if respuestasB[cont].puntaje == 1 %}
                                    <input name="{{'sino'~preguntaB.id}}" class="toggle" type="checkbox" checked {% if soloLectura %} disabled="disabled" {% endif %} {{set_checkbox('sino'~preguntaB.id,true, 'sino'~respuestasB.pregunta_id)}}/>
                                {% else %}
                                    <input name="{{'sino'~preguntaB.id}}" class="toggle" type="checkbox" {% if soloLectura %} disabled="disabled" {% endif %} {{set_checkbox('sino'~preguntaB.id,true, 'sino'~preguntaB.id)}}/>
                                {% endif %}
                            {% else %}
                                <input name="{{'sino'~preguntaB.id}}" class="toggle" type="checkbox" {{set_checkbox('sino'~preguntaB.id,true, 'sino'~preguntaB.id)}}/>
                            {% endif %#}
                            {% if respuestasB[cont].puntaje == 1 %}
                            <input name="{{'sino'~preguntaB.id}}" class="toggle" type="checkbox" {% if soloLectura %} disabled="disabled" {% endif %} {{set_checkbox('sino'~preguntaB.id, true, true)}}/>
                            {% else %}
                                <input name="{{'sino'~preguntaB.id}}" class="toggle" type="checkbox" {% if soloLectura %} disabled="disabled" {% endif %} {{set_checkbox('sino'~preguntaB.id, true, false)}}/>
                            {% endif %}
                        
                        </div>
                    </td>
                    <td>
                        {#% if existe == 'yes' %}
                            <input id="{{'respuesta'~ preguntaB.id}}" value="{{respuestasB[cont].observacion}}" name="{{'recomendacion'~preguntaB.id}}" type="text" class="form-control" placeholder="" style="width:240px;"/>
                        {% else %}
                            <input id="{{'respuesta'~ preguntaB.id}}" name="{{'recomendacion'~preguntaB.id}}" type="text" class="form-control" placeholder="" style="width:240px;"/>
                        {% endif %#}
                        
                        <input type="text" class="form-control" style="width:240px;"
                                id="{{'respuesta'~ preguntaB.id}}" 
                                name="recomendacion{{preguntaB.id}}"
                                {% if soloLectura %} disabled="disabled" {% endif %}
                                value="{{set_value('recomendacion'~preguntaB.id,respuestasB[cont].observacion)}}"  />
                    </td>
                </tr>
                {% set cont = cont +1 %}
                {% endfor %}
            </tbody>
            <thead>
            	<tr>
            		<th align="center" colspan="4">
            			Conclusión General de los Aspectos Diagnosticados en la Implementación de BPA
            		</th>
            	</tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4"> 	
                        {% set errorConclusionB = form_error('conclusionB') %}
                        <textarea class="form-control  {{errorConclusionB? 'error':''}}" {% if soloLectura %} disabled="disabled" {% endif %} rows="3" name="conclusionB" style="width:100%;">{{set_value("conclusionB",datosBPA['conclusion'])}}</textarea>

                    </td>
                </tr>
            </tbody>
        </table>
    		
    </div></div><!-- .container and .panel-body -->
</div><!-- panel default -->
<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>C. ESTADO ACTUAL DE LA IMPLEMENTACIÓN DE LAS BPA</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body"><div class="container">
    	<table class="table table-bordered">
            <thead>
            	<tr>
            		<th align="center">
            			Aspectos Evaluados
            		</th>
            		<th align="center">
            			Adopción BPA (%)
            		</th>
            		<th align="center">
            			Recomendación para su Implementación
            		</th>
            	</tr>
            </thead>
            <tbody>
                {% set cont = 0 %}
                {% for preguntaC in preguntasC %}
                <tr>
                    <td>
                        {{preguntaC.enunciado}}
                    </td>
                    <td align="center">
                        {% if preguntaC.padre == null or preguntaC.numeral == 15 or
                            preguntaC.numeral == 26 or preguntaC.numeral == 31 %}
                            {% if preguntaC.numeral == 26 %}
                                <div class="switch" data-on="primary" data-off="danger" data-on-label="<i class='i-checkmark-3'></i>" data-off-label="<i class='i-close'></i>">
                                    <input onchange="cambiarExcepcion(this)" id="excepcion42" name="excepcion42" class="toggle" type="checkbox" {% if soloLectura %} disabled="disabled" {% endif %} {{set_checkbox('excepcion42',true, excepcion42)}}/>
                                </div>
                            {% endif %}
                            {% if existe == 'yes' %}
                                <input class="form-control" type="text" name="{{'valor'~preguntaC.id}}"
                                style="width:60px;" id="{{'valor'~preguntaC.id~"f"}}" value="{{set_value('valor'~preguntaC.id,respuestasC[cont].puntaje)|number_format(2, '.', ',')}}" readonly="true" {% if soloLectura %} disabled="disabled" {% endif %} />
                            {% else %}
                                <input class="form-control" type="text" name="{{'valor'~preguntaC.id}}"
                                style="width:60px;" id="{{'valor'~preguntaC.id~"f"}}" value="{{set_value('valor'~preguntaC.id)}}" readonly="true" {% if soloLectura %} disabled="disabled" {% endif %} />
                            {% endif %}

                            
                            
                        {% else %}                            
                            {% if existe == 'yes' %}
                                <input class="form-control" type="number" name="{{'valor'~preguntaC.id}}"
                                onchange="calcular({{preguntaC.seccionnumero}},{{preguntaC.padre}})"
                                id="{{'valor'~ preguntaC.padre ~preguntaC.id}}"
                                style="width:60px;"
                                {% if soloLectura %} disabled="disabled" {% endif %}
                                value="{{set_value('valor'~preguntaC.id,respuestasC[cont].puntaje)}}" max="100" min="0" />
                            {% else %}
                                <input class="form-control" type="number" name="{{'valor'~preguntaC.id}}"
                                onchange="calcular({{preguntaC.seccionnumero}},{{preguntaC.padre}})"
                                id="{{'valor'~ preguntaC.padre ~preguntaC.id}}"
                                style="width:60px;"
                                {% if soloLectura %} disabled="disabled" {% endif %}
                                value="{{set_value('valor'~preguntaC.id)}}" max="100" min="0" />
                            {% endif %}
                            
                        {% endif %}
                        {% if form_error('valor'~preguntaC.id) %} <label class="error">Requerido</label> {% endif %}
                    </td>
                    <td>

                        {#% set errorRecomendacion = form_error("{{'observacion'~preguntaC.id}}") %#}
                        {#% set errorRecomendacion = form_error('observacion'~preguntaC.id) %#}
                        
                        

                        {% if existe == 'yes' %}
                            <textarea class="form-control" id="{{'observacion'~ preguntaC.id}}"
                            name="{{'observacion'~ preguntaC.id}}" {% if soloLectura %} disabled="disabled" {% endif %} style="width:240px; height:100%;">{{set_value('observacion'~ preguntaC.id,respuestasC[cont].observacion)}}</textarea>
                        {% else %}
                            <textarea class="form-control" id="{{'observacion'~ preguntaC.id}}" {% if soloLectura %} disabled="disabled" {% endif %} name="{{'observacion'~ preguntaC.id}}" style="width:240px; height:100%;">{{set_value('observacion'~ preguntaC.id,"")}}</textarea>
                        {% endif %}
                        {% if form_error('observacion'~preguntaC.id) %} <label class="error">Requerido</label> {% endif %}
                        <!--<label class="error">{{errorRecomendacion}}</label>-->
                    </td>
                </tr>
                {% set cont = cont + 1 %}
                {% endfor %}
                <tr>
                    <td align="center">
                        <h3><b>PREDIO CON NIVEL DE IMPLEMENTACIÓN DE <br/>
                        BUENAS PRACTICAS AGRÍCOLAS (BPA)</b></h3>
                    </td>
                    <td align="center">
                        {% if existe == 'yes' %}
                            <input class="form-control" type="tetx" style="width:60px;" id="valorFinal" name="valorFinal" value="{{datosBPA.nivel_bpa}}" readonly="true" {% if soloLectura %} disabled="disabled" {% endif %} required/>
                        {% else %}
                            <input class="form-control" type="text" style="width:60px;" id="valorFinal" name="valorFinal" value="0" readonly="true" {% if soloLectura %} disabled="disabled" {% endif %}/>
                        {% endif %}
                        
                    </td>
                    <td>
                        {#% if existe == 'yes' %}
                            <textarea name="recomendacionFinal" style="width:240px; height:100%;">{{datosBPA.recomendacion}}</textarea>
                        {% else %}
                            <textarea name="recomendacionFinal" style="width:240px; height:100%;"></textarea>
                        {% endif %#}

                        {% set errorRecomendacionFinal = form_error('recomendacionFinal') %}
                        <textarea class="form-control {{errorRecomendacionFinal? 'error':''}}" {% if soloLectura %} disabled="disabled" {% endif %} name="recomendacionFinal" style="width:240px; height:100%;">{{set_value("recomendacionFinal",datosBPA['recomendacion'])}}</textarea>
                        <label class="error">{{errorRecomendacionFinal}}</label>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="form-group">
                <div class="col-lg-8">                            
                {% if datosBPA.archivo_fisico %}
                    <span class="box1 col-lg-12">
                        <i aria-hidden="true" class="i-file"></i>
                        <a type="button" target="_new" href="{{base_url() ~ 'uploads/' ~ datosBPA.archivo_fisico}}">{{datosBPA.archivo_fisico}} </a>
                    </span>      
                    <br/><br/><br/>
                {% endif %}
                    <input type="file" name="archivo_formulario" id="archivo_formulario" {% if soloLectura %} disabled="disabled" {% endif %}>
                    {% if upload_result %}
                        <label class="error">{{upload_result}}</label>
                    {% endif %}
                    <label for="archivo_formulario" class="col-lg-12"  >Certificación de Visita Digitalizada</label>
                </div>
            </div>
    </div></div><!-- .container and .panel-body -->
</div><!-- panel default -->
<br/>

<div class="form-group">
    <div class="col-md-offset-4 col-md-5">
        {% if soloLectura %}
            <a href="{{site_url("listadoruats")}}" class="btn btn-lg btn-default">Volver al Listado de RUATs</a>
        {% else %}
            <button type="submit" name="guardar" class="btn btn-lg btn-success">Guardar</button>
            <a href="{{site_url("listadoruats")}}" class="btn btn-lg btn-default">Cancelar</a>
        {% endif %}
    </div>
</div>

{{ form_close() }}

{% endblock %}