{% extends "base.html.twig" %}

{% block html_head %}

<script type="text/javascript" src="{{ base_url('assets/amcharts/amcharts.js') }}"></script>
<script src="{{ base_url('assets/amcharts/serial.js') }}" type="text/javascript"></script>

<script src="{{ base_url('assets/amcharts/exporting/amexport.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/rgbcolor.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/canvg.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/jspdf.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/filesaver.js') }}" type="text/javascript"></script>
<script src="{{ base_url('assets/amcharts/exporting/jspdf.plugin.addimage.js') }}" type="text/javascript"></script>

<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>

<style>
.mceContentBody p {   font-size: 1.2em !important; }
</style>

<script>
    $(function() {
        {% if notif %}
        notif({{notif|json_encode}});
        {% endif %}

        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            chart.invalidateSize();
            chart.animateAgain();
        })

        tinymce.init({selector:'textarea', height:450, fontsize_formats: "11pt 12pt 14pt 18pt 22pt 28pt 36pt"});
    });

    function confirmar_desasociar(theurl)
    {
        if (!confirm("Confirme que desea desasociar este RUAT del estudio actual"))
            return;
        window.location = theurl;
    }

    var chart = null;
    var base = ['Mo', 'P', 'S', 'Ca', 'Mg', 'K', 'Fe', 'Mn', 'Zn', 'Cu', 'B'];
    var colores = ["#FF0F00", "#FF6600", "#FF9E01", "#FCD202", "#F8FF01", "#B0DE09", "#04D215", "#0D8ECF", "#0D52D1", "#2A0CD0", "#8A0CCF", "#CD0D74", "#754DEB", "#DDDDDD"];

    AmCharts.ready(function() {

        var exportConfig = {
            menuTop: "21px",
            menuBottom: "auto",
            menuRight: "21px",
            backgroundColor: "#efefef",
            menuItemStyle: {
                backgroundColor: '#EFEFEF',
                rollOverBackgroundColor: '#DDDDDD'
            },
            menuItems: [{
                    textAlign: 'center',
                    icon: "{{ base_url('assets/amcharts/images/export.png') }}",
                    onclick: function() {
                    },
                    items: [{
                            title: 'JPG',
                            format: 'jpg'
                        }, {
                            title: 'PNG',
                            format: 'png'
                        }, {
                            title: 'SVG',
                            format: 'svg'
                        }, {
                            title: 'PDF',
                            format: 'pdf'
                        }]
                }]
        }

        /// CHART 1
        var chartData = getChartData();
        console.log(chartData)

        chart = new AmCharts.AmSerialChart();
        chart.dataProvider = chartData;
        chart.categoryField = "name";
        chart.exportConfig = exportConfig;
        chart.sequencedAnimation = true;
        chart.startEffect = "elastic";
        chart.innerRadius = "30%";
        chart.startDuration = 2;
        chart.labelRadius = 15;


        var graph = new AmCharts.AmGraph();
        graph.valueField = 'valor';
        graph.colorField = "color";
        graph.type = "column";
        graph.fillAlphas = 0.8;
        graph.title = 'Nivel de los Elementos';
        graph.balloonText = "[[category]]:<b>[[value]]</b>";
        chart.addGraph(graph);

        chart.angle = 30;
        chart.depth3D = 15;

        var categoryAxis = chart.categoryAxis;
        categoryAxis.autoGridCount = false;
        categoryAxis.gridCount = chartData.length;
        categoryAxis.gridPosition = "start";
        categoryAxis.labelRotation = 90;

        chart.write('chartdiv');

    });

    function getChartData() {

        var chartData = [];

        ///recorro los nombres de las columnas
        for (var i in base) {
            var valor_base = base[i];
            var input = '#grafica_data_' + valor_base;
            var obj = {
                base: valor_base,
                valor: parseFloat($(input).html().replace('.', '').replace(',', '.')),
                name: $(input).parent().parent().find('label:first').html(),
                color: colores[i],
            }

            chartData.push(obj);
        }

        //console.log(chartData);
        return chartData;
    }
</script>
{% endblock %}

{% block breadcrumnb %}
<ul class="breadcrumb">
    <li ><a href="{{site_url('/')}}"><i class="icon16 i-home-4"></i>Inicio</a></li>
    <li ><a href="{{site_url('suelos')}}"><i class="icon16 i-lab"></i>Estudios de Suelos</a></li>
    <li class="active"><i class="icon16 i-link"></i> Asociar</a></li>
</ul>
{% endblock %}

{% block titulo %} <h1><i class="icon20 i-link"></i> Asociar Estudio de Suelos </h1> {% endblock %}


{% block contenido %}
<h3 class="text-info">Productores Asociados a este Estudio de Suelo</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nro RUAT</th>
            <th>Productor</th>
            <th>Municipio</th>
            <th>Renglón</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for ruat in ruats %}
        <tr>
            <td><a target="_blank" href="{{site_url(['ruatImprimible','index',ruat.id])}}">{{ruat.numero_formulario}}</a></td>
            <td>{{ruat.productor.nombre_completo()}}</td>
            <td>{{ruat.finca.municipio.nombre}}</td>
            <td>{{ruat.productor.renglon_productivo.descripcion}}</td>
            <td><a href="#" onclick="confirmar_desasociar('{{site_url(["suelos","desasociar",estudio.id, ruat.id])}}')" class="act act-danger tip" title="Remover Asociación"><i class=" i-close"></i></a></td>
        </tr>
    {% else %}
        <tr><td colspan="5"><em>No se han asociado productores a este estudio de suelo</em></tr>
    {% endfor %}
    </tbody>
</table>

<form method="POST" class=" form-horizontal">
    {#<h3 class="text-warning">Asociar Productor</h3>#}
    <div class="form-group">
        <label for="" class="control-label col-md-5">Número de Formulario RUAT o Cédula para Asociar:</label>
        <div class="col-md-2">
            <input name="numero_formulario" required maxlength="4" type="text" class="form-control">
        </div>
        <div class="col-md-2">
            <button type="submit" name="accion" value="asociar" class="btn btn-success">
                <i class=" i-link-5"></i>
                Asociar
            </button>
        </div>
    </div>
</form>

<hr>

<h3 class="text-info">Información del Estudio {{estudio.codigo_laboratorio}}</h3>

<ul class="nav nav-tabs">
    <li {% if not guardado_observacion %}class="active"{% endif %}><a href="#info1" data-toggle="tab">Básica</a></li>
    <li><a href="#info2" data-toggle="tab">Cultivo</a></li>
    <li><a href="#info3" data-toggle="tab">Compuestos</a></li>
    <li><a href="#info4" data-toggle="tab">Grafico</a></li>
    {#<li {% if guardado_observacion %} class="active" {% endif %}><a href="#tab-observaciones" data-toggle="tab">Observaciones</a></li>#}
</ul>
<div class="tab-content">
    <div class="form-horizontal row tab-pane fade {% if not guardado_observacion %}in active{% endif %}" id="info1">
        <div class="col-md-4">
            <div class="form-group">
                <label for="" class="control-label col-md-4">Fecha de Llegada</label>
                <div class="col-md-7"><p class="form-control">{{estudio.fecha_llegada|date('Y-m-d')}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Fecha de Entrega</label>
                <div class="col-md-7"><p class="form-control">{{estudio.fecha_entrega|date('Y-m-d')}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Nombre Usuario</label>
                <div class="col-md-7"><p class="form-control">{{estudio.nombre_usuario}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Dirección</label>
                <div class="col-md-7"><p class="form-control">{{estudio.direccion}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Teléfono</label>
                <div class="col-md-7"><p class="form-control">{{estudio.telefono}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">E-mail</label>
                <div class="col-md-7"><p class="form-control">{{estudio.email}}</p></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="" class="control-label col-md-4">Municipio</label>
                <div class="col-md-7"><p class="form-control">{{estudio.municipio.nombre}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Vereda</label>
                <div class="col-md-7"><p class="form-control">{{estudio.vereda}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Finca</label>
                <div class="col-md-7"><p class="form-control">{{estudio.finca}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Dirección</label>
                <div class="col-md-7"><p class="form-control">{{estudio.direccion}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Teléfono</label>
                <div class="col-md-7"><p class="form-control">{{estudio.telefono}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">E-mail</label>
                <div class="col-md-7"><p class="form-control">{{estudio.email}}</p></div>
            </div>
        </div>
    </div>
    <div class="form-horizontal row tab-pane fade" id="info2">
        <div class="col-md-4">
            <div class="form-group">
                <label for="" class="control-label col-md-4">Altura (msm)</label>
                <div class="col-md-7"><p class="form-control">{{estudio.altura}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Cultivo</label>
                <div class="col-md-7"><p class="form-control">{{estudio.cultivo}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Estado</label>
                <div class="col-md-7"><p class="form-control">{{estudio.estado}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Tiempo de Establecido</label>
                <div class="col-md-7"><p class="form-control">{{estudio.tiempo_establecido}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Identificación de la Muestra</label>
                <div class="col-md-7"><p class="form-control">{{estudio.identificacion_muestra}}</p></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="" class="control-label col-md-4">Profundidad</label>
                <div class="col-md-7"><p class="form-control">{{estudio.profundidad}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Topografía</label>
                <div class="col-md-7"><p class="form-control">{{estudio.topografia}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Superficie del Lote</label>
                <div class="col-md-7"><p class="form-control">{{estudio.superficie}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Drenaje</label>
                <div class="col-md-7"><p class="form-control">{{estudio.drenaje}}</p></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="" class="control-label col-md-4">Riesgo</label>
                <div class="col-md-7"><p class="form-control">{{estudio.riesgo}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Fertilizantes Aplicados Anteriormente</label>
                <div class="col-md-7"><p class="form-control">{{estudio.fertilizantes}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Ultimo cultivo o actual</label>
                <div class="col-md-7"><p class="form-control">{{estudio.ultimo_cultivo}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-4">Rendimiento del Cultivo</label>
                <div class="col-md-7"><p class="form-control">{{estudio.rendimiento}}</p></div>
            </div>
        </div>
    </div>
    <div class="form-horizontal row tab-pane fade" id="info3">
        <div class="col-md-6">
            <div class="form-group">
                <label for="" class="control-label col-md-5">Textura al tacto</label>
                <div class="col-md-2"><p class="form-control">{{estudio.textura_tacto|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_textura}}</p>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">pH agua:suelo</label>
                <div class="col-md-2"><p class="form-control">{{estudio.ph_agua_suelo|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_ph}}</p>
            </div>
            <div class="form-group dato-grafica">
                <label for="" class="control-label col-md-5">Materia orgánica</label>
                <div class="col-md-2"><p class="form-control" id="grafica_data_Mo">{{estudio.materia_organica|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_materia}}</p>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">Fósforo</label>
                <div class="col-md-2"><p class="form-control" id="grafica_data_P">{{estudio.fosforo|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_fosforo}}</p>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">Azufre Fosfato monocalcico</label>
                <div class="col-md-2"><p class="form-control" id="grafica_data_S">{{estudio.azufre|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_azufre}}</p>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">Acidez (Al+H)</label>
                <div class="col-md-2"><p class="form-control">{{estudio.acidez|num}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">Aluminio (Al) intercambiable</label>
                <div class="col-md-2"><p class="form-control">{{estudio.aluminio|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_aluminio}}</p>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">Calcio (Ca) intercambiable</label>
                <div class="col-md-2"><p class="form-control" id="grafica_data_Ca">{{estudio.calcio|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_calcio}}</p>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">Magnesio (Mg) intercambiable</label>
                <div class="col-md-2"><p class="form-control" id="grafica_data_Mg">{{estudio.magnesio|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_magnesio}}</p>
            </div>
        </div>


        <div class="col-md-6">
            <div class="form-group">
                <label for="" class="control-label col-md-5">Potasio (K) intercambiable</label>
                <div class="col-md-2"><p class="form-control" id="grafica_data_K">{{estudio.potasio|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_potasio}}</p>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">Sodio (Na) intercambiable</label>
                <div class="col-md-2"><p class="form-control">{{estudio.sodio|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_sodio}}</p>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">capacidad de intercambio cationico (CICE)</label>
                <div class="col-md-2"><p class="form-control">{{estudio.cice|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_cic}}</p>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">Capacidad de intercambio cationico (CICA)</label>
                <div class="col-md-2"><p class="form-control">{{estudio.cica|num}}</p></div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">Conductividad eléctrica (CE)</label>
                <div class="col-md-2"><p class="form-control">{{estudio.conductividad_electrica|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_conductividad}}</p>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">Hierro (Fe) disponible</label>
                <div class="col-md-2"><p class="form-control" id="grafica_data_Fe">{{estudio.hierro|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_hierro}}</p>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">Cobre (Cu) disponible</label>
                <div class="col-md-2"><p class="form-control" id="grafica_data_Cu">{{estudio.cobre|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_cobre}}</p>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">Manganeso (Mn) disponible </label>
                <div class="col-md-2"><p class="form-control" id="grafica_data_Mn">{{estudio.manganeso|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_manganeso}}</p>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">Zinc (Zn) disponible</label>
                <div class="col-md-2"><p class="form-control" id="grafica_data_Zn">{{estudio.zinc|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_zinc}}</p>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-5">Boro (B) disponible</label>
                <div class="col-md-2"><p class="form-control" id="grafica_data_B">{{estudio.boro|num}}</p></div>
                <p class="form-control-static col-md-5">{{estudio.interp_boro}}</p>
            </div>
        </div>
    </div>

    <div class="form-horizontal row tab-pane fade in" id="info4">
        <div id="chartdiv" style="width: 100%; height: 600px;"></div>
    </div>
    {#
    <div class="tab-pane {% if  guardado_observacion %}in active{% endif %}" id="tab-observaciones">
        <form method="POST">
        <div class="container" style="margin-bottom:10px">
            <button name="accion" value="guardar_observacion" class="btn btn-info pull-right">
                <i class=" i-disk"></i>
                Guardar
            </button>
        </div>
        <textarea name="observacion" rows="15">{{estudio.observacion}}</textarea>
        </form>
    </div>#}
</div>



{% endblock %}