
<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <title>Imprimir Reporte Suelos</title>

        <script src="{{ base_url('assets/js/jquery.min.js') }}"></script>  
        
        <script type="text/javascript" src="{{ base_url('assets/amcharts/amcharts.js') }}"></script>
        <script src="{{ base_url('assets/amcharts/serial.js') }}" type="text/javascript"></script>

        <script src="{{ base_url('assets/amcharts/exporting/amexport.js') }}" type="text/javascript"></script>
        <script src="{{ base_url('assets/amcharts/exporting/rgbcolor.js') }}" type="text/javascript"></script>
        <script src="{{ base_url('assets/amcharts/exporting/canvg.js') }}" type="text/javascript"></script>
        <script src="{{ base_url('assets/amcharts/exporting/jspdf.js') }}" type="text/javascript"></script>
        <script src="{{ base_url('assets/amcharts/exporting/filesaver.js') }}" type="text/javascript"></script>
        <script src="{{ base_url('assets/amcharts/exporting/jspdf.plugin.addimage.js') }}" type="text/javascript"></script>
        <title></title>

        <style type="text/css" media="print">
            .noprint { display: none; }
        </style>

        <script>
            $(function() {
                $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
                    chart.invalidateSize();
                    chart.animateAgain();
                })
            });
            
            var chart = null;
            var base = ['Mo', 'P', 'S', 'Ca', 'Mg', 'K', 'Fe', 'Mn', 'Zn', 'Cu', 'B'];
            var colores = ["#FF0F00", "#FF6600", "#FF9E01", "#FCD202", "#F8FF01", "#B0DE09", "#04D215", "#0D8ECF", "#0D52D1", "#2A0CD0", "#8A0CCF", "#CD0D74", "#754DEB", "#DDDDDD"];

            AmCharts.ready(function() {

                /// CHART 1
                var chartData = getChartData();
                console.log(chartData)

                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData;
                chart.categoryField = "name";


                var graph = new AmCharts.AmGraph();
                graph.valueField = 'valor';
                graph.colorField = "color";
                graph.type = "column";
                graph.fillAlphas = 0.8;
                graph.title = 'Nivel de los Elementos';
                graph.balloonText = "[[category]]:<b>[[value]]</b>";
                chart.addGraph(graph);

                chart.angle = 30;
                chart.depth3D = 15;

                var categoryAxis = chart.categoryAxis;
                categoryAxis.autoGridCount = false;
                categoryAxis.gridCount = chartData.length;
                categoryAxis.gridPosition = "start";

                chart.write('chartdiv');

            });

            function getChartData() {

                var chartData = [];

                ///recorro los nombres de las columnas
                for (var i in base) {
                    var valor_base = base[i];
                    var input = '#grafica_data_' + valor_base;
                    var obj = {
                        base: valor_base,
                        valor: parseFloat($(input).html()),
                        name: valor_base,
                        color: colores[i],
                    }

                    chartData.push(obj);
                }

                //console.log(chartData);
                return chartData;
            }
        </script>
    </head>
    <body style="font-family: Sans-serif; font-size: 10pt;width: 1219px;">
       
        <div style="position:absolute;left:50%;margin-left:-305px;top:0px;width:611px;overflow:hidden">

            <input type="button" style="font-size: 18pt; display: block; margin-left: auto; margin-right: auto;" class="noprint" value="Imprimir" onclick="window.print()"/>
            <h2 style="text-align: center;">PLAN FRUTÍCOLA DEL VALLE DEL CAUCA</h2>
           
            <div style="float:left; width:44%;">
                <table style="width: 100%;" >
                    <tbody>
                        <tr>
                            <td colspan="2" rowspan="1"><span style="font-weight: bold;">1.
                                    Informacion del cliente</span></td>
                        </tr>
                        <tr>
                            <td style="width: 174.8px;">Nombre y Apellido</td>
                            <td style="width: 1016.2px;">{{estudio.nombre_usuario}}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>Cédula o NIT</td>
                            <td>{{estudio.cedula}}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>CODIFO DE LABORATORIO</td>
                            <td>{{estudio.codigo_laboratorio}}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>Dirección</td>
                            <td>{{estudio.direccion}}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>Departamento</td>
                            <td>{{departamento.nombre}}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>Municipio</td>
                            <td>{{municipio.nombre}}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>Tel. fijo/Celular</td>
                            <td>{{estudio.telefono}}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>Tipo de análisis</td>
                            <td><br>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table style="width: 100%" >
                    <tbody>
                        <tr>
                            <td colspan="2" rowspan="1">
                                <span style="font-weight: bold;">
                                    <span class="cls_021">2.
                                        Informacion de la muestra
                                    </span>                                    
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 174.8px;">Identificación</td>
                            <td style="width: 1016.2px;">{{estudio.identificacion_muestra}}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>Vereda</td>
                            <td>{{estudio.vereda}}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>Finca</td>
                            <td>{{estudio.finca}}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>Cultivo</td>
                            <td>{{estudio.cultivo}}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>Altura</td>
                            <td>{{estudio.altura}}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>Estado<br>
                            </td>
                            <td>{{estudio.estado}}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>Fecha de Recepción<br>
                            </td>
                            <td>{{estudio.fecha_llegada|date('Y-m-d')}}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>Fecha(s) de Análisis<br>
                            </td>
                            <td><br>
                            </td>
                        </tr>
                        <tr>
                            <td>Fecha de Reporte<br>
                            </td>
                            <td>{{estudio.fecha_entrega|date('Y-m-d')}}<br>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
            </div>
            <div style="float:left; width:56%;">
                 <table style="width: 100%;" >
                    <tbody>
                        <tr>
                            <td valign="middle"><img src="{{base_url('assets/images/logos-imprimir.png')}}" height="80"></td>
                        </tr>
                    </tbody>
                </table>               
            </div>

            <table style="width: 100%; text-align: left; margin-left: auto; margin-right: auto;" >
                <tbody>
                    <tr align="center">
                        <td style="background-color: #00004f; width: 230.367px;"><span style="color: white;">DETERMINACION
                                ANALÍTICA<br>
                            </span></td>
                        <td style="background-color: #00004f; width: 51.55px;"><span style="color: white;">UNIDAD<br>
                            </span></td>
                        <td style="background-color: #00004f; width: 126.417px;"><span style="color: white;">MÉTODO<br>
                            </span></td>
                        <td style="background-color: #00004f; width: 63.95px;"><span style="color: white;">VALOR*<br>
                            </span></td>
                        <td style="background-color: #00004f; width: 120.883px;"><span style="color: white;">INTERPRETACIÓN*<br>
                            </span></td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Textura al tacto <br>
                            </span></td>
                        <td><br>
                        </td>
                        <td>Organoléptico<br>
                        </td>
                        <td>{{estudio.textura_tacto}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">pH<br>
                            </span></td>
                        <td><br>
                        </td>
                        <td>Potenciométrico<br>
                        </td>
                        <td>{{estudio.ph_agua_suelo|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Conductividad eléctrica<br>
                            </span></td>
                        <td>dS/m</td>
                        <td>Conductivimetro suelo:agua 1:2,5<br>
                        </td>
                        <td>{{estudio.conductividad_electrica|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Materia orgánica (MO)<br>
                            </span></td>
                        <td>%</td>
                        <td>Walkey & Black<br>
                        </td>
                        <td id="grafica_data_Mo">{{estudio.materia_organica|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Fósforo disponible (P) Bray II<br>
                            </span></td>
                        <td>mg/kg</td>
                        <td>Bray II<br>
                        </td>
                        <td id="grafica_data_P">{{estudio.fosforo|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Azufre disponible (S)<br>
                            </span></td>
                        <td>mg/kg</td>
                        <td>Fosfato monobasico de calcio<br>
                        </td>
                        <td id="grafica_data_S">{{estudio.azufre|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Acidez intercambiable (Al+H)<br>
                            </span></td>
                        <td>cmol/kg</td>
                        <td>KCl<br>
                        </td>
                        <td>{{estudio.acidez|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Aluminio intercambiable (Al)<br>
                            </span></td>
                        <td>cmol/kg</td>
                        <td>KCl<br>
                        </td>
                        <td>{{estudio.aluminio|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Calcio intercambiable (Ca)<br>
                            </span></td>
                        <td>cmol/kg</td>
                        <td>Acetato de amonio 1N pH 7,0<br>
                        </td>
                        <td id="grafica_data_Ca">{{estudio.calcio|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Magnesio Intercambiable (Mg)<br>
                            </span></td>
                        <td>cmol/kg</td>
                        <td>Acetato de amonio 1N pH 7,0<br>
                        </td>
                        <td id="grafica_data_Mg">{{estudio.magnesio|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Potasio intercambiable (K)<br>
                            </span></td>
                        <td>cmol/kg</td>
                        <td>Acetato de amonio 1N pH 7,0<br>
                        </td>
                        <td id="grafica_data_K">{{estudio.potasio|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Sodio intercambiable (Na)<br>
                            </span></td>
                        <td>cmol/kg</td>
                        <td>Acetato de amonio 1N pH 7,0<br>
                        </td>
                        <td>{{estudio.sodio|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Capacidad intercambio cationico
                                (CICE)</span></td>
                        <td style="margin-left: 10px;">cmol/kg</td>
                        <td style="margin-left: 20px;">Suma de cationes<br>
                        </td>
                        <td>{{estudio.cice|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Hierro disponible (Fe) Olsen<br>
                            </span></td>
                        <td>mg/kg</td>
                        <td>Olsen modificado<br>
                        </td>
                        <td id="grafica_data_Fe">{{estudio.hierro|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Manganeso disponible (Mn) Olsen<br>
                            </span></td>
                        <td>mg/kg</td>
                        <td>Olsen modificado<br>
                        </td>
                        <td id="grafica_data_Mn">{{estudio.manganeso|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Zinc disponible (Zn) Olsen<br>
                            </span></td>
                        <td>mg/kg</td>
                        <td>Olsen modificado<br>
                        </td>
                        <td id="grafica_data_Zn">{{estudio.zinc|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td><span style="font-weight: bold;">Cobre disponible (Cu) Olsen<br>
                            </span></td>
                        <td>mg/kg</td>
                        <td>Olsen modificado<br>
                        </td>
                        <td id="grafica_data_Cu">{{estudio.cobre|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="font-weight: bold;">Boro
                                disponible (B)<br>
                            </span></td>
                        <td style="text-align: center;">mg/kg</td>
                        <td style="text-align: center;">Fosfato monobasico de calcio<br>
                        </td>
                        <td style="text-align: center;" id="grafica_data_B">{{estudio.boro|number_format(2)}}<br>
                        </td>
                        <td><br>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div style="float:left; width:42%;">
                <table style="width: 254px; left: 0px;" >
                    <tbody>
                        <tr align="center">
                            <td style="height: 12px;" colspan="3" rowspan="1">SATURACION DE
                                BASES</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; height: 12px;">Saturacion de Calcio</td>
                            <td style="text-align: center;"><br>
                            </td>
                            <td style="text-align: center;"><br>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; width: 147px; height: 11px;">Saturacion
                                de Magnesio</td>
                            <td style="text-align: center; width: 46.1px;"><br>
                            </td>
                            <td style="text-align: center; width: 41px;"><br>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; height: 12px;">Saturacion de
                                Potasio</td>
                            <td style="text-align: center;"><br>
                            </td>
                            <td style="text-align: center;"><br>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; height: 12px;">Saturacion de Sodio</td>
                            <td style="text-align: center;"><br>
                            </td>
                            <td style="text-align: center;"><br>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">Saturacion de Aluminio</td>
                            <td style="text-align: center;"><br>
                            </td>
                            <td style="text-align: center;"><br>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table style="width: 254px; left: 0px;" >
                    <tbody>
                        <tr align="center">
                            <td style="height: 12px;" colspan="3" rowspan="1">RELACIONES IÓNICAS</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; width: 156.034px; height: 12px;">Relacion
                                Ca/Mg</td>
                            <td style="text-align: center; width: 53.35px;"><br>
                            </td>
                            <td style="text-align: center; width: 48.1833px;"><br>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; height: 12px;">Relacion (ca+Mg)/K</td>
                            <td style="text-align: center;"><br>
                            </td>
                            <td style="text-align: center;"><br>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; height: 12px;">Relacion Mg/K</td>
                            <td style="text-align: center;"><br>
                            </td>
                            <td style="text-align: center;"><br>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">Relacion Ca/B</td>
                            <td style="text-align: center;"><br>
                            </td>
                            <td style="text-align: center;"><br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div id="chartdiv" style="float:left; width:58%; height: 214px;"></div>
        </div>
    </body>
</html>
