
<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <title>Imprimir Reporte Suelos</title>

        <script src="{{ base_url('assets/js/jquery.min.js') }}"></script>  
        
        <script type="text/javascript" src="{{ base_url('assets/amcharts/amcharts.js') }}"></script>
        <script src="{{ base_url('assets/amcharts/serial.js') }}" type="text/javascript"></script>

        <script src="{{ base_url('assets/amcharts/exporting/amexport.js') }}" type="text/javascript"></script>
        <script src="{{ base_url('assets/amcharts/exporting/rgbcolor.js') }}" type="text/javascript"></script>
        <script src="{{ base_url('assets/amcharts/exporting/canvg.js') }}" type="text/javascript"></script>
        <script src="{{ base_url('assets/amcharts/exporting/jspdf.js') }}" type="text/javascript"></script>
        <script src="{{ base_url('assets/amcharts/exporting/filesaver.js') }}" type="text/javascript"></script>
        <script src="{{ base_url('assets/amcharts/exporting/jspdf.plugin.addimage.js') }}" type="text/javascript"></script>
        <title></title>

        <style type="text/css" media="print">
            .noprint { display: none; }
        </style>

        <style>
            body, td, div {
                font-family: Sans-serif;
                font-size: 9pt;
            }
        </style>

    </head>
    <body style="text-align:center" >
        <input type="button" style="font-size: 18pt" class="noprint" value="Imprimir" onclick="window.print()"/>
        <div style="width:670px; margin-left:auto; margin-right:auto; text-align:left">

            <table width="100%">
              <tr>
                <td><img src="{{base_url('assets/images/corpoica.png')}}" height="40"></td>

                <td align="center"><h4>VINCULACIÓN DE CONOCIMIENTO Y TECNOLOGÍA<br/>
                    REPORTE DE RESULTADOS LABORATORIO DE SERVICIOS</h4></td>
                <td>

                    <img src="{{base_url('assets/images/logos-imprimir.png')}}" height="60">
                </td>
              </tr>
            </table>


            <div style="float:left; width:49%;"> 
                <table style="width: 100%;" >
                    <tbody>
                        <tr>
                            <td colspan="2" rowspan="1"><span style="font-weight: bold;">1.
                                    Informacion del cliente</span></td>
                        </tr>
                        <tr>
                            <td style="">Nombre y Apellido</td>
                            <td style="">{{ruat.productor.nombre_completo()}}
                            </td>
                        </tr>
                        <tr>
                            <td>Cédula o NIT</td>
                            <td>{{ruat.productor.numero_documento}}
                            </td>
                        </tr>
                        <tr>
                            <td>CODIGO DE LABORATORIO</td>
                            <td>{{estudio.codigo_laboratorio}}-{{rel.numero}}
                            </td>
                        </tr>
                        {#<tr>
                            <td>Dirección</td>
                            <td>{{ruat.finca.direccion}}
                            </td>
                        </tr>#}
                        {#<tr>
                            <td>Departamento</td>
                            <td>{{ruat.finca.departamento.nombre}}
                            </td>
                        </tr>#}
                        <tr>
                            <td>Municipio</td>
                            <td>{{ruat.finca.municipio.nombre}}
                            </td>
                        </tr>
                        <tr>
                            <td>Tel. fijo/Celular</td>
                            <td>{{ruat.productor.contacto.telefono}}
                            </td>
                        </tr>
                        <tr>
                            <td>Tipo de análisis</td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="float:left; width:49%; border-left:1px solid">
                <table style="width: 100%" >
                    <tr>
                        <td colspan="2" rowspan="1">
                            <span style="font-weight: bold;">
                                <span class="cls_021">2.
                                    Informacion de la muestra
                                </span>                                    
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="">Identificación</td>
                        <td style="">{{estudio.identificacion_muestra}}
                        </td>
                    </tr>
                    <tr>
                        <td>Vereda</td>
                        <td>{{ruat.finca.vereda}}</td>
                    </tr>
                    <tr>
                        <td>Finca</td>
                        <td>{{ruat.finca.nombre}}</td>
                    </tr>
                    <tr>
                        <td>Cultivo</td>
                        <td>{{ruat.productor.renglon_productivo.descripcion}}</td>
                    </tr>
                    <tr>
                        <td>Altura</td>
                        <td>{{ruat.finca.geo_altura}}</td>
                    </tr>
                    <tr>
                        <td>Estado</td>
                        <td>{{estudio.estado}}</td>
                    </tr>
                    <tr>
                        <td>Fecha de Recepción
                        </td>
                        <td>{{estudio.fecha_llegada|date('Y-m-d')}}
                        </td>
                    </tr>
                    <tr>
                        <td>Fecha(s) de Análisis
                        </td>
                        <td>{{estudio.fecha_entrega|date('Y-m-d')}}
                        </td>
                    </tr>
                    <tr>
                        <td>Fecha de Reporte
                        </td>
                        <td>{{"now"|date("Y-m-d")}}
                        </td>
                    </tr>
                </table>       
            </div>

            <div style="width: 99%;" >            

                <table style="width: 100%; text-align: left; margin-left: auto; margin-right: auto;" >
                    <tbody>
                        <tr align="center">
                            <td style="background-color: #00004f; width: 230.367px;"><span style="color: white;">DETERMINACION
                                    ANALÍTICA
                                </span></td>
                            <td style="background-color: #00004f; width: 51.55px;"><span style="color: white;">UNIDAD
                                </span></td>
                            <td style="background-color: #00004f; width: 126.417px;"><span style="color: white;">MÉTODO
                                </span></td>
                            <td style="background-color: #00004f; width: 63.95px;"><span style="color: white;">VALOR*
                                </span></td>
                            <td style="background-color: #00004f; width: 120.883px;"><span style="color: white;">INTERPRETACIÓN*
                                </span></td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Textura al tacto 
                                </span></td>
                            <td>
                            </td>
                            <td>Organoléptico
                            </td>
                            <td>{{estudio.textura_tacto}}
                            </td>
                            <td>{{estudio.interp_textura}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">pH
                                </span></td>
                            <td>
                            </td>
                            <td>Potenciométrico
                            </td>
                            <td>{{estudio.ph_agua_suelo|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_ph}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Conductividad eléctrica
                                </span></td>
                            <td>dS/m</td>
                            <td>Conductivimetro suelo:agua 1:2,5
                            </td>
                            <td>{{estudio.conductividad_electrica|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_conductividad}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Materia orgánica (MO)
                                </span></td>
                            <td>%</td>
                            <td>Walkey & Black
                            </td>
                            <td id="grafica_data_Mo">{{estudio.materia_organica|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_materia}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Fósforo disponible (P) Bray II
                                </span></td>
                            <td>mg/kg</td>
                            <td>Bray II
                            </td>
                            <td id="grafica_data_P">{{estudio.fosforo|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_fosforo}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Azufre disponible (S)
                                </span></td>
                            <td>mg/kg</td>
                            <td>Fosfato monobasico de calcio
                            </td>
                            <td id="grafica_data_S">{{estudio.azufre|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_azufre}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Acidez intercambiable (Al+H)
                                </span></td>
                            <td>cmol/kg</td>
                            <td>KCl
                            </td>
                            <td>{{estudio.acidez|number_format(2)}}
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Aluminio intercambiable (Al)
                                </span></td>
                            <td>cmol/kg</td>
                            <td>KCl
                            </td>
                            <td>{{estudio.aluminio|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_aluminio}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Calcio intercambiable (Ca)
                                </span></td>
                            <td>cmol/kg</td>
                            <td>Acetato de amonio 1N pH 7,0
                            </td>
                            <td id="grafica_data_Ca">{{estudio.calcio|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_calcio}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Magnesio Intercambiable (Mg)
                                </span></td>
                            <td>cmol/kg</td>
                            <td>Acetato de amonio 1N pH 7,0
                            </td>
                            <td id="grafica_data_Mg">{{estudio.magnesio|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_magnesio}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Potasio intercambiable (K)
                                </span></td>
                            <td>cmol/kg</td>
                            <td>Acetato de amonio 1N pH 7,0
                            </td>
                            <td id="grafica_data_K">{{estudio.potasio|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_potasio}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Sodio intercambiable (Na)
                                </span></td>
                            <td>cmol/kg</td>
                            <td>Acetato de amonio 1N pH 7,0
                            </td>
                            <td>{{estudio.sodio|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_sodio}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Capacidad intercambio cationico
                                    (CICE)</span></td>
                            <td style="margin-left: 10px;">cmol/kg</td>
                            <td style="margin-left: 20px;">Suma de cationes
                            </td>
                            <td>{{estudio.cice|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_cic}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Hierro disponible (Fe) Olsen
                                </span></td>
                            <td>mg/kg</td>
                            <td>Olsen modificado
                            </td>
                            <td id="grafica_data_Fe">{{estudio.hierro|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_hierro}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Manganeso disponible (Mn) Olsen
                                </span></td>
                            <td>mg/kg</td>
                            <td>Olsen modificado
                            </td>
                            <td id="grafica_data_Mn">{{estudio.manganeso|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_manganeso}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Zinc disponible (Zn) Olsen
                                </span></td>
                            <td>mg/kg</td>
                            <td>Olsen modificado
                            </td>
                            <td id="grafica_data_Zn">{{estudio.zinc|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_zinc}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td><span style="font-weight: bold;">Cobre disponible (Cu) Olsen
                                </span></td>
                            <td>mg/kg</td>
                            <td>Olsen modificado
                            </td>
                            <td id="grafica_data_Cu">{{estudio.cobre|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_cobre}}
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><span style="font-weight: bold;">Boro
                                    disponible (B)
                                </span></td>
                            <td style="text-align: center;">mg/kg</td>
                            <td style="text-align: center;">Fosfato monobasico de calcio
                            </td>
                            <td style="text-align: center;" id="grafica_data_B">{{estudio.boro|number_format(2)}}
                            </td>
                            <td align="center">{{estudio.interp_boro}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            

            <div style="float:left; width:100%;">
                <table style="width: 40%; float:left; left: 0px; border: solid 1px;" >
                    <tbody>
                        <tr align="center">
                            <td style="background-color: #00004f; height: 12px;" colspan="3" >
                                <span style="color: white;">
                                    SATURACION DE BASES
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: ; height: 12px;">Saturacion de Calcio</td>
                            <td style="text-align: ;">{{estudio.saturacion_calcio|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_saturacion_calcio}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: ; width: 147px; height: 11px;">Saturacion
                                de Magnesio</td>
                            <td style="text-align: ; width: 46.1px;">{{estudio.saturacion_magnesio|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_saturacion_magnesio}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: ; height: 12px;">Saturacion de
                                Potasio</td>
                            <td style="text-align: ;">{{estudio.saturacion_potasio|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_saturacion_potasio}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: ; height: 12px;">Saturacion de Sodio</td>
                            <td style="text-align: ;">{{estudio.saturacion_sodio|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_saturacion_sodio}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: ;">Saturacion de Aluminio</td>
                            <td style="text-align: ;">{{estudio.saturacion_aluminio|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_saturacion_aluminio}}</td>
                        </tr>
                    </tbody>
                </table>
                <table style="width: 58%; float:left; left: 0px; border: solid 1px;" >
                    <tbody>
                        <tr align="center">
                            <td style="background-color: #00004f; height: 12px;" colspan="3">
                                <span style="color: white;">
                                    RELACIONES IÓNICAS
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Relacion
                                Ca/Mg</td>
                            <td>{{estudio.relacion_calcio_magnesio|number_format(2)}}
                            </td>
                            <td >{{estudio.interp_relacion_calcio_magnesio}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: ; height: 12px;">Relacion (ca+Mg)/K</td>
                            <td style="text-align: ;">{{estudio.relacion_calcio_magnesio_potasio|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_relacion_calcio_magnesio_potasio}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: ; height: 12px;">Relacion Mg/K</td>
                            <td style="text-align: ;">{{estudio.relacion_magnesio_potasio|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_relacion_magnesio_potasio}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: ;">Relacion Ca/B</td>
                            <td style="text-align: ;">{{estudio.relacion_calcio_boro|number_format(2)}}
                            </td>
                            <td>{{estudio.interp_relacion_calcio_boro}}</td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>

                    </tbody>
                </table>
            </div>
            
           

            <small>          
                OBSERVACIONES: * interpretacion basada en: ICA,1992. Fertilización en diversos cultivos. Quinta aproximación. Manual de asistencia 
            </small>
            <br/>
            
        </div>
    </body>
</html>
